﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>


    @*<link rel="stylesheet" href="~/lib/textillate-master/assets/animate.css" />*@

    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script src="~/lib/fitty/fitty.min.js"></script>

    @*<script src="~/lib/textillate-master/assets/jquery.fittext.js"></script>
        <script src="~/lib/textillate-master/assets/jquery.lettering.js"></script>
        <script src="~/lib/textillate-master/jquery.textillate.js"></script>*@

    <link rel="stylesheet" href="~/lib/cooltext/assets/css/style.css">

    @*<script type="text/javascript" src="~/lib/cooltext/assets/js/jquery-1.10.2.min.js"></script>*@
    <script type="text/javascript" src="~/lib/cooltext/assets/js/TweenMax.min.js"></script>
    <script type="text/javascript" src="~/lib/cooltext/cooltext/cooltext.animations.js"></script>
    <script type="text/javascript" src="~/lib/cooltext/cooltext/cooltext.min.js"></script>


</head>
<body style="background-color:black;">
    <button class="btn-Monta">Monta</button>
    <button class="btn-Smonta">Smonta</button>



    
        <div class="EventiPartita" style="top:100px; left:5px;"></div>

        @*<div class="EventiPartita" style="top:200px; left:5px;"></div>*@



    
    @*<div class="EventiPartita" style="top:300px; left:5px;"></div>*@



    <style>
        /*.provo {
           
            position: absolute;
            width: 1320px;
            height: 90px;
            background-color: white;
            color: black;
            clip-path: inset(0% 0% 0% 0%);
            z-index: 100;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size:50px;
line-height:90px;
padding:0px 0px 0px 0px;
   
        }

            .provo p{ margin:0px 0px 0px 0px; visibility:hidden; }*/


            .EventiPartita {
                /* border: 1px solid black;*/
                position: absolute;
                width: 1320px;
                height: 90px;
                background-color: white;
                color: black;
                clip-path: inset(0% 0% 0% 0%);
                z-index: 100;
            }

            .EventiPartita img {
                position: absolute;
                opacity: 0;
            }

        .imgSquadra {
            height: 88px;
        }

        .imgSponsor {
            height: 88px;
        }

        .imgGiocatore {
            /*height: 88px;*/
            z-index: 11;
        }

        .imgAzione {
            /*height: 88px;*/
            z-index: 10;
        }

        .numeroGiocatore {
            position: absolute;
            width: 100px;
            height: 90px;
            z-index: 140;
            line-height: 90px;
            text-align: center;
            /*border: 1px solid black;*/
            opacity: 0;
        }

            .numeroGiocatore span {
                font-family: Helvetica;
                visibility: visible;
                color: black;
                font-size: 100px;
                font-weight: bold;
            }

        .nomeGiocatore {
            position: absolute;
            margin-top: -5px;
            padding: 0px 0px 0px 0px;
            width: 700px;
            height: 90px;
            z-index: 140;
            text-align: center;
            border: 1px solid black;
        }

        .spanNomeGiocatore {
            font-family: Helvetica;
            color: black;
            padding: 0px 0px 0px 0px;
            border: 1px solid red;
            line-height: 90px;
            font-weight: bold;
            margin: 0px 0px 0px 0px;
            display: inline-block;
        }

        </style >

    <script type="text/javascript">

        var StartPositionNumeroGiocatore = { top: "-90px", left: "210px", opacity: "0" };
        var StartPositionNomeGiocatore = { top: "0px", left: "330px", opacity: "0" };
        var StartPositionImgAzione = { top: "90px", left: "180px", opacity: "0", height: "200px" };
        var StartPositionImgGiocatore = { top: "100px", opacity: "1", height: "150px", left: "105px" };
        var StartPositionImgSponsor = { top: "1px", left: "200px", opacity: "0", height: "88px" };
        var StartPositionImgSquadra = { top: "-90px", left: "8px", opacity: "0" };

        var ViewPositionNumeroGiocatore = { top: "0px", opacity: "1" };
        var ViewPositionNomeGiocatore = { top: "0px", left: "330px", opacity: "1"  };
        var ViewPositionImgAzione = { top: "0px", opacity: "1" };
        var ViewPositionImgGiocatore = { top: "0px", opacity: "1" };
        var ViewPositionImgSponsor = { top: "1px", left: "1050px", opacity: "1" };
        var ViewPositionImgSquadra = { top: "1px", opacity: "1" };

        var EndPositionNumeroGiocatore = { top: "-90px", left: "210px", opacity: "0" };
        var EndPositionNomeGiocatore = { top: "0px", left: "330px", opacity: "0"  };
        var EndPositionImgAzione = { top: "90px", left: "180px", opacity: "0", height: "200px" };
        var EndPositionImgGiocatore = { top: "100px", opacity: "1", height: "150px", left: "105px" };
        var EndPositionImgSponsor = { opacity: "0" };
        var EndPositionImgSquadra = { top: "-90px", left: "8px", opacity: "0" };

        var codaAnimazioneGiocatori = [];


        class clsGiocatore {
            constructor(ID, Nome, Numero, fk_int_Squadra, TipoAnimazione) {
                this.ID = ID;
                this.Nome = Nome;
                this.Numero = Numero;
                this.fk_int_Squadra = fk_int_Squadra;
                this.TipoAnimazione = TipoAnimazione;
            }
        }




        class clsAnimazione {
            constructor() {
                this.Stato = "Smontato";
                this.Giocatore = null
            }

            // var animateClasses = 'flash bounce shake tada swing wobble pulse flip flipInX flipOutX flipInY flipOutY fadeIn fadeInUp fadeInDown
            //fadeInLeft fadeInRight fadeInUpBig fadeInDownBig
            //fadeInLeftBig fadeInRightBig fadeOut fadeOutUp fadeOutDown fadeOutLeft fadeOutRight fadeOutUpBig fadeOutDownBig fadeOutLeftBig
            //fadeOutRightBig bounceIn bounceInDown bounceInUp bounceInLeft bounceInRight bounceOut bounceOutDown bounceOutUp bounceOutLeft
            //bounceOutRight rotateIn rotateInDownLeft rotateInDownRight rotateInUpLeft
            //rotateInUpRight rotateOut rotateOutDownLeft rotateOutDownRight rotateOutUpLeft rotateOutUpRight hinge rollIn rollOut';

            Monta(Giocatore) {
                this.Giocatore = Giocatore;

                console.log(this.Stato);
                if (this.Stato == "Smontato") {



                    this.Stato = "Montaggio";
                    console.log(this.Giocatore.nva_TipoAnimazione);
                    $(".EventiPartita").empty();

                    if ((this.Giocatore.nva_TipoAnimazione == "ammonizione") || (this.Giocatore.nva_TipoAnimazione == "espulsione")) {

                        $(".EventiPartita").append("<img  class='imgSquadra' src='/img/squadre/" + this.Giocatore.fk_int_Squadra + ".png' />");
                        $(".EventiPartita").append("<img  class='imgSponsor' src='/img/sponsor/1.png' />");
                        $(".EventiPartita").append("<img  class='imgGiocatore' src='/img/players/" + this.Giocatore.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                        $(".EventiPartita").append("<img  class='imgAzione' src='/img/azione/" + this.Giocatore.nva_TipoAnimazione + ".png' />");
                        $(".EventiPartita").append("<div class='numeroGiocatore'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                        $(".EventiPartita").append("<div class='nomeGiocatore '><span class='spanNomeGiocatore'>" + this.Giocatore.nva_Nome + "</span></div>");


                        fitty('.spanNomeGiocatore', { maxSize: 90, multiLine: false, observeMutations:false });
               

                    
                        $(".imgSponsor").css(StartPositionImgSponsor).animate(ViewPositionImgSponsor, 1000, function () { });
                        $(".imgSquadra").css(StartPositionImgSquadra).animate(ViewPositionImgSquadra, 100, function () {
                            $(".numeroGiocatore").css(StartPositionNumeroGiocatore).animate(ViewPositionNumeroGiocatore, 100, function () {
                                $(".imgGiocatore").css(StartPositionImgGiocatore).animate(ViewPositionImgGiocatore, 100, function () {
                                    $(".imgAzione").css(StartPositionImgAzione).animate(ViewPositionImgAzione, 100, function () {
                                        //   $('.tlt').textillate('in');
                                        $(".nomeGiocatore").css(StartPositionNomeGiocatore).animate(ViewPositionNomeGiocatore, 100, function () {


                                        });
                                    });
                                });
                            });

                        });

                    }
                } else {
                    console.log("attendi la coda caro!");
                }
            }

            Smonta() {
                console.log(this.Stato);
                if (this.Stato == "Montato") {
                    this.Stato = "Smontaggio";

                    $(".imgGiocatore").animate(EndPositionImgGiocatore, 200, function () {
                        $(".imgSquadra").animate(EndPositionImgSquadra, 200, function () {
                            $(".numeroGiocatore").animate(EndPositionNumeroGiocatore, 200, function () {
                                $(".imgAzione").animate(EndPositionImgAzione, 200, function () {

                                    //  $('.tlt').textillate('out');


                                });

                            });
                        });
                    });
                }
            }


            Proporziona(dato) {
                if (altezza == 90) {
                    return dato
                }
            }
        }




        var SoggettoInteressato;
        var Animazione;

        $(document).ready(function () {

            Animazione = new clsAnimazione();

            $(".btn-Monta").click(function () {


               Anima({ "ID": 1677, "int_Ordine": 8, "nva_Nome": "Rodrigo Bentancur", "fk_int_Squadra": "7", "nva_NomeSquadra": "Cremonese", "nva_Numero": "8", "nva_PathAnimazione": "Cremonese", "nva_TipoAnimazione": "ammonizione" });
                //$("#testo").cooltext({
                //    sequence: [
                //        { action: "animation", animation: "cool12" },
                //        { action: "animation", animation: "cool209", delay: 2 }
                //    ]
                //});


            })




            $(window).on('FineAnimazioneGiocatore', function () {
                Anima();
            });


            function Anima(g) {
                if (g != undefined) {
                    codaAnimazioneGiocatori.push(g);
                }

                if (codaAnimazioneGiocatori.length > 0) {
                    Animazione.Monta(codaAnimazioneGiocatori.shift());
                }
            }

        });














    </script>






</body>
</html>