﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>


    <link rel="stylesheet" href="~/lib/textillate-master/assets/animate.css" />
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>


    </environment>



    <script src="~/lib/textillate-master/assets/jquery.fittext.js"></script>
    <script src="~/lib/textillate-master/assets/jquery.lettering.js"></script>
   
    <script src="~/lib/textillate-master/jquery.textillate.js"></script>

    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
</head>
<body>



    <div Id="Animazione">
      
            <div class="div_nomeGiocatore_1">
                <span class="testo_nomeGiocatore_1"></span>
            </div>
        
        <div class="div_numeroGiocatore_1">
            <span class="testo_numeroGiocatore_1"></span>
        </div>

        <div class="div_nomeGiocatore_2">
            <span class="testo_nomeGiocatore_2"></span>
        </div>

        <div class="div_numeroGiocatore_2">
            <span class="testo_numeroGiocatore_2"></span>
        </div>

        <img src="~/img/playerAnimation/11.png" class="img-Giocatore_1" />
        <img src="~/img/playerAnimation/9.png" class="img-Giocatore_2" />

        <img src="~/img/sponsor/1.png" class="img-Sponsor_1" />
        <img src="~/img/sponsor/2.png" class="img-Sponsor_2" />

        <img src="~/img/azione/1.png" class="img-Azione_1" />
        <img src="~/img/squadre/1.png" class="img-Squadra_1" />



    </div>



        <style>

            #Animazione {
                /* border: 1px solid black;*/
                margin-top: 288px;
                margin-left: 360px;
                position: absolute;
                width: 864px;
                height: 72px;
                background-color: white;
                color: black;
                clip-path: inset(0% 0% 0% 0%);
                z-index:100;
            }

            #Animazione .div_nomeGiocatore_1 {
                position: absolute;
                /*  border: 1px solid #f00; */
                left: 260px;
                width: 450px;
                top: 0px;
                height: 72px;
            }

            #Animazione .div_numeroGiocatore_1 {
                position: absolute;
                /*  border: 1px solid #f00;*/
                left: 180px;
                width: 450px;
                top: -72px;
                height: 72px;
                z-index: 100;
            }

            span {
                visibility: hidden;
            }


            #Animazione img {
                position: absolute;
                opacity: 0;

            }

            .img-Giocatore_1 {
                left: 0px;
                top: 0px;
            }

            .img-Giocatore_2 {
                margin-left: 0px;
                margin-top: 0px;
            }

            .img-Sponsor_1 {
                left: 655px;
                top: 0px;
                height: 72px;
                opacity: 1 !important;
            }

            .img-Azione_1 {
                left: 165px;
                top: 72px;
                height: 100px;
                opacity: 1;
            }

            .img-Azione_2 {
                margin-left: 0px;
                margin-top: 0px;
            }

            .img-Squadra_1 {
                margin-left: 0px;
                margin-top: 0px;
                height: 60px;
                left: 8px;
            }

            .testo_nomeGiocatore_1 {
                font-family: Helvetica;
                color: black;
                font-size: 68px;
                font-weight: bold;
            }

            .testo_nomeGiocatore_2 {
                font-family: Helvetica;
                color: black;
                font-size: 68px;
                font-weight: bold;
            }

            .testo_numeroGiocatore_1 {
                font-family: Helvetica;
                visibility: visible;
                color: black;
                font-size: 68px;
                font-weight: bold;
            }

            .testo_numeroGiocatore_2 {
                font-family: Helvetica;
                color: black;
                font-size: 68px;
                font-weight: bold;
            }

        </style>

        <script type="text/javascript">

            var objAnimazione = {}
            objAnimazione.TipoAnimazione = "ammonizione";
            objAnimazione.fk_int_Giocatore_1 = 9;
            objAnimazione.nva_NomeGiocatore_1 = "RONALDO";
            objAnimazione.nva_NumeroGiocatore_1 = "12";
            objAnimazione.fk_int_Giocatore_2 = 15;
            objAnimazione.fk_int_Squadra = 1;




            $(document).ready(function () {

                StartAnimation(objAnimazione);


                function StartAnimation(objAnimazione) {

                    if (objAnimazione.TipoAnimazione == "ammonizione") {
                        $(".img-Squadra_1").attr("src", "/img/squadre/" + objAnimazione.fk_int_Squadra + ".png").css({ top: "-72px", opacity: "0" }).animate({ top: "6px", opacity: "1" }, 200, function () {
                            $(".img-Giocatore_1").attr("src", "/img/playerAnimation/" + objAnimazione.fk_int_Giocatore_1 + ".png")
                                .css({ height: "220px", top: "72px", left: "50px" })
                                .animate({ top: "-18px", opacity: "1" }, 200, function () {
                                    $(".div_numeroGiocatore_1").css({top: "-72px"}).animate({ top: "0px" }, 200);
                                    $('.testo_nomeGiocatore_1').text(objAnimazione.nva_NomeGiocatore_1).textillate({
                                        in:
                                        {
                                            effect: 'rollIn',
                                            callback: function () {
                                                $(".img-Azione_1").css({ top: "0px", opacity: "0" }).animate({ top: "0px", opacity: "1" }, 200);
                                            },
                                        }
                                    })
                                })
                        })
                    }
                }









  


            });
        </script>






</body>
</html>