﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>


    <link rel="stylesheet" href="~/lib/textillate-master/assets/animate.css" />
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>


    </environment>



    <script src="~/lib/textillate-master/assets/jquery.fittext.js"></script>
    <script src="~/lib/textillate-master/assets/jquery.lettering.js"></script>
   
    <script src="~/lib/textillate-master/jquery.textillate.js"></script>

    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
</head>
<body style="background-color:black;">
    <button class="btn-Monta">Monta</button>
    <button class="btn-Smonta">Smonta</button>


    
        <div class="EventiPartita">



        </div>


    <style>

        .EventiPartita {
            /* border: 1px solid black;*/
            margin-top: 200px;
            margin-left: 200px;
            position: absolute;
            width: 1320px;
            height: 90px;
            background-color: white;
        
            color: black;
            clip-path: inset(0% 0% 0% 0%);
            z-index: 100;
        }

            .EventiPartita img {
                position: absolute;
              opacity:0;
            }

        .imgSquadra {
            height: 88px;
        }

        .imgSponsor {
            height: 88px;

        }
        .imgGiocatore {
            /*height: 88px;*/
            z-index: 10;
        }
        .imgAzione {
            /*height: 88px;*/
            z-index: 20;
        }
        .numeroGiocatore {
            position: absolute;
            width: 100px;
            height: 90px;
            z-index: 140;
            text-align: center;
            /*border: 1px solid black;*/
            opacity:0;
        }

        .numeroGiocatore span {
            font-family: Helvetica;
            visibility: visible;
            color: black;
            font-size: 85px;
            font-weight: bold;
        }

        .nomeGiocatore {
            position: absolute;
            width: 700px;
            height: 90px;
            z-index: 140;
            text-align: center;
            /*border: 1px solid black;*/
           
        }

            .nomeGiocatore span {
                font-family: Helvetica;
                visibility: hidden;
                color: black;
                font-size: 85px;
                font-weight: bold;
                
            }
        /*


           .EventiPartita span {
                visibility: hidden;
            }

        .nomeGiocatoreAmmonizione {
            position: absolute;

            left: 260px;
            width: 450px;
            top: 0px;
            height: 72px;
        }


            .nomeGiocatore span {
                font-family: Helvetica;
                color: black;
                font-size: 68px;
                font-weight: bold;
            }




        .imgSquadra {
            top: -72px;
            height: 60px;
            left: 8px;
            opacity: 0;
        }

        .imgCartellino {
            left: 165px;
            top: 72px;
            height: 100px;
            opacity: 1;
        }



        .imgGiocatore {
            left: 0px;
            top: 0px;
        }

        .numeroGiocatore {
            position: absolute;
            left: 180px;
            width: 450px;
            top: -72px;
            height: 72px;
            z-index: 140;
        }

            .numeroGiocatore span {
                font-family: Helvetica;
                visibility: visible;
                color: black;
                font-size: 68px;
                font-weight: bold;
            }*/
    </style>

    <script type="text/javascript">

        var StartPositionNumeroGiocatore = { top: "-90px", left: "220px", opacity: "0" };
        var StartPositionNomeGiocatore = { top: "0px", left: "330px", opacity: "1" };
        var StartPositionImgAzione = { top: "90px", left: "180px", opacity: "0", height: "200px" };
        var StartPositionImgGiocatore = { top: "100px", opacity: "1", height: "150px", left: "105px" };
        var StartPositionImgSponsor = { top: "1px", left: "0px", opacity: "0" };
        var StartPositionImgSquadra = { top: "-90px", left: "8px", opacity: "0" };


        var EndPositionNumeroGiocatore = { top: "0px", opacity: "1" };
        var EndPositionNomeGiocatore = { top: "0px", opacity: "1" };
        var EndPositionImgAzione = { top: "0px", opacity: "1" };
        var EndPositionImgGiocatore = { top: "0px", opacity: "1" };
        var EndPositionImgSponsor = { top: "1px", left: "1050px", opacity: "1" };
        var EndPositionImgSquadra = { top: "1px", opacity: "1" };





            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Roberto Soriano", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mattias Svanberg", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Nicolò Barella", 16, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Valter Birsa", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Filip Bradaric", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lucas Castro", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Luca Cigarini", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alessandro Deiola", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Paolo Faragò", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Arthur Ionita", 15, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Pedro Joao", 21, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Oliva", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Simone Padoin", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Fabio Depaoli", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Assane Diousse", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Luca Garritano", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Gianluca Gaudino", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Emanuele Giaccherini", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Perparim Hetemaj", 9, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Sofiane Kiyine", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lucas Piazon", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Nicola Rigoni", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Emanuel Vignato", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Afriyie Acquah", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ismael Bennacer", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Matteo Brighi", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Marcel Buchel", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Leonardo Capezzi", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Rade Krunic", 24, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Pajac", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Hamed Traore", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Salih Ucan", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Marco Benassi", 20, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Federico Chiesa", 42, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Dabo", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Fernandes Edimilson", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Gerson", 16, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Kevin Mirallas", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Tofol Montiel", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Christian Noorgard", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Jordan Veretout", 21, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Andrea Beghetto", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Francesco Cassata", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Raman Chibsah", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mirko Gori", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Raffaele Maiello", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Luca Paganini", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Paolo Sammarco", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Luca Valzania", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Federico Viviani", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Daniel Bessa", 9, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Nicola Dalmonte", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Oscar Hiljemark", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Darko Lazovic", 16, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lucas Lerager", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Luca Mazzitelli", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ivan Radovanovic", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Esteban Rolon", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Cristian Romero", 10, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Stefano Sturaro", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "MIguel Veloso", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Kwadwo Asamoah", 11, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Valero Borja", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Marcelo Brozovic", 11, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Antonio Candreva", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Roberto Gagliardini", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mario Joao", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Raja Nainggolan", 22, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ivan Perisic", 40, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Matias Vecino", 10, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Rodrigo Bentancur", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Federico Bernardeschi", 13, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Jaime Cuadrado", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Costa Douglas", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Can Emre", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Sami Khedira", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Blaise Matuidi", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Miralem Pjanic", 17, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Leonardo Spinazzola", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Milan Badelj", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Valon Berisha", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Danilo Cataldi", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Joaquin Correa", 23, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Luca Crecco", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Leiva Lucas", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alberto Luis", 33, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Senad Lulic", 18, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Adam Marusic", 9, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Savic Milinkovic", 30, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Marco Parolo", 14, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Neto Pedro", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Romulo", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Bakayoko", 13, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Andrea Bertolacci", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lucas Biglia", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Giacomo Bonaventura", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Hadam Calhanoglu", 27, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Samu Castillejo", 10, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Franck Kessiè", 19, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Diego Laxalt", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "José Mauri", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Riccardo Montolivo", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lucas Paqueta", 15, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Suso", 33, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Marques Allan", 14, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Amadou Diawara", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Fabian Ruiz", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Simone Verdi", 14, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Piotor Zielinski", 36, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Antonino Barillà", 9, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Jacopo Dezi", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Gaudio Di", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Francesco Golfo", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alberto Grassi", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Juraj Kucka", 21, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Machin", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Luca Rigoni", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Matteo Scozzarella", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mattia Sprocati", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ante Coric", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Bryan Cristante", 23, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Rossi De", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Steven Nzonzi", 11, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Javier Pastore", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lorenzo Pellegrini", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Diego Perotti", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Cengiz Under", 11, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Nicolo Zaniolo", 14, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Edgar Barreto", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Albin Ekdal", 10, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Jakub Jankto", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Karol Linetty", 13, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Dennis Praet", 16, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Gaston Ramirez", 14, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Riccardo Saponara", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ognjen Stijepovic", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Valerio Verre", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ronaldo Vieira", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mehdi Bourabia", 10, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Francesco Di", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Filip Djuricic", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alfred Duncan", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Manuel Locatelli", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Francesco Magnanelli", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Stefano Sensi", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mohamed Fares", 11, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Jankovic", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Jasmin Kurtic", 19, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Manuel Lazzari", 17, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Simone Missiroli", 9, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alessandro Murgia", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Pasquale Schiattarella", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Eros Schiavon", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mirko Valdifiori", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mattia Valoti", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Daniele Baselli", 16, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alex Berenguer", 10, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Sasa Lukic", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Soualiho Meitè", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Tomàs Rincon", 13, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Antonin Barak", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Valon Behrami", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alessandro D'", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Paul De", 33, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Seko Fofana", 13, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Emil Hallfredsson", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Svante Ingelsson", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Rolando Mandragora", 11, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Sandro", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Wilmot", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Zeegelaar", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Etrit Berisha", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Pierluigi Gollini", 10, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Francesco Rossi", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Costa Da", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Antonio Santurro", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Sarr", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lukasz Skorupski", 17, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Simone Aresti", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alessio Cragno", 18, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Bittencourt Rafael", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Andrea Seculin", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Adrian Semper", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Stefano Sorrentino", 11, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Bartlomiej Dragowski", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ivan Provedel", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alban Lafont", 16, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Pietro Terracciano", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Francesco Bardi", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alessandro Iacobucci", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Marco Sportiello", 13, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Jandrei", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Federico Marchetti", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ionut Radu", 16, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Tommaso Berni", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Samir Handanovic", 26, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Daniele Padelli", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mattia Perin", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Carlo Pinsoglio", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Wojciec Szcesny", 23, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Guido Guerrieri", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Silvio Proto", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Thomas Strakosha", 19, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Antonio Donnarumma", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Gianluigi Donnarumma", 26, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Manuel Reina", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Orestis Karnezis", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alex Meret", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "David Ospina", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Gabriel Brazao", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Pierluigi Frattali", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Luigi Sepe", 17, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Daniel Fuzato", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Antonio Mirante", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Robin Olsen", 9, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Emil Audero", 20, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Vid Belec", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Samuele Massolo", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Cabral Rafael", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Andrea Consigli", 18, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Leonardo Marson", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Gianluca Pegolo", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Giacomo Satalino", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Andrea Fulignati", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alfred Gomis", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Giacomo Poluzzi", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Emiliano Viviano", 16, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Salvador Ichazo", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Antonio Rosati", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Salvatore Sirigu", 24, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Juan Musso", 16, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Nicolas", 1, 1, "ammonizione"))

            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Adnan Ali", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Timothy Castagne", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Berat Djimsiti", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Robin Gosens", 10, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Hans Hateboer", 20, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Gianluca Mancini", 13, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Andrea Masiello", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Josè Palomino", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Arkadiusz Reca", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Rafael Toloi", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Marco Varnier", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Arturo Calabresi", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Larangeira Danilo", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mitchell Dijks", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Giancarlo Gonzalez", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Filip Helander", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Lyanco", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Federico Mattiello", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ibrahima Mbaye", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Nehuen Paz", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Fabrizio Cacciatore", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Luca Ceppitelli", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ragnar Klavan", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Lykogiannis", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Luca Pellegrini", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Fabio Pisacane", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Filippo Romagna", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Darijo Srna", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Marco Andreolli", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mattia Bani", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Federico Barba", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Bostjan Cesar", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Nicolas Frey", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Pawel Jaroszynski", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Luca Rossettini", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ezequiel Schelotto", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Strahinja Tanasijevic", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Nedad Tomovic", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Luca Antonelli", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Cristian Dell'Orco", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lorenzo Di", 17, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Kevin Diks", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Domenico Maietta", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Nikolau", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Manuel Pasqual", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lorenzo Polvani", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Jacob Rasmussen", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Matias Silvestre", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Frederic Veseli", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Cristiano Biraghi", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Federico Ceccherini", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "David Hancko", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Vincent Laurini", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Nicola Milenkovic", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "German Pezzella", 14, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Hugo Vitor", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lorenzo Ariaudo", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Nicolo Brighenti", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Marco Capuano", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Paolo Ghiglione", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Edoardo Goldaniga", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Luka Krajnc", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Cristian Molinaro", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Bartosz Salamon", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Francesco Zampano", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Davide Biraschi", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Domenico Criscito", 14, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Koray Gunter", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ivan Lakicevic", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Pereira Pedro", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Giuseppe Pezzella", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Aleandro Rosi", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ervin Zukanovic", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Soares Cedric", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Danilo D'Ambrosio", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Henrique Dalbert", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Vrij De", 13, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Joao Miranda", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Andrea Ranocchia", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Milan Skriniar", 18, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Sime Vrsaljko", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Sandro Alex", 14, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Andrea Barzagli", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Leonardo Bonucci", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Martin Cáceres", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Cancelo", 11, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Giorgio Chiellini", 9, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Sciglio De", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Daniele Rugani", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Francesco Acerbi", 16, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Dusan Basta", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Bastos", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Riza Durmisi", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Felipe Luis", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Jordan Lukaku", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Patric", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Stefan Radu", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Santos Wallace", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ignazio Abate", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Davide Calabria", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mattia Caldara", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Andrea Conti", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mateo Musacchio", 9, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ricardo Rodriguez", 10, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alessio Romagnoli", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ivan Strinic", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Cristián Zapata", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Raùl Albiol", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Vlad Chiriches", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Faouzi Ghoulam", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Elseid Hysaj", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Kalidou Koulibaly", 23, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Sebastiano Luperto", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Nikola Maksimovic", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Kevin Malcuit", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Rui Mario", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alessandro Bastoni", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alves Bruno", 16, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Cesare Di", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Federico Dimarco", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Riccardo Gagliolo", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Marcello Gazzola", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Massimo Gobbi", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Simone Iacoponi", 9, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Francisco Sierralta", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Leo Stulac", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "William Bianda", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Federico Fazio", 19, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alessandro Florenzi", 13, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Juan Jesus", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Rick Karsdorp", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alexandar Kolarov", 25, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Kostas Manolas", 11, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ivan Marcano", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Davide Santon", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Joachim Andersen", 9, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Bereszynski", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Omar Colley", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alex Ferrari", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Nicola Murru", 11, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Jacopo Sala", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Junior Tavares", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lorenzo Tonelli", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Claude Adjapong", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Demiral", 10, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Gianmarco Ferrari", 10, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Leonardo Fontanesi", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mauricio Lemos", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Pol Lirola", 13, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alessandro Longhi", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Giangiacomo Magnani", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Marlon", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Federico Peluso", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "da Rogerio", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Kevin Bonifazi", 10, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Thiago Cionek", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Filippo Costa", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lorenzo Dickmann", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Felipe", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Vasco Regini", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lorenco Simic", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Sauli Vaisanen", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Francesco Vicari", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ola Aina", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Cristian Ansaldi", 15, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Gleison Bremer", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Silvestri De", 13, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Koffi Djidji", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Armando Izzo", 21, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Emiliano Moretti", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Nicolas N'Koulou", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Maio De", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Stryger Larsen", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Bram Nuytinck", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Nicholas Opoku", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Samir", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Avest Ter", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "William Troost-Ekong", 8, 1, "ammonizione"))

            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Roon De", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Remo Freuler", 15, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Josip Ilicic", 47, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Dejan Kaluveski", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mario Pasalic", 18, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Stefano Pessina", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Godfred Donsah", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Dzemaili", 7, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Cesar Falletti", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ladislav Krejci", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Adam Nagy", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Andrea Poli", 9, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Erick Pulgar", 18, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Musa Barrow", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alejandro Gomez", 41, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Aleksandar Pesic", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Duvan Zapata", 76, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mattia Destro", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Simone Edera", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Diego Falcinelli", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Riccardo Orsolini", 25, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Rodrigo Palacio", 23, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Nicola Sansone", 21, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Federico Santander", 24, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alberto Cerri", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Despodov", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Niccolò Giannetti", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Leonardo Pavoletti", 48, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Cyril Thereau", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Filip Djordjevic", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mehdi Leris", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Riccardo Meggiorini", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Sergio Pellissier", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Manuel Pucciarelli", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mariusz Stepinski", 25, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Francesco Caputo", 52, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Diego Farias", 25, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Arnel Jakupovic", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Gumina La", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Levan Mchedlidze", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Dimitri Oberlin", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alejandro Rodriguez", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Martin Graiciar", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Kukovec", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Luis Muriel", 37, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Pjaca", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Giovanni Simeone", 37, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Dusan Vlahovic", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Camillo Ciano", 28, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Daniel Ciofani", 19, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Federico Dionisi", 3, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Andrea Pinamonti", 13, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Marcello Trotta", 10, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Andrea Favilli", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Christian Kouame", 30, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Gianluca Lapadula", 4, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Goran Pandev", 9, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Antonio Sanabria", 25, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mauro Icardi", 56, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Balde Keita", 21, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lautaro Martinez", 31, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Matteo Politano", 37, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Eddie Salcedo", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Paulo Dybala", 53, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Kean", 14, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mario Mandzukic", 35, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Cristiano Ronaldo", 85, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Felipe Caicedo", 12, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ciro Immobile", 71, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Fabio Borini", 5, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Patrick Cutrone", 24, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Krzysztof Piatek", 62, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "José Callejòn", 36, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lorenzo Insigne", 36, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Dries Mertens", 75, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Arkadiusz Milik", 60, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Adam Ounas", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Amin Younes", 10, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Jonathan Biabany", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Fabio Ceravolo", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Gervinho", 31, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Roberto Inglese", 29, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Nicolas Schiappacasse", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Luca Siligardi", 10, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Dzeko", 56, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Shaarawy El", 38, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Justin Kluivert", 20, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Patrick Schick", 15, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Gianluca Caprari", 18, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Gregoire Defrel", 45, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Manolo Gabbiadini", 31, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Fabio Quagliarella", 80, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Marco Sau", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Khouma Babacar", 29, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Domenico Berardi", 32, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Jeremie Boga", 14, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Enrico Brignola", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alessandro Matri", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Jens Odgaard", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Gianluca Scamacca", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Mirko Antenucci", 27, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Sergio Floccari", 8, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Alberto Paloschi", 6, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Andrea Petagna", 45, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Andrea Belotti", 66, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, " Damascan", 1, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Iago Falque", 26, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Vittorio Parigini", 2, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Simone Zaza", 21, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Kevin Lasagna", 31, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Stefano Okaka", 25, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Ignacio Pussetto", 23, 1, "ammonizione"))
            //codaAnimazioneGiocatori.push(new clsGiocatore(2, "Lukasz Teodorczyk", 1, 1, "ammonizione"))


     
        




        class clsGiocatore {
            constructor(ID, Nome, Numero, fk_int_Squadra,TipoAnimazione) {
                this.ID = ID;
                this.Nome = Nome;
                this.Numero = Numero;
                this.fk_int_Squadra = fk_int_Squadra;
                this.TipoAnimazione = TipoAnimazione;
            }
        }




        class clsAnimazione {
            constructor(Giocatore) {
                this.Giocatore = Giocatore
                this.Stato = "Smontato";

            }




            Monta() {
                //InizioAnimazione();
                console.log(Animazione.Stato);
                if (this.Stato == "Smontato") {



                    this.Stato = "Montaggio";
                    console.log(this.Giocatore.TipoAnimazione);
                    $(".EventiPartita").empty();
                    if ((this.Giocatore.TipoAnimazione  == "ammonizione") || (this.Giocatore.TipoAnimazione == "espulsione")) {
                        $(".EventiPartita").append("<img  class='imgSquadra' src='/img/squadre/" + this.Giocatore.fk_int_Squadra + ".png' />");
                        $(".EventiPartita").append("<img  class='imgSponsor' src='/img/sponsor/1.png' />");
                        $(".EventiPartita").append("<img  class='imgGiocatore' src='/img/players/Empoli/" + this.Giocatore.ID + ".png' />");
                        $(".EventiPartita").append("<img  class='imgAzione' src='/img/azione/" + this.Giocatore.TipoAnimazione + ".png' />");
                        $(".EventiPartita").append("<div class='numeroGiocatore'><span>" + this.Giocatore.Numero + "</span></div>");
                        $(".EventiPartita").append("<div class='nomeGiocatore tlt'><span class='spanNomeGiocatore'>" + this.Giocatore.Nome + "</span></div>");

                        $('.spanNomeGiocatore').textillate({
                            autoStart: false,
                            loop: false,
                            in:
                            {
                                effect: 'rollIn',
                            },
                            out: {
                                effect: 'rollOut'
                            }
                        })
                        $('.spanNomeGiocatore').on('inAnimationEnd.tlt', function () {
                            Animazione.Stato = "Montato";
                            setTimeout(function () {
                                Animazione.Smonta();
                                console.log("chiamato a smontare");
                            }, 3000);
                        });
                        $('.spanNomeGiocatore').on('outAnimationEnd.tlt', function () {
                            Animazione.Stato = "Smontato";
                           this.trigger($.Event('FineAnimazioneGiocatore'));
                        });


                        $(".nomeGiocatore").css(StartPositionNomeGiocatore)

                        $(".imgSponsor").css(StartPositionImgSponsor).animate(EndPositionImgSponsor, 200, function () {
                            $(".imgSquadra").css(StartPositionImgSquadra).animate(EndPositionImgSquadra, 200, function () {
                                $(".numeroGiocatore").css(StartPositionNumeroGiocatore).animate(EndPositionNumeroGiocatore, 200, function () {
                                    $(".imgGiocatore").css(StartPositionImgGiocatore).animate(EndPositionImgGiocatore, 200, function () {
                                        $(".imgAzione").css(StartPositionImgAzione).animate(EndPositionImgAzione, 200, function () {
                                            $('.spanNomeGiocatore').textillate('in');

                                        });
                                    });
                                });

                            });
                        });
                    }
                }
            }

            Smonta() {
                console.log(this.Stato);
                if (this.Stato == "Montato") {
                    this.Stato = "Smontaggio";
                    $(".imgGiocatore").animate(StartPositionImgGiocatore, 200, function () {
                        $(".imgSquadra").animate(StartPositionImgSquadra, 200, function () {
                            $(".numeroGiocatore").animate(StartPositionNumeroGiocatore, 200, function () {
                                $(".imgSponsor").animate(StartPositionImgSponsor, 200, function () {
                                    $(".imgAzione").animate(StartPositionImgSponsor, 200, function () {
                                        $('.spanNomeGiocatore').textillate('out');
                                            
                                        
                                    });
                                });
                            });
                        });
                    });
                }
            }

           

            Proporziona(dato) {
                if (altezza == 90) {
                    return dato
                }
            }


        }

        var SoggettoInteressato;
        var Animazione;
        
        $(document).ready(function () {
     

 


            Giocatore = new clsGiocatore(2, "Daniele De Rossi", 7, 1, "ammonizione");

            Animazione = new clsAnimazione(Giocatore);



          


            $(".btn-Monta").click(function () {
  
                Animazione.Monta();
            })

            $(".btn-Smonta").click(function () {
                Animazione.Smonta();
            })

            

            var codaAnimazioneGiocatori = [];
            codaAnimazioneGiocatori.push(new clsGiocatore(2, "Daniele De Rossi", 7, 1, "ammonizione"))
            codaAnimazioneGiocatori.push(new clsGiocatore(3, "Leonardo da vinci", 10, 1, "espulsione"))
            codaAnimazioneGiocatori.push(new clsGiocatore(3, "Don Abbondio", 10, 1, "entra"))
            codaAnimazioneGiocatori.push(new clsGiocatore(3, "Fra Cristoforo", 10, 1, "esce"))
      



        });












                            //$(document).ready(function () {














                            //    //StartAnimation(objAnimazione);

                            //    function StartAnimation(objAnimazione) {

                            //        if (objAnimazione.TipoAnimazione == "ammonizione") {
                            //            $(".img-Squadra_1").attr("src", "/img/squadre/" + objAnimazione.fk_int_Squadra + ".png").css({ top: "-72px", opacity: "0" }).animate({ top: "6px", opacity: "1" }, 200, function () {
                            //                $(".img-Giocatore_1").attr("src", "/img/playerAnimation/" + objAnimazione.fk_int_Giocatore_1 + ".png")
                            //                    .css({ height: "220px", top: "72px", left: "50px" })
                            //                    .animate({ top: "-18px", opacity: "1" }, 200, function () {
                            //                        $(".div_numeroGiocatore_1").css({top: "-72px"}).animate({ top: "0px" }, 200);
                            //                        $('.testo_nomeGiocatore_1').text(objAnimazione.nva_NomeGiocatore_1).textillate({
                            //                            in:
                            //                            {
                            //                                effect: 'rollIn',
                            //                                callback: function () {
                            //                                    $(".img-Azione_1").css({ top: "0px", opacity: "0" }).animate({ top: "0px", opacity: "1" }, 200);
                            //                                },
                            //                            }
                            //                        })
                            //                    })
                            //            })
                            //        }
                            //    }












                            //});
    </script>






</body>
</html>