﻿<script type="text/javascript">







    function AnimazioneMontaSostituzioneLed(ObjEvento) {




    
                                $(".EventiPartitaCentrale").append("<video class='eventoGiocatoreTmp' style='width:1080px; height:90px; z-index:-4;' muted control><source src='/img/" + ObjEvento.Squadra.nva_Directory + "_sostituzione_1080_90.mp4'  type='video/mp4' ></video>");
                                $(".EventiPartitaLaterale").append("<video class='eventoGiocatoreTmp' style='width:480px; height:90px; z-index:-4;' muted control><source src='/img/" + ObjEvento.Squadra.nva_Directory + "_sostituzione_480_90.mp4'  type='video/mp4' ></video>");

                                setTimeout(function () {
                                    $(".eventoGiocatoreTmp").each(function () {
                                        $(this).get(0).pause();
                                        $(this).get(0).currentTime = 0;
                                        $(this).get(0).play();
                                    });
                                }, 250);


                                $(".EventiPartitaCentrale").append("<img class='imgGiocatoreLedCentrale' src='/img/players/" + ObjEvento.Squadra.nva_Directory + "/" + ObjEvento.Giocatore.nva_Numero + ".png' />");
                                $(".EventiPartitaCentrale").append("<img class='imgGiocatoreSecondarioLedCentrale' src='/img/players/" + ObjEvento.Squadra.nva_Directory + "/" + ObjEvento.GiocatoreSecondario.nva_Numero + ".png' />");

                                $(".EventiPartitaCentrale").append("<div class='numeroGiocatoreLedCentrale'><span>" + ObjEvento.Giocatore.nva_Numero + "</span></div>");
                                $(".EventiPartitaCentrale").append("<div class='numeroGiocatoreSecondarioLedCentrale'><span>" + ObjEvento.GiocatoreSecondario.nva_Numero + "</span></div>");
                                $(".EventiPartitaCentrale").append("<div class='nomeGiocatoreLedCentrale'><span class='spanNomeGiocatoreLedCentrale'>" + ObjEvento.Giocatore.nva_Cognome + "</span></div>");
                                $(".EventiPartitaCentrale").append("<div class='nomeGiocatoreSecondarioLedCentrale'><span class='spanNomeGiocatoreSecondarioLedCentrale'>" + ObjEvento.GiocatoreSecondario.nva_Cognome + "</span></div>");

                                fitty('.spanNomeGiocatoreLedCentrale', { maxSize: MaxsizeText, multiLine: false });
                                fitty('.spanNomeGiocatoreSecondarioLedCentrale', { maxSize: MaxsizeText, multiLine: false });

                                $(".EventiPartitaCentrale").animate({ 'opacity': '1' }, 100);
                                $(".imgGiocatoreLedCentrale").css(StartPositionImgGiocatoreLedCentrale).animate(ViewPositionImgGiocatoreLedCentrale, 1500).promise().then(function () {

                                    $(".numeroGiocatoreLedCentrale").css(StartPositionNumeroGiocatoreLedCentrale).animate(ViewPositionNumeroGiocatoreLedCentrale, 200).promise().then(function () {

                                        $(".nomeGiocatoreLedCentrale").css(StartPositionNomeGiocatoreLedCentrale).animate(ViewPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                            setTimeout(function () {
                                                $(".numeroGiocatoreLedCentrale").animate(EndPositionNumeroGiocatoreLedCentrale, 200).promise().then(function () {
                                                    $(".imgGiocatoreLedCentrale").animate(EndPositionImgGiocatoreLedCentrale, 200).promise().then(function () {
                                                        $(".nomeGiocatoreLedCentrale").animate(EndPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                                            $(".imgGiocatoreSecondarioLedCentrale").css(StartPositionImgGiocatoreLedCentrale).animate(ViewPositionImgGiocatoreLedCentrale, 1500).promise().then(function () {
                                                                $(".numeroGiocatoreSecondarioLedCentrale").css(StartPositionNumeroGiocatoreLedCentrale).animate(ViewPositionNumeroGiocatoreLedCentrale, 200).promise().then(function () {

                                                                    $(".nomeGiocatoreSecondarioLedCentrale").css(StartPositionNomeGiocatoreLedCentrale).animate(ViewPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                                                        StatoAnimazione = "Montato";




                                                                        setTimeout(function () { Animazione.Smonta(); }, 5000);

                                                                    });

                                                                });
                                                            });

                                                        });
                                                    });
                                                });
                                            }, 5000);
                                        });

                                    });


                                });



                                /*
                                Laterale
                                */
                                //   $(".EventiPartitaLaterale").append("<img class='imgSquadra imgSquadraLedLaterale' src='/img/squadre/" + ObjEvento.Evento.fk_int_Squadra + ".png' />");
                                //   $(".EventiPartitaLaterale").append("<img class='imgSponsorLedLaterale' src='/img/sponsor/1.png' />");
                                $(".EventiPartitaLaterale").append("<img class='imgGiocatoreLedLaterale' src='/img/players/" + ObjEvento.Squadra.nva_Directory + "/" + ObjEvento.Giocatore.nva_Numero + ".png' />");
                                $(".EventiPartitaLaterale").append("<img class='imgGiocatoreSecondarioLedLaterale' src='/img/players/" + ObjEvento.Squadra.nva_Directory + "/" + ObjEvento.GiocatoreSecondario.nva_Numero + ".png' />");
                                // $(".EventiPartitaLaterale").append("<img class='imgAzioneEntraLedLaterale' src='/img/azione/entra.png' />");
                                //  $(".EventiPartitaLaterale").append("<img class='imgAzioneEsceLedLaterale' src='/img/azione/esce.png' />");
                                $(".EventiPartitaLaterale").append("<div class='numeroGiocatoreLedLaterale'><span>" + ObjEvento.Giocatore.nva_Numero + "</span></div>");

                                $(".EventiPartitaLaterale").append("<div class='numeroGiocatoreSecondarioLedLaterale'><span>" + ObjEvento.GiocatoreSecondario.nva_Numero + "</span></div>");


                                $(".EventiPartitaLaterale").animate({ 'opacity': '1' }, 100)
                                $(".imgGiocatoreLedLaterale").css(StartPositionImgGiocatoreLedLaterale).animate(ViewPositionImgGiocatoreLedLaterale, 1700).promise().then(function () {
                                    //     $(".imgSquadraLedLaterale").css(StartPositionImgSquadraLedLaterale).animate(ViewPositionImgSquadraLedLaterale, 200).promise().then(function () {
                                    // $(".imgSponsorLedLaterale").css(StartPositionImgSponsorLedLaterale).animate(ViewPositionImgSponsorLedLaterale, 200).promise().then(function () {
                                    $(".numeroGiocatoreLedLaterale").delay(500).css(StartPositionNumeroGiocatoreLedLaterale).animate(ViewPositionNumeroGiocatoreLedLaterale, 200).promise().then(function () {

                                        //$(".imgAzioneEsceLedLaterale").css(StartPositionImgAzioneEsceLedLaterale).animate(ViewPositionImgAzioneEsceLedLaterale, 200).promise().then(function () {

                                        setTimeout(function () {
                                            $(".numeroGiocatoreLedLaterale").animate(EndPositionNumeroGiocatoreLedLaterale, 200).promise().then(function () {
                                                $(".imgGiocatoreLedLaterale").animate(EndPositionImgGiocatoreLedLaterale, 200).promise().then(function () {
                                                    // $(".imgAzioneEsceLedLaterale").animate(EndPositionImgAzioneEsceLedLaterale, 200).promise().then(function () {
                                                    $(".imgGiocatoreSecondarioLedLaterale").css(StartPositionImgGiocatoreLedLaterale).animate(ViewPositionImgGiocatoreLedLaterale, 1700).promise().then(function () {
                                                        $(".numeroGiocatoreSecondarioLedLaterale").css(StartPositionNumeroGiocatoreLedLaterale).animate(ViewPositionNumeroGiocatoreLedLaterale, 200).promise().then(function () {

                                                            //   $(".imgAzioneEntraLedLaterale").css(StartPositionImgAzioneEntraLedLaterale).animate(ViewPositionImgAzioneEntraLedLaterale, 200).promise().then(function () {

                                                            //  });
                                                        });
                                                    });

                                                    //});
                                                });
                                            });
                                        }, 5000);

                                        // });
                                    });
                                });
                                //});

                                // });


        }
</script>


