﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>

    <link rel="stylesheet" href="~/css/player.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/playerMaxischermo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/playerLed_90.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/textillate-master/assets/animate.css" asp-append-version="true" />

    <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>

</head>
<body style="background-color:black;overflow-x: hidden !important; overflow-y: hidden !important; padding:0px 0px 0px 0px;  clip-path: inset(0% 0% 0% 0%); @Html.Raw(ViewBag.DimensioneCanvasPerCss)  ">




    <div Id="CanvasLuminosita">
        @Html.Raw(ViewBag.HtmlLuminosità)
    </div>

    <div Id="CanvasEventiPartita">
        @Html.Raw(ViewBag.HtmlEventiPartita)
    </div>

    <div Id="CanvasClockScore">
        @Html.Raw(ViewBag.HtmlClockScore)
    </div>

    <div Id="CanvasResult" style="visibility:hidden ">
        @Html.Raw(ViewBag.HtmlResult)
    </div>


    <div Id="CanvasVideoLed"></div>






    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js" asp-append-version="true"></script>
    <script src="~/lib/fitty/fitty.min.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.fittext.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.lettering.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/jquery.textillate.js" asp-append-version="true"></script>
    <script src="~/js/jsComune.js" asp-append-version="true"></script>


    <script>
        'use strict';

        /*
        tag:variabiliglobali
        ██╗   ██╗ █████╗ ██████╗ ██╗ █████╗ ██████╗ ██╗██╗     ██╗
        ██║   ██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║██║     ██║
        ██║   ██║███████║██████╔╝██║███████║██████╔╝██║██║     ██║
        ╚██╗ ██╔╝██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║██║     ██║
         ╚████╔╝ ██║  ██║██║  ██║██║██║  ██║██████╔╝██║███████╗██║
          ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚═╝╚══════╝╚═╝

         ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     ██╗
        ██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     ██║
        ██║  ███╗██║     ██║   ██║██████╔╝███████║██║     ██║
        ██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     ██║
        ╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗██║
         ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝
        */
        var altezza = 0;
        var NumeroSceneDaCaricare = 3;
        var ArraySceneCache = [];
        var ValorePassatoFattoreVelocitaVideo = -1;
        var FattoreVelocitaVideo = 100;
        var contatorePerFattoreVelocitaOrologio = 0;
        var zindex = 0;
        var intIncrementalePeriodo = 0;
        var OffsetTemporaleManualeDiretto = 0;
        var Punteggio = {}
        var OffsetTemporaleManuale = 0;
        var ForzaScenaSpecifica = 0;
        var ScenaRiprodottaMaxischermo = {};
        var ScenaRiprodottaLed = {};
        var IntervalOrologio;
        var AvanzaOrologio = 0;
        var ArrayPeriodi = {}
        var ScenaDaSincronizzare = {}
        var MinutiRecupero = 0;
        var elaboratoMaxischermo = 1;
        var elaboratoLed = 1;
        var IdScenaRiprodottaLed = 0;
        var ArrParametriGenerali = Array;
        var ArrSceneLed = [];
        var ArrSceneMaxischermo = [];
        var intIstanteInizialePlaylist = 0
        var IpServer = "localhost:5000"
        var jsonConfigPeriodi = {}
        var incrementaleTemporizzazioneCaricamento = 0;
    </script>

    <script type="text/javascript">

        'use strict';


        /*
        tag: animazioneeventigiocatori

         █████╗ ███╗   ██╗██╗███╗   ███╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
        ██╔══██╗████╗  ██║██║████╗ ████║██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
        ███████║██╔██╗ ██║██║██╔████╔██║███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
        ██╔══██║██║╚██╗██║██║██║╚██╔╝██║██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
        ██║  ██║██║ ╚████║██║██║ ╚═╝ ██║██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
        ╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

        ███████╗██╗   ██╗███████╗███╗   ██╗████████╗██╗
        ██╔════╝██║   ██║██╔════╝████╗  ██║╚══██╔══╝██║
        █████╗  ██║   ██║█████╗  ██╔██╗ ██║   ██║   ██║
        ██╔══╝  ╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║   ██║
        ███████╗ ╚████╔╝ ███████╗██║ ╚████║   ██║   ██║
        ╚══════╝  ╚═══╝  ╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚═╝

         ██████╗ ██╗ ██████╗  ██████╗ █████╗ ████████╗ ██████╗ ██████╗ ██╗
        ██╔════╝ ██║██╔═══██╗██╔════╝██╔══██╗╚══██╔══╝██╔═══██╗██╔══██╗██║
        ██║  ███╗██║██║   ██║██║     ███████║   ██║   ██║   ██║██████╔╝██║
        ██║   ██║██║██║   ██║██║     ██╔══██║   ██║   ██║   ██║██╔══██╗██║
        ╚██████╔╝██║╚██████╔╝╚██████╗██║  ██║   ██║   ╚██████╔╝██║  ██║██║
         ╚═════╝ ╚═╝ ╚═════╝  ╚═════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚═╝
        */


        var StartPositionNumeroGiocatoreLedCentrale;
        var StartPositionNomeGiocatoreLedCentrale;
        var StartPositionImgAzioneLedCentrale;
        var StartPositionImgAzioneEntraLedCentrale;
        var StartPositionImgAzioneEsceLedCentrale;
        var StartPositionImgGiocatoreLedCentrale;
        var StartPositionImgSponsorLedCentrale;
        var StartPositionImgSquadraLedCentrale;

        var ViewPositionNumeroGiocatoreLedCentrale;
        var ViewPositionNomeGiocatoreLedCentrale;
        var ViewPositionImgAzioneLedCentrale;
        var ViewPositionImgAzioneEntraLedCentrale;
        var ViewPositionImgAzioneEsceLedCentrale;
        var ViewPositionImgGiocatoreLedCentrale;
        var ViewPositionImgSponsorLedCentrale;
        var ViewPositionImgSquadraLedCentrale;

        var EndPositionNumeroGiocatoreLedCentrale;
        var EndPositionNomeGiocatoreLedCentrale;
        var EndPositionImgAzioneLedCentrale;
        var EndPositionImgAzioneEntraLedCentrale;
        var EndPositionImgAzioneEsceLedCentrale;

        var EndPositionImgGiocatoreLedCentrale;
        var EndPositionImgSponsorLedCentrale;
        var EndPositionImgSquadraLedCentrale;

        var MaxsizeText;
        var StartPositionImgGoalLedCentrale;
        var ViewPositionImgGoalLedCentrale;
        var EndPositionImgGoalLedCentrale;

        /*Laterale */

        var StartPositionNumeroGiocatoreLedLaterale;
        var StartPositionNomeGiocatoreLedLaterale;
        var StartPositionImgAzioneLedLaterale;
        var StartPositionImgAzioneEntraLedLaterale;
        var StartPositionImgAzioneEsceLedLaterale;
        var StartPositionImgGiocatoreLedLaterale;
        var StartPositionImgSponsorLedLaterale;
        var StartPositionImgSquadraLedLaterale;

        var ViewPositionNumeroGiocatoreLedLaterale;
        var ViewPositionNomeGiocatoreLedLaterale;
        var ViewPositionImgAzioneLedLaterale;
        var ViewPositionImgAzioneEntraLedLaterale;
        var ViewPositionImgAzioneEsceLedLaterale;
        var ViewPositionImgGiocatoreLedLaterale;
        var ViewPositionImgSponsorLedLaterale;
        var ViewPositionImgSquadraLedLaterale;

        var EndPositionNumeroGiocatoreLedLaterale;
        var EndPositionNomeGiocatoreLedLaterale;
        var EndPositionImgAzioneLedLaterale;
        var EndPositionImgAzioneEntraLedLaterale;
        var EndPositionImgAzioneEsceLedLaterale;

        var EndPositionImgGiocatoreLedLaterale;
        var EndPositionImgSponsorLedLaterale;
        var EndPositionImgSquadraLedLaterale;

        var MaxsizeText;
        var StartPositionImgGoalLedLaterale;
        var ViewPositionImgGoalLedLaterale;
        var EndPositionImgGoalLedLaterale;



        //-------------------------------------------------------------------------------------------------------

        function PopolaCostantiAnimazione(altezza) {
            switch (altezza) {
                case 90:
                    MaxsizeText = 80;
                    StartPositionNumeroGiocatoreLedCentrale = { top: "-90px", left: "190px", opacity: "0" };
                    StartPositionNomeGiocatoreLedCentrale = { top: "90px", left: "350px", opacity: "0" };
                    StartPositionImgAzioneLedCentrale = { top: "90px", left: "270px", opacity: "0", height: "150px" };
                    StartPositionImgAzioneEntraLedCentrale = { top: "90px", left: "270px", opacity: "0", height: "150px" };
                    StartPositionImgAzioneEsceLedCentrale = { top: "-90px", left: "270px", opacity: "0", height: "150px" };
                    //  StartPositionImgGiocatoreLedCentrale = { top: "53px", opacity: "1", height: "81px", left: "50px" };
                    StartPositionImgGiocatoreLedCentrale = { top: "-300px", opacity: "1", height: "1400px", left: "-60px" };
                    StartPositionImgSponsorLedCentrale = { top: "1px", left: "700px", opacity: "0", height: "90px" };
                    StartPositionImgSquadraLedCentrale = { top: "-90px", left: "2px", opacity: "0" };
                    StartPositionImgGoalLedCentrale = { top: "-60px", left: "100px", opacity: "1" };



                    ViewPositionNumeroGiocatoreLedCentrale = { top: "0px", opacity: "1" };
                    ViewPositionNomeGiocatoreLedCentrale = { top: "0px", opacity: "1" };
                    ViewPositionImgAzioneLedCentrale = { top: "6px", opacity: "1" };
                    ViewPositionImgAzioneEntraLedCentrale = { top: "6px", opacity: "1" };
                    ViewPositionImgAzioneEsceLedCentrale = { top: "-65px", opacity: "1" };
                    ViewPositionImgGiocatoreLedCentrale = { top: "-7px", opacity: "1", height: "200px", left: "50px" };
                    //    ViewPositionImgGiocatoreLedCentrale = { top: "-152px", opacity: "1", height: "700px", left: "-205px" };
                    ViewPositionImgSponsorLedCentrale = { top: "1px", left: "800px", opacity: "1" };
                    ViewPositionImgSquadraLedCentrale = { top: "0px", opacity: "1" };
                    ViewPositionImgGoalLedCentrale = { top: "60px", left: "600px", opacity: "1" };



                    EndPositionNumeroGiocatoreLedCentrale = { opacity: "0" };
                    EndPositionNomeGiocatoreLedCentrale = { opacity: "0" };

                    EndPositionImgAzioneLedCentrale = { opacity: "0" };
                    EndPositionImgAzioneEntraLedCentrale = { top: "-90px", opacity: "0" };
                    EndPositionImgAzioneEsceLedCentrale = { top: "90px", opacity: "0" };

                    EndPositionImgGiocatoreLedCentrale = { opacity: "0" };

                    EndPositionImgSponsorLedCentrale = { opacity: "0" };
                    EndPositionImgSquadraLedCentrale = { opacity: "0" };
                    EndPositionImgGoalLedCentrale = { opacity: "0" };








                    /*Laterale*/



                    StartPositionNumeroGiocatoreLedLaterale = { top: "-90px", left: "210px", opacity: "0" };
                    StartPositionNomeGiocatoreLedLaterale = { top: "300px", left: "-60px", opacity: "0" };
                    StartPositionImgAzioneLedLaterale = { top: "90px", left: "338px", opacity: "0", height: "150px" };
                    StartPositionImgAzioneEntraLedLaterale = { top: "90px", left: "335px", opacity: "0", height: "150px" };
                    StartPositionImgAzioneEsceLedLaterale = { top: "-90px", left: "335px", opacity: "0", height: "150px" };
                    StartPositionImgGiocatoreLedLaterale = { top: "-300px", opacity: "1", height: "1400px", left: "-320px" };
                    //    StartPositionImgSponsorLedLaterale = { top: "1px", left: "0px", opacity: "0", height: "46px" };
                    StartPositionImgSquadraLedLaterale = { top: "-90px", left: "2px", opacity: "0" };
                    StartPositionImgGoalLedLaterale = { top: "-60px", left: "100px", opacity: "1" };



                    ViewPositionNumeroGiocatoreLedLaterale = { top: "0px", opacity: "1" };
                    ViewPositionNomeGiocatoreLedLaterale = { top: "0px", left: "180px", opacity: "1" };
                    ViewPositionImgAzioneLedLaterale = { top: "0px", opacity: "1" };

                    ViewPositionImgAzioneEntraLedLaterale = { top: "6px", opacity: "1" };
                    ViewPositionImgAzioneEsceLedLaterale = { top: "-65px", opacity: "1" };

                    ViewPositionImgGiocatoreLedLaterale = { top: "-7px", opacity: "1", height: "200px", left: "70px" };
                    //   ViewPositionImgSponsorLedLaterale = { top: "1px", left: "400px", opacity: "1" };
                    ViewPositionImgSquadraLedLaterale = { top: "0px", opacity: "1" };
                    ViewPositionImgGoalLedLaterale = { top: "60px", left: "600px", opacity: "1" };



                    EndPositionNumeroGiocatoreLedLaterale = { opacity: "0" };
                    EndPositionNomeGiocatoreLedLaterale = { opacity: "0" };
                    EndPositionImgAzioneLedLaterale = { opacity: "0" };
                    EndPositionImgAzioneEntraLedLaterale = { top: "-90px", opacity: "0" };
                    EndPositionImgAzioneEsceLedLaterale = { top: "90px", opacity: "0" };
                    EndPositionImgGiocatoreLedLaterale = { opacity: "0" };
                    //   EndPositionImgSponsorLedLaterale = { top: "1px", left: "560px", opacity: "0" };
                    EndPositionImgSquadraLedLaterale = { opacity: "0" };
                    EndPositionImgGoalLedLaterale = { opacity: "0" };






                    break;
                case 48:
                    MaxsizeText = 48;

                    StartPositionNumeroGiocatoreLedCentrale = { top: "-48px", left: "110px", opacity: "0" };
                    StartPositionNomeGiocatoreLedCentrale = { top: "0px", left: "175px", opacity: "0" };
                    StartPositionImgAzioneLedCentrale = { top: "48px", left: "130px", opacity: "0", height: "107px" };
                    StartPositionImgAzioneEntraLedCentrale = { top: "48px", left: "96px", opacity: "0", height: "107px" };
                    StartPositionImgAzioneEsceLedCentrale = { top: "-48px", left: "96px", opacity: "0", height: "107px" };
                    //  StartPositionImgGiocatoreLedCentrale = { top: "53px", opacity: "1", height: "81px", left: "50px" };
                    StartPositionImgGiocatoreLedCentrale = { top: "-152px", opacity: "1", height: "700px", left: "-100px" };
                    StartPositionImgSponsorLedCentrale = { top: "1px", left: "213px", opacity: "0", height: "46px" };
                    StartPositionImgSquadraLedCentrale = { top: "-48px", left: "2px", opacity: "0" };
                    StartPositionImgGoalLedCentrale = { top: "-60px", left: "100px", opacity: "1" };



                    ViewPositionNumeroGiocatoreLedCentrale = { top: "0px", opacity: "1" };
                    ViewPositionNomeGiocatoreLedCentrale = { top: "0px", left: "175px", opacity: "1" };
                    ViewPositionImgAzioneLedCentrale = { top: "-6px", opacity: "1" };
                    ViewPositionImgAzioneEntraLedCentrale = { top: "-20px", opacity: "1" };
                    ViewPositionImgAzioneEsceLedCentrale = { top: "-35px", opacity: "1" };
                    ViewPositionImgGiocatoreLedCentrale = { top: "-7px", opacity: "1", height: "120px", left: "20px" };
                    //    ViewPositionImgGiocatoreLedCentrale = { top: "-152px", opacity: "1", height: "700px", left: "-205px" };
                    ViewPositionImgSponsorLedCentrale = { top: "1px", left: "430px", opacity: "1" };
                    ViewPositionImgSquadraLedCentrale = { top: "1px", opacity: "1" };
                    ViewPositionImgGoalLedCentrale = { top: "60px", left: "600px", opacity: "1" };



                    EndPositionNumeroGiocatoreLedCentrale = { top: "-48px", left: "112px", opacity: "0" };
                    EndPositionNomeGiocatoreLedCentrale = { top: "0px", left: "200px", opacity: "0" };

                    EndPositionImgAzioneLedCentrale = { top: "48px", left: "96px", opacity: "0", height: "107px" };
                    EndPositionImgAzioneEntraLedCentrale = { top: "-48px", left: "96px", opacity: "0", height: "107px" };
                    EndPositionImgAzioneEsceLedCentrale = { top: "48px", left: "96px", opacity: "0", height: "107px" };
                    //  EndPositionImgGiocatoreLedCentrale = { top: "53px", opacity: "1", height: "81px" };

                    EndPositionImgGiocatoreLedCentrale = { top: "-152px", opacity: "0", height: "700px", left: "-100px" };

                    EndPositionImgSponsorLedCentrale = { top: "1px", left: "560px", opacity: "0" };
                    EndPositionImgSquadraLedCentrale = { top: "-48px", opacity: "0" };
                    EndPositionImgGoalLedCentrale = { top: "-60px", left: "100px", opacity: "0" };








                    /*Laterale*/



                    StartPositionNumeroGiocatoreLedLaterale = { top: "-48px", left: "112px", opacity: "0" };
                    StartPositionNomeGiocatoreLedLaterale = { top: "0px", left: "160px", opacity: "0" };
                    StartPositionImgAzioneLedLaterale = { top: "48px", left: "96px", opacity: "0", height: "107px" };
                    StartPositionImgAzioneEntraLedLaterale = { top: "48px", left: "173px", opacity: "0", height: "80px" };
                    StartPositionImgAzioneEsceLedLaterale = { top: "-48px", left: "173px", opacity: "0", height: "80px" };
                    StartPositionImgGiocatoreLedLaterale = { top: "-152px", opacity: "1", height: "700px", left: "-200px" };
                    StartPositionImgSponsorLedLaterale = { top: "1px", left: "0px", opacity: "0", height: "46px" };
                    StartPositionImgSquadraLedLaterale = { top: "-48px", left: "2px", opacity: "0" };
                    StartPositionImgGoalLedLaterale = { top: "-60px", left: "100px", opacity: "1" };



                    ViewPositionNumeroGiocatoreLedLaterale = { top: "0px", opacity: "1" };
                    ViewPositionNomeGiocatoreLedLaterale = { top: "0px", left: "180px", opacity: "1" };
                    ViewPositionImgAzioneLedLaterale = { top: "-6px", opacity: "1" };
                    ViewPositionImgAzioneEntraLedLaterale = { top: "5px", opacity: "1" };
                    ViewPositionImgAzioneEsceLedLaterale = { top: "-35px", opacity: "1" };
                    ViewPositionImgGiocatoreLedLaterale = { top: "-7px", opacity: "1", height: "120px", left: "20px" };
                    ViewPositionImgSponsorLedLaterale = { top: "1px", left: "400px", opacity: "1" };
                    ViewPositionImgSquadraLedLaterale = { top: "1px", opacity: "1" };
                    ViewPositionImgGoalLedLaterale = { top: "60px", left: "600px", opacity: "1" };



                    EndPositionNumeroGiocatoreLedLaterale = { top: "-48px", left: "112px", opacity: "0" };
                    EndPositionNomeGiocatoreLedLaterale = { top: "0px", left: "192px", opacity: "0" };
                    EndPositionImgAzioneLedLaterale = { top: "48px", opacity: "0", height: "107px" };
                    EndPositionImgAzioneEntraLedLaterale = { top: "-48px", opacity: "0" };
                    EndPositionImgAzioneEsceLedLaterale = { top: "48px", opacity: "0" };
                    EndPositionImgGiocatoreLedLaterale = { top: "-152px", opacity: "0", height: "700px", left: "-200px" };
                    EndPositionImgSponsorLedLaterale = { top: "1px", left: "560px", opacity: "0" };
                    EndPositionImgSquadraLedLaterale = { top: "-48px", opacity: "0" };
                    EndPositionImgGoalLedLaterale = { top: "-60px", left: "100px", opacity: "0" };






                    break;

            }

        }




        var codaAnimazione = [];

        var StatoAnimazione = "";

        class clsAnimazione {
            constructor() {
                StatoAnimazione = "Smontato";
                this.Evento = null
                this.Giocatore = null;
                this.Squadra = null;

            }


            Monta(Evento) {

                //console.log("Monta(Evento) " + JSON.stringify(Evento))
                // console.log(JSON.stringify(RosaSquadra))
                this.Evento = Evento;

                if (this.Evento.fk_int_Giocatore > 0) {
                    this.Giocatore = RosaSquadra[this.Evento.fk_int_Squadra][this.Evento.fk_int_Giocatore];
                }
                if (this.Evento.fk_int_GiocatoreSecondario > 0) {
                    this.GiocatoreSecondario = RosaSquadra[this.Evento.fk_int_Squadra][this.Evento.fk_int_GiocatoreSecondario];
                }

                this.Squadra = SettingSquadra[this.Evento.fk_int_Squadra];

                console.log("StatoAnimazione " + StatoAnimazione);
                if (StatoAnimazione == "Smontato") {



                    StatoAnimazione = "Montaggio";



                    switch (this.Evento.fk_int_TipoEventoMatch) {
                        case 4: //caso della sostituzione

                            $(".EventiPartitaCentrale").append("<img class='imgGiocatoreLedCentrale' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                            $(".EventiPartitaCentrale").append("<img class='imgGiocatoreSecondarioLedCentrale' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.GiocatoreSecondario.nva_Numero + ".png' />");
                            $(".EventiPartitaCentrale").append("<img class='imgSquadra imgSquadraLedCentrale' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                            $(".EventiPartitaCentrale").append("<img class='imgSponsorLedCentrale' src='/img/sponsor/1.png' />");

                            $(".EventiPartitaCentrale").append("<img class='imgAzioneEntraLedCentrale' src='/img/azione/entra.png' />");
                            $(".EventiPartitaCentrale").append("<img class='imgAzioneEsceLedCentrale' src='/img/azione/esce.png' />");
                            $(".EventiPartitaCentrale").append("<div class='numeroGiocatoreLedCentrale'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                            $(".EventiPartitaCentrale").append("<div class='numeroGiocatoreSecondarioLedCentrale'><span>" + this.GiocatoreSecondario.nva_Numero + "</span></div>");
                            $(".EventiPartitaCentrale").append("<div class='nomeGiocatoreLedCentrale'><span class='spanNomeGiocatoreLedCentrale'>" + this.Giocatore.nva_Cognome + "</span></div>");
                            $(".EventiPartitaCentrale").append("<div class='nomeGiocatoreSecondarioLedCentrale'><span class='spanNomeGiocatoreSecondarioLedCentrale'>" + this.GiocatoreSecondario.nva_Cognome + "</span></div>");

                            fitty('.spanNomeGiocatoreLedCentrale', { maxSize: MaxsizeText, multiLine: false });
                            fitty('.spanNomeGiocatoreSecondarioLedCentrale', { maxSize: MaxsizeText, multiLine: false });

                            $(".EventiPartitaCentrale").animate({ 'opacity': '1' }, 100);
                            $(".imgGiocatoreLedCentrale").css(StartPositionImgGiocatoreLedCentrale).animate(ViewPositionImgGiocatoreLedCentrale, 2000).promise().then(function () {
                                $(".imgSquadraLedCentrale").css(StartPositionImgSquadraLedCentrale).animate(ViewPositionImgSquadraLedCentrale, 200).promise().then(function () {
                                    BlinkElemento($(".imgSquadra"), 5);
                                    $(".imgSponsorLedCentrale").delay(500).css(StartPositionImgSponsorLedCentrale).animate(ViewPositionImgSponsorLedCentrale, 200).promise().then(function () {
                                        $(".numeroGiocatoreLedCentrale").css(StartPositionNumeroGiocatoreLedCentrale).animate(ViewPositionNumeroGiocatoreLedCentrale, 200).promise().then(function () {

                                            $(".imgAzioneEsceLedCentrale").css(StartPositionImgAzioneEsceLedCentrale).animate(ViewPositionImgAzioneEsceLedCentrale, 200).promise().then(function () {
                                                $(".nomeGiocatoreLedCentrale").css(StartPositionNomeGiocatoreLedCentrale).animate(ViewPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                                    setTimeout(function () {
                                                        $(".numeroGiocatoreLedCentrale").animate(EndPositionNumeroGiocatoreLedCentrale, 200).promise().then(function () {
                                                            $(".imgGiocatoreLedCentrale").animate(EndPositionImgGiocatoreLedCentrale, 200).promise().then(function () {
                                                                $(".imgAzioneEsceLedCentrale").animate(EndPositionImgAzioneEsceLedCentrale, 200).promise().then(function () {
                                                                    $(".nomeGiocatoreLedCentrale").animate(EndPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                                                        $(".imgGiocatoreSecondarioLedCentrale").css(StartPositionImgGiocatoreLedCentrale).animate(ViewPositionImgGiocatoreLedCentrale, 2000).promise().then(function () {
                                                                            $(".numeroGiocatoreSecondarioLedCentrale").css(StartPositionNumeroGiocatoreLedCentrale).animate(ViewPositionNumeroGiocatoreLedCentrale, 200).promise().then(function () {

                                                                                $(".imgAzioneEntraLedCentrale").css(StartPositionImgAzioneEntraLedCentrale).animate(ViewPositionImgAzioneEntraLedCentrale, 200).promise().then(function () {
                                                                                    $(".nomeGiocatoreSecondarioLedCentrale").css(StartPositionNomeGiocatoreLedCentrale).animate(ViewPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                                                                        StatoAnimazione = "Montato";


                                                                                        BlinkBKT();

                                                                                        setTimeout(function () { Animazione.Smonta(); }, 3000);

                                                                                    });
                                                                                });
                                                                            });
                                                                        });
                                                                    });
                                                                });
                                                            });
                                                        });
                                                    }, 3000);
                                                });
                                            });
                                        });
                                    });
                                });

                            });



                            /*
                            Laterale
                            */
                            $(".EventiPartitaLaterale").append("<img class='imgSquadra imgSquadraLedLaterale' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                            $(".EventiPartitaLaterale").append("<img class='imgSponsorLedLaterale' src='/img/sponsor/1.png' />");
                            $(".EventiPartitaLaterale").append("<img class='imgGiocatoreLedLaterale' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                            $(".EventiPartitaLaterale").append("<img class='imgGiocatoreSecondarioLedLaterale' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.GiocatoreSecondario.nva_Numero + ".png' />");
                            $(".EventiPartitaLaterale").append("<img class='imgAzioneEntraLedLaterale' src='/img/azione/entra.png' />");
                            $(".EventiPartitaLaterale").append("<img class='imgAzioneEsceLedLaterale' src='/img/azione/esce.png' />");
                            $(".EventiPartitaLaterale").append("<div class='numeroGiocatoreLedLaterale'><span>" + this.Giocatore.nva_Numero + "</span></div>");

                            $(".EventiPartitaLaterale").append("<div class='numeroGiocatoreSecondarioLedLaterale'><span>" + this.GiocatoreSecondario.nva_Numero + "</span></div>");


                            $(".EventiPartitaLaterale").animate({ 'opacity': '1' }, 100)
                            $(".imgGiocatoreLedLaterale").css(StartPositionImgGiocatoreLedLaterale).animate(ViewPositionImgGiocatoreLedLaterale, 2000).promise().then(function () {
                                $(".imgSquadraLedLaterale").css(StartPositionImgSquadraLedLaterale).animate(ViewPositionImgSquadraLedLaterale, 200).promise().then(function () {
                                    // $(".imgSponsorLedLaterale").css(StartPositionImgSponsorLedLaterale).animate(ViewPositionImgSponsorLedLaterale, 200).promise().then(function () {
                                    $(".numeroGiocatoreLedLaterale").delay(500).css(StartPositionNumeroGiocatoreLedLaterale).animate(ViewPositionNumeroGiocatoreLedLaterale, 200).promise().then(function () {

                                        $(".imgAzioneEsceLedLaterale").css(StartPositionImgAzioneEsceLedLaterale).animate(ViewPositionImgAzioneEsceLedLaterale, 200).promise().then(function () {

                                            setTimeout(function () {
                                                $(".numeroGiocatoreLedLaterale").animate(EndPositionNumeroGiocatoreLedLaterale, 200).promise().then(function () {
                                                    $(".imgGiocatoreLedLaterale").animate(EndPositionImgGiocatoreLedLaterale, 200).promise().then(function () {
                                                        $(".imgAzioneEsceLedLaterale").animate(EndPositionImgAzioneEsceLedLaterale, 200).promise().then(function () {
                                                            $(".imgGiocatoreSecondarioLedLaterale").css(StartPositionImgGiocatoreLedLaterale).animate(ViewPositionImgGiocatoreLedLaterale, 2000).promise().then(function () {
                                                                $(".numeroGiocatoreSecondarioLedLaterale").css(StartPositionNumeroGiocatoreLedLaterale).animate(ViewPositionNumeroGiocatoreLedLaterale, 200).promise().then(function () {

                                                                    $(".imgAzioneEntraLedLaterale").css(StartPositionImgAzioneEntraLedLaterale).animate(ViewPositionImgAzioneEntraLedLaterale, 200).promise().then(function () {

                                                                    });
                                                                });
                                                            });

                                                        });
                                                    });
                                                });
                                            }, 3000);

                                        });
                                    });
                                });
                                //});

                            });



                            break;
                        case 2:
                        case 3:
                            //se devo animare una ammonizione oppure una espulsione

                            $(".EventiPartitaCentrale").append("<img class='imgGiocatoreLedCentrale' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");

                            $(".EventiPartitaCentrale").append("<img class='imgSquadraLedCentrale' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                            $(".EventiPartitaCentrale").append("<img class='imgSponsorLedCentrale' src='/img/sponsor/1.png' />");
                            $(".EventiPartitaCentrale").append("<img class='imgAzioneLedCentrale' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");
                            $(".EventiPartitaCentrale").append("<div class='numeroGiocatoreLedCentrale'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                            //$(".EventiPartitaCentrale").append("<div class='numeroGiocatoreLedCentrale'><span>88</span></div>");

                            $(".EventiPartitaCentrale").append("<div class='nomeGiocatoreLedCentrale'><span class='spanNomeGiocatoreLedCentrale'>" + this.Giocatore.nva_Cognome + "</span></div>")
                            $(".imgSquadraLedCentrale").css({ "height": (altezza - 3) + "px" });
                            fitty('.spanNomeGiocatoreLedCentrale', { maxSize: MaxsizeText, multiLine: false });
                            $(".EventiPartitaCentrale").animate({ 'opacity': '1' }, 100)


                            $(".imgSponsorLedCentrale").css(StartPositionImgSponsorLedCentrale).animate(ViewPositionImgSponsorLedCentrale, 200)
                            $(".imgGiocatoreLedCentrale").css(StartPositionImgGiocatoreLedCentrale).animate(ViewPositionImgGiocatoreLedCentrale, 2000).promise().then(function () {

                                $(".imgSquadraLedCentrale").css(StartPositionImgSquadraLedCentrale).animate(ViewPositionImgSquadraLedCentrale, 200).promise().then(function () {
                                    $(".numeroGiocatoreLedCentrale").css(StartPositionNumeroGiocatoreLedCentrale).animate(ViewPositionNumeroGiocatoreLedCentrale, 200).promise().then(function () {

                                        $(".imgAzioneLedCentrale").css(StartPositionImgAzioneLedCentrale).animate(ViewPositionImgAzioneLedCentrale, 200).promise().then(function () {

                                            $(".nomeGiocatoreLedCentrale").css(StartPositionNomeGiocatoreLedCentrale).animate(ViewPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                                StatoAnimazione = "Montato";
                                                BlinkBKT();
                                                setTimeout(function () {
                                                    Animazione.Smonta();

                                                }, 4000);

                                            });
                                        });
                                    });

                                });

                            });


                            /*Laterale*/


                            $(".EventiPartitaLaterale").append("<img class='imgGiocatoreLedLaterale' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");

                            $(".EventiPartitaLaterale").append("<img class='imgSquadraLedLaterale' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                            $(".EventiPartitaLaterale").append("<img class='imgSponsorLedLaterale' src='/img/sponsor/1.png' />");
                            $(".EventiPartitaLaterale").append("<img class='imgAzioneLedLaterale' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");
                            $(".EventiPartitaLaterale").append("<div class='numeroGiocatoreLedLaterale'><span>" + this.Giocatore.nva_Numero + "</span></div>");

                            $(".imgSquadraLedLaterale").css({ "height": (altezza - 3) + "px" });


                            $(".EventiPartitaLaterale").animate({ 'opacity': '1' }, 100)
                            $(".imgGiocatoreLedLaterale").css(StartPositionImgGiocatoreLedLaterale).animate(ViewPositionImgGiocatoreLedLaterale, 2000).promise().then(function () {
                                $(".imgSquadraLedLaterale").css(StartPositionImgSquadraLedLaterale).animate(ViewPositionImgSquadraLedLaterale, 200).promise().then(function () {
                                    $(".numeroGiocatoreLedLaterale").css(StartPositionNumeroGiocatoreLedLaterale).animate(ViewPositionNumeroGiocatoreLedLaterale, 200).promise().then(function () {

                                        $(".imgAzioneLedLaterale").css(StartPositionImgAzioneLedLaterale).animate(ViewPositionImgAzioneLedLaterale, 200).promise().then(function () {
                                            $(".imgSponsorLedLaterale").css(StartPositionImgSponsorLedLaterale).animate(ViewPositionImgSponsorLedLaterale, 200).promise().then(function () {

                                            });
                                        });
                                    });
                                });

                            });


                            break;
                        case 1:

                            if (this.Evento.fk_int_Giocatore > 0) {
                                $(".EventiPartitaCentrale").append("<img class='imgGiocatoreLedCentrale' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");

                                $(".EventiPartitaCentrale").append("<img  class='imgSquadraLedCentrale' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                                $(".EventiPartitaCentrale").append("<img class='imgSponsorLedCentrale' src='/img/sponsor/1.png' />");
                                $(".EventiPartitaCentrale").append("<img class='imgAzioneLedCentrale' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");
                                $(".EventiPartitaCentrale").append("<div class='numeroGiocatoreLedCentrale'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                                $(".EventiPartitaCentrale").append("<div class='nomeGiocatoreLedCentrale'><span class='spanNomeGiocatoreLedCentrale'>" + this.Giocatore.nva_Cognome + "</span></div>");




                                fitty('.spanNomeGiocatoreLedCentrale', { maxSize: MaxsizeText, multiLine: false });

                                $(".EventiPartitaCentrale").animate({ 'opacity': '1' }, 100)
                                $(".imgGiocatoreLedCentrale").css(StartPositionImgGiocatoreLedCentrale).animate(ViewPositionImgGiocatoreLedCentrale, 2000).promise().then(function () {
                                    $(".imgSquadraLedCentrale").css(StartPositionImgSquadraLedCentrale).animate(ViewPositionImgSquadraLedCentrale, 200).promise().then(function () {


                                        $(".numeroGiocatoreLedCentrale").css(StartPositionNumeroGiocatoreLedCentrale).animate(ViewPositionNumeroGiocatoreLedCentrale, 200).promise().then(function () {

                                            $(".imgAzioneLedCentrale").css(StartPositionImgAzioneLedCentrale).animate(ViewPositionImgAzioneLedCentrale, 200).promise().then(function () {
                                                $(".imgSponsorLedCentrale").css(StartPositionImgSponsorLedCentrale).animate(ViewPositionImgSponsorLedCentrale, 200).promise().then(function () {
                                                    $(".nomeGiocatoreLedCentrale").css(StartPositionNomeGiocatoreLedCentrale).animate(ViewPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                                        StatoAnimazione = "Montato";
                                                        BlinkBKT();
                                                        setTimeout(function () {
                                                            Animazione.Smonta();

                                                        }, 4000);

                                                    });
                                                });
                                            });
                                        });
                                    });

                                });



                                /*Laterale*/
                                $(".EventiPartitaLaterale").append("<img  class='imgSquadraLedLaterale' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                                $(".EventiPartitaLaterale").append("<img class='imgSponsorLedLaterale' src='/img/sponsor/1.png' />");
                                $(".EventiPartitaLaterale").append("<img class='imgGiocatoreLedLaterale' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                                $(".EventiPartitaLaterale").append("<img class='imgAzioneLedLaterale' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");
                                $(".EventiPartitaLaterale").append("<div class='numeroGiocatoreLedLaterale'><span>" + this.Giocatore.nva_Numero + "</span></div>");


                                $(".EventiPartitaLaterale").animate({ 'opacity': '1' }, 100)
                                $(".imgGiocatoreLedLaterale").css(StartPositionImgGiocatoreLedLaterale).animate(ViewPositionImgGiocatoreLedLaterale, 2000).promise().then(function () {
                                    $(".imgSquadraLedLaterale").css(StartPositionImgSquadraLedLaterale).animate(ViewPositionImgSquadraLedLaterale, 200).promise().then(function () {
                                        $(".numeroGiocatoreLedLaterale").css(StartPositionNumeroGiocatoreLedLaterale).animate(ViewPositionNumeroGiocatoreLedLaterale, 200).promise().then(function () {

                                            $(".imgAzioneLedLaterale").css(StartPositionImgAzioneLedLaterale).animate(ViewPositionImgAzioneLedLaterale, 200).promise().then(function () {
                                                //$(".imgSponsorLedLaterale").css(StartPositionImgSponsorLedLaterale).animate(ViewPositionImgSponsorLedLaterale, 200).promise().then(function () {

                                                //});
                                            });
                                        });
                                    });

                                });



                            } else {
                                $(".EventiPartitaCentrale").append("<img  class='imgSquadraLedCentrale' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                                $(".EventiPartitaCentrale").append("<img class='imgSponsorLedCentrale' src='/img/sponsor/1.png' />");
                                $(".EventiPartitaCentrale").append("<img class='imgAzioneLedCentrale' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");
                                $(".EventiPartitaCentrale").append("<div class='nomeGiocatoreLedCentrale'><span class='spanNomeGiocatoreLedCentrale'>GOAL!</span></div>");

                                fitty('.spanNomeGiocatoreLedCentrale', { maxSize: MaxsizeText, multiLine: false });

                                $(".EventiPartitaCentrale").animate({ 'opacity': '1' }, 100)
                                $(".imgSquadraLedCentrale").css(StartPositionImgSquadraLedCentrale).animate(ViewPositionImgSquadraLedCentrale, 200).promise().then(function () {
                                    $(".imgAzioneLedCentrale").css(StartPositionImgAzioneLedCentrale).animate(ViewPositionImgAzioneLedCentrale, 200).promise().then(function () {
                                        $(".imgSponsorLedCentrale").css(StartPositionImgSponsorLedCentrale).animate(ViewPositionImgSponsorLedCentrale, 200).promise().then(function () {
                                            $(".nomeGiocatoreLedCentrale").css(StartPositionNomeGiocatoreLedCentrale).animate(ViewPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                                StatoAnimazione = "Montato";
                                                BlinkBKT();
                                                setTimeout(function () {
                                                    Animazione.Smonta();

                                                }, 4000);

                                            });
                                        });
                                    });
                                });


                                /*Laterale */
                                $(".EventiPartitaLaterale").append("<img  class='imgSquadraLedLaterale' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                                $(".EventiPartitaLaterale").append("<img class='imgSponsorLedLaterale' src='/img/sponsor/1.png' />");
                                $(".EventiPartitaLaterale").append("<img class='imgAzioneLedLaterale' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");


                                $(".EventiPartitaLaterale").animate({ 'opacity': '1' }, 100)
                                $(".imgSquadraLedLaterale").css(StartPositionImgSquadraLedLaterale).animate(ViewPositionImgSquadraLedLaterale, 200).promise().then(function () {

                                    $(".imgAzioneLedLaterale").css(StartPositionImgAzioneLedLaterale).animate(ViewPositionImgAzioneLedLaterale, 200).promise().then(function () {
                                        //$(".imgSponsorLedLaterale").css(StartPositionImgSponsorLedLaterale).animate(ViewPositionImgSponsorLedLaterale, 200).promise().then(function () {

                                        //});
                                    });
                                });


                            }
                            break;
                    }


                } else {
                    ////////////console.log("attendi la coda caro!");
                }
            }

            Smonta() {
                ////////////console.log("smonto!");
                if (StatoAnimazione == "Montato") {
                    StatoAnimazione = "Smontaggio";


                    //ammonizione ed espulsione
                    switch (this.Evento.fk_int_TipoEventoMatch) {
                        case 4: //caso della sostituzione
                            $(".imgGiocatoreSecondarioLedCentrale").animate(EndPositionImgGiocatoreLedCentrale, 200).promise().then(function () {
                                $(".imgSquadraLedCentrale").animate(EndPositionImgSquadraLedCentrale, 200).promise().then(function () {
                                    $(".numeroGiocatoreSecondarioLedCentrale").animate(EndPositionNumeroGiocatoreLedCentrale, 200).promise().then(function () {
                                        $(".imgAzioneEntraLedCentrale").animate(EndPositionImgAzioneEntraLedCentrale, 200).promise().then(function () {
                                            $(".nomeGiocatoreSecondarioLedCentrale").animate(EndPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                                $(".imgSponsorLedCentrale").animate({ EndPositionImgSponsorLedCentrale }, 200).promise().then(function () {
                                                    ParteFinaleSmontoLedCentrale()
                                                });
                                            });
                                        });
                                    });
                                });
                            });

                            /*Laterale*/

                            $(".imgGiocatoreSecondarioLedLaterale").animate(EndPositionImgGiocatoreLedLaterale, 200).promise().then(function () {
                                $(".imgSquadraLedLaterale").animate(EndPositionImgSquadraLedLaterale, 200).promise().then(function () {
                                    $(".numeroGiocatoreSecondarioLedLaterale").animate(EndPositionNumeroGiocatoreLedLaterale, 200).promise().then(function () {
                                        $(".imgAzioneEntraLedLaterale").animate(EndPositionImgAzioneEntraLedLaterale, 200).promise().then(function () {
                                            $(".imgSponsorLedLaterale").animate({ EndPositionImgSponsorLedLaterale }, 200).promise().then(function () {
                                                ParteFinaleSmontoLedLaterale()
                                            });
                                        });
                                    });
                                });
                            });





                            break;
                        case 2:
                        case 3:

                            $(".imgGiocatoreLedCentrale").animate(EndPositionImgGiocatoreLedCentrale, 200).promise().then(function () {
                                $(".imgSquadraLedCentrale").animate(EndPositionImgSquadraLedCentrale, 200).promise().then(function () {
                                    $(".numeroGiocatoreLedCentrale").animate(EndPositionNumeroGiocatoreLedCentrale, 200).promise().then(function () {
                                        $(".imgAzioneLedCentrale").animate(EndPositionImgAzioneLedCentrale, 200).promise().then(function () {
                                            $(".nomeGiocatoreLedCentrale").animate(EndPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                                $(".imgSponsorLedCentrale").animate({ EndPositionImgSponsorLedCentrale }, 200).promise().then(function () {
                                                    ParteFinaleSmontoLedCentrale()
                                                });
                                            });
                                        });
                                    });
                                });
                            });

                            /*laterale*/

                            $(".imgGiocatoreLedLaterale").animate(EndPositionImgGiocatoreLedLaterale, 200).promise().then(function () {
                                $(".imgSquadraLedLaterale").animate(EndPositionImgSquadraLedLaterale, 200).promise().then(function () {
                                    $(".numeroGiocatoreLedLaterale").animate(EndPositionNumeroGiocatoreLedLaterale, 200).promise().then(function () {
                                        $(".imgAzioneLedLaterale").animate(EndPositionImgAzioneLedLaterale, 200).promise().then(function () {

                                            $(".imgSponsorLedLaterale").animate({ EndPositionImgSponsorLedLaterale }, 200).promise().then(function () {
                                                ParteFinaleSmontoLedLaterale()
                                            });
                                        });

                                    });
                                });
                            });



                            break;
                        case 1:
                            if (this.Evento.fk_int_Giocatore > 0) {

                                $(".imgGiocatoreLedCentrale").animate(EndPositionImgGiocatoreLedCentrale, 200).promise().then(function () {
                                    $(".imgSquadraLedCentrale").animate(EndPositionImgSquadraLedCentrale, 200).promise().then(function () {
                                        $(".numeroGiocatoreLedCentrale").animate(EndPositionNumeroGiocatoreLedCentrale, 200).promise().then(function () {
                                            $(".imgAzioneLedCentrale").animate(EndPositionImgAzioneLedCentrale, 200).promise().then(function () {
                                                $(".nomeGiocatoreLedCentrale").animate(EndPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                                    $(".imgSponsorLedCentrale").animate({ EndPositionImgSponsorLedCentrale }, 200).promise().then(function () {
                                                        ParteFinaleSmontoLedCentrale()

                                                    });
                                                });
                                            });
                                        });
                                    });
                                });



                                /*Laterale*/


                                $(".imgGiocatoreLedLaterale").animate(EndPositionImgGiocatoreLedLaterale, 200).promise().then(function () {
                                    $(".imgSquadraLedLaterale").animate(EndPositionImgSquadraLedLaterale, 200).promise().then(function () {
                                        $(".numeroGiocatoreLedLaterale").animate(EndPositionNumeroGiocatoreLedLaterale, 200).promise().then(function () {
                                            $(".imgAzioneLedLaterale").animate(EndPositionImgAzioneLedLaterale, 200).promise().then(function () {

                                                $(".imgSponsorLedLaterale").animate({ EndPositionImgSponsorLedLaterale }, 200).promise().then(function () {
                                                    ParteFinaleSmontoLedLaterale()

                                                });

                                            });
                                        });
                                    });
                                });



                            } else {
                                $(".imgSquadraLedCentrale").animate(EndPositionImgSquadraLedCentrale, 200).promise().then(function () {
                                    $(".imgAzioneLedCentrale").animate(EndPositionImgAzioneLedCentrale, 200).promise().then(function () {
                                        $(".nomeGiocatoreLedCentrale").animate(EndPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                            $(".imgSponsorLedCentrale").animate({ EndPositionImgSponsorLedCentrale }, 200).promise().then(function () {
                                                ParteFinaleSmontoLedCentrale()

                                            });
                                        });
                                    });
                                });


                                /*Laterale*/
                                $(".imgSquadraLedLaterale").animate(EndPositionImgSquadraLedLaterale, 200).promise().then(function () {
                                    $(".imgAzioneLedLaterale").animate(EndPositionImgAzioneLedLaterale, 200).promise().then(function () {

                                        $(".imgSponsorLedLaterale").animate({ EndPositionImgSponsorLedLaterale }, 200).promise().then(function () {
                                            ParteFinaleSmontoLedLaterale()

                                        });

                                    });
                                });
                            }
                            break;
                    }




                }
            }


            Proporziona(dato) {
                if (altezza == 90) {
                    return dato
                }
            }
        }




        var Animazione = new clsAnimazione();

        function Anima(g) {
            //console.log("Anima(g)")

            if (g != undefined) {
                console.log("(g != undefined)")
                codaAnimazione.push(g);
            }

            if (codaAnimazione.length > 0 && StatoAnimazione == 'Smontato') {
                console.log("(codaAnimazione.length > 0 && StatoAnimazione == 'Smontato')")
                Animazione.Monta(codaAnimazione[0]);

                codaAnimazione.shift();

            }



        }



        function BlinkElemento(Elemento, Ripetizioni) {
            var count = 1;
            var intervalId = setInterval(function () {
                if (Elemento.css('visibility') == 'hidden') {
                    Elemento.css('visibility', 'visible');
                    if (count++ === Ripetizioni) {
                        clearInterval(intervalId);
                    }
                } else {
                    Elemento.css('visibility', 'hidden');
                }
            }, 50);
        };


        function BlinkBKT() {
            var elem = $(".imgSponsorLedCentrale");
            // count the blinks
            var count = 1;
            var intervalId = setInterval(function () {
                if (elem.css('visibility') == 'hidden') {
                    elem.css('visibility', 'visible');
                    // increment counter when showing to count # of blinks and stop when visible
                    if (count++ === 5) {
                        clearInterval(intervalId);
                    }
                } else {
                    elem.css('visibility', 'hidden');
                }
            }, 50);
        };

        function ParteFinaleSmontoLedCentrale() {


            if (codaAnimazione.length == 0) {
                $(".EventiPartitaCentrale").animate({ 'opacity': '0' }, 200).promise().then(function () {
                    $(".EventiPartitaCentrale").empty();
                    StatoAnimazione = "Smontato";
                    Anima();
                })
            } else {
                $(".EventiPartitaCentrale").empty();
                StatoAnimazione = "Smontato";
                Anima();
            }


        }

        function ParteFinaleSmontoLedLaterale() {


            if (codaAnimazione.length == 0) {
                $(".EventiPartitaLaterale").animate({ 'opacity': '0' }, 200).promise().then(function () {
                    $(".EventiPartitaLaterale").empty();

                })
            } else {
                $(".EventiPartitaLaterale").empty();

            }


        }

    </script>


    <script>

        $(document).ready(function () {


            GetSelected("tb_Match");
            GetSelected("tb_Playlist");

            if (SettingGlobalVars["tb_Match"] != undefined) {
                PopolaSettingMatch();
                InizializzaMatch();
            }

            // PreloadingScene()
            TieniIlTempo();


            (function repeat() {
                GetDatiFromUiToPlayer();
                console.log("-");
                timerScambioDati = setTimeout(repeat, periodoScambioDati);
            })();

    

         setInterval(function () { tickTimer(); }, 1000);

     
        });


    </script>


    <script type="text/javascript">
        'use strict';
        /*

         ██╗███╗   ██╗██╗███████╗██╗ █████╗ ██╗     ██╗███████╗███████╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
         ██║████╗  ██║██║╚══███╔╝██║██╔══██╗██║     ██║╚══███╔╝╚══███╔╝██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
         ██║██╔██╗ ██║██║  ███╔╝ ██║███████║██║     ██║  ███╔╝   ███╔╝ ███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
         ██║██║╚██╗██║██║ ███╔╝  ██║██╔══██║██║     ██║ ███╔╝   ███╔╝  ██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
         ██║██║ ╚████║██║███████╗██║██║  ██║███████╗██║███████╗███████╗██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
         ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

         ███╗   ███╗ █████╗ ████████╗ ██████╗██╗  ██╗
         ████╗ ████║██╔══██╗╚══██╔══╝██╔════╝██║  ██║
         ██╔████╔██║███████║   ██║   ██║     ███████║
         ██║╚██╔╝██║██╔══██║   ██║   ██║     ██╔══██║
         ██║ ╚═╝ ██║██║  ██║   ██║   ╚██████╗██║  ██║
         ╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝    ╚═════╝╚═╝  ╚═╝

        Font Name: ANSI Shadow
         */

        function InizializzaMatch() {
            console.log("InizializzaMatch");
            altezza = SettingMatch["int_AltezzaLedPrimaFila"];
            //    caricaStile(altezza);
            PopolaCostantiAnimazione(altezza);
            PopolaSpotLega();
            ////////////console.log("ciao");
            CambiaPunteggio({ "casa": 0, "ospiti": 0 });
        }



    </script>



    <script>
        /*

         ██████╗ █████╗ ██████╗ ██╗ ██████╗ █████╗ ███╗   ███╗███████╗███╗   ██╗████████╗ ██████╗
        ██╔════╝██╔══██╗██╔══██╗██║██╔════╝██╔══██╗████╗ ████║██╔════╝████╗  ██║╚══██╔══╝██╔═══██╗
        ██║     ███████║██████╔╝██║██║     ███████║██╔████╔██║█████╗  ██╔██╗ ██║   ██║   ██║   ██║
        ██║     ██╔══██║██╔══██╗██║██║     ██╔══██║██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║   ██║   ██║
        ╚██████╗██║  ██║██║  ██║██║╚██████╗██║  ██║██║ ╚═╝ ██║███████╗██║ ╚████║   ██║   ╚██████╔╝
         ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝ ╚═════╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝    ╚═════╝

        ██████╗ ██╗      █████╗ ██╗   ██╗██╗     ██╗███████╗████████╗
        ██╔══██╗██║     ██╔══██╗╚██╗ ██╔╝██║     ██║██╔════╝╚══██╔══╝
        ██████╔╝██║     ███████║ ╚████╔╝ ██║     ██║███████╗   ██║
        ██╔═══╝ ██║     ██╔══██║  ╚██╔╝  ██║     ██║╚════██║   ██║
        ██║     ███████╗██║  ██║   ██║   ███████╗██║███████║   ██║
        ╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝╚══════╝   ╚═╝

        */

        function PreloadPeriodo(fk_int_Periodo) {

            console.log("PreloadingSceneSpeciali");
            $.ajax({
                url: "/Ajax/GetListaScenePreloadLed?fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"] + "&fk_int_Periodo=" + fk_int_Periodo,
                async: false
            }).done(function (data) {
                PreloadingSceneLed(data)
                SetDatiFromPlayerToUi(CostruisciMessaggio("$('.idPeriodo_" + fk_int_Periodo + "').removeClass('btn-danger').addClass('btn-warning');"));
                setTimeout(function () {
                    SetDatiFromPlayerToUi(CostruisciMessaggio("$('.idPeriodo_" + fk_int_Periodo + "').removeClass('btn-warning').addClass('btn-success');"));
                }, 5000);
            });
        }




        function PreloadTipoPeriodo(fk_int_TipoPeriodo) {
            console.log("PreloadingSceneSpeciali");
            $.ajax({
                url: "/Ajax/GetListaScenePreloadLed?fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"] + "&fk_int_TipoPeriodo=" + fk_int_TipoPeriodo,
                async: false
            }).done(function (data) {
                PreloadingSceneLed(data)
            });
        }



        //function PreloadingScene() {
        //    console.log("PreloadingSceneSpeciali");
        //    $.ajax({
        //        url: "/Ajax/GetListaScenePreloadLed?fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"],
        //        async: false
        //    }).done(function (data) {
        //        console.log(data)

        //       PreloadingSceneLed(JSON.parse(data))
        //    });

        //}

        function PreloadingSceneLed(ArrScene) {
            console.log("+++++++++++++++++++++++++++++++++++++")
            console.log(ArrScene)
            console.log("-------------------------------------------")
            let as = JSON.parse(ArrScene)

            $.each(as, function (i, g) {
                SetDatiFromPlayerToUi(CostruisciMessaggio("$('.sid_" + g.sid + "').removeClass('btn-danger').addClass('btn-warning');"));
                caricaScenaLed(g);
                SetDatiFromPlayerToUi(CostruisciMessaggio("$('.sid_" + g.sid + "').removeClass('btn-warning').addClass('btn-success');"));
            });
        }

        function caricaScenaLed(objScena) {
           
            if (objScena != undefined) {
                console.log("objScena != undefined");
                if (!$("#scenaLed_" + objScena.sid).length) {
                    $("#CanvasVideoLed").append("<div data-sid='" + objScena.sid + "' ID='scenaLed_" + objScena.sid + "' class='scenaLed'   ></div>");
                    $("#scenaLed_" + objScena.sid).css({ "zIndex": "1", "visibility": "hidden" });
                    $.ajax({
                        url: "/AcquisizioneSceneLed/GetContenutiSceneLed",
                        data: "fk_int_Scena=" + objScena.sid
                    }).done(function (data) {
                        // console.log(data)
                        caricamentoScaglionatoVideoLed(JSON.parse(data), objScena);
                    });
                }
            } else {
                console.log("objScena = undefined");
            }
        }



        function caricamentoScaglionatoVideoLed(ListaVideo, objScena) {
            incrementaleTemporizzazioneCaricamento = 0;
            ScriviLog("carico scena " + objScena.sid);
            $.each(ListaVideo, function (index, val) {
                incrementaleTemporizzazioneCaricamento = incrementaleTemporizzazioneCaricamento + 1;
                //if (incrementaleTemporizzazioneCaricamento < 5) {
                    setTimeout(function () {
                        $("#scenaLed_" + objScena.sid).append('<video muted width="' + val.int_W + '" height="' + val.int_H + '" style="margin-left:' + val.int_MarginL + 'px; margin-top:' + val.int_MarginT + 'px;" control><source src="' + val.nva_PahtFile + '" /></video>');
                    }, 200 + (incrementaleTemporizzazioneCaricamento * 100));
                //}
            });
        }






        /*

        ████████╗███████╗███╗   ███╗██████╗  ██████╗ ██████╗ ██╗███████╗███████╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
        ╚══██╔══╝██╔════╝████╗ ████║██╔══██╗██╔═══██╗██╔══██╗██║╚══███╔╝╚══███╔╝██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
           ██║   █████╗  ██╔████╔██║██████╔╝██║   ██║██████╔╝██║  ███╔╝   ███╔╝ ███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
           ██║   ██╔══╝  ██║╚██╔╝██║██╔═══╝ ██║   ██║██╔══██╗██║ ███╔╝   ███╔╝  ██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
           ██║   ███████╗██║ ╚═╝ ██║██║     ╚██████╔╝██║  ██║██║███████╗███████╗██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
           ╚═╝   ╚══════╝╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
        */

        var ArrSceneLedFuturo = [];

        var attendi = 0;
        /**************** temporizzatore generale ************/
        var UnloadScena = true;
        var ScenaSuccessivaLed = {};
        function TieniIlTempo() {
           
            setInterval(function () {
                int_IsScenaInterrotta = 0;
               // UnloadScena = true;
                var dataTime = new Date();
                var dataoraact = dataTime.getTime();


                if (ArrSceneLedFuturo != ArrSceneLed) {
                    ArrSceneLed = ArrSceneLedFuturo;

                    let ArrFiltroSuccessivoNuove = ArrSceneLed.filter(element => element.start >= dataoraact).slice(0);

                    caricaScenaLed(ArrFiltroSuccessivoNuove[0]);
                    if (ArrFiltroSuccessivoNuove.length > 1) {
                        caricaScenaLed(ArrFiltroSuccessivoNuove[1]);
                    }
                }

           

                //filtro gli elementi controllando se esiste un elemento la cui data di inizio assoluta è minore di adesso e la data di fine è maggiore.
                //let ArrFiltro = ArrSceneLed.filter(element => element.start <= dataoraact && element.stop > dataoraact && element.sid != ScenaRiprodottaLed.sid);
                let ArrFiltro = ArrSceneLed.filter(element => element.start <= dataoraact && element.stop > dataoraact && element.sid != ScenaRiprodottaLed.sid);
                if (ArrFiltro.length > 0) {
             
                    console.log("int_IsScenaInterrotta");
                    console.log(int_IsScenaInterrotta);
                    let StrigaQuery = "";
                    let ScenaOldLed = ScenaRiprodottaLed;
                    ScenaRiprodottaLed = ArrFiltro[0];
                    //filtro gli elementi controllando se esiste un elemento la cui data di inizio assoluta è minore o uguale alla ScenaRiprodottaLed.stop  .

                    let ArrFiltroSuccessivo = ArrSceneLed.filter(element => element.start >= ScenaRiprodottaLed.stop).slice(0);


           
                    if (ScenaOldLed.sid > 0) {
                        $("#scenaLed_" + ScenaOldLed.sid).css({ "zIndex": "9", "visibility": "visible" });
                        console.log("ScenaOldLed.sid > 0");
                        StrigaQuery = StrigaQuery+"&id_int_SceneRiproduzioniLed_fine=" + ScenaOldLed.id;
                    } 

         
                    //StrigaQuery = StrigaQuery + "&int_IsScenaInterrotta="+int_IsScenaInterrotta;
                    

                    $("#scenaLed_" + ScenaRiprodottaLed.sid).css({ "zIndex": "10", "visibility": "visible" });
                    console.log("faccio partire la scena " + ScenaRiprodottaLed.sid+" da qui");
                    riproduciScenaLed(ScenaRiprodottaLed);
                    StrigaQuery =StrigaQuery+ "&id_int_SceneRiproduzioniLed_inizio=" + ScenaRiprodottaLed.id;

                   // ScenaSuccessivaLed = {}; 
                    if (ArrFiltroSuccessivo.length > 0) {
                        console.log("ArrFiltroSuccessivo:");
                        console.log(ArrFiltroSuccessivo);
                        ScenaSuccessivaLed = ArrFiltroSuccessivo[0];
                      //  $("#scenaLed_" + ScenaSuccessivaLed.sid).css({ "visibility": "visible" });
                       
                        console.log("ArrFiltroSuccessivo.length > 0");

                    }
                    /*
                    else {
                        StrigaQuery = StrigaQuery + "&id_int_SceneRiproduzioniLed_ultimo=" + ScenaRiprodottaLed.id;
                    }
                    */




                    setTimeout(function () {
                        if (ScenaOldLed.sid > 0) {
                            FermaTuttiIVideoDentroElementoLed(ScenaOldLed.sid);
                            $("#scenaLed_" + ScenaOldLed.sid).css({ "visibility": "hidden" });
                            if (UnloadScena) {
                                $("#scenaLed_" + ScenaOldLed.sid).remove();
                            }
                            console.log("Rimuovo la ScenaOldLed in quanto non mi serve più");
                        }


                        if (ArrFiltroSuccessivo.length > 0) {
                            caricaScenaLed(ScenaSuccessivaLed);
                            console.log("carico la scena successiva");
                              if (ArrFiltroSuccessivo.length > 1) {
                                    caricaScenaLed(ArrFiltroSuccessivo[1]);
                                }
                        } else {
                            console.log("carico provvedo ad inviare un segnale al server chiedendo istruzioni su cosa riprodurre nella scena successiva");
                        }
                        //console.log("int_IsFromPlayer=1&int_DataOraJavascript="+dataoraact+""+StrigaQuery)

                        $.ajax({
                            url: "/Ajax/sp_GestisciRiproduzioneLed",
                            data: "int_IsFromPlayer=1&int_DataOraJavascript="+dataoraact+""+StrigaQuery
                        }).done(function (data) {
                            console.log(data);
                        });

                    }, 100);

                }

            }, 50);

        }



     
        /*
        INIZIO Aggiornamento Timeline
        */



        function AggiornaTimelineLed(Stringa,IstanteRichiestaEvento,SkipTo,fk_int_Periodo) {

       
            PulisciERipristinaTimer(fk_int_Periodo);
            ArrSceneLedFuturo = JSON.parse(Stringa);
            AvanzaOrologio = 1;

        }


        function AggiornaTimelineMaxischermo(Stringa) {
            ArrSceneMaxischermo = JSON.parse(Stringa);
        }



        function riproduciScenaLed(objScena) {
            $("#scenaLed_" + objScena.sid).children('video').each(function () {
                if (objScena.skipto > 0) {
                    console.log(objScena.skipto);
                    this.currentTime = (objScena.skipto / 1000);
                }
                this.play();
            });
        }



        function FermaTuttiIVideoDentroElementoLed(ID) {

            try {
                $("#scenaLed_" + ID).children('video').each(function () {
                    this.pause();
                    this.currentTime = 0;
                });
            }
            catch (err) {
            }
        }






        /*

         ██████╗ ██████╗  ██████╗ ██╗      ██████╗  ██████╗ ██╗ ██████╗     ██████╗  █████╗ ██████╗ ████████╗██╗████████╗ █████╗
        ██╔═══██╗██╔══██╗██╔═══██╗██║     ██╔═══██╗██╔════╝ ██║██╔═══██╗    ██╔══██╗██╔══██╗██╔══██╗╚══██╔══╝██║╚══██╔══╝██╔══██╗
        ██║   ██║██████╔╝██║   ██║██║     ██║   ██║██║  ███╗██║██║   ██║    ██████╔╝███████║██████╔╝   ██║   ██║   ██║   ███████║
        ██║   ██║██╔══██╗██║   ██║██║     ██║   ██║██║   ██║██║██║   ██║    ██╔═══╝ ██╔══██║██╔══██╗   ██║   ██║   ██║   ██╔══██║
        ╚██████╔╝██║  ██║╚██████╔╝███████╗╚██████╔╝╚██████╔╝██║╚██████╔╝    ██║     ██║  ██║██║  ██║   ██║   ██║   ██║   ██║  ██║
         ╚═════╝ ╚═╝  ╚═╝ ╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝ ╚═════╝     ╚═╝     ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝   ╚═╝   ╚═╝  ╚═╝

        */

        function PulisciERipristinaTimer(IDperiodo) {

            $("#CanvasClockScore>.TimerLed").empty();
            switch (altezza) {
                case 48:


                    $("#CanvasClockScore>.TimerLed").html("<div class='LogoTimerLed'><img src='/img/logo.png' style=' width:89px; margin-top:3px;'  /></div>");

                    break;
               case 90:


                    $("#CanvasClockScore>.TimerLed").html("<div class='LogoTimerLed'><img src='/img/logo.png' style=' width:89px; margin-top:3px;'  /></div>");

                break;
            }


          
            switch (IDperiodo) {
                case 3:
                case 6:
                    $(".TimerLed").append("<div class='TempoOrologioLed'>00:00</div>")
                    TimerStart = new Date();
                    MinutiRecupero = 0;
                    AvanzaOrologio = 1;
                break;

                case 4:
                case 7:
                    AvanzaOrologio = 0;
                    if (MinutiRecupero > 0) {
                        $(".TimerLed").append("<div class='TempoOrologioLed'>45:00+" + MinutiRecupero + "</div>")
                    } else {
                        $(".TimerLed").append("<div class='TempoOrologioLed'>45:00</div>")

                    }
                    break
                case 5:
                    AvanzaOrologio = 0;
                    if (MinutiRecupero > 0) {
                        $(".TimerLed").append("<div class='TempoOrologioLed'>45:00+" + MinutiRecupero + "</div>")
                    } else {
                        $(".TimerLed").append("<div class='TempoOrologioLed'>45:00</div>")

                    }
                break
                case 9:
                    AvanzaOrologio = 0;
                    if (MinutiRecupero > 0) {
                        $(".TimerLed").append("<div class='TempoOrologioLed'>90:00+" + MinutiRecupero + "</div>")
                    } else {
                        $(".TimerLed").append("<div class='TempoOrologioLed'>90:00</div>")

                    }
                break

                default:
                    AvanzaOrologio = 0;
                    $(".TimerLed").append("<div class='TempoOrologioLed'>00:00</div>")

                break;
            }

        }



        function tickTimer() {
            RotazioneCampoSpotLega();

              $.ajax({
                url: "/Ajax/sp_GetStatoAct",
                
            }).done(function (data) {
                if (data != "") {
                   // console.log(data);
                    data = JSON.parse(data);

                    data = data[0];

                    //console.log(data);
                    IstanteInizioAvvioRiproduzione = data.int_StartPlayng;
                    fk_int_PeriodoAttivo = data.id;
                    ApplicaRecupero(data.int_MinutiRecupero)

                }
            });


            if (AvanzaOrologio == 1) {
       

                var d = new Date();
                var secondsSpan = ((d.getTime() - IstanteInizioAvvioRiproduzione)) / 1000;
                var minutes = Math.floor(secondsSpan / 60)
                var seconds = Math.floor(secondsSpan % 60)

                if ((minutes > 45) && (seconds > 0)) {
                    $(".TempoOrologioLed").html("45:00");
                } else {

                    $(".TempoOrologioLed").html(pad(minutes, 2) + ":" + pad(seconds, 2));
                }



            }
        }


        function offsetTempo(qta) {
            TimerStart.setTime(TimerStart.getTime() + (qta * 1000));

        }

        function ApplicaRecupero(minuti) {
            if (MinutiRecupero != minuti) {
                MinutiRecupero = minuti
                switch (ScenaRiprodottaLed.iper) {
                    case 4:
                        if (MinutiRecupero > 0) {
                            $(".tempoOrologioLed").html("45:00+" + MinutiRecupero)
                        } else {
                            $(".tempoOrologioLed").html("45:00")
                        }
                        break
                    case 7:
                        if (MinutiRecupero > 0) {
                            $(".tempoOrologioLed").html("90:00+" + MinutiRecupero)
                        } else {
                            $(".tempoOrologioLed").html("90:00")

                        }
                        break
                }
            }
        }




    </script>

    <script type="text/javascript">
        'use strict';

        /*
        ██████╗ ██╗   ██╗███╗   ██╗████████╗███████╗ ██████╗  ██████╗ ██╗ ██████╗
        ██╔══██╗██║   ██║████╗  ██║╚══██╔══╝██╔════╝██╔════╝ ██╔════╝ ██║██╔═══██╗
        ██████╔╝██║   ██║██╔██╗ ██║   ██║   █████╗  ██║  ███╗██║  ███╗██║██║   ██║
        ██╔═══╝ ██║   ██║██║╚██╗██║   ██║   ██╔══╝  ██║   ██║██║   ██║██║██║   ██║
        ██║     ╚██████╔╝██║ ╚████║   ██║   ███████╗╚██████╔╝╚██████╔╝██║╚██████╔╝
        ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝ ╚═════╝

         ██████╗ ██████╗  ██████╗ ██╗      ██████╗  ██████╗ ██╗ ██████╗
        ██╔═══██╗██╔══██╗██╔═══██╗██║     ██╔═══██╗██╔════╝ ██║██╔═══██╗
        ██║   ██║██████╔╝██║   ██║██║     ██║   ██║██║  ███╗██║██║   ██║
        ██║   ██║██╔══██╗██║   ██║██║     ██║   ██║██║   ██║██║██║   ██║
        ╚██████╔╝██║  ██║╚██████╔╝███████╗╚██████╔╝╚██████╔╝██║╚██████╔╝
         ╚═════╝ ╚═╝  ╚═╝ ╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝ ╚═════╝

        Font Name: ANSI Shadow
         */



        function PopolaSpotLega() {
            $(".SerieBKTLedCentrale").html("");
            $(".PunteggioLedLaterale").html("");
            $(".PunteggioLedCentrale").html("");
            $(".PunteggioLedLaterale").css("background-color", "#003524;");
            $(".PunteggioLedCentrale").css("background-color", "#003524;");
            $(".SerieBKTLedCentrale").css("background-color", "#003524;");
            console.log("PopolaSpotLega");

            // $(".PunteggioLedCentrale").append("<div class='DivPunteggioLedCentrale' ></div>")


            $(".SerieBKTLedCentrale").append("<img src='/img/seriebkt_centrale.png' />");




            $(".PunteggioLedCentrale").append("<div class='DivImgSquadraCasaLedCentrale'><img src='/img/squadre/" + SettingMatch.fk_int_SquadraCasa + ".png'  class='ImgSquadraCasaLedCentrale'  /></div>");
            $(".PunteggioLedCentrale").append("<div class='DivImgSquadraOspiteLedCentrale'><img src='/img/squadre/" + SettingMatch.fk_int_SquadraOspite + ".png'  class='ImgSquadraOspiteLedCentrale'  /></div>");
            $(".PunteggioLedCentrale").append("<div class='DivTxtPunteggioCentrale'><p class='TxtPunteggio TxtPunteggioCentrale'>0-0</p></div>");


            $(".PunteggioLedLaterale").append("<div class='DivPunteggioLedLaterale' ></div>")
            $(".PunteggioLedLaterale").append("<div class='DivRispettoLedLaterale' ><video muted control><source src='/VIDEO/RISPETTO_15S_H" + altezza + ".MP4' type='video/mp4'></video></div>")


            $(".DivPunteggioLedLaterale").append("<div class='DivImgSquadraCasaLedLaterale'><img src='/img/squadre/" + SettingMatch.fk_int_SquadraCasa + ".png'  class='ImgSquadraCasaLedLaterale'  /></div>");
            $(".DivPunteggioLedLaterale").append("<div class='DivImgSquadraOspiteLedLaterale'><img src='/img/squadre/" + SettingMatch.fk_int_SquadraOspite + ".png'  class='ImgSquadraOspiteLedLaterale'  /></div>");
            $(".DivPunteggioLedLaterale").append("<div class='DivTxtPunteggioLaterale'><p class='TxtPunteggio TxtPunteggioLaterale'>0-0</p></div>");



            $(".PunteggioLedLaterale").children().hide();

            $(".PunteggioLedCentrale").show();
            //  $("#CanvasLuminosita").hide();
            if (SettingMatch.fk_int_SquadraCasa != undefined && SettingMatch.fk_int_SquadraOspite != undefined) {
                $(".img_punteggioCasa").attr('src', "/img/squadre/" + SettingMatch.fk_int_SquadraCasa + ".png");
                $(".img_punteggioOspiti").attr('src', "/img/squadre/" + SettingMatch.fk_int_SquadraOspite + ".png");
                $("#CanvasClockScore").css("visibility", "visible");
            } else {
                ////////////console.log("PopolaLoghiSquadre non fattibile");
            }

        }

        var TempoSpotLega = 0


        function RotazioneCampoSpotLega() {



            if (TempoSpotLega == 0) {
                $(".DivRispettoLedLaterale").find('video').each(function () {
                    this.pause();
                    this.currentTime = 0;

                });
                $(".PunteggioLedLaterale").children().slideUp(500);
                $(".DivPunteggioLedLaterale").slideDown(500);


            }

            if (TempoSpotLega == 15) {
                $(".PunteggioLedLaterale").children().slideUp(500);
                $(".DivRispettoLedLaterale").slideDown(500, function () {
                    $(".DivRispettoLedLaterale").find('video').each(function () {
                        this.pause();
                        this.currentTime = 0;
                        this.play();
                    });
                });


            }




            TempoSpotLega = TempoSpotLega + 1;
            if (TempoSpotLega > 30) {

                TempoSpotLega = 0;
            }
        }









        //      $(".EventiPartitaCentrale").append("<img  class='imgSquadraLedCentrale' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
        //      $(".EventiPartitaCentrale").append("<img class='imgSponsorLedCentrale' src='/img/sponsor/1.png' />");
        //      $(".EventiPartitaCentrale").append("<img class='imgAzioneLedCentrale' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");
        //      $(".EventiPartitaCentrale").append("<div class='nomeGiocatoreLedCentrale'><span class='spanNomeGiocatoreLedCentrale'>GOAL!</span></div>");

        //      fitty('.spanNomeGiocatoreLedCentrale', { maxSize: MaxsizeText, multiLine: false });

        //                       $(".EventiPartitaCentrale").animate({ 'opacity': '1' }, 100)
        //                       $(".imgSquadraLedCentrale").css(StartPositionImgSquadraLedCentrale).animate(ViewPositionImgSquadraLedCentrale, 200).promise().then(function () {
        //                           $(".imgAzioneLedCentrale").css(StartPositionImgAzioneLedCentrale).animate(ViewPositionImgAzioneLedCentrale, 200).promise().then(function () {
        //                               $(".imgSponsorLedCentrale").css(StartPositionImgSponsorLedCentrale).animate(ViewPositionImgSponsorLedCentrale, 200).promise().then(function () {
        //                                   $(".nomeGiocatoreLedCentrale").css(StartPositionNomeGiocatoreLedCentrale).animate(ViewPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
        //                                       StatoAnimazione = "Montato";
        //                                       BlinkBKT();
        //                                       setTimeout(function () {
        //                                           Animazione.Smonta();

        //                                       }, 4000);

        //                                   });
        //                               });
        //                           });
        //                       });





        function CambiaPunteggio(objPunteggio) {
            //objPunteggio = JSON.parse(objPunteggio);

            if ((SettingMatch.fk_int_SquadraCasa != undefined && SettingMatch.fk_int_SquadraOspite != undefined)) {

                var StringaPunteggio = objPunteggio["casa"] + "-" + objPunteggio["ospiti"];

                $(".TxtPunteggio").text(StringaPunteggio);
                //if (StringaPunteggio.length > 5) {
                //    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "10px" })
                //} else if (StringaPunteggio.length > 4) {
                //    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "70px" })
                //} else if (StringaPunteggio.length > 3) {
                //    $(".div_testoPunteggio").css({ "letter-spacing": "2px", "font-size": "80px" })
                //} else {
                //    $(".div_testoPunteggio").css({ "letter-spacing": "10px", "font-size": "88px" })
                //}

            }
        }




        function caricaStile(altezza) {
            removejscssfile("/css/playerLed_48.css?", "css");
            removejscssfile("/css/playerLed_72.css", "css");
            removejscssfile("/css/playerLed_90.css", "css");





            removejscssfile("/css/playerMaxischermo_48.css", "css");
            removejscssfile("/css/playerMaxischermo_72.css", "css");
            removejscssfile("/css/playerMaxischermo_90.css", "css");

            var d = new Date();
            var t = d.getTime();


            loadjscssfile("/css/playerLed_" + altezza + ".css?" + t, "css");

            loadjscssfile("/css/playerMaxischermo_" + altezza + ".css?" + t, "css");


        }





        function loadjscssfile(filename, filetype) {

            if (filetype == "js") { //if filename is a external JavaScript file
                var fileref = document.createElement('script')
                fileref.setAttribute("type", "text/javascript")
                fileref.setAttribute("src", filename)
            }
            else if (filetype == "css") { //if filename is an external CSS file
                var fileref = document.createElement("link")
                fileref.setAttribute("rel", "stylesheet")
                fileref.setAttribute("type", "text/css")
                fileref.setAttribute("href", filename)
            }
            if (typeof fileref != "undefined")
                document.getElementsByTagName("head")[0].appendChild(fileref)
        }




        function removejscssfile(filename, filetype) {
            var targetelement = (filetype == "js") ? "script" : (filetype == "css") ? "link" : "none" //determine element type to create nodelist from
            var targetattr = (filetype == "js") ? "src" : (filetype == "css") ? "href" : "none" //determine corresponding attribute to test for
            var allsuspects = document.getElementsByTagName(targetelement)
            for (var i = allsuspects.length; i >= 0; i--) { //search backwards within nodelist for matching elements to remove
                if (allsuspects[i] && allsuspects[i].getAttribute(targetattr) != null && allsuspects[i].getAttribute(targetattr).indexOf(filename) != -1)
                    allsuspects[i].parentNode.removeChild(allsuspects[i]) //remove element by calling parentNode.removeChild()
            }
        }



    </script>

</body>
</html>
