﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>

    <link rel="stylesheet" href="~/css/player.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/textillate-master/assets/animate.css" />

  
</head>
<body style="background-color:black;">

    <!--

            <div class="div_numeroGiocatore_1">
                <span class="testo_numeroGiocatore_1"></span>
            </div>

            <div class="div_nomeGiocatore_2">
                <span class="testo_nomeGiocatore_2"></span>
            </div>

            <div class="div_numeroGiocatore_2">
                <span class="testo_numeroGiocatore_2"></span>
            </div>

            <img src="~/img/playerAnimation/11.png" class="img-Giocatore_1" />
            <img src="~/img/playerAnimation/9.png" class="img-Giocatore_2" />

            <img src="~/img/sponsor/1.png" class="img-Sponsor_1" />
            <img src="~/img/sponsor/2.png" class="img-Sponsor_2" />

            <img src="~/img/azione/1.png" class="img-Azione_1" />
            <img src="~/img/squadre/1.png" class="img-Squadra_1" />
    -->


    <div Id="CanvasLuminosita">
        @Html.Raw(ViewBag.HtmlLuminosità)
    </div>
    <!--
        <div Id="CanvasGrafica">
            @Html.Raw(ViewBag.HtmlGrafica)
        </div>
    -->
    <div Id="CanvasClock" style="visibility:hidden ">
        @Html.Raw(ViewBag.HtmlTimer)
    </div>

    <div Id="CanvasResult" style="visibility:hidden ">
        @Html.Raw(ViewBag.HtmlResult)
    </div>



    <div Id="CanvasVideoMatch"></div>
    <div Id="CanvasVideoIntrattenimento"></div>




    @*<div Id="BlockLeft" style="z-index:100; position:absolute; width:2000px; height:2500px; margin-left:1728px; margin-top:0px; background-color:white; border:none;"></div>*@

    <div Id="BlockLeft" style="z-index:100; position:absolute; width:2000px; height:2500px; margin-left:1728px; margin-top:0px; background-color:black; border:none;"></div>



    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/textillate-master/assets/jquery.fittext.js"></script>
        <script src="~/lib/textillate-master/assets/jquery.lettering.js"></script>

        <script src="~/lib/textillate-master/jquery.textillate.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>


    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>





    <script type="text/javascript">


        var ArrParametriGenerali = Array;
        var video_control = ""
        var countPlaylistAct = 0;
        var countCanvasAct = 0;

        var ArrTempi = Array;
        var ArrTempiMatch = Array;
        var ArrTempiIntrattenimento = Array;


        var ArrScenePlaylist = Array;
        var ArrScenePlaylistMatch = Array;
        var ArrScenePlaylistIntrattenimento = Array;





        var contatoreScene = 0;
        var contatoreSceneMatch = 0;
        var contatoreSceneIntrattenimento = 0;

        var inc_sommaTempiMatch = 0
        var inc_sommaTempiIntrattenimento = 0

        var FK_int_Periodi2StadiMatch = 0
        var FK_int_Periodi2StadiIntrattenimento = 0

        //  var IpServer = "localhost:3287"
        var IpServer = "localhost:5000"
        // var IpServer = "localhost:800"

        // var IpServer = "192.168.50.52"



        $(document).ready(function () {
            $("#Animazione").hide();
            ArrTempiMatch[0] = 0;
            ArrTempiIntrattenimento[0] = 0;

            $.when(CaricaParametriIniziali()).then(function (x) {

            });
        });





        function CaricaTimelineMatch(FK_int_Periodi2Stadi, FK_int_Playlist) {
            FK_int_Periodi2StadiMatch = FK_int_Periodi2Stadi;
            ArrTempiMatch = [];
            inc_sommaTempiMatch = 0;
            return $.ajax({
                url: "acquisizione_scene/GetScenePlaylist",
                data: "FK_int_Periodi2Stadi=" + FK_int_Periodi2Stadi + "&FK_int_Playlist=" + FK_int_Playlist
            }).done(function (data) {
                ArrTempiMatch[0] = 0;
                ArrScenePlaylistMatch = JSON.parse(data);
                CaricaPlaylistMatch(0);
                inc_sommaTempiMatch = GetDurataScenaMatch(0);
                tieniIlTempoMatch();

            });
        }



     
        function CaricaTimelineIntrattenimento(FK_int_Periodi2Stadi, FK_int_Playlist) {
            FK_int_Periodi2StadiIntrattenimento = FK_int_Periodi2Stadi;
            ArrTempiIntrattenimento = [];
            inc_sommaTempiIntrattenimento = 0;
            return $.ajax({
                url: "acquisizione_scene/GetScenePlaylist",
                data: "FK_int_Periodi2Stadi=" + FK_int_Periodi2Stadi + "&FK_int_Playlist=" + FK_int_Playlist
            }).done(function (data) {
                ArrTempiIntrattenimento[0] = 0;
                ArrScenePlaylistIntrattenimento = JSON.parse(data);
                CaricaPlaylistIntrattenimento(0);
                inc_sommaTempiIntrattenimento = GetDurataScenaIntrattenimento(0);
                tieniIlTempoIntrattenimento();
            });
        }




        /**
         * INIZIO caricamento Playlist
         */

        function CaricaPlaylistMatch(numeroScena) {
            $("#CanvasVideoMatch").append("<div ID='scenaMatch_" + numeroScena + "'></div>")
            var d = GetIdScenaMatch(numeroScena);
            $.ajax({
                url: "acquisizione_scene",
                data: "fk_int_scena=" + d
            }).done(function (data) {
                var ListaVideo = JSON.parse(data);
                CostruisciMessaggio("$('#ui_scena_" + d + "').loading(); ");
                SetDatiFromPlayerToUi();
                caricamentoScaglionatoMatch(ListaVideo, numeroScena);
            });
        }


        function CaricaPlaylistIntrattenimento(numeroScena) {
            $("#CanvasVideoIntrattenimento").append("<div ID='scenaIntrattenimento_" + numeroScena + "'></div>")
            var d = GetIdScenaIntrattenimento(numeroScena);
            $.ajax({
                url: "acquisizione_scene",
                data: "fk_int_scena=" + d
            }).done(function (data) {
                var ListaVideo = JSON.parse(data);
                CostruisciMessaggio("$('#ui_scena_" + d + "').loading(); ");
                SetDatiFromPlayerToUi();
                caricamentoScaglionatoIntrattenimento(ListaVideo, numeroScena);
            });
        }









        function caricamentoScaglionatoMatch(ListaVideo, numeroScena) {

            $("#scenaMatch_" + numeroScena).hide();
            var last = 0

            $.each(ListaVideo, function (index, val) {
                setTimeout(function () {
                    $("#scenaMatch_" + numeroScena).append("<video width='" + val.int_W + "' height='" + val.int_H + "' style='margin-left:" + val.int_MarginL + "px; margin-top:" + val.int_MarginT + "px;' control><source src='" + val.nva_PahtFile + "' /></video>");
                }, 50 + (index * 50));
                last = index
            });

            setTimeout(function () {
                if(numeroScena==0) {
                    CostruisciMessaggio("$('.idPeriodo_" + FK_int_Periodi2StadiMatch+ "').addClass('btn-warning'); ");
                }

                CostruisciMessaggio("$('#ui_scena_" + GetIdScenaMatch(numeroScena) + "').loaded(); ");
                SetDatiFromPlayerToUi();
            }, 50 + ((last + 1) * 50));


        }






       
        function caricamentoScaglionatoIntrattenimento(ListaVideo, numeroScena) {

            $("#scenaIntrattenimento_" + numeroScena).hide();
            var last = 0

            $.each(ListaVideo, function (index, val) {
                setTimeout(function () {
                    $("#scenaIntrattenimento_" + numeroScena).append("<video width='" + val.int_W + "' height='" + val.int_H + "' style='margin-left:" + val.int_MarginL + "px; margin-top:" + val.int_MarginT + "px;' control><source src='" + val.nva_PahtFile + "' /></video>");
                }, 50 + (index * 50));
                last = index
            });

            setTimeout(function () {
                if (numeroScena == 0) {
                    CostruisciMessaggio("$('.idPeriodo_" + FK_int_Periodi2StadiIntrattenimento + "').addClass('btn-warning'); ");
                }
                CostruisciMessaggio("$('#ui_scena_" + GetIdScenaIntrattenimento(numeroScena) + "').loaded(); ");
                SetDatiFromPlayerToUi();
            }, 50 + ((last + 1) * 50));

        }






        function GetIdScenaMatch(n) {
            return ArrScenePlaylistMatch[n].ID;
        }


        function GetDurataScenaMatch(n) {
            return ArrScenePlaylistMatch[n].Durata;
        }

        function GetIdScenaIntrattenimento(n) {
            return ArrScenePlaylistIntrattenimento[n].ID;
        }


        function GetDurataScenaIntrattenimento(n) {
            return ArrScenePlaylistIntrattenimento[n].Durata;
        }





       









        /**
         * FINE caricamento Playlist
         */



        function numProps(obj) {
            var c = 0;
            for (var key in obj) {
                if (obj.hasOwnProperty(key))++c;
            }
            return c;
        }







        /**************** sommo i tempi delle scene ************/
        function SommaTempiMatch(chiave) {
            var t = 0;
            $.each(ArrScenePlaylistMatch, function (index, val) {
                if (index <= chiave) {
                    t = t + parseInt(val.Durata);
                }
            });
            return t;
        }

        function SommaTempiIntrattenimento(chiave) {
            var t = 0;
            $.each(ArrScenePlaylistIntrattenimento, function (index, val) {
                if (index <= chiave) {
                    t = t + parseInt(val.Durata);
                }
            });
            return t;
        }





        /**************** temporizzatore generale ************/
        //function tieniIlTempoMatch() {
        //    setInterval(function () {
        //        if (ArrTempi[0] > 0) {
        //            var dataTime = new Date();
        //            if ((dataTime.getTime() > (ArrTempi[0] + inc_sommaTempi))) {

        //                //prendo la scena appena riprodotta
        //                var d = GetIdScenaMatch(contatoreScene);

        //                CostruisciMessaggio("$('#ui_scena_" + d + "').played(); ");
        //                SetDatiFromPlayerToUi();

        //                //rimuovo la scena appena riprodotta
        //                $("#scenaMatch_" + contatoreScene).remove()

        //                contatoreScene = GetNexScene(contatoreScene);
        //                //calcolo quando dovrò rimuovere la scena che sto per riprodurre
        //                inc_sommaTempi = SommaTempi(contatoreScene);
        //                riproduciPlaylist(contatoreScene);
        //            }
        //        }
        //    }, 50);
        //}





        /**************** temporizzatore generale ************/
        function tieniIlTempo() {
            setInterval(function () {
                var dataTime = new Date();

                if (ArrTempiMatch[0] > 0) {
                    if ((dataTime.getTime() > (ArrTempi[0] + inc_sommaTempiMatch))) {
                        //prendo la scena appena riprodotta
                        var d = GetIdScenaMatch(contatoreSceneMatch);
                        CostruisciMessaggio("$('#ui_scena_" + d + "').played(); ");
                        SetDatiFromPlayerToUi();
                        //rimuovo la scena appena riprodotta
                        $("#scenaMatch_" + contatoreSceneMatch).remove()
                        contatoreSceneMatch = GetNexScene(contatoreSceneMatch);
                        //calcolo quando dovrò rimuovere la scena che sto per riprodurre
                        inc_sommaTempi = SommaTempi(contatoreSceneMatch);
                        riproduciPlaylist(contatoreSceneMatch);
                    }
                }


                if (ArrTempiIntrattenimento[0] > 0) {
                    if ((dataTime.getTime() > (ArrTempiIntrattenimento[0] + inc_sommaTempiIntrattenimento))) {
                        //prendo la scena appena riprodotta
                        var d = GetIdScenaIntrattenimento(contatoreSceneIntrattenimento);
                        CostruisciMessaggio("$('#ui_scena_" + d + "').played(); ");
                        SetDatiFromPlayerToUi();
                        //rimuovo la scena appena riprodotta
                        $("#scenaIntrattenimento_" + contatoreSceneIntrattenimento).remove()
                        contatoreSceneIntrattenimento = GetNexScene(contatoreSceneIntrattenimento);
                        //calcolo quando dovrò rimuovere la scena che sto per riprodurre
                        inc_sommaTempiIntrattenimento = SommaTempi(contatoreSceneIntrattenimento);
                        riproduciPlaylistIntrattenimento(contatoreSceneIntrattenimento);
                    }
                }
            }, 50);
        }









        /**************** trovo la prossima scena ************/
        function GetNexSceneIntrattenimento(numeroScena) {
            var nextScena = numeroScena + 1;
            if (numProps(ArrScenePlaylistIntrattenimento) == nextScena) {
                nextScena = 0;
            }
            return nextScena
        }


        function GetNexSceneMatch(numeroScena) {
            var nextScena = numeroScena + 1;
            if (numProps(ArrScenePlaylistMatch) == nextScena) {
                nextScena = 0;
            }
            return nextScena
        }




        function pausaVideoMatch() {
            $("#CanvasVideoMatch video").each(function () {
                $(this).get(0).pause();
            });
        }

        function pausaVideoIntrattenimento() {
            $("#CanvasVideoIntrattenimento video").each(function () {
                $(this).get(0).pause();
            });
        }


        function riproduciPlaylistIntrattenimento(chiave) {
            var d = new Date();
            ArrTempiIntrattenimento[chiave] = d.getTime();
            $("#scenaIntrattenimento_" + chiave).children('video').each(function () {
                $(this).get(0).play();
            });
            var d = GetIdScenaIntrattenimento(chiave);
            CostruisciMessaggio("$('#ui_scena_" + d + "').playing(); ");
            SetDatiFromPlayerToUi();
            $("#scenaIntrattenimento_" + chiave).show();
            CaricaPlaylistIntrattenimento(GetNexSceneIntrattenimento(chiave))
        }





        function riproduciPlaylistMatch(chiave) {
            var d = new Date();
            ArrTempiMatch[chiave] = d.getTime();
            $("#scenaMatch_" + chiave).children('video').each(function () {
                $(this).get(0).play();
            });
            var d = GetIdScenaMatch(chiave);
            CostruisciMessaggio("$('#ui_scena_" + d + "').playing(); ");
            SetDatiFromPlayerToUi();
            $("#scenaMatch_" + chiave).show();
            CaricaPlaylistMatch(GetNexSceneMatch(chiave))
        }











        

        var TimerStart = new Date();;


        var myVar = setInterval(function () {
            AvanzaTimer();
        }, 1000);

        function AvanzaTimer() {
            var d = new Date();
            var secondsSpan = (d.getTime() - TimerStart.getTime()) / 1000;
            var minutes = Math.floor(secondsSpan / 60)
            var seconds = Math.floor(secondsSpan % 60)

            $(".timer").html(pad(minutes, 2) + ":" + pad(seconds, 2));
        }

        function pad(num, size) {
            var s = num + "";
            while (s.length < size) s = "0" + s;
            return s;
        }
















        var stage
        var circle
        var allCanvas



        function StartDisegno() {



            allCanvas = document.getElementsByTagName("canvas");

            for (var i = 0, max = allCanvas.length; i < max; i++) {


                var stage = new createjs.Stage(allCanvas[i]);
                var circle = new createjs.Shape();
                var testo = new createjs.Text("TESTO SCORREVOLE", "65px Arial", "#FF0000");
                // circle.graphics.beginFill("Crimson").drawCircle(0, 0, 25);

                testo.x = 0;
                testo.y = 3;
                stage.addChild(testo);

                //circle.x = 0;
                //circle.y = 36;
                //stage.addChild(circle);


                createjs.Tween.get(testo, { loop: true }).to({ x: 12000 }, 120000, createjs.Ease.linear)
                createjs.Ticker.setFPS(60);
                createjs.Ticker.addEventListener("tick", stage);

            }

        }









        function SetSelected(ID, tb) {
            SettingGlobalVars[tb] = ID;
            return $.ajax({
                url: "Ajax/SetSelected",
                data: "ID=" + ID + "&tb=" + tb,
                async: false
            });
        }


        function GetSelected(tb) {
            return $.ajax({
                url: "Ajax/GetSelected",
                data: "tb=" + tb,
                async: false
            }).done(function (ID) {
                SettingGlobalVars[tb] = ID;
                return ID
            });
        }



        function CaricaParametriIniziali() {
            return $.ajax({
                url: "Ajax/GetParametriIniziali"
            }).done(function (data) {
                ArrParametriGenerali = JSON.parse(data);
            });
        }








        var Messaggi = [];
        function CostruisciMessaggio(dato) {
            var Messaggio = {}
            Messaggio.nva_Dato = dato
            Messaggi.push(Messaggio);
        }



        function SetDatiFromPlayerToUi() {

            if (Messaggi.length > 0) {

                $.ajax({
                    dataType: 'text',
                    contentType: 'application/json',
                    type: 'POST',
                    url: "Ajax/SetDatiFromPlayerToUi",
                    data: JSON.stringify(Messaggi)
                }).done(function (data) {

                    Messaggi = [];

                })

            } else {

                console.log("nessun messaggio da inviare")

            }

        }




        function GetDatiFromUiToPlayer() {


            $.ajax({
                url: "Ajax/GetDatiFromUiToPlayer"
            }).done(function (data) {

                data = JSON.parse(data);
                if (data.length > 0) {
                    $.each(data, function (ii, contenuto) {

                        try {
                            console.log("eseguo:" + contenuto.nva_Dato)
                            eval(contenuto.nva_Dato)
                        }
                        catch (err) {
                            console.log(err)
                        }
                        $.ajax({ url: "Ajax/SetExecutedFromUiToPlayer?ID=" + contenuto.ID }).done(function (conferma) {
                            if (conferma != "ok") {
                                alert("problema trasporto dati " + contenuto.ID)
                            }
                        })
                    });
                }

            });



        }


        var tttt = setInterval(GetDatiFromUiToPlayer, 1000);







        function StartAnimation(objAnimazione) {
            $("#Animazione").show();


            if (objAnimazione.TipoAnimazione == "ammonizione") {
                $(".img-Squadra_1").attr("src", "/img/squadre/" + objAnimazione.FK_int_Squadra + ".png");
                $(".img-Squadra_1").css({ top: "-72px", opacity: "0" });

                $(".img-Giocatore_1").attr("src", "/img/playerAnimation/" + objAnimazione.FK_int_Giocatore_1 + ".png");
                $(".img-Giocatore_1").css({ height: "220px", top: "72px", left: "50px" });
                $(".div_numeroGiocatore_1").css({ top: "-72px" });
                $('.testo_nomeGiocatore_1').text(objAnimazione.nva_NomeGiocatore_1);
                $(".img-Azione_1").css({ top: "0px", opacity: "0" });
                $('.testo_numeroGiocatore_1').text(objAnimazione.nva_NumeroGiocatore_1);



                $(".img-Sponsor_1").css({ left: "0px", height: "72px", top: "0px" });


                $(".img-Sponsor_1").animate({ left: "655px" }, 200, function () {
                    $(".img-Squadra_1").animate({ top: "6px", opacity: "1" }, 200, function () {
                        $(".img-Giocatore_1").animate({ top: "-18px", opacity: "1" }, 200, function () {
                            $(".div_numeroGiocatore_1").animate({ top: "0px" }, 200);
                            $(".img-Azione_1").animate({ top: "0px", opacity: "1" }, 200);
                            $('.testo_nomeGiocatore_1').textillate({
                                autoStart: false,
                                loop: true,
                                in:
                                {
                                    effect: 'rollIn',
                                    callback: function () {
                                        $(".img-Azione_1").fadeOut(200).fadeIn(200).fadeOut(200).fadeIn(200);
                                    }
                                }
                            })
                        })
                    })
                })




            }



        }



    </script>


</body>
</html>