﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>

    <link rel="stylesheet" href="~/css/player.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/textillate-master/assets/animate.css" asp-append-version="true" />

    <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>

</head>
<body style="background-color:black;overflow-x: hidden !important; overflow-y: hidden !important; padding:0px 0px 0px 0px;  clip-path: inset(0% 0% 0% 0%); @Html.Raw(ViewBag.DimensioneCanvasPerCss)  ">


    <div style="position:absolute; margin-top:5px;  color:red; z-index:60; font-size:50px; " class="deb_1"></div>
    <div style="position:absolute; margin-top:90px;   color:red; z-index:60; font-size:50px; " class="deb_2"></div>


    @Html.Raw(ViewBag.HtmlEventiPartita)



    <div Id="CanvasLuminosita">
        @Html.Raw(ViewBag.HtmlLuminosità)
    </div>
    @*
        <div Id="CanvasGrafica">
            @Html.Raw(ViewBag.HtmlGrafica)
        </div>
    *@
    <div Id="CanvasClockScore">
        @Html.Raw(ViewBag.HtmlClockScore)
    </div>

    <div Id="CanvasResult" style="visibility:hidden ">
        @Html.Raw(ViewBag.HtmlResult)
    </div>

    <div Id="CanvasVideoMatch"></div>

    @*<div Id="CanvasVideoIntrattenimento"></div>*@

    <style>





        .Punteggio {
            /* border: 1px solid #ff0000 !important; */
            display: table;
            table-layout: fixed;
        }

        .Punteggio > div {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }

        .div_logoPunteggio img {
            height: 80px
        }

        .div_testoPunteggio {
            width: 180px;
            height: 90px;
            font-family: Arial;
            font-weight: bold;
            line-height: 88px;
            color: white;
        }

        .div_logoPunteggio {
            width: 90px
        }
    </style>


    <style>
        #CanvasVideoMatch {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 5;
        }

        #CanvasVideoIntrattenimento {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 5;
        }

        #CanvasLuminosita {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 50;
        }

        #CanvasClockScore {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 7;
        }

        #CanvasResult {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 6;
            clip-path: inset(0% 0% 0% 0%);
        }

        #CanvasGrafica {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 8;
            clip-path: inset(0% 0% 0% 0%);
        }
    </style>


    <style>

        .EventiPartita {
            /* border: 1px solid black;*/
            position: absolute;
            background-color: white;
            color: black;
            clip-path: inset(0% 0% 0% 0%);
            z-index: 100;
            opacity: 0;
        }

            .EventiPartita img {
                position: absolute;
                opacity: 0;
            }

        .imgSquadra {
            height: 88px;
        }

        .imgSponsor {
            height: 88px;
        }

        .imgGiocatore {
            /*height: 88px;*/
            z-index: 11;
        }

        .imgGiocatoreSecondario {
            /*height: 88px;*/
            z-index: 11;
        }

        .imgAzione {
            /*height: 88px;*/
            z-index: 10;
        }

        .imgAzioneEntra {
            /*height: 88px;*/
            z-index: 10;
        }

        .imgAzioneEsce {
            /*height: 88px;*/
            z-index: 10;
        }

        .numeroGiocatore {
            position: absolute;
            width: 100px;
            height: 90px;
            z-index: 140;
            line-height: 90px;
            text-align: center;
            /*border: 1px solid black;*/
            opacity: 0;
        }

        .numeroGiocatore span {
            font-family: Helvetica;
            visibility: visible;
            color: black;
            font-size: 100px;
            font-weight: bold;
        }

        .numeroGiocatoreSecondario {
            position: absolute;
            width: 100px;
            height: 90px;
            z-index: 140;
            line-height: 90px;
            text-align: center;
            /*border: 1px solid black;*/
            opacity: 0;
        }

        .numeroGiocatoreSecondario span {
            font-family: Helvetica;
            visibility: visible;
            color: black;
            font-size: 100px;
            font-weight: bold;
        }

        .nomeGiocatore {
            position: absolute;
            margin-top: -5px;
            padding: 0px 0px 0px 0px;
            width: 700px;
            height: 90px;
            z-index: 140;
            text-align: center;
            opacity: 0;
        }

        .nomeGiocatoreSecondario {
            position: absolute;
            margin-top: -5px;
            padding: 0px 0px 0px 0px;
            width: 700px;
            height: 90px;
            z-index: 140;
            text-align: center;
            opacity: 0;
        }

        .nomeGiocatore span {
            font-family: Helvetica;
            color: black;
            display: inline-block;
            line-height: 90px;
            font-weight: bold;
        }

        .nomeGiocatoreSecondario span {
            font-family: Helvetica;
            color: black;
            display: inline-block;
            line-height: 90px;
            font-weight: bold;
        }
    </style>

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/fitty/fitty.min.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.fittext.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.lettering.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/jquery.textillate.js" asp-append-version="true"></script>
    <script src="~/js/jsComune.js" asp-append-version="true"></script>




    <script>
        'use strict';

        /*
        tag:variabiliglobali

        ██╗   ██╗ █████╗ ██████╗ ██╗ █████╗ ██████╗ ██╗██╗     ██╗
        ██║   ██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║██║     ██║
        ██║   ██║███████║██████╔╝██║███████║██████╔╝██║██║     ██║
        ╚██╗ ██╔╝██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║██║     ██║
         ╚████╔╝ ██║  ██║██║  ██║██║██║  ██║██████╔╝██║███████╗██║
          ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚═╝╚══════╝╚═╝

         ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     ██╗
        ██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     ██║
        ██║  ███╗██║     ██║   ██║██████╔╝███████║██║     ██║
        ██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     ██║
        ╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗██║
         ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝
        */

        var FattoreVelocitaVideo = 1;
        var zindex = 0;
        var intIncrementalePeriodo = 0;
        var OffsetTemporaleManualeDiretto = 0;
        var Punteggio = {}
        var OffsetTemporaleManuale = 0;
        var ForzaScenaSpecifica = 0;
        var ScenaRiprodotta = {};


        $(document).ready(function () {

            $(".btn-periodi").attr('disabled', 'disabled');

            GetSelected("tb_Match");
            GetSelected("tb_Playlist");

            //if (SettingGlobalVars["tb_Match"] != undefined) {
            //    PopolaSettingMatchById(SettingGlobalVars["tb_Match"]);
            //    InizializzaMatch(SettingGlobalVars["tb_Match"]);
            //}

        });








    </script>

    <script type="text/javascript">
        'use strict';


        /*
        tag: animazioneeventigiocatori

         █████╗ ███╗   ██╗██╗███╗   ███╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
        ██╔══██╗████╗  ██║██║████╗ ████║██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
        ███████║██╔██╗ ██║██║██╔████╔██║███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
        ██╔══██║██║╚██╗██║██║██║╚██╔╝██║██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
        ██║  ██║██║ ╚████║██║██║ ╚═╝ ██║██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
        ╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

        ███████╗██╗   ██╗███████╗███╗   ██╗████████╗██╗
        ██╔════╝██║   ██║██╔════╝████╗  ██║╚══██╔══╝██║
        █████╗  ██║   ██║█████╗  ██╔██╗ ██║   ██║   ██║
        ██╔══╝  ╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║   ██║
        ███████╗ ╚████╔╝ ███████╗██║ ╚████║   ██║   ██║
        ╚══════╝  ╚═══╝  ╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚═╝

         ██████╗ ██╗ ██████╗  ██████╗ █████╗ ████████╗ ██████╗ ██████╗ ██╗
        ██╔════╝ ██║██╔═══██╗██╔════╝██╔══██╗╚══██╔══╝██╔═══██╗██╔══██╗██║
        ██║  ███╗██║██║   ██║██║     ███████║   ██║   ██║   ██║██████╔╝██║
        ██║   ██║██║██║   ██║██║     ██╔══██║   ██║   ██║   ██║██╔══██╗██║
        ╚██████╔╝██║╚██████╔╝╚██████╗██║  ██║   ██║   ╚██████╔╝██║  ██║██║
         ╚═════╝ ╚═╝ ╚═════╝  ╚═════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚═╝
        */


        var StartPositionNumeroGiocatore = { top: "-90px", left: "210px", opacity: "0" };
        var StartPositionNomeGiocatore = { top: "0px", left: "300px", opacity: "0" };
        var StartPositionImgAzione = { top: "90px", left: "180px", opacity: "0", height: "200px" };
        var StartPositionImgAzioneEntra = { top: "90px", left: "180px", opacity: "0", height: "200px" };
        var StartPositionImgAzioneEsce = { top: "-90px", left: "180px", opacity: "0", height: "200px" };
        var StartPositionImgGiocatore = { top: "100px", opacity: "1", height: "150px", left: "105px" };
        var StartPositionImgSponsor = { top: "1px", left: "400px", opacity: "0", height: "88px" };
        var StartPositionImgSquadra = { top: "-90px", left: "8px", opacity: "0" };

        var ViewPositionNumeroGiocatore = { top: "0px", opacity: "1" };
        var ViewPositionNomeGiocatore = { top: "0px", left: "330px", opacity: "1" };
        var ViewPositionImgAzione = { top: "-10px", opacity: "1" };
        var ViewPositionImgAzioneEntra = { top: "-40px", opacity: "1" };
        var ViewPositionImgAzioneEsce = { top: "-70px", opacity: "1" };
        var ViewPositionImgGiocatore = { top: "0px", opacity: "1" };
        var ViewPositionImgSponsor = { top: "1px", left: "1050px", opacity: "1" };
        var ViewPositionImgSquadra = { top: "1px", opacity: "1" };

        var EndPositionNumeroGiocatore = { top: "-90px", left: "210px", opacity: "0" };
        var EndPositionNomeGiocatore = { top: "0px", left: "360px", opacity: "0" };
        var EndPositionImgAzione = { top: "90px", left: "180px", opacity: "0", height: "200px" };
        var EndPositionImgAzioneEntra = { top: "-90px", left: "180px", opacity: "0", height: "200px" };
        var EndPositionImgAzioneEsce = { top: "90px", left: "180px", opacity: "0", height: "200px" };

        var EndPositionImgGiocatore = { top: "100px", opacity: "1", height: "150px", left: "105px" };
        var EndPositionImgSponsor = { top: "1px", left: "1050px", opacity: "0" };
        var EndPositionImgSquadra = { top: "-90px", left: "8px", opacity: "0" };



        var codaAnimazione = [];

        var StatoAnimazione = "";

        class clsAnimazione {
            constructor() {
                StatoAnimazione = "Smontato";
                this.Evento = null
                this.Giocatore = null;
                this.Squadra = null;

            }


            Monta(Evento) {

                //console.log(Evento)

                this.Evento = Evento;

                if (this.Evento.fk_int_Giocatore > 0) {
                    this.Giocatore = RosaSquadra[this.Evento.fk_int_Squadra][this.Evento.fk_int_Giocatore];
                }
                if (this.Evento.fk_int_GiocatoreSecondario > 0) {
                    this.GiocatoreSecondario = RosaSquadra[this.Evento.fk_int_Squadra][this.Evento.fk_int_GiocatoreSecondario];
                }

                this.Squadra = SettingSquadra[this.Evento.fk_int_Squadra];

                //console.log(StatoAnimazione);
                if (StatoAnimazione == "Smontato") {



                    StatoAnimazione = "Montaggio";



                    switch (this.Evento.fk_int_TipoEventoMatch) {
                        case 4: //caso della sostituzione


                            $(".EventiPartita").append("<img  class='imgSquadra' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                            $(".EventiPartita").append("<img  class='imgSponsor' src='/img/sponsor/1.png' />");

                            $(".EventiPartita").append("<img  class='imgGiocatore' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                            $(".EventiPartita").append("<img  class='imgGiocatoreSecondario' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.GiocatoreSecondario.nva_Numero + ".png' />");

                            $(".EventiPartita").append("<img  class='imgAzioneEntra' src='/img/azione/entra.png' />");
                            $(".EventiPartita").append("<img  class='imgAzioneEsce' src='/img/azione/esce.png' />");

                            $(".EventiPartita").append("<div class='numeroGiocatore'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                            $(".EventiPartita").append("<div class='numeroGiocatoreSecondario'><span>" + this.GiocatoreSecondario.nva_Numero + "</span></div>");
                            $(".EventiPartita").append("<div class='nomeGiocatore'><span class='spanNomeGiocatore'>" + this.Giocatore.nva_Nome + ' ' + this.Giocatore.nva_Cognome + "</span></div>");
                            $(".EventiPartita").append("<div class='nomeGiocatoreSecondario'><span class='spanNomeGiocatoreSecondario'>" + this.GiocatoreSecondario.nva_Nome + ' ' + this.GiocatoreSecondario.nva_Cognome + "</span></div>");


                            fitty('.spanNomeGiocatore', { maxSize: 90, multiLine: false });
                            fitty('.spanNomeGiocatoreSecondario', { maxSize: 90, multiLine: false });



                            $(".EventiPartita").animate({ 'opacity': '1' }, 100)
                            $(".imgSquadra").css(StartPositionImgSquadra).animate(ViewPositionImgSquadra, 200).promise().then(function () {
                                $(".imgSponsor").css(StartPositionImgSponsor).animate(ViewPositionImgSponsor, 200).promise().then(function () {
                                    $(".numeroGiocatore").css(StartPositionNumeroGiocatore).animate(ViewPositionNumeroGiocatore, 200).promise().then(function () {
                                        $(".imgGiocatore").css(StartPositionImgGiocatore).animate(ViewPositionImgGiocatore, 200).promise().then(function () {
                                            $(".imgAzioneEsce").css(StartPositionImgAzioneEsce).animate(ViewPositionImgAzioneEsce, 200).promise().then(function () {
                                                $(".nomeGiocatore").css(StartPositionNomeGiocatore).animate(ViewPositionNomeGiocatore, 200).promise().then(function () {
                                                    setTimeout(function () {
                                                        $(".numeroGiocatore").animate(EndPositionNumeroGiocatore, 200).promise().then(function () {
                                                            $(".imgGiocatore").animate(EndPositionImgGiocatore, 200).promise().then(function () {
                                                                $(".imgAzioneEsce").animate(EndPositionImgAzioneEsce, 200).promise().then(function () {
                                                                    $(".nomeGiocatore").animate(EndPositionNomeGiocatore, 200).promise().then(function () {
                                                                        $(".numeroGiocatoreSecondario").css(StartPositionNumeroGiocatore).animate(ViewPositionNumeroGiocatore, 200).promise().then(function () {
                                                                            $(".imgGiocatoreSecondario").css(StartPositionImgGiocatore).animate(ViewPositionImgGiocatore, 200).promise().then(function () {
                                                                                $(".imgAzioneEntra").css(StartPositionImgAzioneEntra).animate(ViewPositionImgAzioneEntra, 200).promise().then(function () {
                                                                                    $(".nomeGiocatoreSecondario").css(StartPositionNomeGiocatore).animate(ViewPositionNomeGiocatore, 200).promise().then(function () {
                                                                                        StatoAnimazione = "Montato";
                                                                                        setTimeout(function () {
                                                                                            Animazione.Smonta();

                                                                                        }, 3000);

                                                                                    });
                                                                                });
                                                                            });
                                                                        });
                                                                    });
                                                                });
                                                            });
                                                        });
                                                    },  3000);
                                                });
                                            });
                                        });
                                    });
                                });

                            });

                            break;
                        case 2:
                        case 3:
                            //se devo animare una ammonizione oppure una espulsione


                            $(".EventiPartita").append("<img  class='imgSquadra' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                            $(".EventiPartita").append("<img  class='imgSponsor' src='/img/sponsor/1.png' />");
                            $(".EventiPartita").append("<img  class='imgGiocatore' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                            $(".EventiPartita").append("<img  class='imgAzione' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");
                            $(".EventiPartita").append("<div class='numeroGiocatore'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                            $(".EventiPartita").append("<div class='nomeGiocatore'><span class='spanNomeGiocatore'>" + this.Giocatore.nva_Nome + ' ' + this.Giocatore.nva_Cognome + "</span></div>");


                            fitty('.spanNomeGiocatore', { maxSize: 90, multiLine: false });

                            $(".EventiPartita").animate({ 'opacity': '1' }, 100)
                            $(".imgSquadra").css(StartPositionImgSquadra).animate(ViewPositionImgSquadra, 200).promise().then(function () {
                                $(".numeroGiocatore").css(StartPositionNumeroGiocatore).animate(ViewPositionNumeroGiocatore, 200).promise().then(function () {
                                    $(".imgGiocatore").css(StartPositionImgGiocatore).animate(ViewPositionImgGiocatore, 200).promise().then(function () {
                                        $(".imgAzione").css(StartPositionImgAzione).animate(ViewPositionImgAzione, 200).promise().then(function () {
                                            $(".imgSponsor").css(StartPositionImgSponsor).animate(ViewPositionImgSponsor, 200).promise().then(function () {
                                                $(".nomeGiocatore").css(StartPositionNomeGiocatore).animate(ViewPositionNomeGiocatore, 200).promise().then(function () {
                                                    StatoAnimazione = "Montato";
                                                    setTimeout(function () {
                                                        Animazione.Smonta();

                                                    }, 4000);

                                                });
                                            });
                                        });
                                    });
                                });

                            });

                            break;
                        case 1:

                            if (this.Evento.fk_int_Giocatore > 0) {

                                $(".EventiPartita").append("<img  class='imgSquadra' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                                $(".EventiPartita").append("<img  class='imgSponsor' src='/img/sponsor/1.png' />");
                                $(".EventiPartita").append("<img  class='imgGiocatore' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                                $(".EventiPartita").append("<img  class='imgAzione' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");
                                $(".EventiPartita").append("<div class='numeroGiocatore'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                                $(".EventiPartita").append("<div class='nomeGiocatore'><span class='spanNomeGiocatore'>" + this.Giocatore.nva_Nome + ' ' + this.Giocatore.nva_Cognome + "</span></div>");


                                fitty('.spanNomeGiocatore', { maxSize: 90, multiLine: false });

                                $(".EventiPartita").animate({ 'opacity': '1' }, 100)
                                $(".imgSquadra").css(StartPositionImgSquadra).animate(ViewPositionImgSquadra, 200).promise().then(function () {
                                    $(".numeroGiocatore").css(StartPositionNumeroGiocatore).animate(ViewPositionNumeroGiocatore, 200).promise().then(function () {
                                        $(".imgGiocatore").css(StartPositionImgGiocatore).animate(ViewPositionImgGiocatore, 200).promise().then(function () {
                                            $(".imgAzione").css(StartPositionImgAzione).animate(ViewPositionImgAzione, 200).promise().then(function () {
                                                $(".imgSponsor").css(StartPositionImgSponsor).animate(ViewPositionImgSponsor, 200).promise().then(function () {
                                                    $(".nomeGiocatore").css(StartPositionNomeGiocatore).animate(ViewPositionNomeGiocatore, 200).promise().then(function () {
                                                        StatoAnimazione = "Montato";
                                                        setTimeout(function () {
                                                            Animazione.Smonta();

                                                        }, 4000);

                                                    });
                                                });
                                            });
                                        });
                                    });

                                });

                            } else {
                                $(".EventiPartita").append("<img  class='imgSquadra' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");

                                $(".EventiPartita").append("<img  class='imgGoal' src='/img/azione/goal.png' />");

                                $(".EventiPartita").animate({ 'opacity': '1' }, 100)
                                $(".imgSquadra").css(StartPositionImgSquadra).animate(ViewPositionImgSquadra, 200).promise().then(function () {
                                    $(".imgGoal").css({ top: "-100px", left: "100px", opacity: "1" }).animate({ top: "-100px", left: "1000px", opacity: "1" }, 2000).promise().then(function () {
                                        $(".imgGoal").animate({ top: "-100px", left: "100px", opacity: "1" }, 2000).promise().then(function () {
                                            $(".imgGoal").animate({ top: "-100px", left: "1000px", opacity: "1" }, 2000).promise().then(function () {
                                                $(".imgGoal").animate({ top: "-100px", left: "100px", opacity: "0" }, 2000).promise().then(function () {
                                                    StatoAnimazione = "Montato";
                                                    Animazione.Smonta();
                                                });
                                            });
                                        });
                                    });
                                });




                            }
                            break;
                    }






                } else {
                    //console.log("attendi la coda caro!");
                }
            }

            Smonta() {
                //console.log("smonto!");
                if (StatoAnimazione == "Montato") {
                    StatoAnimazione = "Smontaggio";


                    //ammonizione ed espulsione
                    switch (this.Evento.fk_int_TipoEventoMatch) {
                        case 4: //caso della sostituzione
                            $(".imgGiocatoreSecondario").animate(EndPositionImgGiocatore, 200).promise().then(function () {
                                $(".imgSquadra").animate(EndPositionImgSquadra, 200).promise().then(function () {
                                    $(".numeroGiocatoreSecondario").animate(EndPositionNumeroGiocatore, 200).promise().then(function () {
                                        $(".imgAzioneEntra").animate(EndPositionImgAzioneEntra, 200).promise().then(function () {
                                            $(".nomeGiocatoreSecondario").animate(EndPositionNomeGiocatore, 200).promise().then(function () {
                                                $(".imgSponsor").animate({ EndPositionImgSponsor }, 200).promise().then(function () {
                                                    if (codaAnimazione.length == 0) {

                                                        $(".EventiPartita").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                                            $(".EventiPartita").empty();
                                                            StatoAnimazione = "Smontato";
                                                            Anima();
                                                        })
                                                    } else {
                                                        $(".EventiPartita").empty();
                                                        StatoAnimazione = "Smontato";
                                                        Anima();
                                                    }
                                                });
                                            });
                                        });
                                    });
                                });
                            });

                            break;
                        case 2:
                        case 3:

                            $(".imgGiocatore").animate(EndPositionImgGiocatore, 200).promise().then(function () {
                                $(".imgSquadra").animate(EndPositionImgSquadra, 200).promise().then(function () {
                                    $(".numeroGiocatore").animate(EndPositionNumeroGiocatore, 200).promise().then(function () {
                                        $(".imgAzione").animate(EndPositionImgAzione, 200).promise().then(function () {
                                            $(".nomeGiocatore").animate(EndPositionNomeGiocatore, 200).promise().then(function () {
                                                $(".imgSponsor").animate({ EndPositionImgSponsor }, 200).promise().then(function () {
                                                    if (codaAnimazione.length == 0) {

                                                        $(".EventiPartita").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                                            $(".EventiPartita").empty();
                                                            StatoAnimazione = "Smontato";
                                                            Anima();
                                                        })
                                                    } else {
                                                        $(".EventiPartita").empty();
                                                        StatoAnimazione = "Smontato";
                                                        Anima();
                                                    }
                                                });
                                            });
                                        });
                                    });
                                });
                            });

                            break;
                        case 1:
                            if (this.Evento.fk_int_Giocatore > 0) {

                                $(".imgGiocatore").animate(EndPositionImgGiocatore, 200).promise().then(function () {
                                    $(".imgSquadra").animate(EndPositionImgSquadra, 200).promise().then(function () {
                                        $(".numeroGiocatore").animate(EndPositionNumeroGiocatore, 200).promise().then(function () {
                                            $(".imgAzione").animate(EndPositionImgAzione, 200).promise().then(function () {
                                                $(".nomeGiocatore").animate(EndPositionNomeGiocatore, 200).promise().then(function () {
                                                    $(".imgSponsor").animate({ EndPositionImgSponsor }, 200).promise().then(function () {
                                                        if (codaAnimazione.length == 0) {
                                                            $(".EventiPartita").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                                                $(".EventiPartita").empty();
                                                                StatoAnimazione = "Smontato";
                                                                Anima();
                                                            })
                                                        } else {
                                                            $(".EventiPartita").empty();
                                                            StatoAnimazione = "Smontato";
                                                            Anima();
                                                        }

                                                    });
                                                });
                                            });
                                        });
                                    });
                                });

                            } else {
                                $(".imgGoal").animate({ EndPositionImgSponsor }, 200).promise().then(function () {
                                    if (codaAnimazione.length == 0) {
                                        $(".EventiPartita").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                            $(".EventiPartita").empty();
                                            StatoAnimazione = "Smontato";
                                            Anima();
                                        })
                                    } else {
                                        $(".EventiPartita").empty();
                                        StatoAnimazione = "Smontato";
                                        Anima();
                                    }
                                });

                            }
                            break;
                    }




                }
            }


            Proporziona(dato) {
                if (altezza == 90) {
                    return dato
                }
            }
        }




        var Animazione = new clsAnimazione();

        function Anima(g) {
            //console.log("anima")
            //console.log(g)
            if (g != undefined) {
                codaAnimazione.push(g);
            }


            //console.log(codaAnimazione.length)
            if (codaAnimazione.length > 0 && StatoAnimazione == 'Smontato') {
                //console.log()
                Animazione.Monta(codaAnimazione[0]);
                //console.log(codaAnimazione)
                codaAnimazione.shift();
                //console.log(codaAnimazione)
            }



        }






    </script>


    <script>

        var IdScenaRiprodotta = 0; 

        var ArrParametriGenerali = Array;
        var video_control = ""
        var countPlaylistAct = 0;
        var countCanvasAct = 0;
        var ArrTempi = Array;
        var ArrTempiMatch = Array;
        var ArrTempiIntrattenimento = Array;
        var ArrScenePlaylist = Array;
        var ArrScenePlaylistMatch = [];
        var ArrScenePlaylistIntrattenimento = Array;
        var contatoreScene = 0;
        var contatoreSceneMatch = 0;
        var contatoreSceneIntrattenimento = 0;
        var inc_sommaTempiMatch = 0
        var inc_sommaTempiIntrattenimento = 0
        var fk_int_PeriodoMatch = 0
        var fk_int_PeriodoIntrattenimento = 0

        var intIstanteInizialePlaylist = 0

        //var IpServer = "localhost:3287"
        var IpServer = "localhost:5000"
        //var IpServer = "localhost:800"
        //var IpServer = "5.97.177.35:83"
        //var IpServer = "192.168.50.52"




        $(document).ready(function () {
            $("#Animazione").hide();
            intIstanteInizialePlaylist = 0;
            ArrTempiIntrattenimento[0] = 0;

            $.when(CaricaParametriIniziali()).then(function (x) {

            });


            $("#CanvasVideoMatch").show();
        });




            
  


        /*

         ██████╗ █████╗ ██████╗ ██╗ ██████╗ █████╗ ███╗   ███╗███████╗███╗   ██╗████████╗ ██████╗
        ██╔════╝██╔══██╗██╔══██╗██║██╔════╝██╔══██╗████╗ ████║██╔════╝████╗  ██║╚══██╔══╝██╔═══██╗
        ██║     ███████║██████╔╝██║██║     ███████║██╔████╔██║█████╗  ██╔██╗ ██║   ██║   ██║   ██║
        ██║     ██╔══██║██╔══██╗██║██║     ██╔══██║██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║   ██║   ██║
        ╚██████╗██║  ██║██║  ██║██║╚██████╗██║  ██║██║ ╚═╝ ██║███████╗██║ ╚████║   ██║   ╚██████╔╝
         ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝ ╚═════╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝    ╚═════╝

        ██████╗ ██╗      █████╗ ██╗   ██╗██╗     ██╗███████╗████████╗
        ██╔══██╗██║     ██╔══██╗╚██╗ ██╔╝██║     ██║██╔════╝╚══██╔══╝
        ██████╔╝██║     ███████║ ╚████╔╝ ██║     ██║███████╗   ██║
        ██╔═══╝ ██║     ██╔══██║  ╚██╔╝  ██║     ██║╚════██║   ██║
        ██║     ███████╗██║  ██║   ██║   ███████╗██║███████║   ██║
        ╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝╚══════╝   ╚═╝

        */

        //funzione temporanea per il controllo degli array (archiviazione nel db, comprensione problematiche di timing)
        function DebugVariabili(Messaggio,NomeVariabile,Variabile) {
            let ooo = {};
            ooo.nva_Messaggio = Messaggio;
            ooo.nva_NomeArray = NomeVariabile;
            ooo.nva_Contenuto = JSON.stringify(Variabile);
            ooo.nva_NumeroElementi = Variabile.length;

            
            $.ajax({
                dataType: 'text',
                type: 'POST',
                url: "/Ajax/ArchiviaRecordDebug",
                data: ooo
            }).done(function (data) {
                //console.log(data);
            })
            
        }




        function CaricaTimelineMatch(fk_int_Playlist) {
            console.log("CaricaTimelineMatch");
            //console.log("fk_int_Periodo:" + fk_int_Periodo + " fk_int_Playlist:" + fk_int_Playlist)
            fk_int_PlaylistSelezionata = fk_int_Playlist;
             // ArrTempiMatch = [];
            inc_sommaTempiMatch = 0;
            //console.log("CaricaTimelineMatch");
            AggiornaTimelineMatch(fk_int_Playlist).done(function () {
                //console.log("AggiornaTimelineMatch DONE");
                CaricamentoInizialeMatch();
            })
        }



        function AggiornaTimelineMatch() {
            console.log("AggiornaTimelineMatch");
   
            //console.log("AggiornaTimelineMatch fk_int_Periodo = " + fk_int_PeriodoMatch + " & fk_int_Playlist=" + fk_int_PlaylistSelezionata );
            return $.ajax({
                url: "/acquisizione_scene/GetScenePlaylist",
                data: "fk_int_Playlist=" + fk_int_PlaylistSelezionata 
            }).done(function (data) {

                 ArrScenePlaylistMatch = JSON.parse(data);

                //DebugVariabili("AggiornaTimelineMatch", "ArrScenePlaylistMatch", data);
                //console.log("mando a video la timeline appena caricata");
               // console.log(ArrScenePlaylistMatch);
                //console.log("---------------------------------------------------------------");
              //  for (progressivo in tmp) {
                  //  ArrScenePlaylistMatch[progressivo] = tmp[progressivo];

                    //console.log(progressivo + " = " + JSON.stringify(tmp[progressivo]));
                //}

                //$.each(tmp, function (index, value) {
                //    ArrScenePlaylistMatch[index] = value;
                //    console.log("index:" + index);
                //    console.log("value:" + value);
                //    console.log("-----------------");
                //}); 
            });
        }




        function CaricamentoInizialeMatch() {
            //console.log("CaricamentoInizialeMatch");
            CaricaSceneSpecialiMatch()
            intIstanteInizialePlaylist = 0;


            //DebugVariabili("dentro CaricamentoInizialeMatch", "ArrScenePlaylistMatch", ArrScenePlaylistMatch);


           // caricaScenaMatch(0);
            //inc_sommaTempiMatch = GetDurataScenaMatch(0);
            tieniIlTempo();
        }



        function CaricaSceneSpecialiMatch() {
            console.log("CaricaSceneSpecialiMatch");
            //console.log(ArrScenePlaylistMatch);
            var dper_old = ""
            $.each(ArrScenePlaylistMatch, function (i, g) {
                if (g.tsc > 0) {
                    
                    caricaScenaMatch(g);
                } else {
                    if (g.dper != dper_old) {
  
                        caricaScenaMatch(g);

                        let Comando = CostruisciMessaggio("$('.idPeriodo_" + g.iper + "').removeClass('btn-warning').addClass('btn-danger');");
                        SetDatiFromPlayerToUi(Comando);
                    }
                }
                dper_old = g.dper;

            });
        }





       


        function caricaScenaMatch(objScena) {
 
            //let objScena = ArrScenePlaylistMatch[idScena];

            //console.log("caricaScenaMatch");

            if ($("#scenaMatch_" + objScena.id).length == 0) {
     
                $("#CanvasVideoMatch").append("<div ID='scenaMatch_" + objScena.id + "' class='scenaMatch tipoScena_" + objScena.tsc + " primaScena_" + objScena.psc + "'   ></div>");
                $("#scenaMatch_" + objScena.id).hide();

                $(".deb_1").text("carico la scena con id: " + objScena.id + " e progressivo: " + objScena.pro)
                $.ajax({
                    url: "/acquisizione_scene",
                    data: "fk_int_scena=" + objScena.id
                }).done(function (data) {
                    let ListaVideo = JSON.parse(data);
                 
                    //DebugVariabili("caricaScenaMatch", "ListaVideo", ListaVideo);
                    //CostruisciMessaggio("$('#ui_scena_" + idScena + "').loading(); ");
                    //SetDatiFromPlayerToUi();

                    caricamentoScaglionatoVideoMatch(ListaVideo, objScena);
                });
            }
        }





        function caricamentoScaglionatoVideoMatch(ListaVideo, objScena) {

            //console.log("~--\/--\/--\/--\/--\/--\/--\/--\/--\/--~")
            //console.log("caricamentoScaglionatoVideoMatch")
            //console.log("numeroScena: " + numeroScena)
            
            //DebugVariabili("caricamentoScaglionatoVideoMatch", "numeroScena", numeroScena);  
            //DebugVariabili("caricamentoScaglionatoVideoMatch", "ListaVideo", ListaVideo); 
            //DebugVariabili("caricamentoScaglionatoVideoMatch", "idScena", idScena); 

           
           // if (numeroScena == 0) {
           
            //}
            let g = 0;
            $.each(ListaVideo, function (index, val) {
                g++;
                setTimeout(function () {
                   
               
                    //if (g < 20) {


                      //  console.log("carico il video " + val.nva_PahtFile)
                   
                            $("#scenaMatch_" + objScena.id).append('<video muted width="' + val.int_W + '" height="' + val.int_H + '" style="margin-left:' + val.int_MarginL + 'px; margin-top:' + val.int_MarginT + 'px;" control><source src="' + val.nva_PahtFile + '" /></video>');
                    

                   // }
                   //DebugVariabili("Carico singolo video","ArrayVideo" ,val);        
                        
                }, 1000 + (g * 200));
              //  last = index
                //console.log("nva_PahtFile: " + val.nva_PahtFile);

            });

            
            //CostruisciMessaggio("$('.idPeriodo_" + fk_int_PeriodoMatch + "').removeClass('btn-danger').addClass('btn-warning').attr('Comando','riproduciScenaMatch(0);' ); ");
            //console.log("numerovide: " + last)
            //setTimeout(function () {
            //    //if (numeroScena == 0) {
            //    //    CostruisciMessaggio("$('.idPeriodo_" + fk_int_PeriodoMatch + "').removeClass('btn-danger').addClass('btn-warning').attr('Comando','riproduciScenaMatch(0);' ); ");
            //    //}
            //    //CostruisciMessaggio("$('#ui_scena_" + idScena + "').loaded(); ");
            //    //SetDatiFromPlayerToUi();
            //}, 100 + ((last + 1) * 100));


            //console.log("~--/\--/\--/\--/\--/\--/\--/\--/\--/\--~")
        }


        


        //function GetScenaMatch(n) {
        //    return ArrScenePlaylistMatch[n];
        //}
        //function GetFkTipoScenaMatch(n) {
        //    return ArrScenePlaylistMatch[n].tsc;
        //}
        //function GetIdScenaMatch(n) {
        //    return ArrScenePlaylistMatch[n].id;
        //}
        //function GetDurataScenaMatch(n) {
        //    return ArrScenePlaylistMatch[n].msec;
        //}
        //function GetIniziaDaScenaMatch(n) {
        //    return ArrScenePlaylistMatch[n].start;
        //}
        //function GetStopAScenaMatch(n) {
        //    return ArrScenePlaylistMatch[n].stop;
        //}
        //function GetNextIdScenaMatch(n) {
        //    return ArrScenePlaylistMatch[n].nid;
        //}
        //function GetDescrizionePeriodoScenaMatch(n) {
        //    return ArrScenePlaylistMatch[n].dper;
        //}
        //function GetIdPeriodoScenaMatch(n) {
        //    return ArrScenePlaylistMatch[n].iper;
        //}




        //function getKey(arr, IdDaTrovare) {
        //    for (item in arr) {
        //        //console.log("-----------------------------------");
        //        //console.log(item);
        //        //console.log("-----------------------------------");
        //        if (arr[item].id == IdDaTrovare) return item
        //    }
        //}


        function getAllKeyWithProperty(arr, IdDaTrovare) {
            let a=[];
            for (item in arr) {
                if (arr[item].fk_int_TipoScena == IdDaTrovare) {
                    a.push(item);
                }
            }
            return a;
        }

        /*

        ████████╗███████╗███╗   ███╗██████╗  ██████╗ ██████╗ ██╗███████╗███████╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
        ╚══██╔══╝██╔════╝████╗ ████║██╔══██╗██╔═══██╗██╔══██╗██║╚══███╔╝╚══███╔╝██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
           ██║   █████╗  ██╔████╔██║██████╔╝██║   ██║██████╔╝██║  ███╔╝   ███╔╝ ███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
           ██║   ██╔══╝  ██║╚██╔╝██║██╔═══╝ ██║   ██║██╔══██╗██║ ███╔╝   ███╔╝  ██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
           ██║   ███████╗██║ ╚═╝ ██║██║     ╚██████╔╝██║  ██║██║███████╗███████╗██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
           ╚═╝   ╚══════╝╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

        */






        /**************** temporizzatore generale ************/
        function tieniIlTempo() {
            setInterval(function () {
                if (intIncrementalePeriodo > 0) {

                    var dataTime = new Date();
                    var dataoraact = (dataTime.getTime());

                    //console.log("------------------------------------------");
                    //console.log("intIncrementalePeriodo: " + intIncrementalePeriodo);
                    //console.log("intIstanteInizialePlaylist: " + intIstanteInizialePlaylist);
                    //console.log("inc_sommaTempiMatch: " + inc_sommaTempiMatch);
                    //console.log("sommaTemporale: " + sommaTemporale);
                    //console.log("dataoraact: " + dataoraact);
                    //console.log("differenze: " + (dataoraact - intIncrementalePeriodo));
                    //console.log("--***********************************--");


                    if ((dataoraact > (intIncrementalePeriodo))) {

                        let ScenaOld = ScenaRiprodotta;
                        
                        ScenaRiprodotta = GetNexScenaMatch(ScenaRiprodotta)
                        $("#scenaMatch_" + ScenaOld.id).css("zIndex", "1");
                        //avvio la nuova vecchia
                        riproduciScenaMatch(ScenaRiprodotta);
                        //nascondo la scena vecchia
                        setTimeout(function () { NascondiScena(ScenaOld); }, 250);

                    }
                }
            }, 20); //50);
        }




        /**************** trovo la prossima scena ************/


        function GetNexScenaMatch(scenaAct) {
            return ArrScenePlaylistMatch[scenaAct.nid];
        }



        function NascondiScena(objScena) {
            if ($("#scenaMatch_" + objScena.id).hasClass("tipoScena_0") && $("#scenaMatch_" + objScena.id).hasClass("primaScena_0")) {
                $("#scenaMatch_" + objScena.id).remove();
            } else {
                FermaTuttiIVideoMatch(objScena);
                $("#scenaMatch_" + objScena.id).hide();
            }
        }




        function pausaVideoMatch() {
            $("#CanvasVideoMatch video").each(function () {
                $(this).get(0).pause();
            });
        }




        function FermaTuttiIVideoMatch(objScena) {
            $("#scenaMatch_" + objScena.id ).children('video').each(function () {
                $(this).get(0).pause();
                $(this).get(0).currentTime = 0;
            });
        }

        function FermaTuttiIVideoDentroElemento(Elemento) {
            console.log("ferma ");
            Elemento.children('video').each(function () {
                $(this).get(0).pause();
                $(this).get(0).currentTime = 0;
            });
        }



        /**
        da verificare
         */
        function riproduciScenaSpecialeMatch(IdDaRiprodurreSubito) {
            let ChiaveDaMandareInPlaySubito = getKey(ArrScenePlaylistMatch, IdDaRiprodurreSubito);
            let ProssimaChiaveRiprodotta = contatoreSceneMatch + 1;
            let ElementoDaInserire = ArrScenePlaylistMatch[ChiaveDaMandareInPlaySubito]
            ArrScenePlaylistMatch.splice(ProssimaChiaveRiprodotta, 0, ElementoDaInserire);
            let ArrChiaviInteressate = getAllKeyWithProperty(ArrScenePlaylistMatch, IdDaRiprodurreSubito);
            for (item in ArrChiaviInteressate) {
                if (ArrChiaviInteressate[item] != ProssimaChiaveRiprodotta) {
                    ArrScenePlaylistMatch.splice(ArrChiaviInteressate[item], 1);
                }
            }
        }

        




        function AvviaRiproduzionePlaylistDaPeriodo(IDperiodo) {
            jQuery.each(ArrScenePlaylistMatch, function(i) {
                let g = ArrScenePlaylistMatch[i];
                if (g.iper == IDperiodo && g.psc == 1) {
                    intIncrementalePeriodo = 0;
                    riproduciScenaMatch(g)
                    return false;
                }
            });
        }






        function riproduciScenaMatch(objScena) {
  
         //   let objScena = ArrScenePlaylistMatch[id];
            ScenaRiprodotta = objScena
            
            if (intIncrementalePeriodo == 0) {
                let d = new Date();
                intIncrementalePeriodo = d.getTime();
            } 


            let IniziaDaScenaMatch = objScena.start;
            let DurataScenaMatch = objScena.msec;
            let TotaleTempoScenaMatch = DurataScenaMatch - IniziaDaScenaMatch;

            if (FattoreVelocitaVideo != 1) {
                TotaleTempoScenaMatch = TotaleTempoScenaMatch / FattoreVelocitaVideo
            }

            intIncrementalePeriodo = intIncrementalePeriodo + TotaleTempoScenaMatch

            $("#scenaMatch_" + objScena.id).children('video').each(function () {
                if (FattoreVelocitaVideo != 1) {
                    $(this).get(0).playbackRate = FattoreVelocitaVideo;
                }

                if (IniziaDaScenaMatch > 0) {
                    $(this).get(0).currentTime = IniziaDaScenaMatch / 1000;
                }

                $(this).get(0).play();

            });

            $("#scenaMatch_" + objScena.id).css("zIndex", "10");
            $("#scenaMatch_" + objScena.id).show();
            
            //if ($("#scenaMatch_" + objScena.id).hasClass("tipoScena_0") && $("#scenaMatch_" + objScena.id).hasClass("primaScena_0")) {
            //    $("#scenaMatch_" + objScena.id).remove()
            //    console.log("Rimuovo la scena " + objScena.id);
            //} else {
            //    $("#scenaMatch_" + objScena.id).hide()
            //    FermaTuttiIVideoMatch(objScena.id);
            //    console.log("Fermo la scena " + objScena.id);
            //}
            //$(".scenaMatch").children('video').each(function () {
            //    $(this).get(0).pause();
            //});




          //  $(".scenaMatch").css("zIndex", "10");
           // $("#scenaMatch_" + objScena.id).show();
            //$(".scenaMatch").not("#scenaMatch_" + objScena.id).hide()
            //$(".primaScena_0.tipoScena_0").not("#scenaMatch_" + objScena.id).remove()
            

            $(".deb_2").text("mando in play id " + objScena.id );

            //CostruisciMessaggio("$('#ui_scena_" + objScena.id + "').playing(); ");
            //SetDatiFromPlayerToUi();
            //$(".primaScena_0.tiposcena_0").not("#scenaMatch_" + objScena.id).remove()


           // let nextIdScenaMatch = objScena.nid;
           // console.log("prossimo ID scena: " + nextIdScenaMatch);
            caricaScenaMatch(ArrScenePlaylistMatch[objScena.nid])
        }








        function riproduciIstantaneamenteScenaMatch(fk_int_Scena) {
            /*

            let ElementoParzialeCheVerraStoppato = ScenaRiprodotta;
            ElementoParzialeCheVerraStoppato.stop=


            $.ajax({
                dataType: 'text',
                type: 'POST',
                url: "/Ajax/InserisciScenaParziale",
                data: ooo
            }).done(function (data) {


            })


            let ElementoParzialeCheVerraStoppato = ScenaRiprodotta;
            let ElementoParzialeDaRiAccodare =ScenaRiprodotta;
            let ElementoDaMandareInPlaySubito = ArrScenePlaylistMatch[fk_int_Scena];

            console.log("1300 ElementoParzialeCheVerraStoppato: " + JSON.stringify(ElementoParzialeCheVerraStoppato));
            console.log("1301 ElementoParzialeDaRiAccodare: " + JSON.stringify(ElementoParzialeDaRiAccodare));
            console.log("1302 ElementoDaMandareInPlaySubito: " + JSON.stringify(ElementoDaMandareInPlaySubito));







            console.log("sparo array")
            console.log(JSON.stringify(ArrScenePlaylistMatch))
            h = 0;
            for (var item in ArrScenePlaylistMatch) {

                
                //ArrScenePlaylistMatch.splice(h, 1);
                ArrScenePlaylistMatch.splice((h + 1), 0, ElementoParzialeDaRiAccodare);
                h++;
                //if (item != chiaveAttribuitaAScenaSpeciale) {
                //    //console.log("scorro:" + item);
                //    let el = ArrScenePlaylistMatch[item];
                //    if (el.id == fk_int_Scena) {
                //        ArrScenePlaylistMatch.splice(item, 1);
                //        //console.log("1514 rimuovo:" + item);
                //    }
                //}
            }
            console.log(JSON.stringify(ArrScenePlaylistMatch))
           // ArrScenePlaylistMatch.splice(chiaveAttribuitaAScenaSpeciale, 0, ElementoDaMandareInPlaySubito);




            //sposto la chiave da riprodurre dal fondo alla scena nella quale sono adesso
 
            //let chiaveAttribuitaAScenaSpeciale = contatoreSceneMatch + 1;
            //console.log("1482 ChiaveAttribuitaAScenaSpeciale: " + chiaveAttribuitaAScenaSpeciale);

            //console.log("1483 ArrScenePlaylistMatch: " + JSON.stringify(ArrScenePlaylistMatch));



            //console.log("1503 ArrScenePlaylistMatch: " + JSON.stringify(ArrScenePlaylistMatch));

           // ArrScenePlaylistMatch.splice((chiaveAttribuitaAScenaSpeciale + 1), 0, ElementoParzialeDaRiAccodare);

            //console.log("1507 ArrScenePlaylistMatch: " + JSON.stringify(ArrScenePlaylistMatch));


            */
            //ArrScenePlaylistMatch.splice(chiaveScenaSpeciale, 1);
            /*
            for (var item in ArrScenePlaylistMatch) {
                if (item != chiaveAttribuitaAScenaSpeciale) {
                    //console.log("scorro:" + item);
                    let el = ArrScenePlaylistMatch[item];
                    if (el.id == fk_int_Scena) { 
                        ArrScenePlaylistMatch.splice(item, 1);
                        //console.log("1514 rimuovo:" + item);
                    }
                }
            }
            */
            //console.log("1511 ArrScenePlaylistMatch: " + JSON.stringify(ArrScenePlaylistMatch));

          //DebugVariabili("riproduciIstantaneamenteScenaSpecialeMatch", "1502 ArrScenePlaylistMatch", ArrScenePlaylistMatch);
          //console.log("1508 riproduciIstantaneamenteScenaSpecialeMatch");

          //prendo il tempo attuale
        //    let d = new Date();
         //   let istanteInizioScenaSpeciale = d.getTime();



          //console.log("1541 istanteInizioScenaSpeciale: " + Math.round(istanteInizioScenaSpeciale/1000));


          //calcolo quanto manca alla fine della scena attualmente in riproduzione in modo da farglielo recuperare al termine della scena speciale
          // DebugVariabili("riproduciIstantaneamenteScenaSpecialeMatch", "15 istanteInizioScenaSpeciale", istanteInizioScenaSpeciale);
          //console.log("1517 riproduciIstantaneamenteScenaSpecialeMatch");


            //console.log("1549 inc_sommaTempiMatch: " + Math.round(inc_sommaTempiMatch/1000));

           // let StopA = istanteInizioScenaSpeciale - (intIncrementalePeriodo + (inc_sommaTempiMatch - ElementoParzialeDaRiAccodare.msec ))  //istanteInizioScenaSpeciale ((intIstanteInizialePlaylist + inc_sommaTempiMatch) - );

            //let IniziaDa = StopA;

            //console.log("1553 StopA: " + Math.round(StopA / 1000));
            //console.log("1554 IniziaDa: " + Math.round(IniziaDa / 1000));


            //let ElementoParzialeCheVerraStoppato = ArrScenePlaylistMatch[contatoreSceneMatch];

            //ElementoParzialeCheVerraStoppato.stop = StopA;
            //ElementoParzialeDaRiAccodare.start = IniziaDa;
            //ArrScenePlaylistMatch[contatoreSceneMatch] = ElementoParzialeCheVerraStoppato;
            //ArrScenePlaylistMatch[(contatoreSceneMatch+2)] = ElementoParzialeDaRiAccodare;

            //inc_sommaTempiMatch = inc_sommaTempiMatch + IniziaDa - ElementoParzialeDaRiAccodare.Durata;
            //console.log("1565 inc_sommaTempiMatch: " + Math.round(inc_sommaTempiMatch/1000));


            
        }














   

        function AvanzaVeloce(fattore) {

            FattoreVelocitaVideo = fattore;
            DebugVariabili("AvanzaVeloce", "FattoreVelocitaVideo", FattoreVelocitaVideo);


        }







        function pad(num, size) {
            var s = num + "";
            while (s.length < size) s = "0" + s;
            return s;
        }







        //var Messaggi = [];
        //function CostruisciMessaggio(dato) {
        //    var Messaggio = {}
        //    //console.log("invio:" + dato)
        //    Messaggio.nva_Dato = encodeURIComponent(dato)
        //    Messaggi.push(Messaggio);
        //}









        var tttt = setInterval(GetDatiFromUiToPlayer, 1000);









    </script>

    <script type="text/javascript">
        'use strict';
       /*

        ██╗███╗   ██╗██╗███████╗██╗ █████╗ ██╗     ██╗███████╗███████╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
        ██║████╗  ██║██║╚══███╔╝██║██╔══██╗██║     ██║╚══███╔╝╚══███╔╝██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
        ██║██╔██╗ ██║██║  ███╔╝ ██║███████║██║     ██║  ███╔╝   ███╔╝ ███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
        ██║██║╚██╗██║██║ ███╔╝  ██║██╔══██║██║     ██║ ███╔╝   ███╔╝  ██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
        ██║██║ ╚████║██║███████╗██║██║  ██║███████╗██║███████╗███████╗██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
        ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

        ███╗   ███╗ █████╗ ████████╗ ██████╗██╗  ██╗
        ████╗ ████║██╔══██╗╚══██╔══╝██╔════╝██║  ██║
        ██╔████╔██║███████║   ██║   ██║     ███████║
        ██║╚██╔╝██║██╔══██║   ██║   ██║     ██╔══██║
        ██║ ╚═╝ ██║██║  ██║   ██║   ╚██████╗██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝    ╚═════╝╚═╝  ╚═╝

       Font Name: ANSI Shadow
        */


        function InizializzaMatch() {

            PopolaLoghiSquadre();
            //console.log("ciao");
            CambiaPunteggio({ "casa": 0, "ospiti": 1 });
        }





    </script>

    <script type="text/javascript">
        'use strict';

        /*
        ██████╗ ██╗   ██╗███╗   ██╗████████╗███████╗ ██████╗  ██████╗ ██╗ ██████╗
        ██╔══██╗██║   ██║████╗  ██║╚══██╔══╝██╔════╝██╔════╝ ██╔════╝ ██║██╔═══██╗
        ██████╔╝██║   ██║██╔██╗ ██║   ██║   █████╗  ██║  ███╗██║  ███╗██║██║   ██║
        ██╔═══╝ ██║   ██║██║╚██╗██║   ██║   ██╔══╝  ██║   ██║██║   ██║██║██║   ██║
        ██║     ╚██████╔╝██║ ╚████║   ██║   ███████╗╚██████╔╝╚██████╔╝██║╚██████╔╝
        ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝ ╚═════╝

         ██████╗ ██████╗  ██████╗ ██╗      ██████╗  ██████╗ ██╗ ██████╗
        ██╔═══██╗██╔══██╗██╔═══██╗██║     ██╔═══██╗██╔════╝ ██║██╔═══██╗
        ██║   ██║██████╔╝██║   ██║██║     ██║   ██║██║  ███╗██║██║   ██║
        ██║   ██║██╔══██╗██║   ██║██║     ██║   ██║██║   ██║██║██║   ██║
        ╚██████╔╝██║  ██║╚██████╔╝███████╗╚██████╔╝╚██████╔╝██║╚██████╔╝
         ╚═════╝ ╚═╝  ╚═╝ ╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝ ╚═════╝

        Font Name: ANSI Shadow
         */
        var TimerStart = new Date();


        function PopolaLoghiSquadre() {
            if (SettingMatch.fk_int_SquadraCasa != undefined && SettingMatch.fk_int_SquadraOspite != undefined) {
                $(".img_punteggioCasa").attr('src', "/img/squadre/" + SettingMatch.fk_int_SquadraCasa + ".png");
                $(".img_punteggioOspiti").attr('src', "/img/squadre/" + SettingMatch.fk_int_SquadraOspite + ".png");
                $("#CanvasClockScore").css("visibility", "visible");
            } else {
                //console.log("PopolaLoghiSquadre non fattibile");
            }

        }


        function AvanzaTimer() {
            var d = new Date();
            var secondsSpan = (d.getTime() - TimerStart.getTime()) / 1000;
            var minutes = Math.floor(secondsSpan / 60)
            var seconds = Math.floor(secondsSpan % 60)
            $(".Timer").html(pad(minutes, 2) + ":" + pad(seconds, 2));
        }





        $(document).ready(function () {

            var myVar = setInterval(function () { AvanzaTimer(); }, 1000);

        })


        function CambiaPunteggio(objPunteggio) {
            //objPunteggio = JSON.parse(objPunteggio);

            if ((SettingMatch.fk_int_SquadraCasa != undefined && SettingMatch.fk_int_SquadraOspite != undefined)) {

                var StringaPunteggio = objPunteggio["casa"] + "-" + objPunteggio["ospiti"];
                $(".div_testoPunteggio").text(StringaPunteggio);
                if (StringaPunteggio.length > 5) {
                    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "10px" })
                } else if (StringaPunteggio.length > 4) {
                    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "70px" })
                } else if (StringaPunteggio.length > 3) {
                    $(".div_testoPunteggio").css({ "letter-spacing": "2px", "font-size": "80px" })
                } else {
                    $(".div_testoPunteggio").css({ "letter-spacing": "10px", "font-size": "88px" })
                }

            }
        }




    </script>



</body>
</html>