﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>

    <link rel="stylesheet" href="~/css/player.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/playerMaxischermo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/playerLed_90.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/textillate-master/assets/animate.css" asp-append-version="true" />

    <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>

</head>

<body style="background-color:black;overflow-x: hidden !important; overflow-y: hidden !important;padding:0px 0px 0px 0px; ">


    <div style="background-color:black; padding:0px 0px 0px 0px;  clip-path: inset(0% 0% 0% 0%); @Html.Raw(ViewBag.DimensioneLedCanvasPerCss)  ">

        <div Id="CanvasLuminosita">
            @Html.Raw(ViewBag.HtmlLuminosità)
        </div>

        <div Id="CanvasEventiPartita">
            @Html.Raw(ViewBag.HtmlEventiPartita)
        </div>

        <div Id="CanvasClockScore">
            @Html.Raw(ViewBag.HtmlClockScore)
        </div>

        <div Id="CanvasResult">
            @Html.Raw(ViewBag.HtmlResult)
        </div>

        <div Id="CanvasPresentazioneGiocatori">
            @Html.Raw(ViewBag.HtmlDiv)
        </div>

        <div Id="CanvasVideoLed"></div>

    </div>

    <div Id="CanvasVideoMaxischermo" style="position:absolute; background-color:black;  @Html.Raw(ViewBag.DimensionePosizioneMaxischermoPerCss) ">
        <div id="TimerPunteggioMaxischermo">
            <div class="testoTempo"><p class="pTestoTempo">45:00</p></div>
            <div class="logoCasa"><img src="~/img/squadre/10.png" /></div>
            <div class="logoOspite"><img src="~/img/squadre/20.png" /></div>
            <div class="testoPunteggio"><p class="pTestoPunteggio">9-6</p></div>
            <div class="divEventiCasa">
                <table class="tabellaEventi" cellpadding="3">
                    <tr><td class="minuto"><p>10"</p></td><td class="nomeGiocatore"><p>56 - Totti</p></td></tr>
                    <tr><td class="minuto"><p>23"</p></td><td class="nomeGiocatore"><p>12 - De Rossi</p></td></tr>
                    <tr><td class="minuto"><p>41"</p></td><td class="nomeGiocatore"><p>5 - Gilardino</p></td></tr>
                    <tr><td class="minuto"><p>53"</p></td><td class="nomeGiocatore"><p>2 - Del Piero</p></td></tr>
                    <tr><td class="minuto"><p>60"</p></td><td class="nomeGiocatore"><p>4 - Bonucci</p></td></tr>
                    <tr><td class="minuto"><p>65"</p></td><td class="nomeGiocatore"><p>3 - Marchisio</p></td></tr>
                    <tr><td class="minuto"><p>73"</p></td><td class="nomeGiocatore"><p>6 - Tardelli</p></td></tr>
                    <tr><td class="minuto"><p>78"</p></td><td class="nomeGiocatore"><p>8 - Cannavaro</p></td></tr>
                    <tr><td class="minuto"><p>85"</p></td><td class="nomeGiocatore"><p>13 - Nesta</p></td></tr>
                </table>
            </div>
            <div class="divEventiOspiti">
                <table class="tabellaEventi" cellpadding="3">
                    <tr><td class="minuto"><p>4"</p></td><td class="nomeGiocatore"><p>10 - Totti</p></td></tr>
                    <tr><td class="minuto"><p>9"</p></td><td class="nomeGiocatore"><p>12 - De Rossi</p></td></tr>
                    <tr><td class="minuto"><p>16"</p></td><td class="nomeGiocatore"><p>5 - Gilardino</p></td></tr>
                    <tr><td class="minuto"><p>22"</p></td><td class="nomeGiocatore"><p>2 - Del Piero</p></td></tr>
                    <tr><td class="minuto"><p>27"</p></td><td class="nomeGiocatore"><p>4 - Bonucci</p></td></tr>
                    <tr><td class="minuto"><p>32"</p></td><td class="nomeGiocatore"><p>3 - Marchisio</p></td></tr>
                </table>
            </div>
        </div>
        <div id="EventiPartitaMaxischermo">

        </div>
        </div>

        @*
        <div Id="CanvasVideoMaxischermo" style="position:absolute; background-color:black;  @Html.Raw(ViewBag.DimensionePosizioneMaxischermoPerCss) ">
        <div class="EventiPartitaMaxischermo" style="width: 1280px; height: 720px; margin-left: 0px; margin-top: 0px; opacity: 1;   ">

        </div>
        </div>
        *@






        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js" asp-append-version="true"></script>
        <script src="~/lib/fitty/fitty.min.js" asp-append-version="true"></script>
        <script src="~/lib/textillate-master/assets/jquery.fittext.js" asp-append-version="true"></script>
        <script src="~/lib/textillate-master/assets/jquery.lettering.js" asp-append-version="true"></script>
        <script src="~/lib/textillate-master/jquery.textillate.js" asp-append-version="true"></script>
        <script src="~/js/jsComune.js" asp-append-version="true"></script>





        <script>
            'use strict';

            /*
            tag:variabiliglobali
            ██╗   ██╗ █████╗ ██████╗ ██╗ █████╗ ██████╗ ██╗██╗     ██╗
            ██║   ██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║██║     ██║
            ██║   ██║███████║██████╔╝██║███████║██████╔╝██║██║     ██║
            ╚██╗ ██╔╝██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║██║     ██║
             ╚████╔╝ ██║  ██║██║  ██║██║██║  ██║██████╔╝██║███████╗██║
              ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚═╝╚══════╝╚═╝

             ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     ██╗
            ██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     ██║
            ██║  ███╗██║     ██║   ██║██████╔╝███████║██║     ██║
            ██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     ██║
            ╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗██║
             ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝
            */
            var altezza = 0;
            var NumeroSceneDaCaricare = 3;
            var ArraySceneCache = [];
            var ValorePassatoFattoreVelocitaVideo = -1;
            var FattoreVelocitaVideo = 100;
            var contatorePerFattoreVelocitaOrologio = 0;
            var zindex = 0;
            var intIncrementalePeriodo = 0;
            var OffsetTemporaleManualeDiretto = 0;
            var Punteggio = {}
            var OffsetTemporaleManuale = 0;
            var ForzaScenaSpecifica = 0;
            var ScenaRiprodottaMaxischermo = {};
            var ScenaRiprodottaLed = {};
            var IntervalOrologio;
            var AvanzaOrologio = 0;
            var ArrayPeriodi = {}
            var ScenaDaSincronizzare = {}
            var MinutiRecupero = 0;
            var elaboratoMaxischermo = 1;
            var elaboratoLed = 1;
            var IdScenaRiprodottaLed = 0;
            var ArrParametriGenerali = Array;
            var ArrSceneLed = [];
            var ArrSceneMaxischermo = [];
            var ArrSceneLedFuturo = [];
            var ArrSceneMaxischermoFuturo = [];
            var intIstanteInizialePlaylist = 0
            var IpServer = "localhost:5000"
            var jsonConfigPeriodi = {}
            var incrementaleTemporizzazioneCaricamento = 0;
            var ArrSceneCaricate;
            var TempoSpotLega = 0;
            var IstanteInizioAvvioRiproduzione;
            var TimerStart;

           
        </script>

        @Html.Partial("azioniLedSerieB_90.cshtml")

        <script type="text/javascript">


            var codaAnimazione = [];

            var StatoAnimazione = "";

            class clsAnimazione {
                constructor() {
                    StatoAnimazione = "Smontato";
                    this.Evento = null
                    this.Giocatore = null;
                    this.Squadra = null;

                }


                Monta(Evento) {

                    //console.log("Monta(Evento) " + JSON.stringify(Evento))
                    //console.log(JSON.stringify(RosaSquadra))
                    this.Evento = Evento;

                    if (this.Evento.fk_int_Giocatore > 0) {
                        this.Giocatore = RosaSquadra[this.Evento.fk_int_Squadra][this.Evento.fk_int_Giocatore];
                    }
                    if (this.Evento.fk_int_GiocatoreSecondario > 0) {
                        this.GiocatoreSecondario = RosaSquadra[this.Evento.fk_int_Squadra][this.Evento.fk_int_GiocatoreSecondario];
                    }

                    this.Squadra = SettingSquadra[this.Evento.fk_int_Squadra];

                    console.log("StatoAnimazione " + StatoAnimazione);
                    if (StatoAnimazione == "Smontato") {

                        

                        StatoAnimazione = "Montaggio";



                        switch (this.Evento.fk_int_TipoEventoMatch) {
                            case 4: //caso della sostituzione

                                
                                if (SettingMatch.tin_AzioniSuLed == 1) {
                                    AnimazioneMontaSostituzioneLed(this);
                                }                           

                                if (SettingMatch.tin_MaxischermoPresente == 1 && SettingMatch.tin_AzioniSuMaxischermo == 1) {
                                    AnimazioneMontaSostituzioneMaxischermo(this);
                                }


                                setTimeout(function () { 
                                    Animazione.Smonta();
                                 }, 16000);



                                break;
                            case 2:
                            case 3:
                                //se devo animare una ammonizione oppure una espulsione
                                if (this.Evento.fk_int_TipoEventoMatch == 2) {
                                    $(".EventiPartitaCentrale").append("<video class='eventoGiocatoreTmp' style='width:1080px; height:90px; z-index:-4;' muted control><source src='/img/" + this.Squadra.nva_PathAnimazione + "_ammonizione_1080_90.mp4'  type='video/mp4' ></video>");
                                    $(".EventiPartitaLaterale").append("<video class='eventoGiocatoreTmp' style='width:480px; height:90px; z-index:-4;' muted control><source src='/img/" + this.Squadra.nva_PathAnimazione + "_ammonizione_480_90.mp4'  type='video/mp4' ></video>");

                                }
                                if (this.Evento.fk_int_TipoEventoMatch == 3) {
                                    $(".EventiPartitaCentrale").append("<video class='eventoGiocatoreTmp' style='width:1080px; height:90px; z-index:-4;' muted control><source src='/img/" + this.Squadra.nva_PathAnimazione + "_espulsione_1080_90.mp4'  type='video/mp4' ></video>");
                                    $(".EventiPartitaLaterale").append("<video class='eventoGiocatoreTmp' style='width:480px; height:90px; z-index:-4;' muted control><source src='/img/" + this.Squadra.nva_PathAnimazione + "_espulsione_480_90.mp4'  type='video/mp4' ></video>");
                                }

                                $(".EventiPartitaCentrale").append("<img class='imgGiocatoreLedCentrale' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                                $(".EventiPartitaCentrale").append("<img class='imgSquadraLedCentrale' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");

                                $(".EventiPartitaCentrale").append("<img class='imgAzioneLedCentrale' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");
                                $(".EventiPartitaCentrale").append("<div class='numeroGiocatoreLedCentrale'><span>" + this.Giocatore.nva_Numero + "</span></div>");

                                $(".EventiPartitaCentrale").append("<div class='nomeGiocatoreLedCentrale'><span class='spanNomeGiocatoreLedCentrale'>" + this.Giocatore.nva_Cognome + "</span></div>")
                                $(".imgSquadraLedCentrale").css({ "height": (altezza - 3) + "px" });
                                fitty('.spanNomeGiocatoreLedCentrale', { maxSize: MaxsizeText, multiLine: false });
                                $(".EventiPartitaCentrale").animate({ 'opacity': '1' }, 100)



                                setTimeout(function () {
                                    $(".eventoGiocatoreTmp").each(function () {
                                        $(this).get(0).pause();
                                        $(this).get(0).currentTime = 0;
                                        $(this).get(0).play();
                                    });
                                }, 200);



                                $(".imgGiocatoreLedCentrale").css(StartPositionImgGiocatoreLedCentrale).animate(ViewPositionImgGiocatoreLedCentrale, 1000).promise().then(function () {

                                    $(".numeroGiocatoreLedCentrale").css(StartPositionNumeroGiocatoreLedCentrale).animate(ViewPositionNumeroGiocatoreLedCentrale, 300).promise().then(function () {


                                        $(".nomeGiocatoreLedCentrale").css(StartPositionNomeGiocatoreLedCentrale).animate(ViewPositionNomeGiocatoreLedCentrale, 300).promise().then(function () {
                                            StatoAnimazione = "Montato";


                                            setTimeout(function () {
                                                Animazione.Smonta();

                                            }, 5000);

                                        });



                                    });

                                });


                                /*Laterale*/


                                $(".EventiPartitaLaterale").append("<img class='imgGiocatoreLedLaterale' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");


                                $(".EventiPartitaLaterale").append("<div class='numeroGiocatoreLedLaterale'><span>" + this.Giocatore.nva_Numero + "</span></div>");

                                $(".imgSquadraLedLaterale").css({ "height": (altezza - 3) + "px" });


                                $(".EventiPartitaLaterale").animate({ 'opacity': '1' }, 100)
                                $(".imgGiocatoreLedLaterale").css(StartPositionImgGiocatoreLedLaterale).animate(ViewPositionImgGiocatoreLedLaterale, 2000).promise().then(function () {

                                    $(".numeroGiocatoreLedLaterale").css(StartPositionNumeroGiocatoreLedLaterale).animate(ViewPositionNumeroGiocatoreLedLaterale, 200).promise().then(function () {

                                    });

                                });


                                break;
                            case 1:




                                if (this.Evento.fk_int_Giocatore > 0) {

                                    $(".EventiPartitaCentrale").append("<video class='eventoGiocatoreTmp' style='width:1080px; height:90px; z-index:-4;' muted control><source src='/img/" + this.Squadra.nva_PathAnimazione + "_goalSenzaGiocatore_1080_90.mp4'  type='video/mp4' ></video>");
                                    $(".EventiPartitaLaterale").append("<video class='eventoGiocatoreTmp' style='width:480px; height:90px; z-index:-4;' muted control><source src='/img/" + this.Squadra.nva_PathAnimazione + "_goalSenzaGiocatore_480_90.mp4'  type='video/mp4' ></video>");


                                    $(".EventiPartitaCentrale").append("<img class='imgGiocatoreLedCentrale' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");


                                    $(".EventiPartitaCentrale").append("<div class='numeroGiocatoreLedCentrale'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                                    $(".EventiPartitaCentrale").append("<div class='nomeGiocatoreLedCentrale'><span class='spanNomeGiocatoreLedCentrale'>" + this.Giocatore.nva_Cognome + "</span></div>");


                                    setTimeout(function () {
                                        $(".eventoGiocatoreTmp").each(function () {
                                            $(this).get(0).pause();
                                            $(this).get(0).currentTime = 0;
                                            $(this).get(0).play();
                                        });
                                    }, 200);


                                    fitty('.spanNomeGiocatoreLedCentrale', { maxSize: MaxsizeText, multiLine: false });

                                    $(".EventiPartitaCentrale").animate({ 'opacity': '1' }, 100)
                                    $(".imgGiocatoreLedCentrale").css(StartPositionImgGiocatoreLedCentrale).animate(ViewPositionImgGiocatoreLedCentrale, 2000).promise().then(function () {
                                        //    $(".imgSquadraLedCentrale").css(StartPositionImgSquadraLedCentrale).animate(ViewPositionImgSquadraLedCentrale, 200).promise().then(function () {


                                        $(".numeroGiocatoreLedCentrale").css(StartPositionNumeroGiocatoreLedCentrale).animate(ViewPositionNumeroGiocatoreLedCentrale, 200).promise().then(function () {


                                            $(".nomeGiocatoreLedCentrale").css(StartPositionNomeGiocatoreLedCentrale).animate(ViewPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                                StatoAnimazione = "Montato";

                                                setTimeout(function () {
                                                    Animazione.Smonta();

                                                }, 4000);

                                            });


                                        });



                                    });



                                    /*Laterale*/

                                    $(".EventiPartitaLaterale").append("<img class='imgGiocatoreLedLaterale' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");

                                    $(".EventiPartitaLaterale").append("<div class='numeroGiocatoreLedLaterale'><span>" + this.Giocatore.nva_Numero + "</span></div>");


                                    $(".EventiPartitaLaterale").animate({ 'opacity': '1' }, 100)
                                    $(".imgGiocatoreLedLaterale").css(StartPositionImgGiocatoreLedLaterale).animate(ViewPositionImgGiocatoreLedLaterale, 2000).promise().then(function () {

                                        $(".numeroGiocatoreLedLaterale").css(StartPositionNumeroGiocatoreLedLaterale).animate(ViewPositionNumeroGiocatoreLedLaterale, 200).promise().then(function () {



                                        });


                                    });



                                } else {


                                    $(".EventiPartitaCentrale").append("<video class='eventoGiocatoreTmp' style='width:1080px; height:90px; z-index:-4;' muted control><source src='/img/" + this.Squadra.nva_PathAnimazione + "_goal_1080_90.mp4'  type='video/mp4' ></video>");
                                    $(".EventiPartitaLaterale").append("<video class='eventoGiocatoreTmp' style='width:480px; height:90px; z-index:-4;' muted control><source src='/img/" + this.Squadra.nva_PathAnimazione + "_goal_480_90.mp4'  type='video/mp4' ></video>");


                                    $(".EventiPartitaCentrale").append("<div class='nomeGiocatoreLedCentrale'><span class='spanNomeGiocatoreLedCentrale'></span></div>");

                                    fitty('.spanNomeGiocatoreLedCentrale', { maxSize: MaxsizeText, multiLine: false });


                                    setTimeout(function () {
                                        $(".eventoGiocatoreTmp").each(function () {
                                            $(this).get(0).pause();
                                            $(this).get(0).currentTime = 0;
                                            $(this).get(0).play();
                                        });
                                    }, 200);

                                    $(".EventiPartitaCentrale").animate({ 'opacity': '1' }, 100)

                                    $(".nomeGiocatoreLedCentrale").css(StartPositionNomeGiocatoreLedCentrale).animate(ViewPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                        StatoAnimazione = "Montato";

                                        setTimeout(function () {
                                            Animazione.Smonta();

                                        }, 7000);

                                    });




                                    /*Laterale */



                                    $(".EventiPartitaLaterale").animate({ 'opacity': '1' }, 100)


                                    $(".imgAzioneLedLaterale").css(StartPositionImgAzioneLedLaterale).animate(ViewPositionImgAzioneLedLaterale, 200).promise().then(function () {


                                    });




                                }
                                break;
                        }


                    } else {
                        //console.log("attendi la coda caro!");
                    }
                }

                Smonta() {
                    //console.log("smonto!");
                    if (StatoAnimazione == "Montato") {
                        StatoAnimazione = "Smontaggio";


                        //ammonizione ed espulsione
                        switch (this.Evento.fk_int_TipoEventoMatch) {
                            case 4: //caso della sostituzione



                                AnimazioneSmontaSostituzioneMaxischermo();



                            break;
                            case 2:
                            case 3:

                                $(".imgGiocatoreLedCentrale").animate(EndPositionImgGiocatoreLedCentrale, 200).promise().then(function () {
                                    $(".numeroGiocatoreLedCentrale").animate(EndPositionNumeroGiocatoreLedCentrale, 200).promise().then(function () {
                                        $(".nomeGiocatoreLedCentrale").animate(EndPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                            ParteFinaleSmontoLedCentrale()
                                        });
                                    });
                                });

                                /*laterale*/

                                $(".imgGiocatoreLedLaterale").animate(EndPositionImgGiocatoreLedLaterale, 200).promise().then(function () {
                                    $(".numeroGiocatoreLedLaterale").animate(EndPositionNumeroGiocatoreLedLaterale, 200).promise().then(function () {
                                        ParteFinaleSmontoLedLaterale()
                                    });
                                });



                                break;
                            case 1:
                                if (this.Evento.fk_int_Giocatore > 0) {

                                    $(".imgGiocatoreLedCentrale").animate(EndPositionImgGiocatoreLedCentrale, 200).promise().then(function () {
                                        $(".numeroGiocatoreLedCentrale").animate(EndPositionNumeroGiocatoreLedCentrale, 200).promise().then(function () {
                                            $(".nomeGiocatoreLedCentrale").animate(EndPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                                ParteFinaleSmontoLedCentrale()
                                            });
                                        });
                                    });



                                    /*Laterale*/


                                    $(".imgGiocatoreLedLaterale").animate(EndPositionImgGiocatoreLedLaterale, 200).promise().then(function () {
                                        $(".numeroGiocatoreLedLaterale").animate(EndPositionNumeroGiocatoreLedLaterale, 200).promise().then(function () {
                                            ParteFinaleSmontoLedLaterale()
                                        });
                                    });



                                } else {
                                    $(".nomeGiocatoreLedCentrale").animate(EndPositionNomeGiocatoreLedCentrale, 200).promise().then(function () {
                                        ParteFinaleSmontoLedCentrale()

                                    });


                                    /*Laterale*/

                                    ParteFinaleSmontoLedLaterale()

                                }
                                break;
                        }




                    }
                }



            }

            var Animazione = new clsAnimazione();

            function Anima(g) {

                console.log("Anima(g)")
                console.log(codaAnimazione)

                if (g != undefined) {
                    console.log("(g != undefined)")
                    console.log(codaAnimazione)
                    codaAnimazione.push(g);
                }

                if (codaAnimazione.length > 0 && StatoAnimazione == 'Smontato') {
                    console.log("(codaAnimazione.length > 0 && StatoAnimazione == 'Smontato')")
                    Animazione.Monta(codaAnimazione[0]);

                    codaAnimazione.shift();

                }

            }




            function BlinkElemento(Elemento, Ripetizioni) {
                var count = 1;
                var intervalId = setInterval(function () {
                    if (Elemento.css('visibility') == 'hidden') {
                        Elemento.css('visibility', 'visible');
                        if (count++ === Ripetizioni) {
                            clearInterval(intervalId);
                        }
                    } else {
                        Elemento.css('visibility', 'hidden');
                    }
                }, 50);
            };



            function ParteFinaleSmontoLedCentrale() {


                if (codaAnimazione.length == 0) {
                    $(".EventiPartitaCentrale").animate({ 'opacity': '0' }, 200).promise().then(function () {
                        $(".EventiPartitaCentrale").empty();
                        StatoAnimazione = "Smontato";
                        Anima();
                    })
                } else {
                    $(".EventiPartitaCentrale").empty();
                    StatoAnimazione = "Smontato";
                    Anima();
                }


                $(".eventoGiocatoreTmp").each(function () {
                    $(this).get(0).pause();
                    $(this).get(0).removeAttribute('src');
                    $(this).get(0).load();


                });

            }

            function ParteFinaleSmontoLedLaterale() {


                if (codaAnimazione.length == 0) {
                    $(".EventiPartitaLaterale").animate({ 'opacity': '0' }, 200).promise().then(function () {
                        $(".EventiPartitaLaterale").empty();

                    })
                } else {
                    $(".EventiPartitaLaterale").empty();

                }
                TempoSpotLega = 0;
                RotazioneCampoSpotLega();

            }

            function PopolaSpotLega() {
                $(".SerieBKTLedCentrale").html("");
                $(".PunteggioLedLaterale").html("");
                $(".PunteggioLedCentrale").html("");
                $(".PunteggioLedLaterale").css("background-color", "#003524;");
                $(".PunteggioLedCentrale").css("background-color", "#003524;");
                $(".SerieBKTLedCentrale").css("background-color", "#003524;");
                //console.log("PopolaSpotLega");

                // $(".PunteggioLedCentrale").append("<div class='DivPunteggioLedCentrale' ></div>")


                $(".SerieBKTLedCentrale").append("<img src='/img/seriebkt_centrale.png' />");




                $(".PunteggioLedCentrale").append("<div class='DivImgSquadraCasaLedCentrale'><img src='/img/squadre/" + SettingMatch.fk_int_SquadraCasa + ".png'  class='ImgSquadraCasaLedCentrale'  /></div>");
                $(".PunteggioLedCentrale").append("<div class='DivImgSquadraOspiteLedCentrale'><img src='/img/squadre/" + SettingMatch.fk_int_SquadraOspite + ".png'  class='ImgSquadraOspiteLedCentrale'  /></div>");
                $(".PunteggioLedCentrale").append("<div class='DivTxtPunteggioCentrale'><p class='TxtPunteggio TxtPunteggioCentrale'>0-0</p></div>");


                $(".PunteggioLedLaterale").append("<div class='DivPunteggioLedLaterale' ></div>")
                $(".PunteggioLedLaterale").append("<div class='DivRispettoLedLaterale' ><video muted control><source src='/VIDEO/RISPETTO_H" + altezza + ".MP4' type='video/mp4'></video></div>")
                $(".PunteggioLedLaterale").append("<div class='DivBambiniLedLaterale' ><video muted control><source src='/VIDEO/BAMBINI_H" + altezza + ".MP4' type='video/mp4'></video></div>")


                $(".DivPunteggioLedLaterale").append("<div class='DivImgSquadraCasaLedLaterale'><img src='/img/squadre/" + SettingMatch.fk_int_SquadraCasa + ".png'  class='ImgSquadraCasaLedLaterale'  /></div>");
                $(".DivPunteggioLedLaterale").append("<div class='DivImgSquadraOspiteLedLaterale'><img src='/img/squadre/" + SettingMatch.fk_int_SquadraOspite + ".png'  class='ImgSquadraOspiteLedLaterale'  /></div>");
                $(".DivPunteggioLedLaterale").append("<div class='DivTxtPunteggioLaterale'><p class='TxtPunteggio TxtPunteggioLaterale'>0-0</p></div>");



                $(".PunteggioLedLaterale").children().hide();

                $(".PunteggioLedCentrale").show();
                //  $("#CanvasLuminosita").hide();
                if (SettingMatch.fk_int_SquadraCasa != undefined && SettingMatch.fk_int_SquadraOspite != undefined) {
                    $(".img_punteggioCasa").attr('src', "/img/squadre/" + SettingMatch.fk_int_SquadraCasa + ".png");
                    $(".img_punteggioOspiti").attr('src', "/img/squadre/" + SettingMatch.fk_int_SquadraOspite + ".png");
                    $("#CanvasClockScore").css("visibility", "visible");
                } else {
                    //console.log("PopolaLoghiSquadre non fattibile");
                }

            }

            function RotazioneCampoSpotLega() {



                if (TempoSpotLega == 0) {

                    $(".DivBambiniLedLaterale").find('video').each(function () {
                        this.pause();
                        this.currentTime = 0;
                    });
                    $(".DivRispettoLedLaterale").find('video').each(function () {
                        this.pause();
                        this.currentTime = 0;
                    });

                    $(".PunteggioLedLaterale").children().slideUp(500);
                    $(".DivPunteggioLedLaterale").slideDown(500);
                }



                if (TempoSpotLega == 5) {
                    $(".PunteggioLedLaterale").children().slideUp(500);
                    $(".DivRispettoLedLaterale").slideDown(500, function () {
                        $(".DivRispettoLedLaterale").find('video').each(function () {
                            this.pause();
                            this.currentTime = 0;
                            this.play();
                        });
                    });
                }

                if (TempoSpotLega == 20) {
                    $(".DivRispettoLedLaterale").find('video').each(function () {
                        this.pause();
                        this.currentTime = 0;
                    });

                    $(".DivBambiniLedLaterale").slideDown(500, function () {
                        $(".DivBambiniLedLaterale").find('video').each(function () {
                            this.pause();
                            this.currentTime = 0;
                            this.play();
                        });
                    });
                }


                TempoSpotLega = TempoSpotLega + 1;
                if (TempoSpotLega > 35) {
                    TempoSpotLega = 0;
                }
            }

        </script>

        @Html.Partial("maxischermo_Empoli.cshtml")


        <script>

            $(document).ready(function () {


                GetSelected("tb_Match");
                GetSelected("tb_Playlist");

                if (SettingGlobalVars["tb_Match"] != undefined) {
                    PopolaSettingMatch();
                    InizializzaMatch();
                }

                // PreloadingScene()
                TieniIlTempo();


                (function repeat() {
                    GetDatiToPlayer();
                    //console.log("-");
                    timerScambioDati = setTimeout(repeat, periodoScambioDati);
                })();



                setInterval(function () { tickTimer(); }, 1000);


                //$(".div_h90").html("<span>a</span>");
                //$(".div_h90 span").css({ "margin-left": "0" ,"color":"red"});

                //setInterval(function () { avanzaLinea(); }, 35);
                // let objG = [{"fk_int_squadra":8,"fk_int_giocatore":101},{"fk_int_squadra":8,"fk_int_giocatore":103},{"fk_int_squadra":8,"fk_int_giocatore":104}];

                // setTimeout(function () {MontaPresentazioneGiocatori(objG)}, 5000);
            });

            //function avanzaLinea() {
            //    let l = parseInt($(".div_h90 span").css("margin-left"), 10);
            //    //console.log(l);
            //    l = l + 50;
            //    $(".div_h90 span").css({"margin-left": l});
            //}


            // var ArrGiocatoriTitolari = [67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78];

            //var ArrGiocatoriRiserve = [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24];

            function PulisciPresentazioneGiocatori() {
                $(".div_h90").empty();
            }

            function MontaPresentazioneGiocatori(objGiocatori) {


                if (objGiocatori.length < 12) {


                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1200 PresentazioneGiocatoriDinamica_11' style='   left:1920px;   ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1200 PresentazioneGiocatoriDinamica_9' style='   left:3120px;   ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1200 PresentazioneGiocatoriDinamica_7' style='   left:4320px;   ' ></div>");


                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1400 PresentazioneGiocatoriDinamica_5' style='   left:6960px;   ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1400 PresentazioneGiocatoriDinamica_3' style='   left:8360px;   ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1400 PresentazioneGiocatoriDinamica_1' style='   left:9760px;   ' ></div>");


                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1400 PresentazioneGiocatoriDinamica_2' style='   left:12240px;   ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1400 PresentazioneGiocatoriDinamica_4' style='   left:13640px; ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1400 PresentazioneGiocatoriDinamica_6' style='   left:15040px;  ' ></div>");


                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1200  PresentazioneGiocatoriDinamica_8' style=' left:17880px;  ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1200 PresentazioneGiocatoriDinamica_10' style='   left:19080px; ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1200 PresentazioneGiocatoriDinamica_12' style='   left:20280px;  ' ></div>");

                    for (i = (objGiocatori.length + 1); i <= 12; i++) {
                        //console.log(i);
                        PosizionaSponsorFormazione(i);

                    }

                } else {


                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1200 PresentazioneGiocatoriDinamica_1' style='   left:1920px;   ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1200 PresentazioneGiocatoriDinamica_2' style='   left:3120px;   ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1200 PresentazioneGiocatoriDinamica_3' style='   left:4320px;   ' ></div>");


                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1400 PresentazioneGiocatoriDinamica_4' style='   left:6960px;   ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1400 PresentazioneGiocatoriDinamica_5' style='   left:8360px;   ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1400 PresentazioneGiocatoriDinamica_6' style='   left:9760px;   ' ></div>");


                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1400 PresentazioneGiocatoriDinamica_7' style='   left:12240px;   ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1400 PresentazioneGiocatoriDinamica_8' style='   left:13640px; ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1400 PresentazioneGiocatoriDinamica_9' style='   left:15040px;  ' ></div>");


                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1200  PresentazioneGiocatoriDinamica_10' style=' left:17880px;  ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1200 PresentazioneGiocatoriDinamica_11' style='   left:19080px; ' ></div>");
                    $(".div_h90").append("<div class='PresentazioneGiocatoriDinamica  PresentazioneGiocatoriDinamica_w1200 PresentazioneGiocatoriDinamica_12' style='   left:20280px;  ' ></div>");


                }



                objGiocatori.forEach(Posiziona);
            }

            function PosizionaSponsorFormazione(indice) {

                let el = $(".PresentazioneGiocatoriDinamica_" + indice)
                el.append("<img class='sponsorFormazione_" + indice + "' style=' margin-left:0px; height:90px; margin-top:0px; opacity:0;' src='/img/sponsor/Logli_900_90.png'/>")


                setTimeout(function () {
                    $(".sponsorFormazione_" + indice).animate({ 'opacity': 1 }, 600).promise().then(function () {

                    })
                }, ((indice + 1) * 800))


            }


            function Posiziona(item, index) {
                //let Lunghezza_div_90 = 23400;
                //let Lunghezza_div_48 = 11520;
                //console.log('--------------')
                //console.log(RosaSquadra)
                //console.log(ArrDecodificaSquadre)
                let rs = RosaSquadra[item.s][item.g];
                let numeroGiocatore = rs.nva_Numero

                if (numeroGiocatore == "0") {
                    numeroGiocatore = ''
                }

                let idx = (index + 1)
                let el = $(".PresentazioneGiocatoriDinamica_" + idx)


                el.append("<img class='ImgPresentazioneGiocatore ImgPresentazioneGiocatore_" + rs.nva_Numero + "' style=' margin-left:-100px; height:400px; margin-top:-130px; opacity:0;' src='/img/players/" + ArrDecodificaSquadre[item.s] + "/" + rs.nva_Numero + ".png'/>")
                el.append("<span class='SpanNumeroPresentazioneGiocatore SpanNumeroPresentazioneGiocatore_" + rs.nva_Numero + "'  style='  opacity:0; margin-left:-100px;margin-right:20px; ' >" + numeroGiocatore + "</span>")
                el.append("<span class='SpanNomePresentazioneGiocatore SpanNomePresentazioneGiocatore_" + rs.nva_Numero + "'  style='   opacity:0;  margin-right:20px;'>" + rs.nva_Nome + "</span>")
                el.append("<span class='SpanCognomePresentazioneGiocatore SpanCognomePresentazioneGiocatore_" + rs.nva_Numero + "'  style='    opacity:0; '>" + rs.nva_Cognome + "</span>")


                setTimeout(function () {
                    $(".ImgPresentazioneGiocatore_" + rs.nva_Numero).animate({ 'opacity': 1 }, 200).promise().then(function () {
                        $(".SpanNumeroPresentazioneGiocatore_" + rs.nva_Numero).animate({ 'opacity': 1 }, 200).promise().then(function () {
                            $(".SpanNomePresentazioneGiocatore_" + rs.nva_Numero).animate({ 'opacity': 1 }, 200).promise().then(function () {
                                $(".SpanCognomePresentazioneGiocatore_" + rs.nva_Numero).animate({ 'opacity': 1 }, 200).promise().then(function () {


                                })
                            })
                        })
                    })
                }, ((index + 1) * 800))




            }








        </script>


        <script type="text/javascript">
            'use strict';
            /*

             ██╗███╗   ██╗██╗███████╗██╗ █████╗ ██╗     ██╗███████╗███████╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
             ██║████╗  ██║██║╚══███╔╝██║██╔══██╗██║     ██║╚══███╔╝╚══███╔╝██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
             ██║██╔██╗ ██║██║  ███╔╝ ██║███████║██║     ██║  ███╔╝   ███╔╝ ███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
             ██║██║╚██╗██║██║ ███╔╝  ██║██╔══██║██║     ██║ ███╔╝   ███╔╝  ██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
             ██║██║ ╚████║██║███████╗██║██║  ██║███████╗██║███████╗███████╗██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
             ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

             ███╗   ███╗ █████╗ ████████╗ ██████╗██╗  ██╗
             ████╗ ████║██╔══██╗╚══██╔══╝██╔════╝██║  ██║
             ██╔████╔██║███████║   ██║   ██║     ███████║
             ██║╚██╔╝██║██╔══██║   ██║   ██║     ██╔══██║
             ██║ ╚═╝ ██║██║  ██║   ██║   ╚██████╗██║  ██║
             ╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝    ╚═════╝╚═╝  ╚═╝

            Font Name: ANSI Shadow
             */

            function InizializzaMatch() {
                //console.log("SettingMatch");
                //console.log(SettingMatch);
                altezza = SettingMatch["int_AltezzaLedPrimaFila"];
                //    caricaStile(altezza);

                PopolaSpotLega();
                PulisciERipristinaTimer();
                //console.log("ciao");
                CambiaPunteggio({ "casa": 0, "ospiti": 0 });
            }



        </script>



        <script>
            'use strict';

            /*

             ██████╗ █████╗ ██████╗ ██╗ ██████╗ █████╗ ███╗   ███╗███████╗███╗   ██╗████████╗ ██████╗
            ██╔════╝██╔══██╗██╔══██╗██║██╔════╝██╔══██╗████╗ ████║██╔════╝████╗  ██║╚══██╔══╝██╔═══██╗
            ██║     ███████║██████╔╝██║██║     ███████║██╔████╔██║█████╗  ██╔██╗ ██║   ██║   ██║   ██║
            ██║     ██╔══██║██╔══██╗██║██║     ██╔══██║██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║   ██║   ██║
            ╚██████╗██║  ██║██║  ██║██║╚██████╗██║  ██║██║ ╚═╝ ██║███████╗██║ ╚████║   ██║   ╚██████╔╝
             ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝ ╚═════╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝    ╚═════╝

            ██████╗ ██╗      █████╗ ██╗   ██╗██╗     ██╗███████╗████████╗
            ██╔══██╗██║     ██╔══██╗╚██╗ ██╔╝██║     ██║██╔════╝╚══██╔══╝
            ██████╔╝██║     ███████║ ╚████╔╝ ██║     ██║███████╗   ██║
            ██╔═══╝ ██║     ██╔══██║  ╚██╔╝  ██║     ██║╚════██║   ██║
            ██║     ███████╗██║  ██║   ██║   ███████╗██║███████║   ██║
            ╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝╚══════╝   ╚═╝

            */




            function PreloadPeriodo(fk_int_Periodo) {

                //console.log("PreloadPeriodo "+fk_int_Periodo);
                $.ajax({
                    url: "/Ajax/sp_GetListaScenePreloadLed?fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"] + "&fk_int_Periodo=" + fk_int_Periodo,
                    async: false
                }).done(function (data) {
                    PreloadingSceneLed(data)
                    SetDatiToUI(CostruisciMessaggio("if(!$('.idPeriodo_" + fk_int_Periodo + "').hasClass('btn-success')){ $('.idPeriodo_" + fk_int_Periodo + "').removeClass('btn-danger').addClass('btn-warning');}"));
                    setTimeout(function () {
                        SetDatiToUI(CostruisciMessaggio("if(!$('.idPeriodo_" + fk_int_Periodo + "').hasClass('btn-success')){$('.idPeriodo_" + fk_int_Periodo + "').removeClass('btn-warning').addClass('btn-success');}"));
                    }, 3000);
                });

                $.ajax({
                    url: "/Ajax/sp_GetListaScenePreloadMaxischermo?fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"] + "&fk_int_Periodo=" + fk_int_Periodo,
                    async: false
                }).done(function (data) {
                    PreloadingSceneMaxischermo(data)

                });




            }




            function PreloadTipoPeriodo(fk_int_TipoPeriodo) {
                //console.log("PreloadingSceneSpeciali");
                $.ajax({
                    url: "/Ajax/sp_GetListaScenePreloadLed?fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"] + "&fk_int_TipoPeriodo=" + fk_int_TipoPeriodo,
                    async: false
                }).done(function (data) {
                    PreloadingSceneLed(data)
                });


                $.ajax({
                    url: "/Ajax/sp_GetListaScenePreloadMaxischermo?fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"] + "&fk_int_TipoPeriodo=" + fk_int_TipoPeriodo,
                    async: false
                }).done(function (data) {
                    PreloadingSceneMaxischermo(data)
                });

            }

            function UnloadPeriodo(fk_int_Periodo) {

                UnloadPeriodoLed(fk_int_Periodo)
            }

            function UnloadPeriodoLed(fk_int_Periodo) {
                $(".scenaLedPeriodo_" + fk_int_Periodo).each(function () {

                    UnloadScenaLed($(this).data("sid"))

                });

            }


            function SendPeriodiPresenti() {
                let classList = {};
                let stringa = "";
                $(".scenaLed").each(function () {
                    //console.log(classList[this.className]);
                    //console.log(this.className);
                    classList[this.className.replace("scenaLed scenaLedPeriodo_", '')] = ((classList[this.className] === undefined) ? 1 : classList[this.className]) + 1;
                });
                //console.log(JSON.stringify(classList));
                SetDatiToUI(CostruisciMessaggio('GetSceneInPeriodi(' + JSON.stringify(classList) + ');'));
            }



            function UnloadSceneLed(ArrScene) {
                let incr = 1;
                for (var i = 0; i < ArrScene.length; i++) {
                    if ($("#scenaLed_" + ArrScene[i]).length) {
                        //console.log("Forzo lo scaricamento di tutti i video della scena: "+ArrScene[i]);
                        setTimeout(function () { UnloadScenaLed(ArrScene[i]) }, incr * 100);
                        incr = incr + 1;
                    }

                }
            }

            function UnloadScenaLed(sid) {
                if (sid != undefined) {
                    if ($("#scenaLed_" + sid).length > 0) {
                        if ($("#scenaLed_" + sid).css('visibility') == 'hidden') {
                            //console.log("UnloadScenaLed: "+sid);
                            ForzaUnloadTuttiIVideoDentroElementoLed(sid);
                            $("#scenaLed_" + sid).remove();

                        }
                    }
                }
            }



            function UnloadSceneMaxischermo(ArrScene) {
                for (var i = 0; i < ArrScene.length; i++) {
                    UnloadScenaMaxischermo(ArrScene[i])
                }
            }


            function UnloadScenaMaxischermo(sid) {
                if (sid != undefined) {
                    //console.log("sid != undefined");
                    if ($("#scenaMaxischermo_" + sid).length) {
                        ForzaUnloadTuttiIVideoDentroElementoMaxischermo(sid);
                        $("#scenaMaxischermo_" + sid).remove();

                    }
                }
            }



            function PreloadingSceneLed(ArrScene) {
                //console.log("+++++++++++++++++++++++++++++++++++++")
                //console.log(ArrScene)
                //console.log("-------------------------------------------")
                let as = JSON.parse(ArrScene)
                $.each(as, function (i, g) {
                    SetDatiToUI(CostruisciMessaggio("$('.sid_" + g.sid + "').removeClass('btn-danger').addClass('btn-warning');"));
                    //console.log("chiamo da 1679")
                    caricaScenaLed(g.sid);
                    SetDatiToUI(CostruisciMessaggio("$('.sid_" + g.sid + "').removeClass('btn-warning').addClass('btn-success');"));
                });
            }


            function PreloadingSceneMaxischermo(ArrScene) {
                //console.log("+++++++++++++++++++++++++++++++++++++")
                //console.log(ArrScene)
                //console.log("-------------------------------------------")
                let as = JSON.parse(ArrScene)
                $.each(as, function (i, g) {
                    //  SetDatiToUI(CostruisciMessaggio("$('.sid_" + g.sid + "').removeClass('btn-danger').addClass('btn-warning');"));
                    caricaScenaMaxischermo(g.sid);
                    //  SetDatiToUI(CostruisciMessaggio("$('.sid_" + g.sid + "').removeClass('btn-warning').addClass('btn-success');"));
                });
            }



            function caricaScenaLed(idScena) {
                //console.log("caricaScenaLed " + idScena);
                if (idScena > 0) {
                    //console.log("idScena >0");
                    //console.log(idScena);
                    if (!$("#scenaLed_" + idScena).length) {

                        $("#CanvasVideoLed").append("<div data-sid='" + idScena + "' ID='scenaLed_" + idScena + "' class='scenaLed'  style='zIndex:1;visibility:hidden;'><video muted  style='margin-left:0px; margin-top:0px;  height:1506px;' control><source src='\\video\\" + SettingMatch.nva_NomeDirectoryStadio + "\\scene\\" + idScena + ".mp4' /></video></div>");

                    } else {
                        //console.log("Scena " + idScena + " già carica!");
                    }
                } else {
                    //console.log("objScena = undefined");
                }
            }



            function caricaScenaMaxischermo(idScena) {
                //console.log("caricaScenaMaxischermo " + idScena);
                if (idScena > 0) {

                    //console.log(idScena);
                    if (!$("#scenaMaxischermo_" + idScena).length) {

                        $.ajax({
                            url: "/AcquisizioneSceneMaxischermo/GetContenutiSceneMaxischermo",
                            data: "fk_int_Scena=" + idScena
                        }).done(function (data) {

                            $("#CanvasVideoMaxischermo").append("<div data-sid='" + idScena + "' ID='scenaMaxischermo_" + idScena + "' class='scenaMaxischermo'  style='zIndex:1;visibility:hidden;'><video muted  style='margin-left:0px; margin-top:0px;' control><source src='" + data + "' /></video></div>");
                        });

                    } else {
                        //console.log("Scena " + idScena + " carica!");
                    }
                } else {
                    //console.log("objScena = undefined");
                }
            }




            function caricamentoScaglionatoVideoLed(ListaVideo, idScena) {
                incrementaleTemporizzazioneCaricamento = 0;
                //console.log("caricamentoScaglionatoVideoLed " + idScena);
                $.each(ListaVideo, function (index, val) {
                    incrementaleTemporizzazioneCaricamento = incrementaleTemporizzazioneCaricamento + 1;
                    //if (incrementaleTemporizzazioneCaricamento < 5) {
                    setTimeout(function () {
                        $("#scenaLed_" + idScena).append('<video muted  width="' + val.int_W + '" height="' + val.int_H + '" style="margin-left:' + val.int_MarginL + 'px; margin-top:' + val.int_MarginT + 'px;" control><source src="' + val.nva_PahtFile + '" /></video>');
                    }, 100 + (incrementaleTemporizzazioneCaricamento * 30));
                    //}
                });
            }







            /*
            ████████╗███████╗███╗   ███╗██████╗  ██████╗ ██████╗ ██╗███████╗███████╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
            ╚══██╔══╝██╔════╝████╗ ████║██╔══██╗██╔═══██╗██╔══██╗██║╚══███╔╝╚══███╔╝██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
               ██║   █████╗  ██╔████╔██║██████╔╝██║   ██║██████╔╝██║  ███╔╝   ███╔╝ ███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
               ██║   ██╔══╝  ██║╚██╔╝██║██╔═══╝ ██║   ██║██╔══██╗██║ ███╔╝   ███╔╝  ██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
               ██║   ███████╗██║ ╚═╝ ██║██║     ╚██████╔╝██║  ██║██║███████╗███████╗██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
               ╚═╝   ╚══════╝╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
            */


            var attendi = 0;
            /**************** temporizzatore generale ************/
            //var UnloadScenaLed = true;
            var ScenaSuccessivaLed = {};
            var ScenaSuccessivaMaxischermo = {};
            function TieniIlTempo() {

                setInterval(function () {

                    var dataTime = new Date();
                    var dataoraact = dataTime.getTime();


                    /*controllo cambiamento ArrSceneLed*/
                    if (ArrSceneLedFuturo != ArrSceneLed) {
                        ArrSceneLed = ArrSceneLedFuturo;
                        let ArrFiltroSuccessivoNuoveLed = ArrSceneLed.filter(element => element.start >= dataoraact).slice(0);
                        let ssLed = ArrFiltroSuccessivoNuoveLed[0];
                        if (ssLed != undefined) {
                            //console.log("chiamo da 1801")
                            caricaScenaLed(ssLed.sid);
                            if (ArrFiltroSuccessivoNuoveLed.length > 1) {
                                // //console.log("chiamo da 1804")
                                caricaScenaLed(ArrFiltroSuccessivoNuoveLed[1].sid);
                            }
                        }
                    }

                    /*controllo cambiamento ArrSceneMaxischermo*/
                    if (ArrSceneMaxischermoFuturo != ArrSceneMaxischermo) {
                        ArrSceneMaxischermo = ArrSceneMaxischermoFuturo;
                        let ArrFiltroSuccessivoNuoveMaxischermo = ArrSceneMaxischermo.filter(element => element.start >= dataoraact).slice(0);
                        let ssMaxischermo = ArrFiltroSuccessivoNuoveMaxischermo[0];
                        if (ssMaxischermo != undefined) {
                            caricaScenaMaxischermo(ssMaxischermo.sid);
                            if (ArrFiltroSuccessivoNuoveMaxischermo.length > 1) {
                                caricaScenaMaxischermo(ArrFiltroSuccessivoNuoveMaxischermo[1].sid);
                            }
                        }
                    }








                    //filtro gli elementi controllando se esiste un elemento la cui data di inizio assoluta è minore di adesso e la data di fine è maggiore.
                    //let ArrFiltro = ArrSceneMaxischermo.filter(element => element.start <= dataoraact && element.stop > dataoraact && element.sid != ScenaRiprodottaMaxischermo.sid);
                    let ArrFiltroMaxischermo = ArrSceneMaxischermo.filter(element => element.start <= dataoraact && element.stop > dataoraact && element.sid != ScenaRiprodottaMaxischermo.sid);
                    if (ArrFiltroMaxischermo.length > 0) {

                        //console.log("int_IsScenaInterrotta");
                        // //console.log(int_IsScenaInterrotta);
                        let StrigaQueryMaxischermo = "";
                        let ScenaOldMaxischermo = ScenaRiprodottaMaxischermo;
                        ScenaRiprodottaMaxischermo = ArrFiltroMaxischermo[0];
                        //filtro gli elementi controllando se esiste un elemento la cui data di inizio assoluta è minore o uguale alla ScenaRiprodottaMaxischermo.stop  .

                        let ArrFiltroSuccessivoMaxischermo = ArrSceneMaxischermo.filter(element => element.start >= ScenaRiprodottaMaxischermo.stop).slice(0);



                        if (ScenaOldMaxischermo.sid > 0) {
                            $("#scenaMaxischermo_" + ScenaOldMaxischermo.sid).css({ "zIndex": "9", "visibility": "visible" });
                            //console.log("ScenaOldMaxischermo.sid > 0");
                            StrigaQueryMaxischermo = StrigaQueryMaxischermo + "&id_int_SceneRiproduzioniMaxischermo_fine=" + ScenaOldMaxischermo.id;
                        }




                        $("#scenaMaxischermo_" + ScenaRiprodottaMaxischermo.sid).css({ "zIndex": "10", "visibility": "visible" });
                        //console.log("faccio partire la scena " + ScenaRiprodottaMaxischermo.sid + " da qui");
                        riproduciScenaMaxischermo(ScenaRiprodottaMaxischermo);
                        StrigaQueryMaxischermo = StrigaQueryMaxischermo + "&id_int_SceneRiproduzioniMaxischermo_inizio=" + ScenaRiprodottaMaxischermo.id;


                        if (ArrFiltroSuccessivoMaxischermo.length > 0) {
                            //console.log("ArrFiltroSuccessivo:");
                            //console.log(ArrFiltroSuccessivoMaxischermo);
                            ScenaSuccessivaMaxischermo = ArrFiltroSuccessivoMaxischermo[0];
                            //console.log("ArrFiltroSuccessivo.length > 0");
                        }


                        setTimeout(function () {
                            if (ScenaOldMaxischermo.sid > 0) {
                                FermaTuttiIVideoDentroElementoMaxischermo(ScenaOldMaxischermo.sid);
                                $("#scenaMaxischermo_" + ScenaOldMaxischermo.sid).css({ "visibility": "hidden" });

                                UnloadScenaMaxischermo(ScenaOldMaxischermo.sid);

                                //console.log("Rimuovo la ScenaOldMaxischermo in quanto non mi serve più");
                            }


                            if (ArrFiltroSuccessivoMaxischermo.length > 0) {
                                caricaScenaMaxischermo(ScenaSuccessivaMaxischermo.sid);
                                //console.log("carico la scena successiva");
                                if (ArrFiltroSuccessivoMaxischermo.length > 1) {
                                    caricaScenaMaxischermo(ArrFiltroSuccessivoMaxischermo[1].sid);
                                }
                            } else {
                                //console.log("carico provvedo ad inviare un segnale al server chiedendo istruzioni su cosa riprodurre nella scena successiva");
                            }

                            //console.log("riga 1949 - "+StrigaQueryMaxischermo)
                            $.ajax({
                                url: "/Ajax/sp_GestisciRiproduzioneMaxischermo",
                                data: "int_IsFromPlayer=1&int_DataOraJavascript=" + dataoraact + "" + StrigaQueryMaxischermo
                            }).done(function (data) {
                                //console.log(data);
                            });




                        }, 50);

                    }










                    //filtro gli elementi controllando se esiste un elemento la cui data di inizio assoluta è minore di adesso e la data di fine è maggiore.
                    //let ArrFiltro = ArrSceneLed.filter(element => element.start <= dataoraact && element.stop > dataoraact && element.sid != ScenaRiprodottaLed.sid);
                    let ArrFiltroLed = ArrSceneLed.filter(element => element.start <= dataoraact && element.stop > dataoraact && element.sid != ScenaRiprodottaLed.sid);
                    if (ArrFiltroLed.length > 0) {

                        //console.log("int_IsScenaInterrotta");
                        // //console.log(int_IsScenaInterrotta);
                        let StrigaQueryLed = "";
                        let ScenaOldLed = ScenaRiprodottaLed;
                        ScenaRiprodottaLed = ArrFiltroLed[0];
                        //filtro gli elementi controllando se esiste un elemento la cui data di inizio assoluta è minore o uguale alla ScenaRiprodottaLed.stop  .

                        let ArrFiltroSuccessivoLed = ArrSceneLed.filter(element => element.start >= ScenaRiprodottaLed.stop).slice(0);



                        if (ScenaOldLed.sid > 0) {
                            $("#scenaLed_" + ScenaOldLed.sid).css({ "zIndex": "9", "visibility": "visible" });
                            //console.log("ScenaOldLed.sid > 0");
                            StrigaQueryLed = StrigaQueryLed + "&id_int_SceneRiproduzioniLed_fine=" + ScenaOldLed.id;
                        }




                        $("#scenaLed_" + ScenaRiprodottaLed.sid).css({ "zIndex": "10", "visibility": "visible" });
                        //console.log("faccio partire la scena " + ScenaRiprodottaLed.sid + " da qui");
                        riproduciScenaLed(ScenaRiprodottaLed);
                        StrigaQueryLed = StrigaQueryLed + "&id_int_SceneRiproduzioniLed_inizio=" + ScenaRiprodottaLed.id;

                        if (ArrFiltroSuccessivoLed.length > 0) {
                            //console.log("ArrFiltroSuccessivo:");
                            //console.log(ArrFiltroSuccessivoLed);
                            ScenaSuccessivaLed = ArrFiltroSuccessivoLed[0];

                            //console.log("ArrFiltroSuccessivo.length > 0");

                        }


                        setTimeout(function () {
                            if (ScenaOldLed.sid > 0) {
                                FermaTuttiIVideoDentroElementoLed(ScenaOldLed.sid);
                                $("#scenaLed_" + ScenaOldLed.sid).css({ "visibility": "hidden" });

                                UnloadScenaLed(ScenaOldLed.sid);

                                //console.log("Rimuovo la ScenaOldLed in quanto non mi serve più");
                            }


                            if (ArrFiltroSuccessivoLed.length > 0) {
                                //console.log("chiamo da 2035")
                                caricaScenaLed(ScenaSuccessivaLed.sid);
                                //console.log("carico la scena successiva");
                                if (ArrFiltroSuccessivoLed.length > 1) {
                                    //console.log("chiamo da 2039")
                                    caricaScenaLed(ArrFiltroSuccessivoLed[1].sid);
                                }
                            } else {
                                //console.log("carico provvedo ad inviare un segnale al server chiedendo istruzioni su cosa riprodurre nella scena successiva");
                            }

                            //console.log("riga 2104 - "+StrigaQueryLed)
                            $.ajax({
                                url: "/Ajax/sp_GestisciRiproduzioneLed",
                                data: "int_IsFromPlayer=1&int_DataOraJavascript=" + dataoraact + "" + StrigaQueryLed
                            }).done(function (data) {
                                //console.log(data);
                            });




                        }, 50);

                    }

                }, 50);

            }




            /*
            INIZIO Aggiornamento Timeline
            */



            function AggiornaTimelineLed(Stringa, IstanteRichiestaEvento, SkipTo, fk_int_Periodo) {

                //console.log('AggiornaTimelineLed fk_int_Periodo:'+fk_int_Periodo);

                //PulisciERipristinaTimer();
                ArrSceneLedFuturo = JSON.parse(Stringa);



            }


            function AggiornaTimelineMaxischermo(Stringa) {

                //console.log('sono qui--------------------------------------------------------------')
                ArrSceneMaxischermoFuturo = JSON.parse(Stringa);
            }



            function riproduciScenaLed(objScena) {
                $("#scenaLed_" + objScena.sid).children('video').each(function () {
                    if (objScena.skipto > 0) {
                        //console.log(objScena.skipto);
                        this.currentTime = (objScena.skipto / 1000);
                    }
                    this.play();
                });
            }

            function riproduciScenaMaxischermo(objScena) {
                $("#scenaMaxischermo_" + objScena.sid).children('video').each(function () {
                    if (objScena.skipto > 0) {
                        //console.log(objScena.skipto);
                        this.currentTime = (objScena.skipto / 1000);
                    }
                    this.play();
                });
            }


            function FermaTuttiIVideoDentroElementoLed(ID) {

                try {
                    $("#scenaLed_" + ID).children('video').each(function () {
                        this.pause();
                        this.currentTime = 0;
                    });
                }
                catch (err) {
                }
            }


            function ForzaUnloadTuttiIVideoDentroElementoLed(ID) {

                try {
                    $("#scenaLed_" + ID).children('video').each(function () {
                        // setTimeout(function () {
                        this.pause();
                        this.removeAttribute('src'); // empty source
                        this.load();
                        //  },(q*100))

                    });
                }
                catch (err) {
                }


            }

            function FermaTuttiIVideoDentroElementoMaxischermo(ID) {

                try {
                    $("#scenaMaxischermo_" + ID).children('video').each(function () {
                        this.pause();
                        this.currentTime = 0;
                    });
                }
                catch (err) {
                }
            }


            function ForzaUnloadTuttiIVideoDentroElementoMaxischermo(ID) {

                try {
                    $("#scenaMaxischermo_" + ID).children('video').each(function () {
                        this.pause();
                        this.removeAttribute('src'); // empty source
                        this.load();
                    });
                }
                catch (err) {
                }
            }

            /*

             ██████╗ ██████╗  ██████╗ ██╗      ██████╗  ██████╗ ██╗ ██████╗     ██████╗  █████╗ ██████╗ ████████╗██╗████████╗ █████╗
            ██╔═══██╗██╔══██╗██╔═══██╗██║     ██╔═══██╗██╔════╝ ██║██╔═══██╗    ██╔══██╗██╔══██╗██╔══██╗╚══██╔══╝██║╚══██╔══╝██╔══██╗
            ██║   ██║██████╔╝██║   ██║██║     ██║   ██║██║  ███╗██║██║   ██║    ██████╔╝███████║██████╔╝   ██║   ██║   ██║   ███████║
            ██║   ██║██╔══██╗██║   ██║██║     ██║   ██║██║   ██║██║██║   ██║    ██╔═══╝ ██╔══██║██╔══██╗   ██║   ██║   ██║   ██╔══██║
            ╚██████╔╝██║  ██║╚██████╔╝███████╗╚██████╔╝╚██████╔╝██║╚██████╔╝    ██║     ██║  ██║██║  ██║   ██║   ██║   ██║   ██║  ██║
             ╚═════╝ ╚═╝  ╚═╝ ╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝ ╚═════╝     ╚═╝     ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝   ╚═╝   ╚═╝  ╚═╝

            */

            function PulisciERipristinaTimer() {

                $("#CanvasClockScore>.TimerLed").empty();
                switch (altezza) {
                    case 48:


                        $("#CanvasClockScore>.TimerLed").html("<div class='LogoTimerLed'><img src='/img/timer_180_90.png' style='position:absolute margin-top:0px;'  /></div><div class='TempoOrologioLed'>00:00</div>");

                        break;
                    case 90:


                        $("#CanvasClockScore>.TimerLed").html("<div class='LogoTimerLed'><img src='/img/timer_180_90.png' style='  margin-top:0px;'  /></div><div class='TempoOrologioLed'>00:00</div>");

                        break;
                }
                /*
                //console.log('PulisciERipristinaTimer IDperiodo:'+fk_int_PeriodoAttivo);

                switch (fk_int_PeriodoAttivo) {
                    case 10:
                    case 20:
                        $(".TimerLed").append("<div class='TempoOrologioLed'>00:00</div>")
                        TimerStart = new Date();
                        MinutiRecupero = 0;
                        AvanzaOrologio = 1;
                        break;

                    case 11:
                    case 21:
                        AvanzaOrologio = 0;
                        if (MinutiRecupero > 0) {
                            $(".TimerLed").append("<div class='TempoOrologioLed'>45:00+" + MinutiRecupero + "</div>")
                        } else {
                            $(".TimerLed").append("<div class='TempoOrologioLed'>45:00</div>")

                        }
                    break

                    default:
                        AvanzaOrologio = 0;
                        $(".TimerLed").append("<div class='TempoOrologioLed'>00:00</div>")

                        break;
                }
                */

            }



            function tickTimer() {
                RotazioneCampoSpotLega();

                $.ajax({
                    url: "/Ajax/sp_GetStatoAct",

                }).done(function (data) {
                    if (data != "") {
                        // //console.log(data);
                        data = JSON.parse(data);

                        data = data[0];
                        //console.log("sono 2311 ");
                        //console.log(data);
                        IstanteInizioAvvioRiproduzione = data.int_StartPlayng;
                        fk_int_PeriodoAttivo = data.id;
                        if ((fk_int_PeriodoAttivo == 11) || (fk_int_PeriodoAttivo == 21)) {


                            if (MinutiRecupero > 0) {
                                $(".TempoOrologioLed").html("45:00+" + MinutiRecupero)
                                //console.log("sono 2320 ");
                            } else {
                                //console.log("sono 2322 ");
                                $(".TempoOrologioLed").html("45:00")
                            }
                            //console.log("sono correttamnte ne l reupero ");


                        } else {
                            if ((fk_int_PeriodoAttivo == 10) || (fk_int_PeriodoAttivo == 20)) {
                                var d = new Date();
                                var secondsSpan = ((d.getTime() - IstanteInizioAvvioRiproduzione)) / 1000;
                                var minutes = Math.floor(secondsSpan / 60)
                                var seconds = Math.floor(secondsSpan % 60)
                                //console.log("sono 2332 ");
                                if ((minutes > 45) && (seconds > 0)) {

                                    $(".TempoOrologioLed").html("45:00");
                                    //console.log("sono 2336 ");
                                } else {

                                    $(".TempoOrologioLed").html(pad(minutes, 2) + ":" + pad(seconds, 2));
                                    //console.log("sono 2340 ");
                                }
                            } else {
                                $(".TempoOrologioLed").html("00:00");
                            }

                        }
                    }
                });


                if (AvanzaOrologio == 1) {



                }
            }


            function CambiaPunteggio(objPunteggio) {
                //objPunteggio = JSON.parse(objPunteggio);
                if ((SettingMatch.fk_int_SquadraCasa != undefined && SettingMatch.fk_int_SquadraOspite != undefined)) {
                    var StringaPunteggio = objPunteggio["casa"] + "-" + objPunteggio["ospiti"];
                    $(".TxtPunteggio").text(StringaPunteggio);
                    //if (StringaPunteggio.length > 5) {
                    //    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "10px" })
                    //} else if (StringaPunteggio.length > 4) {
                    //    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "70px" })
                    //} else if (StringaPunteggio.length > 3) {
                    //    $(".div_testoPunteggio").css({ "letter-spacing": "2px", "font-size": "80px" })
                    //} else {
                    //    $(".div_testoPunteggio").css({ "letter-spacing": "10px", "font-size": "88px" })
                    //}

                }
            }



            function ApplicaRecupero(minuti) {
                MinutiRecupero = minuti
                //console.log("applico "+MinutiRecupero+" di recupero")
                //if (MinutiRecupero != minuti) {
                //    MinutiRecupero = minuti
                //switch (fk_int_PeriodoAttivo) {
                //    case 11:
                //        case 21:
                //        if (MinutiRecupero > 0) {
                //            $(".tempoOrologioLed").html("45:00+" + MinutiRecupero)
                //        } else {
                //            $(".tempoOrologioLed").html("45:00")
                //        }
                //    //    break
                //    //case 21:
                //    //    if (MinutiRecupero > 0) {
                //    //        $(".tempoOrologioLed").html("90:00+" + MinutiRecupero)
                //    //    } else {
                //    //        $(".tempoOrologioLed").html("90:00")
                //    //    }
                //        break
                // }
                //}
            }






        </script>

        <script type="text/javascript">
            /*
            'use strict';


            function caricaStile(altezza) {
                removejscssfile("/css/playerLed_48.css?", "css");
                removejscssfile("/css/playerLed_72.css", "css");
                removejscssfile("/css/playerLed_90.css", "css");





                removejscssfile("/css/playerMaxischermo_48.css", "css");
                removejscssfile("/css/playerMaxischermo_72.css", "css");
                removejscssfile("/css/playerMaxischermo_90.css", "css");

                var d = new Date();
                var t = d.getTime();


                loadjscssfile("/css/playerLed_" + altezza + ".css?" + t, "css");

                loadjscssfile("/css/playerMaxischermo_" + altezza + ".css?" + t, "css");


            }

            */


            /*
            function loadjscssfile(filename, filetype) {

                if (filetype == "js") { //if filename is a external JavaScript file
                    var fileref = document.createElement('script')
                    fileref.setAttribute("type", "text/javascript")
                    fileref.setAttribute("src", filename)
                }
                else if (filetype == "css") { //if filename is an external CSS file
                    var fileref = document.createElement("link")
                    fileref.setAttribute("rel", "stylesheet")
                    fileref.setAttribute("type", "text/css")
                    fileref.setAttribute("href", filename)
                }
                if (typeof fileref != "undefined")
                    document.getElementsByTagName("head")[0].appendChild(fileref)
            }
            */


            /*
            function removejscssfile(filename, filetype) {
                var targetelement = (filetype == "js") ? "script" : (filetype == "css") ? "link" : "none" //determine element type to create nodelist from
                var targetattr = (filetype == "js") ? "src" : (filetype == "css") ? "href" : "none" //determine corresponding attribute to test for
                var allsuspects = document.getElementsByTagName(targetelement)
                for (var i = allsuspects.length; i >= 0; i--) { //search backwards within nodelist for matching elements to remove
                    if (allsuspects[i] && allsuspects[i].getAttribute(targetattr) != null && allsuspects[i].getAttribute(targetattr).indexOf(filename) != -1)
                        allsuspects[i].parentNode.removeChild(allsuspects[i]) //remove element by calling parentNode.removeChild()
                }
            }
            */


        </script>

</body>
</html>