﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>

    <link rel="stylesheet" href="~/css/player.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/playerMaxischermo.css" asp-append-version="true" />*@
    @*<link rel="stylesheet" href="~/css/playerLed_90.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/lib/textillate-master/assets/animate.css" asp-append-version="true" />


</head>

<body style="background-color:black;overflow-x: hidden !important; overflow-y: hidden !important;padding:0px 0px 0px 0px; ">


    <div style="background-color:black; padding:0px 0px 0px 0px;  clip-path: inset(0% 0% 0% 0%); @Html.Raw(ViewBag.DimensioneLedCanvasPerCss)  ">

        <div Id="CanvasLuminosita">
            @Html.Raw(ViewBag.HtmlLuminosità)
        </div>

        <div Id="CanvasEventiPartita">
            @Html.Raw(ViewBag.HtmlEventiPartita)
        </div>

        <div Id="CanvasClockScore">
            @Html.Raw(ViewBag.HtmlClockScore)
        </div>

        <div Id="CanvasResult">
            @Html.Raw(ViewBag.HtmlResult)
        </div>

        <div Id="CanvasPresentazioneGiocatori">
            @Html.Raw(ViewBag.HtmlDiv)
        </div>

        <div Id="CanvasVideoLed"></div>

    </div>

    <div Id="CanvasVideoMaxischermo" style="position:absolute;   @Html.Raw(ViewBag.DimensionePosizioneMaxischermoPerCss) ">

        @Html.Raw(ViewBag.htmlMaxischermo)

    </div>





    @*
        <div Id="CanvasVideoMaxischermo" style="position:absolute; background-color:black;  @Html.Raw(ViewBag.DimensionePosizioneMaxischermoPerCss) ">
        <div class="EventiPartitaMaxischermo" style="width: 1280px; height: 720px; margin-left: 0px; margin-top: 0px; opacity: 1;   ">

        </div>
        </div>
    *@






    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js" asp-append-version="true"></script>
    <script src="~/lib/fitty/fitty.min.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.fittext.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.lettering.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/jquery.textillate.js" asp-append-version="true"></script>
    <script src="~/js/jsComune.js" asp-append-version="true"></script>





    <script>
        'use strict';
        /*
        tag:variabiliglobali
        ██╗   ██╗ █████╗ ██████╗ ██╗ █████╗ ██████╗ ██╗██╗     ██╗
        ██║   ██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║██║     ██║
        ██║   ██║███████║██████╔╝██║███████║██████╔╝██║██║     ██║
        ╚██╗ ██╔╝██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║██║     ██║
         ╚████╔╝ ██║  ██║██║  ██║██║██║  ██║██████╔╝██║███████╗██║
          ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚═╝╚══════╝╚═╝

         ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     ██╗
        ██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     ██║
        ██║  ███╗██║     ██║   ██║██████╔╝███████║██║     ██║
        ██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     ██║
        ╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗██║
         ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝
        */
        var ArrSceneNonScaricabiliLed = [];
        var ArrSceneNonScaricabiliMaxischermo = [];
        var NumeroSceneDaCaricare = 3;
        var ArraySceneCache = [];
        var ValorePassatoFattoreVelocitaVideo = -1;
        var FattoreVelocitaVideo = 100;
        var contatorePerFattoreVelocitaOrologio = 0;
        var zindex = 0;
        var intIncrementalePeriodo = 0;
        var OffsetTemporaleManualeDiretto = 0;
        var Punteggio = {}
        var OffsetTemporaleManuale = 0;
        var ForzaScenaSpecifica = 0;
        var ScenaRiprodottaMaxischermo = {};
        var ScenaRiprodottaLed = {};
        var IntervalOrologio;
        var AvanzaOrologio = 0;
        var ArrayPeriodi = {}
        var ScenaDaSincronizzare = {}
        var MinutiRecupero = 0;
        var elaboratoMaxischermo = 1;
        var elaboratoLed = 1;
        var IdScenaRiprodottaLed = 0;
        var ArrParametriGenerali = Array;
        var ArrSceneLed = [];
        var ArrSceneMaxischermo = [];
        var ArrSceneLedFuturo = [];
        var ArrSceneMaxischermoFuturo = [];
        var intIstanteInizialePlaylist = 0
        var IpServer = "localhost:5000"
        var jsonConfigPeriodi = {}
        var incrementaleTemporizzazioneCaricamento = 0;
        //  var ArrSceneCaricate;
        var TempoSpotLega = 0;
        var IstanteInizioAvvioRiproduzione;
        var TimerStart;


    </script>



    @Html.Raw(@ViewBag.jsLedMaxischermo);
    @Html.Raw(@ViewBag.cssLedMaxischermo);


    <script type="text/javascript">
        var codaAnimazioneLed = [];
        var codaAnimazioneMaxischermo = [];

        var AnimazioneLed;
        var AnimazioneMaxischermo;


        //$(document).ready(function () {
        //    AnimazioneLed = new clsAnimazioneLed();
        //    AnimazioneMaxischermo = new clsAnimazioneMaxischermo();
        //});



        // function Anima(g=undefined) {



        /*
        console.log("Anima")
        console.log(g)

        if (g != undefined) {
            console.log("Anima (g != undefined)")
            console.log(g)

            if (IsYes(ArrParametriGenerali["nva_IsPresenzaAnimazioniEventiPartitaLed"])) {
                if (IsYes(g.tin_Led)) {
                     console.log("codaAnimazioneLed.push");
                    codaAnimazioneLed.push(g);
                }
            }

            if (IsYes(ArrParametriGenerali["nva_IsPresenzaAnimazioniEventiPartitaMaxischermo"])) {
                if (IsYes(g.tin_Maxischermo)) {
                    console.log("codaAnimazioneMaxischermo.push");
                    codaAnimazioneMaxischermo.push(g);
                }
            }
        }

        if((codaAnimazioneLed.length > 0)&&(AnimazioneLed.StatoAnimazione=="Smontato")) {
            AnimazioneLed.Monta(codaAnimazioneLed[0]);
            codaAnimazioneLed.shift();
        }


        if ((codaAnimazioneMaxischermo.length > 0) && (AnimazioneMaxischermo.StatoAnimazione == "Smontato")) {

            AnimazioneMaxischermo.Monta(codaAnimazioneMaxischermo[0]);
            codaAnimazioneMaxischermo.shift();
        }
        */


        //    if (g != undefined) {
        //        if (IsYes(ArrParametriGenerali["nva_IsPresenzaAnimazioniEventiPartitaMaxischermo"])) {
        //            if (IsYes(g.tin_Maxischermo)) {
        //                console.log("inserisco");
        //                codaAnimazioneMaxischermo.push(new clsAnimazioneMaxischermo(g));
        //            }
        //        }
        //    }
        //    if (codaAnimazioneMaxischermo.length > 0) {
        //           console.log("monto");
        //        (codaAnimazioneMaxischermo[0]).Monta();
        //    }
        //}




    </script>



    <script>

        $(document).ready(function () {

            sp_GetTipoEventiMatch();

            sp_ResetTimelineLoadingScene();


            sp_GetParametriIniziali();
            GetSelected("tb_Match");
            GetSelected("tb_Playlist");

            if (SettingGlobalVars["tb_Match"] != undefined) {
                PopolaSettingMatch();
                InizializzaMatch();

            }

            //PreloadingScene()
            TieniIlTempo();


            (function repeat() {
                GetDatiToPlayer();
                ////////////console.log("-");
                timerScambioDati = setTimeout(repeat, periodoScambioDati);
            })();












            setInterval(function () { tickTimer(); }, 1000);


            //$(".div_h90").html("<span>a</span>");
            //$(".div_h90 span").css({ "margin-left": "0" ,"color":"red"});

            //setInterval(function () { avanzaLinea(); }, 35);
            // let objG = [{"fk_int_squadra":8,"fk_int_giocatore":101},{"fk_int_squadra":8,"fk_int_giocatore":103},{"fk_int_squadra":8,"fk_int_giocatore":104}];

            // setTimeout(function () {MontaPresentazioneGiocatori(objG)}, 5000);

        });




        //function avanzaLinea() {
        //    let l = parseInt($(".div_h90 span").css("margin-left"), 10);
        //    ////////////console.log(l);
        //    l = l + 50;
        //    $(".div_h90 span").css({"margin-left": l});
        //}

        // var ArrGiocatoriTitolari = [67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78];
        //var ArrGiocatoriRiserve = [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24];





    </script>



    <script type="text/javascript">
        'use strict';
        /*

         ██╗███╗   ██╗██╗███████╗██╗ █████╗ ██╗     ██╗███████╗███████╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
         ██║████╗  ██║██║╚══███╔╝██║██╔══██╗██║     ██║╚══███╔╝╚══███╔╝██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
         ██║██╔██╗ ██║██║  ███╔╝ ██║███████║██║     ██║  ███╔╝   ███╔╝ ███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
         ██║██║╚██╗██║██║ ███╔╝  ██║██╔══██║██║     ██║ ███╔╝   ███╔╝  ██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
         ██║██║ ╚████║██║███████╗██║██║  ██║███████╗██║███████╗███████╗██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
         ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

         ███╗   ███╗ █████╗ ████████╗ ██████╗██╗  ██╗
         ████╗ ████║██╔══██╗╚══██╔══╝██╔════╝██║  ██║
         ██╔████╔██║███████║   ██║   ██║     ███████║
         ██║╚██╔╝██║██╔══██║   ██║   ██║     ██╔══██║
         ██║ ╚═╝ ██║██║  ██║   ██║   ╚██████╗██║  ██║
         ╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝    ╚═════╝╚═╝  ╚═╝

            Font Name: ANSI Shadow
         */

        function InizializzaMatch() {


            //  altezza = SettingMatch["int_AltezzaLedPrimaFila"];

            $('.logoCasa img').attr("src", "/assetsSquadre/" + SettingMatch.nva_DirectorySquadraCasa + "/Grafica/logo.png");
            $('.logoOspite img').attr("src", "/assetsSquadre/" + SettingMatch.nva_DirectorySquadraOspite + "/Grafica/logo.png");

            //     PopolaSpotLega();
            PopolaGraficaDinamica();

            PulisciERipristinaTimer();

            sp_SendToPlayerArraySceneNonScaricabili();

            //$.ajax({ url: "/Ajax/sp_GetListaScenePreloadLed" })

            PreloadPeriodo(0);



            sp_RipristinaAndamentoPlaylist();



        }



    </script>



    <script>
        'use strict';

        /*

         ██████╗ █████╗ ██████╗ ██╗ ██████╗ █████╗ ███╗   ███╗███████╗███╗   ██╗████████╗ ██████╗
        ██╔════╝██╔══██╗██╔══██╗██║██╔════╝██╔══██╗████╗ ████║██╔════╝████╗  ██║╚══██╔══╝██╔═══██╗
        ██║     ███████║██████╔╝██║██║     ███████║██╔████╔██║█████╗  ██╔██╗ ██║   ██║   ██║   ██║
        ██║     ██╔══██║██╔══██╗██║██║     ██╔══██║██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║   ██║   ██║
        ╚██████╗██║  ██║██║  ██║██║╚██████╗██║  ██║██║ ╚═╝ ██║███████╗██║ ╚████║   ██║   ╚██████╔╝
         ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝ ╚═════╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝    ╚═════╝

        ██████╗ ██╗      █████╗ ██╗   ██╗██╗     ██╗███████╗████████╗
        ██╔══██╗██║     ██╔══██╗╚██╗ ██╔╝██║     ██║██╔════╝╚══██╔══╝
        ██████╔╝██║     ███████║ ╚████╔╝ ██║     ██║███████╗   ██║
        ██╔═══╝ ██║     ██╔══██║  ╚██╔╝  ██║     ██║╚════██║   ██║
        ██║     ███████╗██║  ██║   ██║   ███████╗██║███████║   ██║
        ╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝╚══════╝   ╚═╝

        */

        var ArraySceneDaCaricarePeriodo = [];


        var incrementaleTemporizzazioneCaricamento = 0

        function sp_SendToPlayerArraySceneNonScaricabili() {
            $.ajax({
                url: "/Ajax/sp_SendToPlayerArraySceneNonScaricabili"

            }).done(function (data) {

            });

        }


        function sp_ResetTimelineLoadingScene() {

            $.ajax({
                url: "/Ajax/sp_ResetTimelineLoadingScene",
                async: false
            })

        }
        /*
        function PreloadPeriodo(fk_int_Periodo) {
            console.log("chiamata impropria");
        }

*/



        function sp_RipristinaAndamentoPlaylist() {
            var date = new Date();
            let adesso = date.getTime();
            $.ajax({
                url: "/Ajax/sp_RipristinaAndamentoPlaylist"
                , data: { "int_Adesso": adesso }
            })

        }





        function PreloadPeriodo(fk_int_Periodo) {
            console.log("PreloadPeriodo(" + fk_int_Periodo + ')');

            let EseguiPreload = false
            let i;
            incrementaleTemporizzazioneCaricamento = 0
            let contatoreElementiDaCaricare = 0
            let arrSpecificoPeriodo = ArraySceneDaCaricarePeriodo[fk_int_Periodo]

            if (ArraySceneDaCaricarePeriodo[fk_int_Periodo] == undefined) {
                EseguiPreload = true;
                console.log("ArraySceneDaCaricarePeriodo[fk_int_Periodo] == undefined periodo: " + fk_int_Periodo);

            } else {
                console.log("ArraySceneDaCaricarePeriodo[fk_int_Periodo] == undefined periodo: " + fk_int_Periodo);
                if (arrSpecificoPeriodo.length > 0) {
                    console.log("arrSpecificoPeriodo.length > 0 ");
                    for (i = 0; i < arrSpecificoPeriodo.length; i++) {
                        console.log("valuto la scena:  scenaLed_" + arrSpecificoPeriodo[i]);
                        console.log("valuto la scena:" + $("#scenaLed_" + arrSpecificoPeriodo[i]).length);

                        if ($("#scenaLed_" + arrSpecificoPeriodo[i]).length == 0) {

                            EseguiPreload = true;
                            console.log("EseguiPreload = true; ");
                        } else {
                            //verifico se il video fosse non disponibilie
                            let v = $("#scenaLed_" + arrSpecificoPeriodo[i] + " > video")[0];
                            console.log("stato: " + v.readyState);

                        }
                    }
                }
            }




            if (EseguiPreload) {
                console.log("EseguiPreload");
                $.ajax({
                    url: "/Ajax/sp_GetListaScenePreloadLed?fk_int_Periodo=" + fk_int_Periodo

                }).done(function (data) {




                    //   SetDatiToUI(CostruisciMessaggio("if(!$('.idPeriodo_" + fk_int_Periodo + "').hasClass('btn-success')){ $('.idPeriodo_" + fk_int_Periodo + "').removeClass('btn-danger').addClass('btn-warning');}"));
                    // SetDatiToUI(CostruisciMessaggio("$('.idPeriodo_" + fk_int_Periodo + "').removeClass('btn-danger').removeClass('btn-success').addClass('btn-warning');"));

                    PreloadingSceneLed(data)


                    let a = JSON.parse(data)

                    contatoreElementiDaCaricare = a.length
                    let ArrScene = [];
                    for (let i = 0; i < contatoreElementiDaCaricare; i++) {
                        // let t = a[i];
                        ArrScene.push(a[i].sid)
                    }
                    ArraySceneDaCaricarePeriodo[fk_int_Periodo] = ArrScene




                    setTimeout(function () {

                        $.ajax({
                            url: "/Ajax/sp_GetListaScenePreloadMaxischermo?fk_int_Periodo=" + fk_int_Periodo

                        }).done(function (data) {
                            // //////////console.log("sp_GetListaScenePreloadMaxischermo");
                            a = JSON.parse(data)
                            contatoreElementiDaCaricare = a.length
                            PreloadingSceneMaxischermo(data)



                        });

                    }, (contatoreElementiDaCaricare * 200));


                });




            }



        }




        function PreloadTipoPeriodo(fk_int_TipoPeriodo) {
            ////////////console.log("PreloadingSceneSpeciali");
            ////////console.log("PreloadTipoPeriodo");
            $.ajax({
                url: "/Ajax/sp_GetListaScenePreloadLed?fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"] + "&fk_int_TipoPeriodo=" + fk_int_TipoPeriodo,
                async: false
            }).done(function (data) {
                PreloadingSceneLed(data)
            });


            $.ajax({
                url: "/Ajax/sp_GetListaScenePreloadMaxischermo?fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"] + "&fk_int_TipoPeriodo=" + fk_int_TipoPeriodo,
                async: false
            }).done(function (data) {
                PreloadingSceneMaxischermo(data)
            });

        }

        function UnloadPeriodo(fk_int_Periodo) {
            ////////console.log("UnloadPeriodo");
            UnloadPeriodoLed(fk_int_Periodo)
            UnloadPeriodoMaxischermo(fk_int_Periodo)
        }

        function UnloadPeriodoLed(fk_int_Periodo) {
            ////////console.log("UnloadPeriodoLed");
            $(".scenaLedPeriodo_" + fk_int_Periodo).each(function () {

                UnloadScenaLed($(this).data("sid"))

            });

        }
        function UnloadPeriodoMaxischermo(fk_int_Periodo) {

            $(".scenaMaxischermoPeriodo_" + fk_int_Periodo).each(function () {

                UnloadScenaMaxischermo($(this).data("sid"))

            });

        }




        function SendPeriodiPresenti() {
            let classList = {};
            let stringa = "";
            $(".scenaLed").each(function () {
                ////////////console.log(classList[this.className]);
                ////////////console.log(this.className);
                classList[this.className.replace("scenaLed scenaLedPeriodo_", '')] = ((classList[this.className] === undefined) ? 1 : classList[this.className]) + 1;
            });
            ////////////console.log(JSON.stringify(classList));
            SetDatiToUI(CostruisciMessaggio('GetSceneInPeriodi(' + JSON.stringify(classList) + ');'));
        }



        function UnloadSceneLed(ArrScene) {
            ////////console.log("UnloadSceneLed");
            let incr = 1;
            for (var i = 0; i < ArrScene.length; i++) {
                if ($("#scenaLed_" + ArrScene[i]).length) {
                    ////////////console.log("Forzo lo scaricamento di tutti i video della scena: "+ArrScene[i]);
                    setTimeout(function () { UnloadScenaLed(ArrScene[i]) }, incr * 100);
                    incr = incr + 1;
                }
            }
        }



        function UnloadScenaLed(sid) {
            ////////console.log("UnloadScenaLed");
            if (sid != undefined) {
                ////////console.log(ArrSceneNonScaricabili);
                if (ArrSceneNonScaricabiliLed.includes(sid) == false) {
                    if ($("#scenaLed_" + sid).length > 0) {
                        if ($("#scenaLed_" + sid).css('visibility') == 'hidden') {
                            ////////console.log("UnloadScenaLed: " + sid);

                            ForzaUnloadTuttiIVideoDentroElementoLed(sid);
                            $("#scenaLed_" + sid).remove();

                        }
                    }
                }
            }
        }



        function UnloadSceneMaxischermo(ArrScene) {
            for (var i = 0; i < ArrScene.length; i++) {
                UnloadScenaMaxischermo(ArrScene[i])
            }
        }


        function UnloadScenaMaxischermo(sid) {
            //if (sid != undefined) {
            //    ////////////console.log("sid != undefined");
            //    if ($("#scenaMaxischermo_" + sid).length) {
            //        ForzaUnloadTuttiIVideoDentroElementoMaxischermo(sid);
            //        $("#scenaMaxischermo_" + sid).remove();

            //    }
            //}
            if (sid != undefined) {
                //console.log(ArrSceneNonScaricabiliMaxischermo);
                //console.log(sid);
                if (ArrSceneNonScaricabiliMaxischermo.includes(sid) == false) {

                    //console.log("RIMUOVO");
                    if ($("#scenaMaxischermo_" + sid).length > 0) {
                        if ($("#scenaMaxischermo_" + sid).css('visibility') == 'hidden') {
                            ////////console.log("UnloadScenaLed: " + sid);

                            ForzaUnloadTuttiIVideoDentroElementoMaxischermo(sid);
                            $("#scenaMaxischermo_" + sid).remove();

                        }
                    }
                } else {
                    //console.log("MANTENGO");
                }
            }



        }


        /*
                    function caricamentoScaglionatoVideoLed(ListaVideo, idScena) {

            ////////////console.log("caricamentoScaglionatoVideoLed " + idScena);
            $.each(ListaVideo, function (index, val) {
                incrementaleTemporizzazioneCaricamento = incrementaleTemporizzazioneCaricamento + 1;
                //if (incrementaleTemporizzazioneCaricamento < 5) {
                setTimeout(function () {
                    $("#scenaLed_" + idScena).append('<video muted  width="' + val.int_W + '" height="' + val.int_H + '" style="margin-left:' + val.int_MarginL + 'px; margin-top:' + val.int_MarginT + 'px;" control><source src="' + val.nva_PahtFile + '" /></video>');
                }, 100 + (incrementaleTemporizzazioneCaricamento * 30));
                //}
            });
        }

         * */



        function PreloadingSceneLed(ArrScene) {
            ////console.log("PreloadingSceneLed ");
            ////console.log("+++++++++++++++++++++++++++++++++++++")
            ////console.log(ArrScene)
            ////console.log("-------------------------------------------")


            let as = JSON.parse(ArrScene)

            $.each(as, function (i, g) {
                incrementaleTemporizzazioneCaricamento = incrementaleTemporizzazioneCaricamento + 1;

                setTimeout(function () {
                    //SetDatiToUI(CostruisciMessaggio("$('.sid_" + g.sid + "').removeClass('btn-danger').addClass('btn-warning');"));
                    caricaScenaLed(g);
                    //SetDatiToUI(CostruisciMessaggio("$('.sid_" + g.sid + "').removeClass('btn-warning').addClass('btn-success');"));
                }, (incrementaleTemporizzazioneCaricamento * 300));

            });

        }






        function PreloadingSceneMaxischermo(ArrScene) {
            ////console.log("PreloadingSceneMaxischermo ");
            ////console.log("+++++++++++++++++++++++++++++++++++++")
            ////console.log(ArrScene)
            ////console.log("-------------------------------------------")


            let as = JSON.parse(ArrScene)
            $.each(as, function (i, g) {
                ////console.log(g)
                if (g.home == 0) {
                    incrementaleTemporizzazioneCaricamento = incrementaleTemporizzazioneCaricamento + 1;
                    setTimeout(function () {
                        ////console.log("~~~~~~~~~~caricaScenaMaxischermo~~~~~~~~~~~~~~~~~~~")
                        caricaScenaMaxischermo(g);
                    }, (incrementaleTemporizzazioneCaricamento * 200));
                }

            });

        }




        function GetSceneLedCaricateCorrettamente() {
            $(".scenaLed").each(function (i, ff) {
                if ($(ff).find("video")[0].readyState == 4) {
                    ////////console.log("caricata correttamente:" + $(ff).data( "sid" ))
                } else {
                    ////////console.log("errre:" + $(ff).data( "sid" ))
                }
            });
        }





        function caricaScenaLedByID(idScena) {
            //      //////////console.log("caricaScenaLedByID:"+idScena);
            $.ajax({
                url: "/AcquisizioneSceneLed/sp_GetObjScenaLed",
                data: "fk_int_Scena=" + idScena,
                async: false
            }).done(function (data) {
                caricaScenaLed(data);
            });
        }


        function caricaScenaLed(objScena) {
            //    //////////console.log("caricaScenaLed:" + JSON.stringify(objScena));
            if (objScena.sid > 0) {
                if (!$("#scenaLed_" + objScena.sid).length) {

                    $("#CanvasVideoLed").append("<div data-sid='" + objScena.sid + "' ID='scenaLed_" + objScena.sid + "' class='scenaLed scenaLedPeriodo_" + objScena.iper + "'  style='zIndex:1;visibility:hidden;'><video muted  style='margin-left:0px; margin-top:0px;  ' control ><source src='\\video\\" + SettingMatch.nva_NomeDirectoryStadio + "\\scene\\" + objScena.fkf + ".mp4' /></video></div>");
                    $.ajax({ url: "/Ajax/sp_SetTimelineLoadingScene", data: "id=" + objScena.sid + "&azione=load&soggetto=Led" })
                } else {
                    ////////console.log("Scena " + objScena.sid + " già carica!");
                }
            } else {
                //////////console.log("objScena = undefined");
            }
        }



        function caricaScenaMaxischermoByID(idScena) {
            //   //////////console.log("caricaScenaMaxischermoByID:"+idScena);
            $.ajax({
                url: "/AcquisizioneSceneMaxischermo/sp_GetObjScenaMaxischermo",
                data: "fk_int_Scena=" + idScena,
                async: false
            }).done(function (data) {
                caricaScenaMaxischermo(data);
            });
        }



        function caricaScenaMaxischermo(objScena) {
            ////console.log("!!!!!!!!!!!!!!!!!!caricaScenaMaxischermo:" + JSON.stringify(objScena));
            if (objScena.sid > 0) {
                if (!$("#scenaMaxischermo_" + objScena.sid).length) {
                    $("#VideoMaxischermo").append("<div data-sid='" + objScena.sid + "' ID='scenaMaxischermo_" + objScena.sid + "' class='scenaMaxischermo scenaMaxischermoPeriodo_" + objScena.iper + "'  style='zIndex:1;visibility:hidden;'><video   style='margin-left:0px; margin-top:0px;' control  ><source src='" + objScena.nf + "' /></video></div>");
                    $.ajax({ url: "/Ajax/sp_SetTimelineLoadingScene", data: "id=" + objScena.sid + "&azione=load&soggetto=Maxischermo" })
                } else {
                    //        //////////console.log("Scena " + objScena.sid + " già carica!");
                }
            } else {
                //////////console.log("objScena = undefined");
            }
        }




        /*
        function caricamentoScaglionatoVideoLed(ListaVideo, idScena) {
            incrementaleTemporizzazioneCaricamento = 0;
            ////////////console.log("caricamentoScaglionatoVideoLed " + idScena);
            $.each(ListaVideo, function (index, val) {
                incrementaleTemporizzazioneCaricamento = incrementaleTemporizzazioneCaricamento + 1;
                //if (incrementaleTemporizzazioneCaricamento < 5) {
                setTimeout(function () {
                    $("#scenaLed_" + idScena).append('<video muted  width="' + val.int_W + '" height="' + val.int_H + '" style="margin-left:' + val.int_MarginL + 'px; margin-top:' + val.int_MarginT + 'px;" control><source src="' + val.nva_PahtFile + '" /></video>');
                }, 100 + (incrementaleTemporizzazioneCaricamento * 30));
                //}
            });
        }
        */




        /*
        ████████╗███████╗███╗   ███╗██████╗  ██████╗ ██████╗ ██╗███████╗███████╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
        ╚══██╔══╝██╔════╝████╗ ████║██╔══██╗██╔═══██╗██╔══██╗██║╚══███╔╝╚══███╔╝██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
           ██║   █████╗  ██╔████╔██║██████╔╝██║   ██║██████╔╝██║  ███╔╝   ███╔╝ ███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
           ██║   ██╔══╝  ██║╚██╔╝██║██╔═══╝ ██║   ██║██╔══██╗██║ ███╔╝   ███╔╝  ██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
           ██║   ███████╗██║ ╚═╝ ██║██║     ╚██████╔╝██║  ██║██║███████╗███████╗██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
           ╚═╝   ╚══════╝╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
        */





        var attendi = 0;
        /**************** temporizzatore generale ************/
        //var UnloadScenaLed = true;
        var ScenaSuccessivaLed = {};
        var ScenaSuccessivaMaxischermo = {};
        function TieniIlTempo() {

            setInterval(function () {

                var dataTime = new Date();
                var dataoraact = dataTime.getTime();


                /*controllo cambiamento ArrSceneLed*/
                if (ArrSceneLedFuturo != ArrSceneLed) {

                    ArrSceneLed = ArrSceneLedFuturo;
                    let ArrFiltroSuccessivoNuoveLed = ArrSceneLed.filter(element => element.start >= dataoraact).slice(0);
                    let ssLed = ArrFiltroSuccessivoNuoveLed[0];
                    if (ssLed != undefined) {
                        ////////console.log("(ArrSceneLedFuturo != ArrSceneLed)")
                        caricaScenaLed(ssLed);
                        if (ArrFiltroSuccessivoNuoveLed.length > 1) {
                            ////////console.log("chiamo da 1804")
                            caricaScenaLed(ArrFiltroSuccessivoNuoveLed[1]);
                        }
                    }
                }

                /*controllo cambiamento ArrSceneMaxischermo*/
                if (ArrSceneMaxischermoFuturo != ArrSceneMaxischermo) {
                    ArrSceneMaxischermo = ArrSceneMaxischermoFuturo;
                    let ArrFiltroSuccessivoNuoveMaxischermo = ArrSceneMaxischermo.filter(element => element.start >= dataoraact).slice(0);
                    let ssMaxischermo = ArrFiltroSuccessivoNuoveMaxischermo[0];
                    if (ssMaxischermo != undefined) {

                        caricaScenaMaxischermo(ssMaxischermo);
                        if (ArrFiltroSuccessivoNuoveMaxischermo.length > 1) {
                            caricaScenaMaxischermo(ArrFiltroSuccessivoNuoveMaxischermo[1]);
                        }
                    }
                }








                //filtro gli elementi controllando se esiste un elemento la cui data di inizio assoluta è minore di adesso e la data di fine è maggiore.
                //let ArrFiltro = ArrSceneMaxischermo.filter(element => element.start <= dataoraact && element.stop > dataoraact && element.sid != ScenaRiprodottaMaxischermo.sid);
                let ArrFiltroMaxischermo = ArrSceneMaxischermo.filter(element => element.start <= dataoraact && element.stop > dataoraact && element.id != ScenaRiprodottaMaxischermo.id);
                //  ////console.log();
                if (ArrFiltroMaxischermo.length > 0) {

                    ////////console.log("int_IsScenaInterrotta");
                    // ////////////console.log(int_IsScenaInterrotta);
                    let StrigaQueryMaxischermo = "";
                    let ScenaOldMaxischermo = ScenaRiprodottaMaxischermo;
                    ScenaRiprodottaMaxischermo = ArrFiltroMaxischermo[0];
                    //filtro gli elementi controllando se esiste un elemento la cui data di inizio assoluta è minore o uguale alla ScenaRiprodottaMaxischermo.stop  .

                    let ArrFiltroSuccessivoMaxischermo = ArrSceneMaxischermo.filter(element => element.start >= ScenaRiprodottaMaxischermo.stop).slice(0);

                    ////////////console.log("risultato filtro:");
                    ////////////console.log(ArrFiltroSuccessivoMaxischermo);

                    if ((ScenaOldMaxischermo.sid > 0) && (ScenaRiprodottaMaxischermo.iper != 66)) {
                        $("#scenaMaxischermo_" + ScenaOldMaxischermo.sid).css({ "zIndex": "9", "visibility": "visible" });
                        ////////////console.log("ScenaOldMaxischermo.sid > 0");
                        StrigaQueryMaxischermo = StrigaQueryMaxischermo + "&id_int_SceneRiproduzioniMaxischermo_fine=" + ScenaOldMaxischermo.id;
                    }




                    $("#scenaMaxischermo_" + ScenaRiprodottaMaxischermo.sid).css({ "zIndex": "10", "visibility": "visible" });
                    ////////////console.log("faccio partire la scena " + ScenaRiprodottaMaxischermo.sid + " da qui");
                    riproduciScenaMaxischermo(ScenaRiprodottaMaxischermo);
                    StrigaQueryMaxischermo = StrigaQueryMaxischermo + "&id_int_SceneRiproduzioniMaxischermo_inizio=" + ScenaRiprodottaMaxischermo.id;

                    if (ArrFiltroSuccessivoMaxischermo.length > 0) {
                        ////////////console.log("ArrFiltroSuccessivo:");
                        ////////////console.log(ArrFiltroSuccessivoMaxischermo);
                        ScenaSuccessivaMaxischermo = ArrFiltroSuccessivoMaxischermo[0];

                        ////////////console.log("ArrFiltroSuccessivo.length > 0");

                    }


                    setTimeout(function () {
                        if ((ScenaOldMaxischermo.sid > 0) && (ScenaRiprodottaMaxischermo.iper != 66) && (ScenaOldMaxischermo.sid != ScenaRiprodottaMaxischermo.sid)) {
                            FermaTuttiIVideoDentroElementoMaxischermo(ScenaOldMaxischermo.sid);

                            ////////console.log('nascondo la scena: ' + ScenaOldMaxischermo.sid)

                            $("#scenaMaxischermo_" + ScenaOldMaxischermo.sid).css({ "visibility": "hidden" });

                            UnloadScenaMaxischermo(ScenaOldMaxischermo.sid);

                            ////////////console.log("Rimuovo la ScenaOldMaxischermo in quanto non mi serve più");
                        }


                        if (ArrFiltroSuccessivoMaxischermo.length > 0) {
                            ////////////console.log("chiamo da 2035")
                            caricaScenaMaxischermo(ScenaSuccessivaMaxischermo);
                            ////////////console.log("carico la scena successiva");
                            if (ArrFiltroSuccessivoMaxischermo.length > 1) {
                                ////////////console.log("chiamo da 2039")
                                caricaScenaMaxischermo(ArrFiltroSuccessivoMaxischermo[1]);
                            }
                        } else {
                            ////////////console.log("carico provvedo ad inviare un segnale al server chiedendo istruzioni su cosa riprodurre nella scena successiva");
                        }

                        ////////////console.log("riga 2104 - "+StrigaQueryMaxischermo)
                        $.ajax({
                            url: "/Ajax/sp_GestisciRiproduzioneMaxischermo",
                            data: "int_IsFromPlayer=1&int_DataOraJavascript=" + dataoraact + "" + StrigaQueryMaxischermo
                        }).done(function (data) {
                            ////////////console.log(data);
                        });




                    }, 50);

                }
                /*
                if (ArrFiltroMaxischermo.length > 0) {

                    ////////////console.log("int_IsScenaInterrotta");
                    // ////////////console.log(int_IsScenaInterrotta);
                    let StrigaQueryMaxischermo = "";
                    let ScenaOldMaxischermo = ScenaRiprodottaMaxischermo;
                    ScenaRiprodottaMaxischermo = ArrFiltroMaxischermo[0];
                    //filtro gli elementi controllando se esiste un elemento la cui data di inizio assoluta è minore o uguale alla ScenaRiprodottaMaxischermo.stop  .

                    let ArrFiltroSuccessivoMaxischermo = ArrSceneMaxischermo.filter(element => element.start >= ScenaRiprodottaMaxischermo.stop).slice(0);



                    if((ScenaOldMaxischermo.sid > 0)&&(ScenaRiprodottaMaxischermo.iper!=66)) {

                        $("#scenaMaxischermo_" + ScenaOldMaxischermo.sid).css({ "zIndex": "9", "visibility": "visible" });
                        ////////////console.log("ScenaOldMaxischermo.sid > 0");
                        StrigaQueryMaxischermo = StrigaQueryMaxischermo + "&id_int_SceneRiproduzioniMaxischermo_fine=" + ScenaOldMaxischermo.id;
                    }


                    //////console.log("ScenaOldMaxischermo")
                    //////console.log(ScenaOldMaxischermo.home)
                    ////////////console.log(ScenaRiprodottaMaxischermo.home)


                    if((ScenaRiprodottaMaxischermo.home != ScenaOldMaxischermo.home)&&(ScenaRiprodottaMaxischermo.home == 1)){
                    //    MostraHomeMaxischermo();
                        //$("#VideoMaxischermo").hide();
                    }
                    if((ScenaRiprodottaMaxischermo.home != ScenaOldMaxischermo.home)&&(ScenaRiprodottaMaxischermo.home == 0)){
                  //     SmontaHomeMaxischermo();
                       // $("#VideoMaxischermo").show();
                    }
                    ////console.log(ScenaRiprodottaMaxischermo.home)

                    if (ScenaRiprodottaMaxischermo.home == 0) {
                        $("#scenaMaxischermo_" + ScenaRiprodottaMaxischermo.sid).css({ "zIndex": "10", "visibility": "visible" });
                        riproduciScenaMaxischermo(ScenaRiprodottaMaxischermo);
                       // $("#HomeMaxischermoFS").hide();
                    } else {
                      //  $("#HomeMaxischermoFS").show();
                    }




                    ////////////console.log("faccio partire la scena " + ScenaRiprodottaMaxischermo.sid + " da qui");

                    StrigaQueryMaxischermo = StrigaQueryMaxischermo + "&id_int_SceneRiproduzioniMaxischermo_inizio=" + ScenaRiprodottaMaxischermo.id;


                    if (ArrFiltroSuccessivoMaxischermo.length > 0) {
                        ////////////console.log("ArrFiltroSuccessivo:");
                        ////////////console.log(ArrFiltroSuccessivoMaxischermo);
                        ScenaSuccessivaMaxischermo = ArrFiltroSuccessivoMaxischermo[0];
                        ////////////console.log("ArrFiltroSuccessivo.length > 0");
                    }


                    setTimeout(function () {
                        if ((ScenaOldMaxischermo.sid > 0)&&(ScenaRiprodottaMaxischermo.iper!=66) &&(ScenaOldMaxischermo.sid != ScenaRiprodottaMaxischermo.sid)) {
                            FermaTuttiIVideoDentroElementoMaxischermo(ScenaOldMaxischermo.sid);
                            $("#scenaMaxischermo_" + ScenaOldMaxischermo.sid).css({ "visibility": "hidden" });

                            UnloadScenaMaxischermo(ScenaOldMaxischermo.sid);

                            ////////////console.log("Rimuovo la ScenaOldMaxischermo in quanto non mi serve più");
                        }


                        if(ArrFiltroSuccessivoMaxischermo.length > 0){
                            caricaScenaMaxischermo(ScenaSuccessivaMaxischermo);
                            ////////////console.log("carico la scena successiva");
                            if (ArrFiltroSuccessivoMaxischermo.length > 1){
                                if (ArrFiltroSuccessivoMaxischermo[1].home == 0){
                                    caricaScenaMaxischermo(ArrFiltroSuccessivoMaxischermo[1]);
                                }
                            }
                        }else{
                            ////////////console.log("carico provvedo ad inviare un segnale al server chiedendo istruzioni su cosa riprodurre nella scena successiva");
                        }

                        ////////////console.log("riga 1949 - "+StrigaQueryMaxischermo)
                        $.ajax({
                            url: "/Ajax/sp_GestisciRiproduzioneMaxischermo",
                            data: "int_IsFromPlayer=1&int_DataOraJavascript=" + dataoraact + "" + StrigaQueryMaxischermo
                        }).done(function (data) {
                            ////////////console.log(data);
                        });




                    }, 50);

                }

                */





                ////////////console.log("ArrSceneLed che entrano nel filtro:");
                ////////////console.log(ArrSceneLed);

                //filtro gli elementi controllando se esiste un elemento la cui data di inizio assoluta è minore di adesso e la data di fine è maggiore.
                //let ArrFiltro = ArrSceneLed.filter(element => element.start <= dataoraact && element.stop > dataoraact && element.sid != ScenaRiprodottaLed.sid);
                let ArrFiltroLed = ArrSceneLed.filter(element => element.start <= dataoraact && element.stop > dataoraact && element.id != ScenaRiprodottaLed.id);


                if (ArrFiltroLed.length > 0) {

                    ////////console.log("int_IsScenaInterrotta");
                    // ////////////console.log(int_IsScenaInterrotta);
                    let StrigaQueryLed = "";
                    let ScenaOldLed = ScenaRiprodottaLed;
                    ScenaRiprodottaLed = ArrFiltroLed[0];
                    //filtro gli elementi controllando se esiste un elemento la cui data di inizio assoluta è minore o uguale alla ScenaRiprodottaLed.stop  .

                    let ArrFiltroSuccessivoLed = ArrSceneLed.filter(element => element.start >= ScenaRiprodottaLed.stop).slice(0);

                    ////////////console.log("risultato filtro:");
                    ////////////console.log(ArrFiltroSuccessivoLed);

                    if ((ScenaOldLed.sid > 0) && (ScenaRiprodottaLed.iper != 66)) {
                        $("#scenaLed_" + ScenaOldLed.sid).css({ "zIndex": "9", "visibility": "visible" });
                        ////////////console.log("ScenaOldLed.sid > 0");
                        StrigaQueryLed = StrigaQueryLed + "&id_int_SceneRiproduzioniLed_fine=" + ScenaOldLed.id;
                    }




                    $("#scenaLed_" + ScenaRiprodottaLed.sid).css({ "zIndex": "10", "visibility": "visible" });
                    ////////////console.log("faccio partire la scena " + ScenaRiprodottaLed.sid + " da qui");
                    riproduciScenaLed(ScenaRiprodottaLed);
                    StrigaQueryLed = StrigaQueryLed + "&id_int_SceneRiproduzioniLed_inizio=" + ScenaRiprodottaLed.id;

                    if (ArrFiltroSuccessivoLed.length > 0) {
                        ////////////console.log("ArrFiltroSuccessivo:");
                        ////////////console.log(ArrFiltroSuccessivoLed);
                        ScenaSuccessivaLed = ArrFiltroSuccessivoLed[0];

                        ////////////console.log("ArrFiltroSuccessivo.length > 0");

                    }


                    setTimeout(function () {
                        if ((ScenaOldLed.sid > 0) && (ScenaRiprodottaLed.iper != 66) && (ScenaOldLed.sid != ScenaRiprodottaLed.sid)) {
                            FermaTuttiIVideoDentroElementoLed(ScenaOldLed.sid);

                            ////////console.log('nascondo la scena: ' + ScenaOldLed.sid)

                            $("#scenaLed_" + ScenaOldLed.sid).css({ "visibility": "hidden" });

                            UnloadScenaLed(ScenaOldLed.sid);

                            ////////////console.log("Rimuovo la ScenaOldLed in quanto non mi serve più");
                        }


                        if (ArrFiltroSuccessivoLed.length > 0) {
                            ////////////console.log("chiamo da 2035")
                            caricaScenaLed(ScenaSuccessivaLed);
                            ////////////console.log("carico la scena successiva");
                            if (ArrFiltroSuccessivoLed.length > 1) {
                                ////////////console.log("chiamo da 2039")
                                caricaScenaLed(ArrFiltroSuccessivoLed[1]);
                            }
                        } else {
                            ////////////console.log("carico provvedo ad inviare un segnale al server chiedendo istruzioni su cosa riprodurre nella scena successiva");
                        }

                        ////////////console.log("riga 2104 - "+StrigaQueryLed)
                        $.ajax({
                            url: "/Ajax/sp_GestisciRiproduzioneLed",
                            data: "int_IsFromPlayer=1&int_DataOraJavascript=" + dataoraact + "" + StrigaQueryLed
                        }).done(function (data) {
                            ////////////console.log(data);
                        });




                    }, 50);

                }

            }, 100);

        }




        /*
        INIZIO Aggiornamento Timeline
        */



        function AggiornaTimelineLed(Stringa, IstanteRichiestaEvento, SkipTo, fk_int_Periodo) {

            //////////console.log('AggiornaTimelineLed fk_int_Periodo:'+fk_int_Periodo);
            //////////console.log(Stringa);
            //////////console.log(SkipTo);

            //PulisciERipristinaTimer();
            ArrSceneLedFuturo = JSON.parse(Stringa);



        }


        function AggiornaTimelineMaxischermo(Stringa, IstanteRichiestaEvento, SkipTo, fk_int_Periodo) {

            ////////////console.log('sono qui--------------------------------------------------------------')
            ArrSceneMaxischermoFuturo = JSON.parse(Stringa);
        }



        function riproduciScenaLed(objScena) {

            ////console.log("riproduco scena: "+objScena.sid);
            $("#scenaLed_" + objScena.sid).children('video').each(function () {
                ////console.log("riproduco scena: "+objScena);
                if (objScena.skipto > 0) {
                    ////////console.log("skip to: "+objScena.skipto);
                    this.currentTime = (objScena.skipto / 1000);
                } else {
                    this.currentTime = 0;
                }
                this.play();
            });


        }

        function riproduciScenaMaxischermo(objScena) {
            ////console.log("riproduciScenaMaxischermo:");
            ////console.log("objScena");
            $("#scenaMaxischermo_" + objScena.sid).children('video').each(function () {
                if (objScena.skipto > 0) {

                    this.currentTime = (objScena.skipto / 1000);
                } else {
                    this.currentTime = 0;
                }

                this.play();
            });
        }


        function FermaTuttiIVideoDentroElementoLed(ID) {
            ////////console.log("FermaTuttiIVideoDentroElementoLed");
            try {
                $("#scenaLed_" + ID).children('video').each(function () {
                    this.pause();
                    this.currentTime = 0;
                });
            }
            catch (err) {
            }
        }


        function ForzaUnloadTuttiIVideoDentroElementoLed(ID) {
            ////////console.log("ForzaUnloadTuttiIVideoDentroElementoLed");
            try {

                $.ajax({ url: "/Ajax/sp_SetTimelineLoadingScene", data: "id=" + ID + "&azione=unload&soggetto=Led" })

                $("#scenaLed_" + ID).children('video').each(function () {
                    // setTimeout(function () {
                    this.pause();
                    this.removeAttribute('src'); // empty source
                    this.load();
                    //  },(q*100))

                });
            }
            catch (err) {
            }


        }

        function FermaTuttiIVideoDentroElementoMaxischermo(ID) {

            try {

                $("#scenaMaxischermo_" + ID).children('video').each(function () {
                    this.pause();
                    this.currentTime = 0;
                });
            }
            catch (err) {
            }
        }


        function ForzaUnloadTuttiIVideoDentroElementoMaxischermo(ID) {

            try {
                $.ajax({ url: "/Ajax/sp_SetTimelineLoadingScene", data: "id=" + ID + "&azione=unload&soggetto=Maxischermo" })
                $("#scenaMaxischermo_" + ID).children('video').each(function () {
                    this.pause();
                    this.removeAttribute('src'); // empty source
                    this.load();
                });
            }
            catch (err) {
            }
        }



        /*
        ////////////console.log('PulisciERipristinaTimer IDperiodo:'+fk_int_PeriodoAttivo);

        switch (fk_int_PeriodoAttivo) {
            case 10:
            case 20:
                $(".TimerLed").append("<div class='TempoOrologioLed'>00:00</div>")
                TimerStart = new Date();
                MinutiRecupero = 0;
                AvanzaOrologio = 1;
                break;

            case 11:
            case 21:
                AvanzaOrologio = 0;
                if (MinutiRecupero > 0) {
                    $(".TimerLed").append("<div class='TempoOrologioLed'>45:00+" + MinutiRecupero + "</div>")
                } else {
                    $(".TimerLed").append("<div class='TempoOrologioLed'>45:00</div>")

                }
            break

            default:
                AvanzaOrologio = 0;
                $(".TimerLed").append("<div class='TempoOrologioLed'>00:00</div>")

                break;
        }
        */




        function AggiornaPunteggio(objPunteggio) {
            //objPunteggio = JSON.parse(objPunteggio);
            if ((SettingMatch.fk_int_SquadraCasa != undefined && SettingMatch.fk_int_SquadraOspite != undefined)) {
                var StringaPunteggio = objPunteggio["casa"] + "-" + objPunteggio["ospiti"];
                $(".TxtPunteggio").text(StringaPunteggio);
                //if (StringaPunteggio.length > 5) {
                //    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "10px" })
                //} else if (StringaPunteggio.length > 4) {
                //    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "70px" })
                //} else if (StringaPunteggio.length > 3) {
                //    $(".div_testoPunteggio").css({ "letter-spacing": "2px", "font-size": "80px" })
                //} else {
                //    $(".div_testoPunteggio").css({ "letter-spacing": "10px", "font-size": "88px" })
                //}

            }
        }



        function ApplicaRecupero(minuti) {
            MinutiRecupero = minuti
            ////////////console.log("applico "+MinutiRecupero+" di recupero")
            //if (MinutiRecupero != minuti) {
            //    MinutiRecupero = minuti
            //switch (fk_int_PeriodoAttivo) {
            //    case 11:
            //        case 21:
            //        if (MinutiRecupero > 0) {
            //            $(".tempoOrologioLed").html("45:00+" + MinutiRecupero)
            //        } else {
            //            $(".tempoOrologioLed").html("45:00")
            //        }
            //    //    break
            //    //case 21:
            //    //    if (MinutiRecupero > 0) {
            //    //        $(".tempoOrologioLed").html("90:00+" + MinutiRecupero)
            //    //    } else {
            //    //        $(".tempoOrologioLed").html("90:00")
            //    //    }
            //        break
            // }
            //}
        }


        function SetupSchermataPlayer() {
            $.ajax({ url: "/Ajax/sp_SetupSchermataPlayer" })

        }




    </script>




</body>
</html>