﻿@{
    ViewData["Title"] = "visualizzo filmati";
}


<div Id="DivDebug" style="position:absolute; z-index:100; margin-top:5px; margin-left:10px; width:600px; height:30px; background-color:white;">
   
</div>

<div Id="CanvasLuminosita">
    @Html.Raw(ViewBag.HtmlLuminosità)
</div>

<div Id="CanvasGrafica">
    @Html.Raw(ViewBag.HtmlGrafica)
</div>

<div Id="CanvasClock">
    @Html.Raw(ViewBag.HtmlTimer)
</div>

<div Id="CanvasResult">
    @Html.Raw(ViewBag.HtmlResult)
</div>



<div Id="CanvasVideo"></div>


<div Id="BlockLeft" style="z-index:100; position:absolute; width:2000px; height:2500px; margin-left:1728px; margin-top:0px; background-color:white; border:none;"></div>


@section scripts {

    <script type="text/javascript">

        var ScenaAttuale;

        var video_control = ""
        var countPlaylistAct = 0;
        var countCanvasAct = 0;
        var incrementaleDebug = 0;
        var ArrTempi = Array;
        var ArrScenePlaylist = Array;
        var contatoreScene = 0;
        var ArrTempiDebug = Array
        var IpServer = "localhost:5000"
        var progressivoAttuale = 1
        var progressivoIniziale = 1
        //var IpServer = "192.168.50.52:8080"

        function FirstArrayKey(arr) {
            Object.keys(arr)[0]
        }
        function FirstArrayValue(arr) {
            Object.values(arr)[0]
        }

        $(document).ready(function () {
            ArrTempi[progressivoIniziale] = 0;

         



            $.ajax({
                url: "acquisizione_scene/GetScenePlaylist",
                data: "fk_int_stadio=2&fk_int_periodo=2"
            }).done(function (data) {
       
                ArrScenePlaylist = JSON.parse(data);
                console.log(ArrScenePlaylist)

                CaricaPlaylist(progressivoAttuale);
                tieniIlTempo();
  
                $("#scena_" + ArrScenePlaylist[progressivoAttuale].FK_int_Scena).show();

            });




            //$.when(CaricaTimeline()).then(function (x) {

            //    CaricaPlaylist(FirstArrayValue(ArrScenePlaylist));

            //    tieniIlTempo();

            //})


            //$("#scena_" + FirstArrayValue(ArrScenePlaylist).FK_int_Scena).show();

            setTimeout(function () {
                riproduciPlaylist(1);
            }, 10000);

        });


        //function CaricaTimeline() {
        //    return $.ajax({
        //        url: "acquisizione_scene/GetScenePlaylist",
        //        data: "fk_int_stadio=2&fk_int_periodo=2"
        //    }).done(function (data) {
        //      //  sendMessageToUI("$('#timeline').html('eccolo')");
        //        ArrScenePlaylist = JSON.parse(data);

        //    });
        //}


        function CaricaPlaylist(numeroScena) {
            console.log("riga 104")
             console.log(numeroScena)

            console.log(ArrScenePlaylist[numeroScena])

            $("#CanvasVideo").append("<div ID='scena_" + numeroScena + "'></div>")

            var d = ArrScenePlaylist[numeroScena].FK_int_Scena;
         
            console.log(d)


            $.ajax({
                url: "acquisizione_scene",
                data: "fk_int_scena=" + d
            }).done(function (data) {
                console.log("riga 115")
                console.log(data)
                var ListaVideo = JSON.parse(data);
                caricamentoScaglionato(ListaVideo, numeroScena);
            });

        }




        function caricamentoScaglionato(ListaVideo, IdScena) {

  

            $("#scena_" + IdScena).hide();
            console.log("riga 60")
            console.log(ListaVideo)

            $.each(ListaVideo, function (index, video) {
                setTimeout(function () {
                    $("#scena_" + IdScena).append("<video width='" + video.int_W + "' height='" + video.int_H + "' style='margin-left:" + video.int_MarginL + "px; margin-top:" + video.int_MarginT + "px;' control><source src='http://" + IpServer + "/" + video.nva_PahtFile + "' /></video>");
                }, 1000 + (index * 200));
            });
        }














        function numProps(obj) {
            var c = 0;
            for (var key in obj) {
                if (obj.hasOwnProperty(key))++c;
            }
            return c;
        }


        function SommaTempi(progressivo) {

            var t = 0
            $.each(ArrScenePlaylist, function (index, val) {
                if ((index+1) <= progressivo) {
                    t = t + parseInt(val.Durata);
                }
            });

            console.log(t);
            return t;


        }



        function tieniIlTempo() {

            setInterval(function () {

                //var primaScena = Object.keys(ArrScenePlaylist)[0];

                controllaCookie();

                if (ArrTempi[progressivoIniziale] > 0) {
                    var d = new Date();


                    if ((d.getTime() > (ArrTempi[progressivoIniziale] + SommaTempi(progressivoAttuale)))) {

                        var Scena = ArrScenePlaylist[progressivoAttuale];

                        $("#scena_" + Scena.FK_int_Scena).remove()
                        progressivoAttuale = GetNexScene(progressivoAttuale)
                        riproduciPlaylist(progressivoAttuale);


                    }



                }


            }, 10);

        }




        //function nextKey(db, key) {
        //    var next = db.index[key] + 1;
        //    if (next >= db.data.length) {
        //        return null;
        //    }
        //    return db.data[next];
        //}
        //function prevKey(db, key) {
        //    var next = db.index[key] - 1;
        //    if (next < 0) {
        //        return null;
        //    }
        //    return db.data[next];
        //}

        function firstElement(db) {

            return db.find(first)
              
        }




        function GetNexScene(progressivo) {
           // progressivo = progressivo +1
            return progressivo + 1
        }



        function pausaVideo(Video) {
            Video.each(function () {
                $(this).get(0).pause();
            });
        }



        function riproduciPlaylist(cp) { //cp= chiaveProgressiva


            $("#DivDebug").html(cp);
            var d = new Date();
            ArrTempi[cp] = d.getTime();

            var Scena = ArrScenePlaylist[cp];


            console.log("riga 226")
           
            $("#scena_" + Scena.FK_int_Scena).children('video').each(function () {
                $(this).get(0).play();
            });

            $("#scena_" + Scena.FK_int_Scena).show();

            CaricaPlaylist(GetNexScene(cp))
        }





        //function stopVideo(Video) {
        //    Video.each(function () {
        //        $(this).get(0).pause();
        //        $(this).get(0).currentTime = 0;
        //    });
        //}


        function sendMessageToUI(value) {
            console.log("invio!"+value)
            setCookie("to-ui", value);
        }

        function setCookie(key, value) {
            document.cookie = "cookie-msg-" + key + "=" + value + "; path=/";
        }

        function getCookie(key) {
            var cname = "cookie-msg-" + key + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(cname) == 0) {
                    return c.substring(cname.length, c.length);
                }
            }
            return null;
        }



        function controllaCookie() {

            var f = getCookie("to-player");
            if (f != "") {

                eval(f)

                setCookie("to-player", "");
            }
        }

        var tttt = setInterval(controllaCookie, 200);



        var TimerStart = new Date();;


        var myVar = setInterval(function () {
            AvanzaTimer();
        }, 1000);

        function AvanzaTimer() {
            var d = new Date();
            var secondsSpan = (d.getTime() - TimerStart.getTime()) / 1000;
            var minutes = Math.floor(secondsSpan / 60)
            var seconds = Math.floor(secondsSpan % 60)

            $(".timer").html(pad(minutes, 2) + ":" + pad(seconds, 2));
        }

        function pad(num, size) {
            var s = num + "";
            while (s.length < size) s = "0" + s;
            return s;
        }

//function CleanCookie(nomeCookie) {
//    setCookie(nomeCookie, "");
//}



        //var stage, circle;



        $(window).on('load',function () {
          //  StartDisegno();
        });

       

        var stage
        var circle
        var allCanvas



        function StartDisegno() {



            allCanvas = document.getElementsByTagName("canvas");

            for (var i = 0, max = allCanvas.length; i < max; i++) {


                var stage = new createjs.Stage(allCanvas[i]);
                var circle = new createjs.Shape();
                var testo = new createjs.Text("TESTO SCORREVOLE", "65px Arial", "#FF0000");
               // circle.graphics.beginFill("Crimson").drawCircle(0, 0, 25);

                testo.x = 0;
                testo.y = 3;
                stage.addChild(testo);

                //circle.x = 0;
                //circle.y = 36;
                //stage.addChild(circle);

             
                createjs.Tween.get(testo, { loop: true }).to({ x: 18000 }, 60000, createjs.Ease.linear)

                createjs.Ticker.setFPS(60);
                createjs.Ticker.addEventListener("tick", stage);



            }


        }



        //function tick(event) {

        //    circle.x = circle.x + 20;
        //    if (circle.x > stage.canvas.width) { circle.x = 0; }
        //    stage.update(event);


        //}


        /*
        function StartDisegno() {



             allCanvas = document.getElementsByTagName("canvas");


            stage = new createjs.Stage(allCanvas[0]);
            circle = new createjs.Shape();
            circle.graphics.beginFill("red").drawCircle(0, 0, 10);
            circle.y = 15;
            stage.addChild(circle);

            createjs.Ticker.on("tick", tick);
            createjs.Ticker.setFPS(10);


        }




        function tick(event) {

            circle.x = circle.x + 20;
            if (circle.x > stage.canvas.width) { circle.x = 0; }
            stage.update(event);


            for (var i = 1, max = allCanvas.length; i < max; i++) {
                var c = allCanvas[i];
                var ctx = c.getContext("2d");
                ctx.drawImage(allCanvas[0], 0, 0)


            }

            //var recipes = document.getElementsByClassName("grafica");
            //console.log(recipes)
            //for (var n = 0; n < recipes.length; ++n) {
            //    var canvasduplicato = recipes[n]
            //    var context = canvasduplicato.getContext('2d')
            //    context.drawImage(stage, 0, 0)

            //}

        }
        */

        /*

        function StartDisegno() {

            var recipes = document.getElementsByClassName("duplicati_grafica_104");
            console.log(recipes)
            for (var n = 0; n < recipies.length; ++n) {
                var ovalsBG = recipes[n];


                var stage = new createjs.Stage(ovalsBG);
                var circle = new createjs.Shape();
                circle.graphics.beginFill("red").drawCircle(0, 0, 10);
                circle.y = 3;
                stage.addChild(circle);

                createjs.Ticker.on("tick", tick,stage);
                createjs.Ticker.setFPS(30);

            }

         

        }

    
        function tick(event,stage) {
            circle.x = circle.x + 5;
            if (circle.x > stage.canvas.width) { circle.x = 0; }
            stage.update(event); 

         
        }

    */




    </script>
}