﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>

    <link rel="stylesheet" href="~/css/player.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/playerMaxischermo.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/playerLed_90.css" asp-append-version="true" />






    <link rel="stylesheet" href="~/lib/textillate-master/assets/animate.css" asp-append-version="true" />

    <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>

</head>
<body style="background-color:black;overflow-x: hidden !important; overflow-y: hidden !important; padding:0px 0px 0px 0px;  clip-path: inset(0% 0% 0% 0%); @Html.Raw(ViewBag.DimensioneCanvasPerCss)  ">





    <div Id="CanvasVideoLed"></div>

   
    @*<script src="~/lib/jquery-easing/jquery.easing.1.3.js" asp-append-version="true"></script>*@
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js" asp-append-version="true"></script>


    <script src="~/lib/fitty/fitty.min.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.fittext.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.lettering.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/jquery.textillate.js" asp-append-version="true"></script>
    <script src="~/js/jsComune.js" asp-append-version="true"></script>




    <script>
        'use strict';

        /*
        tag:variabiliglobali

        ██╗   ██╗ █████╗ ██████╗ ██╗ █████╗ ██████╗ ██╗██╗     ██╗
        ██║   ██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║██║     ██║
        ██║   ██║███████║██████╔╝██║███████║██████╔╝██║██║     ██║
        ╚██╗ ██╔╝██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║██║     ██║
         ╚████╔╝ ██║  ██║██║  ██║██║██║  ██║██████╔╝██║███████╗██║
          ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚═╝╚══════╝╚═╝

         ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     ██╗
        ██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     ██║
        ██║  ███╗██║     ██║   ██║██████╔╝███████║██║     ██║
        ██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     ██║
        ╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗██║
         ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝
        */
        var NumeroSceneDaCaricare = 3;
        var ArraySceneCache = [];
        var ValorePassatoFattoreVelocitaVideo = -1;
        var FattoreVelocitaVideo = 100;
        var contatorePerFattoreVelocitaOrologio = 0;
        var zindex = 0;
        var intIncrementalePeriodo = 0;
        var OffsetTemporaleManualeDiretto = 0;
        var Punteggio = {}
        var OffsetTemporaleManuale = 0;
        var ForzaScenaSpecifica = 0;
        var ScenaRiprodottaMaxischermo = {};
        var ScenaRiprodottaLed = {};
        var IntervalOrologio;
        var AvanzaOrologio = 0;
        var ArrayPeriodi = {}
        var ScenaDaSincronizzare = {}
        var MinutiRecupero = 0;
        var elaboratoMaxischermo = 1;
        var elaboratoLed = 1;
        var IdScenaRiprodottaLed = 0;
        var ArrParametriGenerali = Array;
        var ArrSceneLed = [];
        var ArrSceneMaxischermo = [];


        $(document).ready(function () {

            $(".btn-periodi").attr('disabled', 'disabled');

            GetSelected("tb_Match");
            GetSelected("tb_Playlist");

            if (SettingGlobalVars["tb_Match"] != undefined) {
                PopolaSettingMatchById(SettingGlobalVars["tb_Match"]);
              //  InizializzaMatch(SettingGlobalVars["tb_Match"]);
            }

            PreloadingSceneSpeciali()    

            tieniIlTempo();


        });


  

    </script>

  

    <script>





        var intIstanteInizialePlaylist = 0

        //var IpServer = "localhost:3287"
        var IpServer = "localhost:5000"
        //var IpServer = "localhost:800"
        //var IpServer = "5.97.177.35:83"
        //var IpServer = "192.168.50.52"

        var jsonConfigPeriodi = {}


        var tttt = setInterval(GetDatiFromUiToPlayer, 500);




        //$(document).ready(function () {



        //    //getPeriodi();


        //    //$("#Animazione").hide();
        //    //intIstanteInizialePlaylist = 0;


        //    //ScriviLog("Carico parametri iniziali")

        //    //$.when(CaricaParametriIniziali()).then(function (x) {

        //    //});

        //    //PulisciERipristinaTimer();
        //    //$("#CanvasVideoLed").show();


        //    /*******************/

       // });








        /*

         ██████╗ █████╗ ██████╗ ██╗ ██████╗ █████╗ ███╗   ███╗███████╗███╗   ██╗████████╗ ██████╗
        ██╔════╝██╔══██╗██╔══██╗██║██╔════╝██╔══██╗████╗ ████║██╔════╝████╗  ██║╚══██╔══╝██╔═══██╗
        ██║     ███████║██████╔╝██║██║     ███████║██╔████╔██║█████╗  ██╔██╗ ██║   ██║   ██║   ██║
        ██║     ██╔══██║██╔══██╗██║██║     ██╔══██║██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║   ██║   ██║
        ╚██████╗██║  ██║██║  ██║██║╚██████╗██║  ██║██║ ╚═╝ ██║███████╗██║ ╚████║   ██║   ╚██████╔╝
         ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝ ╚═════╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝    ╚═════╝

        ██████╗ ██╗      █████╗ ██╗   ██╗██╗     ██╗███████╗████████╗
        ██╔══██╗██║     ██╔══██╗╚██╗ ██╔╝██║     ██║██╔════╝╚══██╔══╝
        ██████╔╝██║     ███████║ ╚████╔╝ ██║     ██║███████╗   ██║
        ██╔═══╝ ██║     ██╔══██║  ╚██╔╝  ██║     ██║╚════██║   ██║
        ██║     ███████╗██║  ██║   ██║   ███████╗██║███████║   ██║
        ╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝╚══════╝   ╚═╝

        */


        function PreloadingSceneSpeciali() {
            console.log("/Ajax/GetListaScenePreloadLed?fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"]);
            $.ajax({
                url: "/Ajax/GetListaScenePreloadLed?fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"],
                async: false
            }).done(function (data) {
                console.log(data)

                PreloadingSceneSpecialiLed(JSON.parse(data))
            });

            //PreloadingSceneSpecialiMaxischermo()
  
        }




        function PreloadingSceneSpecialiLed(ArrScene) {
            $.each(ArrScene, function (i, g) {
                SetDatiFromPlayerToUi(CostruisciMessaggio("$('.sid_" + g.sid + "').removeClass('btn-danger').addClass('btn-warning');"));
                caricaScenaLed(g);
                SetDatiFromPlayerToUi(CostruisciMessaggio("$('.sid_" + g.sid + "').removeClass('btn-warning').addClass('btn-success');"));
            });
        }

        function caricaScenaLed(objScena) {
            //SafetyUnloadLed(objScenaRiproduzione.sid)
            if (!$("#scenaLed_" + objScena.sid).length) {
                $("#CanvasVideoLed").append("<div data-sid='" + objScena.sid + "' ID='scenaLed_" + objScena.sid + "' class='scenaLed'   ></div>");
                $("#scenaLed_" + objScena.sid).css({ "zIndex": "1", "visibility": "hidden" });
                $.ajax({
                    url: "/AcquisizioneSceneLed/GetContenutiSceneLed",
                    data: "fk_int_Scena=" + objScena.sid
                }).done(function (data) {
                    caricamentoScaglionatoVideoLed(JSON.parse(data), objScena);
                });
            } else {
                ScriviLog("la scena #scenaLed_" + objScena.sid + " è già caricata e nn la riarico")
            }
        }

        function caricamentoScaglionatoVideoLed(ListaVideo, objScena) {
            var g = 0;
            ScriviLog("carico scena " + objScena.sid);
            $.each(ListaVideo, function (index, val) {
                g++;
              //  if (g < 5) {
                    setTimeout(function () {
                            $("#scenaLed_" + objScena.sid).append('<video muted width="' + val.int_W + '" height="' + val.int_H + '" style="margin-left:' + val.int_MarginL + 'px; margin-top:' + val.int_MarginT + 'px;" control><source src="' + val.nva_PahtFile + '" /></video>');
                    }, 1000 + (g * 200));
                //}
            });
        }






 





        /*

        ████████╗███████╗███╗   ███╗██████╗  ██████╗ ██████╗ ██╗███████╗███████╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
        ╚══██╔══╝██╔════╝████╗ ████║██╔══██╗██╔═══██╗██╔══██╗██║╚══███╔╝╚══███╔╝██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
           ██║   █████╗  ██╔████╔██║██████╔╝██║   ██║██████╔╝██║  ███╔╝   ███╔╝ ███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
           ██║   ██╔══╝  ██║╚██╔╝██║██╔═══╝ ██║   ██║██╔══██╗██║ ███╔╝   ███╔╝  ██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
           ██║   ███████╗██║ ╚═╝ ██║██║     ╚██████╔╝██║  ██║██║███████╗███████╗██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
           ╚═╝   ╚══════╝╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

        */



        /**************** temporizzatore generale ************/
        function tieniIlTempo() {
            setInterval(function () {

                var dataTime = new Date();
                var dataoraact = dataTime.getTime();
                let ArrFiltro = ArrSceneLed.filter(element => element.start <= dataoraact && element.stop > dataoraact && element.sid != ScenaRiprodottaLed.sid)
                if (ArrFiltro.length>0) {
                    console.log("riproduco ");

                    let ScenaOldLed = ScenaRiprodottaLed;
                    ScenaRiprodottaLed = ArrFiltro[0];

                    ArrFiltro = ArrSceneLed.filter(element => element.start <= ScenaRiprodottaLed.stop && element.stop > ScenaRiprodottaLed.stop && element.sid != ScenaRiprodottaLed.sid)

                    let ScenaSuccessivaLed = ArrFiltro[0];

                    if (ScenaOldLed != undefined) {
                        $("#scenaLed_" + ScenaOldLed.sid).css({ "zIndex": "9", "visibility": "visible" });
                    }
                    $("#scenaLed_" + ScenaRiprodottaLed.sid).css({ "zIndex": "10", "visibility": "visible" });

                    riproduciScenaLed(ScenaRiprodottaLed);

                    setTimeout(function () {
                        if (ScenaOldLed != undefined) {
                            FermaTuttiIVideoDentroElementoLed(ScenaOldLed.sid);
                            $("#scenaLed_" + ScenaOldLed.sid).css({ "visibility": "hidden" });
                        }
                        if (ScenaOldLed != undefined) {
                            caricaScenaLed(ScenaSuccessivaLed);
                        }
                    }, 50);

                }

            }, 10); 
        }



        /*
        INIZIO Aggiornamento Timeline
        */

       function  AggiornaTimelineLed(Stringa){
            ArrSceneLed = JSON.parse(Stringa);
        }

       function  AggiornaTimelineMaxischermo(Stringa){
            ArrSceneMaxischermo = JSON.parse(Stringa);
        }



        function riproduciScenaLed(objScena) {
            //   ScriviLog("riproduciScenaLed: " + JSON.stringify(objScenaRiproduzione))
           // let IniziaDascenaLed = objScenaRiproduzione.start;
            $("#scenaLed_" + objScena.sid).children('video').each(function () {
                //if (FattoreVelocitaVideo != 100) {
                //    this.playbackRate = FattoreVelocitaVideo / 100;
                //}
                //if (IniziaDascenaLed > 0) {
                //    this.currentTime = IniziaDascenaLed / 1000;
                //}
                this.play();
            });

        }

        

        function FermaTuttiIVideoDentroElementoLed(ID) {

            try {
                $("#scenaLed_" + ID).children('video').each(function () {
                    this.pause();
                    this.currentTime = 0;
                });
            }
            catch (err) {
            }
        }
        /*
        FINE Aggiornamento Timeline
        */






































        function InizializzaMatch(dummy) {

        }
        



        function PreloadPeriodo(IdPeriodo) {
            PreloadPeriodoLed(IdPeriodo);
            PreloadPeriodoMaxischermo(IdPeriodo)
        }


        function PreloadPeriodoLed(IdPeriodo) {
             SetDatiFromPlayerToUi(CostruisciMessaggio("$('.idPeriodo_" + IdPeriodo + "').removeClass('btn-warning').removeClass('btn-danger').addClass('btn-success');"));
        }


        function PreloadPeriodoMaxischermo(IdPeriodo) {

        }


        function CambiaPunteggio(objPunteggio) {
            //objPunteggio = JSON.parse(objPunteggio);

            if ((SettingMatch.fk_int_SquadraCasa != undefined && SettingMatch.fk_int_SquadraOspite != undefined)) {

                var StringaPunteggio = objPunteggio["casa"] + "-" + objPunteggio["ospiti"];

                $(".TxtPunteggio").text(StringaPunteggio);
                //if (StringaPunteggio.length > 5) {
                //    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "10px" })
                //} else if (StringaPunteggio.length > 4) {
                //    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "70px" })
                //} else if (StringaPunteggio.length > 3) {
                //    $(".div_testoPunteggio").css({ "letter-spacing": "2px", "font-size": "80px" })
                //} else {
                //    $(".div_testoPunteggio").css({ "letter-spacing": "10px", "font-size": "88px" })
                //}

            }
        }


    </script>

  
  



</body>
</html>
