﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>

    <link rel="stylesheet" href="~/css/player.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/textillate-master/assets/animate.css" asp-append-version="true" />

    <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>

</head>
<body style="background-color:black;overflow-x: hidden !important; overflow-y: hidden !important; padding:0px 0px 0px 0px;  clip-path: inset(0% 0% 0% 0%); @Html.Raw(ViewBag.DimensioneCanvasPerCss)  ">


    <div style="position:absolute; margin-top:5px;  color:red; z-index:60; font-size:50px; " class="deb_1"></div>
    <div style="position:absolute; margin-top:90px;   color:red; z-index:60; font-size:50px; " class="deb_2"></div>


    @Html.Raw(ViewBag.HtmlEventiPartita)



    <div Id="CanvasLuminosita">
        @Html.Raw(ViewBag.HtmlLuminosità)
    </div>
    @*
        <div Id="CanvasGrafica">
            @Html.Raw(ViewBag.HtmlGrafica)
        </div>
    *@
    <div Id="CanvasClockScore">
        @Html.Raw(ViewBag.HtmlClockScore)
    </div>

    <div Id="CanvasResult" style="visibility:hidden ">
        @Html.Raw(ViewBag.HtmlResult)
    </div>

    <div Id="CanvasVideoMatch"></div>
    <div Id="CanvasVideoIntrattenimento"></div>
    <style>





        .Punteggio {
            /* border: 1px solid #ff0000 !important; */
            display: table;
            table-layout: fixed;
        }

            .Punteggio > div {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }

        .div_logoPunteggio img {
            height: 80px
        }

        .div_testoPunteggio {
            width: 180px;
            height: 90px;
            font-family: Arial;
            font-weight: bold;
            line-height: 88px;
            color: white;
        }

        .div_logoPunteggio {
            width: 90px
        }
    </style>


    <style>
        #CanvasVideoMatch {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 5;
        }

        #CanvasVideoIntrattenimento {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 5;
        }

        #CanvasLuminosita {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 50;
        }

        #CanvasClockScore {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 7;
        }

        #CanvasResult {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 6;
            clip-path: inset(0% 0% 0% 0%);
        }

        #CanvasGrafica {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 8;
            clip-path: inset(0% 0% 0% 0%);
        }
    </style>


    <style>

        .EventiPartita {
            /* border: 1px solid black;*/
            position: absolute;
            background-color: white;
            color: black;
            clip-path: inset(0% 0% 0% 0%);
            z-index: 100;
            opacity: 0;
        }

            .EventiPartita img {
                position: absolute;
                opacity: 0;
            }

        .imgSquadra {
            height: 88px;
        }

        .imgSponsor {
            height: 88px;
        }

        .imgGiocatore {
            /*height: 88px;*/
            z-index: 11;
        }

        .imgGiocatoreSecondario {
            /*height: 88px;*/
            z-index: 11;
        }

        .imgAzione {
            /*height: 88px;*/
            z-index: 10;
        }

        .imgAzioneEntra {
            /*height: 88px;*/
            z-index: 10;
        }

        .imgAzioneEsce {
            /*height: 88px;*/
            z-index: 10;
        }

        .numeroGiocatore {
            position: absolute;
            width: 100px;
            height: 90px;
            z-index: 140;
            line-height: 90px;
            text-align: center;
            /*border: 1px solid black;*/
            opacity: 0;
        }

            .numeroGiocatore span {
                font-family: Helvetica;
                visibility: visible;
                color: black;
                font-size: 100px;
                font-weight: bold;
            }

        .numeroGiocatoreSecondario {
            position: absolute;
            width: 100px;
            height: 90px;
            z-index: 140;
            line-height: 90px;
            text-align: center;
            /*border: 1px solid black;*/
            opacity: 0;
        }

            .numeroGiocatoreSecondario span {
                font-family: Helvetica;
                visibility: visible;
                color: black;
                font-size: 100px;
                font-weight: bold;
            }

        .nomeGiocatore {
            position: absolute;
            margin-top: -5px;
            padding: 0px 0px 0px 0px;
            width: 700px;
            height: 90px;
            z-index: 140;
            text-align: center;
            opacity: 0;
        }

        .nomeGiocatoreSecondario {
            position: absolute;
            margin-top: -5px;
            padding: 0px 0px 0px 0px;
            width: 700px;
            height: 90px;
            z-index: 140;
            text-align: center;
            opacity: 0;
        }

        .nomeGiocatore span {
            font-family: Helvetica;
            color: black;
            display: inline-block;
            line-height: 90px;
            font-weight: bold;
        }

        .nomeGiocatoreSecondario span {
            font-family: Helvetica;
            color: black;
            display: inline-block;
            line-height: 90px;
            font-weight: bold;
        }
    </style>

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/fitty/fitty.min.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.fittext.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.lettering.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/jquery.textillate.js" asp-append-version="true"></script>
    <script src="~/js/jsComune.js" asp-append-version="true"></script>




    <script>
        'use strict';

        /*
        tag:variabiliglobali

        ~~VARIABILI GLOBALI~~

        */

        var OffsetTemporaleManualeDiretto = 0;
        var Punteggio = {}
        var OffsetTemporaleManuale = 0;
        var ForzaScenaSpecifica = 0;

        $(document).ready(function () {

            $(".btn-periodi").attr('disabled', 'disabled');

            GetSelected("tb_Match");
            GetSelected("tb_Playlist");

            if (SettingGlobalVars["tb_Match"] != undefined) {
                PopolaSettingMatchById(SettingGlobalVars["tb_Match"]);
                InizializzaMatch(SettingGlobalVars["tb_Match"]);
            }

        });








    </script>

    <script type="text/javascript">
        'use strict';



        /*
        tag: animazioneeventigiocatori

        ~~ANIMAZIONE EVENTI GIOCATORI~~

        */


        var StartPositionNumeroGiocatore = { top: "-90px", left: "210px", opacity: "0" };
        var StartPositionNomeGiocatore = { top: "0px", left: "300px", opacity: "0" };
        var StartPositionImgAzione = { top: "90px", left: "180px", opacity: "0", height: "200px" };
        var StartPositionImgAzioneEntra = { top: "90px", left: "180px", opacity: "0", height: "200px" };
        var StartPositionImgAzioneEsce = { top: "-90px", left: "180px", opacity: "0", height: "200px" };
        var StartPositionImgGiocatore = { top: "100px", opacity: "1", height: "150px", left: "105px" };
        var StartPositionImgSponsor = { top: "1px", left: "400px", opacity: "0", height: "88px" };
        var StartPositionImgSquadra = { top: "-90px", left: "8px", opacity: "0" };

        var ViewPositionNumeroGiocatore = { top: "0px", opacity: "1" };
        var ViewPositionNomeGiocatore = { top: "0px", left: "330px", opacity: "1" };
        var ViewPositionImgAzione = { top: "-10px", opacity: "1" };
        var ViewPositionImgAzioneEntra = { top: "-40px", opacity: "1" };
        var ViewPositionImgAzioneEsce = { top: "-70px", opacity: "1" };
        var ViewPositionImgGiocatore = { top: "0px", opacity: "1" };
        var ViewPositionImgSponsor = { top: "1px", left: "1050px", opacity: "1" };
        var ViewPositionImgSquadra = { top: "1px", opacity: "1" };

        var EndPositionNumeroGiocatore = { top: "-90px", left: "210px", opacity: "0" };
        var EndPositionNomeGiocatore = { top: "0px", left: "360px", opacity: "0" };
        var EndPositionImgAzione = { top: "90px", left: "180px", opacity: "0", height: "200px" };
        var EndPositionImgAzioneEntra = { top: "-90px", left: "180px", opacity: "0", height: "200px" };
        var EndPositionImgAzioneEsce = { top: "90px", left: "180px", opacity: "0", height: "200px" };

        var EndPositionImgGiocatore = { top: "100px", opacity: "1", height: "150px", left: "105px" };
        var EndPositionImgSponsor = { top: "1px", left: "1050px", opacity: "0" };
        var EndPositionImgSquadra = { top: "-90px", left: "8px", opacity: "0" };



        var codaAnimazione = [];

        var StatoAnimazione = "";

        class clsAnimazione {
            constructor() {
                StatoAnimazione = "Smontato";
                this.Evento = null
                this.Giocatore = null;
                this.Squadra = null;

            }


            Monta(Evento) {

                console.log(Evento)

                this.Evento = Evento;

                if (this.Evento.fk_int_Giocatore > 0) {
                    this.Giocatore = RosaSquadra[this.Evento.fk_int_Squadra][this.Evento.fk_int_Giocatore];
                }
                if (this.Evento.fk_int_GiocatoreSecondario > 0) {
                    this.GiocatoreSecondario = RosaSquadra[this.Evento.fk_int_Squadra][this.Evento.fk_int_GiocatoreSecondario];
                }

                this.Squadra = SettingSquadra[this.Evento.fk_int_Squadra];

                console.log(StatoAnimazione);
                if (StatoAnimazione == "Smontato") {



                    StatoAnimazione = "Montaggio";



                    switch (this.Evento.fk_int_TipoEventoMatch) {
                        case 4: //caso della sostituzione


                            $(".EventiPartita").append("<img  class='imgSquadra' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                            $(".EventiPartita").append("<img  class='imgSponsor' src='/img/sponsor/1.png' />");

                            $(".EventiPartita").append("<img  class='imgGiocatore' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                            $(".EventiPartita").append("<img  class='imgGiocatoreSecondario' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.GiocatoreSecondario.nva_Numero + ".png' />");

                            $(".EventiPartita").append("<img  class='imgAzioneEntra' src='/img/azione/entra.png' />");
                            $(".EventiPartita").append("<img  class='imgAzioneEsce' src='/img/azione/esce.png' />");

                            $(".EventiPartita").append("<div class='numeroGiocatore'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                            $(".EventiPartita").append("<div class='numeroGiocatoreSecondario'><span>" + this.GiocatoreSecondario.nva_Numero + "</span></div>");
                            $(".EventiPartita").append("<div class='nomeGiocatore'><span class='spanNomeGiocatore'>" + this.Giocatore.nva_Nome + ' ' + this.Giocatore.nva_Cognome + "</span></div>");
                            $(".EventiPartita").append("<div class='nomeGiocatoreSecondario'><span class='spanNomeGiocatoreSecondario'>" + this.GiocatoreSecondario.nva_Nome + ' ' + this.GiocatoreSecondario.nva_Cognome + "</span></div>");


                            fitty('.spanNomeGiocatore', { maxSize: 90, multiLine: false });
                            fitty('.spanNomeGiocatoreSecondario', { maxSize: 90, multiLine: false });



                            $(".EventiPartita").animate({ 'opacity': '1' }, 100)
                            $(".imgSquadra").css(StartPositionImgSquadra).animate(ViewPositionImgSquadra, 200).promise().then(function () {
                                $(".imgSponsor").css(StartPositionImgSponsor).animate(ViewPositionImgSponsor, 200).promise().then(function () {
                                    $(".numeroGiocatore").css(StartPositionNumeroGiocatore).animate(ViewPositionNumeroGiocatore, 200).promise().then(function () {
                                        $(".imgGiocatore").css(StartPositionImgGiocatore).animate(ViewPositionImgGiocatore, 200).promise().then(function () {
                                            $(".imgAzioneEsce").css(StartPositionImgAzioneEsce).animate(ViewPositionImgAzioneEsce, 200).promise().then(function () {
                                                $(".nomeGiocatore").css(StartPositionNomeGiocatore).animate(ViewPositionNomeGiocatore, 200).promise().then(function () {
                                                    setTimeout(function () {
                                                        $(".numeroGiocatore").animate(EndPositionNumeroGiocatore, 200).promise().then(function () {
                                                            $(".imgGiocatore").animate(EndPositionImgGiocatore, 200).promise().then(function () {
                                                                $(".imgAzioneEsce").animate(EndPositionImgAzioneEsce, 200).promise().then(function () {
                                                                    $(".nomeGiocatore").animate(EndPositionNomeGiocatore, 200).promise().then(function () {
                                                                        $(".numeroGiocatoreSecondario").css(StartPositionNumeroGiocatore).animate(ViewPositionNumeroGiocatore, 200).promise().then(function () {
                                                                            $(".imgGiocatoreSecondario").css(StartPositionImgGiocatore).animate(ViewPositionImgGiocatore, 200).promise().then(function () {
                                                                                $(".imgAzioneEntra").css(StartPositionImgAzioneEntra).animate(ViewPositionImgAzioneEntra, 200).promise().then(function () {
                                                                                    $(".nomeGiocatoreSecondario").css(StartPositionNomeGiocatore).animate(ViewPositionNomeGiocatore, 200).promise().then(function () {
                                                                                        StatoAnimazione = "Montato";
                                                                                        setTimeout(function () {
                                                                                            Animazione.Smonta();

                                                                                        }, 3000);

                                                                                    });
                                                                                });
                                                                            });
                                                                        });
                                                                    });
                                                                });
                                                            });
                                                        });
                                                    }, 3000);
                                                });
                                            });
                                        });
                                    });
                                });

                            });

                            break;
                        case 2:
                        case 3:
                            //se devo animare una ammonizione oppure una espulsione


                            $(".EventiPartita").append("<img  class='imgSquadra' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                            $(".EventiPartita").append("<img  class='imgSponsor' src='/img/sponsor/1.png' />");
                            $(".EventiPartita").append("<img  class='imgGiocatore' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                            $(".EventiPartita").append("<img  class='imgAzione' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");
                            $(".EventiPartita").append("<div class='numeroGiocatore'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                            $(".EventiPartita").append("<div class='nomeGiocatore'><span class='spanNomeGiocatore'>" + this.Giocatore.nva_Nome + ' ' + this.Giocatore.nva_Cognome + "</span></div>");


                            fitty('.spanNomeGiocatore', { maxSize: 90, multiLine: false });

                            $(".EventiPartita").animate({ 'opacity': '1' }, 100)
                            $(".imgSquadra").css(StartPositionImgSquadra).animate(ViewPositionImgSquadra, 200).promise().then(function () {
                                $(".numeroGiocatore").css(StartPositionNumeroGiocatore).animate(ViewPositionNumeroGiocatore, 200).promise().then(function () {
                                    $(".imgGiocatore").css(StartPositionImgGiocatore).animate(ViewPositionImgGiocatore, 200).promise().then(function () {
                                        $(".imgAzione").css(StartPositionImgAzione).animate(ViewPositionImgAzione, 200).promise().then(function () {
                                            $(".imgSponsor").css(StartPositionImgSponsor).animate(ViewPositionImgSponsor, 200).promise().then(function () {
                                                $(".nomeGiocatore").css(StartPositionNomeGiocatore).animate(ViewPositionNomeGiocatore, 200).promise().then(function () {
                                                    StatoAnimazione = "Montato";
                                                    setTimeout(function () {
                                                        Animazione.Smonta();

                                                    }, 4000);

                                                });
                                            });
                                        });
                                    });
                                });

                            });

                            break;
                        case 1:

                            if (this.Evento.fk_int_Giocatore > 0) {

                                $(".EventiPartita").append("<img  class='imgSquadra' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                                $(".EventiPartita").append("<img  class='imgSponsor' src='/img/sponsor/1.png' />");
                                $(".EventiPartita").append("<img  class='imgGiocatore' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                                $(".EventiPartita").append("<img  class='imgAzione' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");
                                $(".EventiPartita").append("<div class='numeroGiocatore'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                                $(".EventiPartita").append("<div class='nomeGiocatore'><span class='spanNomeGiocatore'>" + this.Giocatore.nva_Nome + ' ' + this.Giocatore.nva_Cognome + "</span></div>");


                                fitty('.spanNomeGiocatore', { maxSize: 90, multiLine: false });

                                $(".EventiPartita").animate({ 'opacity': '1' }, 100)
                                $(".imgSquadra").css(StartPositionImgSquadra).animate(ViewPositionImgSquadra, 200).promise().then(function () {
                                    $(".numeroGiocatore").css(StartPositionNumeroGiocatore).animate(ViewPositionNumeroGiocatore, 200).promise().then(function () {
                                        $(".imgGiocatore").css(StartPositionImgGiocatore).animate(ViewPositionImgGiocatore, 200).promise().then(function () {
                                            $(".imgAzione").css(StartPositionImgAzione).animate(ViewPositionImgAzione, 200).promise().then(function () {
                                                $(".imgSponsor").css(StartPositionImgSponsor).animate(ViewPositionImgSponsor, 200).promise().then(function () {
                                                    $(".nomeGiocatore").css(StartPositionNomeGiocatore).animate(ViewPositionNomeGiocatore, 200).promise().then(function () {
                                                        StatoAnimazione = "Montato";
                                                        setTimeout(function () {
                                                            Animazione.Smonta();

                                                        }, 4000);

                                                    });
                                                });
                                            });
                                        });
                                    });

                                });

                            } else {
                                $(".EventiPartita").append("<img  class='imgSquadra' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");

                                $(".EventiPartita").append("<img  class='imgGoal' src='/img/azione/goal.png' />");

                                $(".EventiPartita").animate({ 'opacity': '1' }, 100)
                                $(".imgSquadra").css(StartPositionImgSquadra).animate(ViewPositionImgSquadra, 200).promise().then(function () {
                                    $(".imgGoal").css({ top: "-100px", left: "100px", opacity: "1" }).animate({ top: "-100px", left: "1000px", opacity: "1" }, 2000).promise().then(function () {
                                        $(".imgGoal").animate({ top: "-100px", left: "100px", opacity: "1" }, 2000).promise().then(function () {
                                            $(".imgGoal").animate({ top: "-100px", left: "1000px", opacity: "1" }, 2000).promise().then(function () {
                                                $(".imgGoal").animate({ top: "-100px", left: "100px", opacity: "0" }, 2000).promise().then(function () {
                                                    StatoAnimazione = "Montato";
                                                    Animazione.Smonta();
                                                });
                                            });
                                        });
                                    });
                                });




                            }
                            break;
                    }






                } else {
                    console.log("attendi la coda caro!");
                }
            }

            Smonta() {
                console.log("smonto!");
                if (StatoAnimazione == "Montato") {
                    StatoAnimazione = "Smontaggio";


                    //ammonizione ed espulsione
                    switch (this.Evento.fk_int_TipoEventoMatch) {
                        case 4: //caso della sostituzione
                            $(".imgGiocatoreSecondario").animate(EndPositionImgGiocatore, 200).promise().then(function () {
                                $(".imgSquadra").animate(EndPositionImgSquadra, 200).promise().then(function () {
                                    $(".numeroGiocatoreSecondario").animate(EndPositionNumeroGiocatore, 200).promise().then(function () {
                                        $(".imgAzioneEntra").animate(EndPositionImgAzioneEntra, 200).promise().then(function () {
                                            $(".nomeGiocatoreSecondario").animate(EndPositionNomeGiocatore, 200).promise().then(function () {
                                                $(".imgSponsor").animate({ EndPositionImgSponsor }, 200).promise().then(function () {
                                                    if (codaAnimazione.length == 0) {

                                                        $(".EventiPartita").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                                            $(".EventiPartita").empty();
                                                            StatoAnimazione = "Smontato";
                                                            Anima();
                                                        })
                                                    } else {
                                                        $(".EventiPartita").empty();
                                                        StatoAnimazione = "Smontato";
                                                        Anima();
                                                    }
                                                });
                                            });
                                        });
                                    });
                                });
                            });

                            break;
                        case 2:
                        case 3:

                            $(".imgGiocatore").animate(EndPositionImgGiocatore, 200).promise().then(function () {
                                $(".imgSquadra").animate(EndPositionImgSquadra, 200).promise().then(function () {
                                    $(".numeroGiocatore").animate(EndPositionNumeroGiocatore, 200).promise().then(function () {
                                        $(".imgAzione").animate(EndPositionImgAzione, 200).promise().then(function () {
                                            $(".nomeGiocatore").animate(EndPositionNomeGiocatore, 200).promise().then(function () {
                                                $(".imgSponsor").animate({ EndPositionImgSponsor }, 200).promise().then(function () {
                                                    if (codaAnimazione.length == 0) {

                                                        $(".EventiPartita").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                                            $(".EventiPartita").empty();
                                                            StatoAnimazione = "Smontato";
                                                            Anima();
                                                        })
                                                    } else {
                                                        $(".EventiPartita").empty();
                                                        StatoAnimazione = "Smontato";
                                                        Anima();
                                                    }
                                                });
                                            });
                                        });
                                    });
                                });
                            });

                            break;
                        case 1:
                            if (this.Evento.fk_int_Giocatore > 0) {

                                $(".imgGiocatore").animate(EndPositionImgGiocatore, 200).promise().then(function () {
                                    $(".imgSquadra").animate(EndPositionImgSquadra, 200).promise().then(function () {
                                        $(".numeroGiocatore").animate(EndPositionNumeroGiocatore, 200).promise().then(function () {
                                            $(".imgAzione").animate(EndPositionImgAzione, 200).promise().then(function () {
                                                $(".nomeGiocatore").animate(EndPositionNomeGiocatore, 200).promise().then(function () {
                                                    $(".imgSponsor").animate({ EndPositionImgSponsor }, 200).promise().then(function () {
                                                        if (codaAnimazione.length == 0) {
                                                            $(".EventiPartita").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                                                $(".EventiPartita").empty();
                                                                StatoAnimazione = "Smontato";
                                                                Anima();
                                                            })
                                                        } else {
                                                            $(".EventiPartita").empty();
                                                            StatoAnimazione = "Smontato";
                                                            Anima();
                                                        }

                                                    });
                                                });
                                            });
                                        });
                                    });
                                });

                            } else {
                                $(".imgGoal").animate({ EndPositionImgSponsor }, 200).promise().then(function () {
                                    if (codaAnimazione.length == 0) {
                                        $(".EventiPartita").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                            $(".EventiPartita").empty();
                                            StatoAnimazione = "Smontato";
                                            Anima();
                                        })
                                    } else {
                                        $(".EventiPartita").empty();
                                        StatoAnimazione = "Smontato";
                                        Anima();
                                    }
                                });

                            }
                            break;
                    }




                }
            }


            Proporziona(dato) {
                if (altezza == 90) {
                    return dato
                }
            }
        }




        var Animazione = new clsAnimazione();

        function Anima(g) {
            //console.log("anima")
            //console.log(g)
            if (g != undefined) {
                codaAnimazione.push(g);
            }


            console.log(codaAnimazione.length)
            if (codaAnimazione.length > 0 && StatoAnimazione == 'Smontato') {
                console.log()
                Animazione.Monta(codaAnimazione[0]);
                console.log(codaAnimazione)
                codaAnimazione.shift();
                console.log(codaAnimazione)
            }



        }






    </script>


    <script>



        var ArrParametriGenerali = Array;
        var video_control = ""
        var countPlaylistAct = 0;
        var countCanvasAct = 0;
        var ArrTempi = Array;
        var ArrTempiMatch = Array;
        var ArrTempiIntrattenimento = Array;
        var ArrScenePlaylist = Array;
        var ArrScenePlaylistMatch = Array;
        var ArrScenePlaylistIntrattenimento = Array;
        var contatoreScene = 0;
        var contatoreSceneMatch = 0;
        var contatoreSceneIntrattenimento = 0;
        var inc_sommaTempiMatch = 0
        var inc_sommaTempiIntrattenimento = 0
        var fk_int_Periodi2StadiMatch = 0
        var fk_int_Periodi2StadiIntrattenimento = 0

        var IpServer = "localhost:3287"
        //var IpServer = "localhost:5000"
        // var IpServer = "localhost:800"
        //var IpServer = "5.97.177.35:83"
        // var IpServer = "192.168.50.52"




        $(document).ready(function () {
            $("#Animazione").hide();
            ArrTempiMatch[0] = 0;
            ArrTempiIntrattenimento[0] = 0;

            $.when(CaricaParametriIniziali()).then(function (x) {

            });
        });



        function MostraIntrattenimento() {
            //console.log("lancio MostraIntrattenimento")
            $("#CanvasVideoMatch").hide();
            $("#CanvasVideoIntrattenimento").show();
            inc_sommaTempiMatch = 0
            contatoreSceneMatch = 0
            ArrTempiMatch = [];
            ArrScenePlaylistMatch = [];
            $("#CanvasVideoMatch").empty();
        }

        function MostraMatch() {
            //console.log("lancio MostraMatch")
            $("#CanvasVideoIntrattenimento").hide();

            $("#CanvasVideoMatch").show();
            inc_sommaTempiIntrattenimento = 0
            contatoreSceneIntrattenimento = 0
            ArrTempiIntrattenimento = [];
            ArrScenePlaylistIntrattenimento = [];
            $("#CanvasVideoIntrattenimento").empty();
        }



        /*

        ~~CARICAMENTO PLAYLIST~~

        */



        function CaricaTimelineMatch(fk_int_Periodi2Stadi, fk_int_Playlist) {
            fk_int_PlaylistSelezionata = fk_int_Playlist;
            fk_int_Periodi2StadiMatch = fk_int_Periodi2Stadi;
            ArrTempiMatch = [];
            inc_sommaTempiMatch = 0;
            return $.ajax({
                url: "/acquisizione_scene/GetScenePlaylist",
                data: "fk_int_Periodi2Stadi=" + fk_int_Periodi2Stadi + "&fk_int_Playlist=" + fk_int_Playlist
            }).done(function (data) {
                ArrTempiMatch[0] = 0;
                ArrScenePlaylistMatch = JSON.parse(data);
                CaricaPlaylistMatch(0);
                inc_sommaTempiMatch = GetDurataScenaMatch(0);
                tieniIlTempo();

            });
        }




        function CaricaTimelineIntrattenimento(fk_int_Periodi2Stadi, fk_int_Playlist) {
            fk_int_PlaylistSelezionata = fk_int_Playlist;
            fk_int_Periodi2StadiIntrattenimento = fk_int_Periodi2Stadi;
            ArrTempiIntrattenimento = [];
            inc_sommaTempiIntrattenimento = 0;
            return $.ajax({
                url: "/acquisizione_scene/GetScenePlaylist",
                data: "fk_int_Periodi2Stadi=" + fk_int_Periodi2Stadi + "&fk_int_Playlist=" + fk_int_Playlist
            }).done(function (data) {
                ArrTempiIntrattenimento[0] = 0;
                ArrScenePlaylistIntrattenimento = JSON.parse(data);
                CaricaPlaylistIntrattenimento(0);
                inc_sommaTempiIntrattenimento = GetDurataScenaIntrattenimento(0);
                tieniIlTempo();
            });
        }


        /**
        * INIZIO caricamento Playlist
        */

        function CaricaPlaylistMatch(numeroScena) {
            console.log("~----~")
            console.log("CaricaPlaylistMatch")
            console.log("numeroScena: " + numeroScena)
            console.log("~----~")
            $("#CanvasVideoMatch").append("<div ID='scenaMatch_" + numeroScena + "'></div>")
            var d = GetIdScenaMatch(numeroScena);

            $(".deb_1").text("carico la scena con id: " + d + " e progressivo: " + numeroScena)
            $.ajax({
                url: "/acquisizione_scene",
                data: "fk_int_scena=" + d
            }).done(function (data) {
                var ListaVideo = JSON.parse(data);
                CostruisciMessaggio("$('#ui_scena_" + d + "').loading(); ");
                SetDatiFromPlayerToUi();
                caricamentoScaglionatoMatch(ListaVideo, numeroScena);
            });

        }


        function CaricaPlaylistIntrattenimento(numeroScena) {
            $("#CanvasVideoIntrattenimento").append("<div ID='scenaIntrattenimento_" + numeroScena + "'></div>")
            var d = GetIdScenaIntrattenimento(numeroScena);
            $.ajax({
                url: "/acquisizione_scene",
                data: "fk_int_scena=" + d
            }).done(function (data) {
                var ListaVideo = JSON.parse(data);
                CostruisciMessaggio("$('#ui_scena_" + d + "').loading(); ");
                SetDatiFromPlayerToUi();
                caricamentoScaglionatoIntrattenimento(ListaVideo, numeroScena);
            });
        }



        function caricamentoScaglionatoMatch(ListaVideo, numeroScena) {

            console.log("~--\/--\/--\/--\/--\/--\/--\/--\/--\/--~")
            console.log("caricamentoScaglionatoMatch")
            console.log("numeroScena: " + numeroScena)


            $("#scenaMatch_" + numeroScena).hide();
            var last = 0

            if (numeroScena == 0) {
                CostruisciMessaggio("$('.idPeriodo_" + fk_int_Periodi2StadiMatch + "').removeClass('btn-warning').addClass('btn-danger').attr('Comando','' ); ");
                SetDatiFromPlayerToUi();
            }

            $.each(ListaVideo, function (index, val) {
                setTimeout(function () {
                    //       //console.log(val)
                    $("#scenaMatch_" + numeroScena).append("<video muted width='" + val.int_W + "' height='" + val.int_H + "' style='margin-left:" + val.int_MarginL + "px; margin-top:" + val.int_MarginT + "px;' control><source src='" + val.nva_PahtFile + "' /></video>");
                }, 50 + (index * 50));
                last = index
                console.log("nva_PahtFile: " + val.nva_PahtFile);

            });
            //console.log("numerovide: " + last)
            setTimeout(function () {
                if (numeroScena == 0) {
                    CostruisciMessaggio("$('.idPeriodo_" + fk_int_Periodi2StadiMatch + "').removeClass('btn-danger').addClass('btn-warning').attr('Comando','riproduciPlaylistMatch(0);MostraMatch();' ); ");
                }
                CostruisciMessaggio("$('#ui_scena_" + GetIdScenaMatch(numeroScena) + "').loaded(); ");
                SetDatiFromPlayerToUi();
            }, 50 + ((last + 1) * 50));


            console.log("~--/\--/\--/\--/\--/\--/\--/\--/\--/\--~")
        }



        function caricamentoScaglionatoIntrattenimento(ListaVideo, numeroScena) {



            $("#scenaIntrattenimento_" + numeroScena).hide();
            var last = 0

            if (numeroScena == 0) {
                CostruisciMessaggio("$('.idPeriodo_" + fk_int_Periodi2StadiIntrattenimento + "').removeClass('btn-warning').addClass('btn-danger').attr('Comando','' ); ");
                SetDatiFromPlayerToUi();
            }
            ////console.log("elenco video Intrattenimento")
            $.each(ListaVideo, function (index, val) {
                setTimeout(function () {
                    //       //console.log(val)
                    $("#scenaIntrattenimento_" + numeroScena).append("<video muted width='" + val.int_W + "' height='" + val.int_H + "' style='margin-left:" + val.int_MarginL + "px; margin-top:" + val.int_MarginT + "px;' control><source src='" + val.nva_PahtFile + "' /></video>");
                }, 200 + (index * 200));
                last = index
            });
            //console.log("numerovide: " + last)
            setTimeout(function () {
                if (numeroScena == 0) {
                    CostruisciMessaggio("$('.idPeriodo_" + fk_int_Periodi2StadiIntrattenimento + "').removeClass('btn-danger').addClass('btn-warning').attr('Comando','riproduciPlaylistIntrattenimento(0);MostraIntrattenimento();' ); ");
                }
                CostruisciMessaggio("$('#ui_scena_" + GetIdScenaIntrattenimento(numeroScena) + "').loaded(); ");
                SetDatiFromPlayerToUi();
            }, 200 + ((last + 1) * 200));

        }






        function GetIdScenaMatch(n) {
            return ArrScenePlaylistMatch[n].ID;
        }


        function GetDurataScenaMatch(n) {
            return ArrScenePlaylistMatch[n].Durata;
        }

        function GetIdScenaIntrattenimento(n) {
            return ArrScenePlaylistIntrattenimento[n].ID;
        }


        function GetDurataScenaIntrattenimento(n) {
            return ArrScenePlaylistIntrattenimento[n].Durata;
        }


        /*
          ~~TEMPORIZZAZIONE~~
        */



        /**************** sommo i tempi delle scene ************/
        function SommaTempiMatch(chiave) {
            var t = 0;
            $.each(ArrScenePlaylistMatch, function (index, val) {
                if (index <= chiave) {
                    t = t + parseInt(val.Durata);
                }
            });
            return t;
        }

        function SommaTempiIntrattenimento(chiave) {
            var t = 0;
            $.each(ArrScenePlaylistIntrattenimento, function (index, val) {
                if (index <= chiave) {
                    t = t + parseInt(val.Durata);
                }
            });
            return t;
        }



        /**************** temporizzatore generale ************/
        function tieniIlTempo() {
            setInterval(function () {
                var dataTime = new Date();

                if (ArrTempiMatch[0] > 0) {


                    var sommatemporale = ArrTempiMatch[0] + inc_sommaTempiMatch + OffsetTemporaleManuale
                    var dataoraact = dataTime.getTime()

                    console.log("------------------------------------------");
                    console.log("ArrTempiMatch[0]: " + ArrTempiMatch[0]);
                    console.log("inc_sommaTempiMatch: " + inc_sommaTempiMatch);
                    console.log("OffsetTemporaleManuale: " + OffsetTemporaleManuale);
                    console.log("sommatemporale: " + sommatemporale);
                    console.log("dataoraact: " + dataoraact);

                    console.log("differenze: " + (dataoraact - sommatemporale));



                    console.log("----***********************************---");


                    if ((dataoraact > (sommatemporale))) {
                        //prendo la scena appena riprodotta
                        var d = GetIdScenaMatch(contatoreSceneMatch);
                        CostruisciMessaggio("$('#ui_scena_" + d + "').played(); ");
                        SetDatiFromPlayerToUi();
                        //rimuovo la scena appena riprodotta
                        $("#scenaMatch_" + contatoreSceneMatch).detach()

                        if (ForzaScenaSpecifica < 0) {
                            OffsetTemporaleManuale = inc_sommaTempiMatch - OffsetTemporaleManualeDiretto;
                            ForzaScenaSpecifica = 0;
                        }
            
                        contatoreSceneMatch = GetNexSceneMatch(contatoreSceneMatch);
                 

                        //calcolo quando dovrò rimuovere la scena che sto per riprodurre
                        inc_sommaTempiMatch = SommaTempiMatch(contatoreSceneMatch);


                        riproduciPlaylistMatch(contatoreSceneMatch);
                    }
                }


                if (ArrTempiIntrattenimento[0] > 0) {
                    if ((dataTime.getTime() > (ArrTempiIntrattenimento[0] + inc_sommaTempiIntrattenimento + OffsetTemporaleManuale))) {
                        //prendo la scena appena riprodotta
                        var d = GetIdScenaIntrattenimento(contatoreSceneIntrattenimento);
                        CostruisciMessaggio("$('#ui_scena_" + d + "').played(); ");
                        SetDatiFromPlayerToUi();
                        //rimuovo la scena appena riprodotta
                        $("#scenaIntrattenimento_" + contatoreSceneIntrattenimento).detach();
                        contatoreSceneIntrattenimento = GetNexSceneIntrattenimento(contatoreSceneIntrattenimento);
                        //calcolo quando dovrò rimuovere la scena che sto per riprodurre
                        inc_sommaTempiIntrattenimento = SommaTempiIntrattenimento(contatoreSceneIntrattenimento);
                        riproduciPlaylistIntrattenimento(contatoreSceneIntrattenimento);
                    }
                }
            }, 1000); //50);
        }









        /**************** trovo la prossima scena ************/
        function GetNexSceneIntrattenimento(numeroScena) {
            var nextScena = numeroScena + 1;
            if (numProps(ArrScenePlaylistIntrattenimento) == nextScena) {
                nextScena = 0;
            }
            return nextScena
        }


        function GetNexSceneMatch(numeroScena) {
            var nextScena = numeroScena + 1;
            if (numProps(ArrScenePlaylistMatch) == nextScena) {
                nextScena = 0;
            }
            return nextScena
        }




        function pausaVideoMatch() {
            $("#CanvasVideoMatch video").each(function () {
                $(this).get(0).pause();
            });
        }

        function pausaVideoIntrattenimento() {
            $("#CanvasVideoIntrattenimento video").each(function () {
                $(this).get(0).pause();
            });
        }


        function riproduciPlaylistIntrattenimento(chiave) {
            var d = new Date();
            ArrTempiIntrattenimento[chiave] = d.getTime();
            $("#scenaIntrattenimento_" + chiave).children('video').each(function () {
                $(this).get(0).play();
            });
            var d = GetIdScenaIntrattenimento(chiave);
            CostruisciMessaggio("$('#ui_scena_" + d + "').playing(); ");
            SetDatiFromPlayerToUi();
            $("#scenaIntrattenimento_" + chiave).show();
            CaricaPlaylistIntrattenimento(GetNexSceneIntrattenimento(chiave))
        }




        function riproduciPlaylistMatchDaSecondoSpecifico(secondo) {
            console.log("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~");
            console.log("Secondo: " + secondo);
            console.log("PlaylistSelezionata: " + fk_int_PlaylistSelezionata);
            console.log("Periodi2StadiMatch: " + fk_int_Periodi2StadiMatch);
            console.log("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~");

            $.ajax({
                dataType: 'text',
                contentType: 'application/json',
                url: "/Ajax/GetScenaSecondoSpecifico?int_Secondo=" + secondo + "&fk_int_Playlist=" + fk_int_PlaylistSelezionata + "&fk_int_Periodi2Stadi=" + fk_int_Periodi2StadiMatch,
            }).done(function (data) {
                var Dati = JSON.parse(data);


                console.log("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~");
                console.log(Dati);
                console.log("Dati.Chiave: " + Dati.Chiave);
                console.log("Dati.incrementaleSecondi: " + Dati.incrementaleSecondi);
                console.log("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~");

                ForzaScenaSpecifica = Dati.Chiave;

                //console.log(Dati);
                //$("#scenaMatch_" + contatoreSceneMatch).detach()
                //contatoreSceneMatch = Dati.Chiave
                //inc_sommaTempiMatch = Dati.incrementaleSecondi; //SommaTempiMatch(contatoreSceneMatch);

                //CaricaPlaylistMatch(Dati.Chiave);
                //contatoreSceneMatch = Dati.Chiave
                OffsetTemporaleManualeDiretto =Dati.incrementaleSecondi-Dati.AvanzaDi ;
                //riproduciPlaylistMatch(Dati.Chiave);

                //per prima cosa devo mettere a caricare la scena desiderata però per fare questo devo prima trovare quale sarà la scena che riesco a caricare.
                //La considerazione che devo fare è: se io inizio a caricare adesso la scena, tra quanto sarò in grado di lanciarla?
                //mi conviene pertanto accodare la scena mettendola come successiva nel caricamento scaglionato.
                //La scena nuova sarà sempre caricata all'interno del div che ho in visualizzazione in quanto il div nascosto è ormai carico di video.
                //La scena successiva per il caricamento viene naturalmente scelta dalla funzione




            })



        }








        function riproduciPlaylistMatch(chiave) {
            var d = new Date();



            ArrTempiMatch[chiave] = d.getTime();
            $("#scenaMatch_" + chiave).children('video').each(function () {
                $(this).get(0).play();
            });
            var d = GetIdScenaMatch(chiave);

            $(".deb_2").text("mando in play id " + d + " la chiave " + chiave);

            CostruisciMessaggio("$('#ui_scena_" + d + "').playing(); ");
            SetDatiFromPlayerToUi();
            $("#scenaMatch_" + chiave).show();

            if (ForzaScenaSpecifica > 0) {
                CaricaPlaylistMatch(ForzaScenaSpecifica);
                contatoreSceneMatch = (ForzaScenaSpecifica-1)
                ForzaScenaSpecifica = -1;
               
           
            } else {
                CaricaPlaylistMatch(GetNexSceneMatch(chiave))
            }


        }









        function pad(num, size) {
            var s = num + "";
            while (s.length < size) s = "0" + s;
            return s;
        }







        var Messaggi = [];
        function CostruisciMessaggio(dato) {
            var Messaggio = {}
            console.log("invio:" + dato)
            Messaggio.nva_Dato = encodeURIComponent(dato)
            Messaggi.push(Messaggio);
        }



        function SetDatiFromPlayerToUi() {

            if (Messaggi.length > 0) {

                $.ajax({
                    dataType: 'text',
                    contentType: 'application/json',
                    type: 'POST',
                    url: "/Ajax/SetDatiFromPlayerToUi",
                    data: JSON.stringify(Messaggi)
                }).done(function (data) {

                    Messaggi = [];

                })

            } else {

                //console.log("nessun messaggio da inviare")

            }

        }




        function GetDatiFromUiToPlayer() {


            $.ajax({
                url: "/Ajax/GetDatiFromUiToPlayer"
            }).done(function (data) {

                data = JSON.parse(data);
                if (data.length > 0) {
                    $.each(data, function (ii, contenuto) {

                        try {
                            let g = decodeURIComponent(contenuto.nva_Dato);
                            console.log("eseguo:" + g)
                            eval(g)
                        }
                        catch (err) {
                            console.log(err)
                        }
                        $.ajax({ url: "/Ajax/SetExecutedFromUiToPlayer?ID=" + contenuto.ID }).done(function (conferma) {
                            if (conferma != "ok") {
                                alert("problema trasporto dati " + contenuto.ID)
                            }
                        })
                    });
                }

            });



        }


        var tttt = setInterval(GetDatiFromUiToPlayer, 1000);









    </script>

    <script type="text/javascript">
        'use strict';
        /*

        ~~INIZIALIZZAZIONE MATCH~~

        */


        function InizializzaMatch() {

            PopolaLoghiSquadre();
            console.log("ciao");
            CambiaPunteggio({ "casa": 0, "ospiti": 1 });
        }





    </script>

    <script type="text/javascript">
        'use strict';

        /*
~~PUNTEGGIO OROLOGIO~~

         */
        var TimerStart = new Date();


        function PopolaLoghiSquadre() {
            if (SettingMatch.fk_int_SquadraCasa != undefined && SettingMatch.fk_int_SquadraOspite != undefined) {
                $(".img_punteggioCasa").attr('src', "/img/squadre/" + SettingMatch.fk_int_SquadraCasa + ".png");
                $(".img_punteggioOspiti").attr('src', "/img/squadre/" + SettingMatch.fk_int_SquadraOspite + ".png");
                $("#CanvasClockScore").css("visibility", "visible");
            } else {
                console.log("PopolaLoghiSquadre non fattibile");
            }

        }


        function AvanzaTimer() {
            var d = new Date();
            var secondsSpan = (d.getTime() - TimerStart.getTime()) / 1000;
            var minutes = Math.floor(secondsSpan / 60)
            var seconds = Math.floor(secondsSpan % 60)
            $(".Timer").html(pad(minutes, 2) + ":" + pad(seconds, 2));
        }





        $(document).ready(function () {

            var myVar = setInterval(function () { AvanzaTimer(); }, 1000);

        })


        function CambiaPunteggio(objPunteggio) {
            // objPunteggio = JSON.parse(objPunteggio);

            if ((SettingMatch.fk_int_SquadraCasa != undefined && SettingMatch.fk_int_SquadraOspite != undefined)) {

                var StringaPunteggio = objPunteggio["casa"] + "-" + objPunteggio["ospiti"];
                $(".div_testoPunteggio").text(StringaPunteggio);
                if (StringaPunteggio.length > 5) {
                    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "10px" })
                } else if (StringaPunteggio.length > 4) {
                    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "70px" })
                } else if (StringaPunteggio.length > 3) {
                    $(".div_testoPunteggio").css({ "letter-spacing": "2px", "font-size": "80px" })
                } else {
                    $(".div_testoPunteggio").css({ "letter-spacing": "10px", "font-size": "88px" })
                }

            }
        }




    </script>



</body>
</html>