﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>

    <link rel="stylesheet" href="~/css/player.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/textillate-master/assets/animate.css" asp-append-version="true" />

    <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>

</head>
<body style="background-color:black;overflow-x: hidden !important; overflow-y: hidden !important; padding:0px 0px 0px 0px;  clip-path: inset(0% 0% 0% 0%); @Html.Raw(ViewBag.DimensioneCanvasPerCss)  ">


    <div style="position:absolute; margin-top:5px; visibility:hidden;  color:red; z-index:60; font-size:50px; " class="deb_1"></div>
    <div style="position:absolute; margin-top:65px; visibility:hidden;    color:red; z-index:60; font-size:50px; " class="deb_2"></div>
    <div style="position:absolute; margin-top:125px;  visibility:hidden;   color:red; z-index:60; font-size:50px; " class="deb_3"></div>
    <div style="position:absolute; margin-top:185px;  visibility:hidden;   color:red; z-index:60; font-size:50px; " class="deb_4"></div>


    @Html.Raw(ViewBag.HtmlEventiPartita)



    <div Id="CanvasLuminosita">
        @Html.Raw(ViewBag.HtmlLuminosità)
    </div>
    @*
        <div Id="CanvasGrafica">
            @Html.Raw(ViewBag.HtmlGrafica)
        </div>
    *@
    <div Id="CanvasClockScore">
        @Html.Raw(ViewBag.HtmlClockScore)
    </div>

    <div Id="CanvasResult" style="visibility:hidden ">
        @Html.Raw(ViewBag.HtmlResult)
    </div>

    <div Id="CanvasVideoMatch"></div>

    @*<div Id="CanvasVideoIntrattenimento"></div>*@

    <style>





        .Punteggio {
            /* border: 1px solid #ff0000 !important; */
            display: table;
            table-layout: fixed;
        }

            .Punteggio > div {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }

        .div_logoPunteggio img {
            height: 80px
        }

        .div_testoPunteggio {
            width: 180px;
            height: 90px;
            font-family: Arial;
            font-weight: bold;
            line-height: 88px;
            color: white;
        }

        .div_logoPunteggio {
            width: 90px
        }
    </style>
    <style>

        .Timer {
            font-size:50px;
            font-family: Arial;
            font-weight: bold;
      
            color: white;
            background-color:bla;
            margin-bottom:0;
            text-align:center;
        }
        .logoOrologio {
            position: absolute;
            margin-top: -10px;
            width: 100%;
        }
        .logoOrologio img{
          width:100px;
        }
        .tempoOrologio  {
            position: absolute;
            margin-top: 33px;
            width:100%;
        }


        /*.Timer {
            font-size:50px;
            font-family: Arial;
            font-weight: bold;
            line-height: 88px;
            color: white;
            background-color:darkslategrey;
            margin-bottom:0;
            padding-top:30px;
            text-align:center;
            background-image:url(img/logo.png)
        }*/


    </style>

    <style>
        #CanvasVideoMatch {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 5;
        }

        #CanvasVideoIntrattenimento {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 5;
        }

        #CanvasLuminosita {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 50;
        }

        #CanvasClockScore {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 7;
        }

        #CanvasResult {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 6;
            clip-path: inset(0% 0% 0% 0%);
        }

        #CanvasGrafica {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 8;
            clip-path: inset(0% 0% 0% 0%);
        }
    </style>


    <style>

        .EventiPartita {
            /* border: 1px solid black;*/
            position: absolute;
            background-color: white;
            color: black;
            clip-path: inset(0% 0% 0% 0%);
            z-index: 100;
            opacity: 0;
        }

            .EventiPartita img {
                position: absolute;
                opacity: 0;
            }

        .imgSquadra {
            height: 88px;
        }

        .imgSponsor {
            height: 88px;
        }

        .imgGiocatore {
            /*height: 88px;*/
            z-index: 11;
        }

        .imgGiocatoreSecondario {
            /*height: 88px;*/
            z-index: 11;
        }

        .imgAzione {
            /*height: 88px;*/
            z-index: 10;
        }

        .imgAzioneEntra {
            /*height: 88px;*/
            z-index: 10;
        }

        .imgAzioneEsce {
            /*height: 88px;*/
            z-index: 10;
        }

        .numeroGiocatore {
            position: absolute;
            width: 100px;
            height: 90px;
            z-index: 140;
            line-height: 90px;
            text-align: center;
            /*border: 1px solid black;*/
            opacity: 0;
        }

            .numeroGiocatore span {
                font-family: Helvetica;
                visibility: visible;
                color: black;
                font-size: 100px;
                font-weight: bold;
            }

        .numeroGiocatoreSecondario {
            position: absolute;
            width: 100px;
            height: 90px;
            z-index: 140;
            line-height: 90px;
            text-align: center;
            /*border: 1px solid black;*/
            opacity: 0;
        }

            .numeroGiocatoreSecondario span {
                font-family: Helvetica;
                visibility: visible;
                color: black;
                font-size: 100px;
                font-weight: bold;
            }

        .nomeGiocatore {
            position: absolute;
            margin-top: -5px;
            padding: 0px 0px 0px 0px;
            width: 700px;
            height: 90px;
            z-index: 140;
            text-align: center;
            opacity: 0;
        }

        .nomeGiocatoreSecondario {
            position: absolute;
            margin-top: -5px;
            padding: 0px 0px 0px 0px;
            width: 700px;
            height: 90px;
            z-index: 140;
            text-align: center;
            opacity: 0;
        }

        .nomeGiocatore span {
            font-family: Helvetica;
            color: black;
            display: inline-block;
            line-height: 90px;
            font-weight: bold;
        }

        .nomeGiocatoreSecondario span {
            font-family: Helvetica;
            color: black;
            display: inline-block;
            line-height: 90px;
            font-weight: bold;
        }
    </style>

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/fitty/fitty.min.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.fittext.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.lettering.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/jquery.textillate.js" asp-append-version="true"></script>
    <script src="~/js/jsComune.js" asp-append-version="true"></script>




    <script>
        'use strict';

        /*
        tag:variabiliglobali

        ██╗   ██╗ █████╗ ██████╗ ██╗ █████╗ ██████╗ ██╗██╗     ██╗
        ██║   ██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║██║     ██║
        ██║   ██║███████║██████╔╝██║███████║██████╔╝██║██║     ██║
        ╚██╗ ██╔╝██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║██║     ██║
         ╚████╔╝ ██║  ██║██║  ██║██║██║  ██║██████╔╝██║███████╗██║
          ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚═╝╚══════╝╚═╝

         ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     ██╗
        ██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     ██║
        ██║  ███╗██║     ██║   ██║██████╔╝███████║██║     ██║
        ██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     ██║
        ╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗██║
         ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝
        */
        var NumeroSceneDaCaricare = 3;
        var ArraySceneCache = [];
        var FattoreVelocitaVideo = 1;
        var zindex = 0;
        var intIncrementalePeriodo = 0;
        var OffsetTemporaleManualeDiretto = 0;
        var Punteggio = {}
        var OffsetTemporaleManuale = 0;
        var ForzaScenaSpecifica = 0;
        var ScenaRiprodotta = {};
        var IntervalOrologio;
        var AvanzaOrologio = 0;

        $(document).ready(function () {

            $(".btn-periodi").attr('disabled', 'disabled');

            GetSelected("tb_Match");
            GetSelected("tb_Playlist");

            //if (SettingGlobalVars["tb_Match"] != undefined) {
            //    PopolaSettingMatchById(SettingGlobalVars["tb_Match"]);
            //    InizializzaMatch(SettingGlobalVars["tb_Match"]);
            //}
            setInterval(function () { tickTimer(); }, 1000);

        });








    </script>

    <script type="text/javascript">
        'use strict';


        /*
        tag: animazioneeventigiocatori

         █████╗ ███╗   ██╗██╗███╗   ███╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
        ██╔══██╗████╗  ██║██║████╗ ████║██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
        ███████║██╔██╗ ██║██║██╔████╔██║███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
        ██╔══██║██║╚██╗██║██║██║╚██╔╝██║██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
        ██║  ██║██║ ╚████║██║██║ ╚═╝ ██║██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
        ╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

        ███████╗██╗   ██╗███████╗███╗   ██╗████████╗██╗
        ██╔════╝██║   ██║██╔════╝████╗  ██║╚══██╔══╝██║
        █████╗  ██║   ██║█████╗  ██╔██╗ ██║   ██║   ██║
        ██╔══╝  ╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║   ██║
        ███████╗ ╚████╔╝ ███████╗██║ ╚████║   ██║   ██║
        ╚══════╝  ╚═══╝  ╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚═╝

         ██████╗ ██╗ ██████╗  ██████╗ █████╗ ████████╗ ██████╗ ██████╗ ██╗
        ██╔════╝ ██║██╔═══██╗██╔════╝██╔══██╗╚══██╔══╝██╔═══██╗██╔══██╗██║
        ██║  ███╗██║██║   ██║██║     ███████║   ██║   ██║   ██║██████╔╝██║
        ██║   ██║██║██║   ██║██║     ██╔══██║   ██║   ██║   ██║██╔══██╗██║
        ╚██████╔╝██║╚██████╔╝╚██████╗██║  ██║   ██║   ╚██████╔╝██║  ██║██║
         ╚═════╝ ╚═╝ ╚═════╝  ╚═════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚═╝
        */


        var StartPositionNumeroGiocatore = { top: "-90px", left: "210px", opacity: "0" };
        var StartPositionNomeGiocatore = { top: "0px", left: "300px", opacity: "0" };
        var StartPositionImgAzione = { top: "90px", left: "180px", opacity: "0", height: "200px" };
        var StartPositionImgAzioneEntra = { top: "90px", left: "180px", opacity: "0", height: "200px" };
        var StartPositionImgAzioneEsce = { top: "-90px", left: "180px", opacity: "0", height: "200px" };
        var StartPositionImgGiocatore = { top: "100px", opacity: "1", height: "150px", left: "105px" };
        var StartPositionImgSponsor = { top: "1px", left: "400px", opacity: "0", height: "88px" };
        var StartPositionImgSquadra = { top: "-90px", left: "8px", opacity: "0" };

        var ViewPositionNumeroGiocatore = { top: "0px", opacity: "1" };
        var ViewPositionNomeGiocatore = { top: "0px", left: "330px", opacity: "1" };
        var ViewPositionImgAzione = { top: "-10px", opacity: "1" };
        var ViewPositionImgAzioneEntra = { top: "-40px", opacity: "1" };
        var ViewPositionImgAzioneEsce = { top: "-70px", opacity: "1" };
        var ViewPositionImgGiocatore = { top: "0px", opacity: "1" };
        var ViewPositionImgSponsor = { top: "1px", left: "1050px", opacity: "1" };
        var ViewPositionImgSquadra = { top: "1px", opacity: "1" };

        var EndPositionNumeroGiocatore = { top: "-90px", left: "210px", opacity: "0" };
        var EndPositionNomeGiocatore = { top: "0px", left: "360px", opacity: "0" };
        var EndPositionImgAzione = { top: "90px", left: "180px", opacity: "0", height: "200px" };
        var EndPositionImgAzioneEntra = { top: "-90px", left: "180px", opacity: "0", height: "200px" };
        var EndPositionImgAzioneEsce = { top: "90px", left: "180px", opacity: "0", height: "200px" };

        var EndPositionImgGiocatore = { top: "100px", opacity: "1", height: "150px", left: "105px" };
        var EndPositionImgSponsor = { top: "1px", left: "1050px", opacity: "0" };
        var EndPositionImgSquadra = { top: "-90px", left: "8px", opacity: "0" };



        var codaAnimazione = [];

        var StatoAnimazione = "";

        class clsAnimazione {
            constructor() {
                StatoAnimazione = "Smontato";
                this.Evento = null
                this.Giocatore = null;
                this.Squadra = null;

            }


            Monta(Evento) {

                //////console.log(Evento)

                this.Evento = Evento;

                if (this.Evento.fk_int_Giocatore > 0) {
                    this.Giocatore = RosaSquadra[this.Evento.fk_int_Squadra][this.Evento.fk_int_Giocatore];
                }
                if (this.Evento.fk_int_GiocatoreSecondario > 0) {
                    this.GiocatoreSecondario = RosaSquadra[this.Evento.fk_int_Squadra][this.Evento.fk_int_GiocatoreSecondario];
                }

                this.Squadra = SettingSquadra[this.Evento.fk_int_Squadra];

                //////console.log(StatoAnimazione);
                if (StatoAnimazione == "Smontato") {



                    StatoAnimazione = "Montaggio";



                    switch (this.Evento.fk_int_TipoEventoMatch) {
                        case 4: //caso della sostituzione


                            $(".EventiPartita").append("<img  class='imgSquadra' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                            $(".EventiPartita").append("<img  class='imgSponsor' src='/img/sponsor/1.png' />");

                            $(".EventiPartita").append("<img  class='imgGiocatore' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                            $(".EventiPartita").append("<img  class='imgGiocatoreSecondario' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.GiocatoreSecondario.nva_Numero + ".png' />");

                            $(".EventiPartita").append("<img  class='imgAzioneEntra' src='/img/azione/entra.png' />");
                            $(".EventiPartita").append("<img  class='imgAzioneEsce' src='/img/azione/esce.png' />");

                            $(".EventiPartita").append("<div class='numeroGiocatore'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                            $(".EventiPartita").append("<div class='numeroGiocatoreSecondario'><span>" + this.GiocatoreSecondario.nva_Numero + "</span></div>");
                            $(".EventiPartita").append("<div class='nomeGiocatore'><span class='spanNomeGiocatore'>" + this.Giocatore.nva_Nome + ' ' + this.Giocatore.nva_Cognome + "</span></div>");
                            $(".EventiPartita").append("<div class='nomeGiocatoreSecondario'><span class='spanNomeGiocatoreSecondario'>" + this.GiocatoreSecondario.nva_Nome + ' ' + this.GiocatoreSecondario.nva_Cognome + "</span></div>");


                            fitty('.spanNomeGiocatore', { maxSize: 90, multiLine: false });
                            fitty('.spanNomeGiocatoreSecondario', { maxSize: 90, multiLine: false });



                            $(".EventiPartita").animate({ 'opacity': '1' }, 100)
                            $(".imgSquadra").css(StartPositionImgSquadra).animate(ViewPositionImgSquadra, 200).promise().then(function () {
                                $(".imgSponsor").css(StartPositionImgSponsor).animate(ViewPositionImgSponsor, 200).promise().then(function () {
                                    $(".numeroGiocatore").css(StartPositionNumeroGiocatore).animate(ViewPositionNumeroGiocatore, 200).promise().then(function () {
                                        $(".imgGiocatore").css(StartPositionImgGiocatore).animate(ViewPositionImgGiocatore, 200).promise().then(function () {
                                            $(".imgAzioneEsce").css(StartPositionImgAzioneEsce).animate(ViewPositionImgAzioneEsce, 200).promise().then(function () {
                                                $(".nomeGiocatore").css(StartPositionNomeGiocatore).animate(ViewPositionNomeGiocatore, 200).promise().then(function () {
                                                    setTimeout(function () {
                                                        $(".numeroGiocatore").animate(EndPositionNumeroGiocatore, 200).promise().then(function () {
                                                            $(".imgGiocatore").animate(EndPositionImgGiocatore, 200).promise().then(function () {
                                                                $(".imgAzioneEsce").animate(EndPositionImgAzioneEsce, 200).promise().then(function () {
                                                                    $(".nomeGiocatore").animate(EndPositionNomeGiocatore, 200).promise().then(function () {
                                                                        $(".numeroGiocatoreSecondario").css(StartPositionNumeroGiocatore).animate(ViewPositionNumeroGiocatore, 200).promise().then(function () {
                                                                            $(".imgGiocatoreSecondario").css(StartPositionImgGiocatore).animate(ViewPositionImgGiocatore, 200).promise().then(function () {
                                                                                $(".imgAzioneEntra").css(StartPositionImgAzioneEntra).animate(ViewPositionImgAzioneEntra, 200).promise().then(function () {
                                                                                    $(".nomeGiocatoreSecondario").css(StartPositionNomeGiocatore).animate(ViewPositionNomeGiocatore, 200).promise().then(function () {
                                                                                        StatoAnimazione = "Montato";
                                                                                        setTimeout(function () {
                                                                                            Animazione.Smonta();

                                                                                        }, 3000);

                                                                                    });
                                                                                });
                                                                            });
                                                                        });
                                                                    });
                                                                });
                                                            });
                                                        });
                                                    }, 3000);
                                                });
                                            });
                                        });
                                    });
                                });

                            });

                            break;
                        case 2:
                        case 3:
                            //se devo animare una ammonizione oppure una espulsione


                            $(".EventiPartita").append("<img  class='imgSquadra' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                            $(".EventiPartita").append("<img  class='imgSponsor' src='/img/sponsor/1.png' />");
                            $(".EventiPartita").append("<img  class='imgGiocatore' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                            $(".EventiPartita").append("<img  class='imgAzione' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");
                            $(".EventiPartita").append("<div class='numeroGiocatore'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                            $(".EventiPartita").append("<div class='nomeGiocatore'><span class='spanNomeGiocatore'>" + this.Giocatore.nva_Nome + ' ' + this.Giocatore.nva_Cognome + "</span></div>");


                            fitty('.spanNomeGiocatore', { maxSize: 90, multiLine: false });

                            $(".EventiPartita").animate({ 'opacity': '1' }, 100)
                            $(".imgSquadra").css(StartPositionImgSquadra).animate(ViewPositionImgSquadra, 200).promise().then(function () {
                                $(".numeroGiocatore").css(StartPositionNumeroGiocatore).animate(ViewPositionNumeroGiocatore, 200).promise().then(function () {
                                    $(".imgGiocatore").css(StartPositionImgGiocatore).animate(ViewPositionImgGiocatore, 200).promise().then(function () {
                                        $(".imgAzione").css(StartPositionImgAzione).animate(ViewPositionImgAzione, 200).promise().then(function () {
                                            $(".imgSponsor").css(StartPositionImgSponsor).animate(ViewPositionImgSponsor, 200).promise().then(function () {
                                                $(".nomeGiocatore").css(StartPositionNomeGiocatore).animate(ViewPositionNomeGiocatore, 200).promise().then(function () {
                                                    StatoAnimazione = "Montato";
                                                    setTimeout(function () {
                                                        Animazione.Smonta();

                                                    }, 4000);

                                                });
                                            });
                                        });
                                    });
                                });

                            });

                            break;
                        case 1:

                            if (this.Evento.fk_int_Giocatore > 0) {

                                $(".EventiPartita").append("<img  class='imgSquadra' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                                $(".EventiPartita").append("<img  class='imgSponsor' src='/img/sponsor/1.png' />");
                                $(".EventiPartita").append("<img  class='imgGiocatore' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                                $(".EventiPartita").append("<img  class='imgAzione' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");
                                $(".EventiPartita").append("<div class='numeroGiocatore'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                                $(".EventiPartita").append("<div class='nomeGiocatore'><span class='spanNomeGiocatore'>" + this.Giocatore.nva_Nome + ' ' + this.Giocatore.nva_Cognome + "</span></div>");


                                fitty('.spanNomeGiocatore', { maxSize: 90, multiLine: false });

                                $(".EventiPartita").animate({ 'opacity': '1' }, 100)
                                $(".imgSquadra").css(StartPositionImgSquadra).animate(ViewPositionImgSquadra, 200).promise().then(function () {
                                    $(".numeroGiocatore").css(StartPositionNumeroGiocatore).animate(ViewPositionNumeroGiocatore, 200).promise().then(function () {
                                        $(".imgGiocatore").css(StartPositionImgGiocatore).animate(ViewPositionImgGiocatore, 200).promise().then(function () {
                                            $(".imgAzione").css(StartPositionImgAzione).animate(ViewPositionImgAzione, 200).promise().then(function () {
                                                $(".imgSponsor").css(StartPositionImgSponsor).animate(ViewPositionImgSponsor, 200).promise().then(function () {
                                                    $(".nomeGiocatore").css(StartPositionNomeGiocatore).animate(ViewPositionNomeGiocatore, 200).promise().then(function () {
                                                        StatoAnimazione = "Montato";
                                                        setTimeout(function () {
                                                            Animazione.Smonta();

                                                        }, 4000);

                                                    });
                                                });
                                            });
                                        });
                                    });

                                });

                            } else {
                                $(".EventiPartita").append("<img  class='imgSquadra' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");

                                $(".EventiPartita").append("<img  class='imgGoal' src='/img/azione/goal.png' />");

                                $(".EventiPartita").animate({ 'opacity': '1' }, 100)
                                $(".imgSquadra").css(StartPositionImgSquadra).animate(ViewPositionImgSquadra, 200).promise().then(function () {
                                    $(".imgGoal").css({ top: "-100px", left: "100px", opacity: "1" }).animate({ top: "-100px", left: "1000px", opacity: "1" }, 2000).promise().then(function () {
                                        $(".imgGoal").animate({ top: "-100px", left: "100px", opacity: "1" }, 2000).promise().then(function () {
                                            $(".imgGoal").animate({ top: "-100px", left: "1000px", opacity: "1" }, 2000).promise().then(function () {
                                                $(".imgGoal").animate({ top: "-100px", left: "100px", opacity: "0" }, 2000).promise().then(function () {
                                                    StatoAnimazione = "Montato";
                                                    Animazione.Smonta();
                                                });
                                            });
                                        });
                                    });
                                });




                            }
                            break;
                    }






                } else {
                    //////console.log("attendi la coda caro!");
                }
            }

            Smonta() {
                //////console.log("smonto!");
                if (StatoAnimazione == "Montato") {
                    StatoAnimazione = "Smontaggio";


                    //ammonizione ed espulsione
                    switch (this.Evento.fk_int_TipoEventoMatch) {
                        case 4: //caso della sostituzione
                            $(".imgGiocatoreSecondario").animate(EndPositionImgGiocatore, 200).promise().then(function () {
                                $(".imgSquadra").animate(EndPositionImgSquadra, 200).promise().then(function () {
                                    $(".numeroGiocatoreSecondario").animate(EndPositionNumeroGiocatore, 200).promise().then(function () {
                                        $(".imgAzioneEntra").animate(EndPositionImgAzioneEntra, 200).promise().then(function () {
                                            $(".nomeGiocatoreSecondario").animate(EndPositionNomeGiocatore, 200).promise().then(function () {
                                                $(".imgSponsor").animate({ EndPositionImgSponsor }, 200).promise().then(function () {
                                                    if (codaAnimazione.length == 0) {

                                                        $(".EventiPartita").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                                            $(".EventiPartita").empty();
                                                            StatoAnimazione = "Smontato";
                                                            Anima();
                                                        })
                                                    } else {
                                                        $(".EventiPartita").empty();
                                                        StatoAnimazione = "Smontato";
                                                        Anima();
                                                    }
                                                });
                                            });
                                        });
                                    });
                                });
                            });

                            break;
                        case 2:
                        case 3:

                            $(".imgGiocatore").animate(EndPositionImgGiocatore, 200).promise().then(function () {
                                $(".imgSquadra").animate(EndPositionImgSquadra, 200).promise().then(function () {
                                    $(".numeroGiocatore").animate(EndPositionNumeroGiocatore, 200).promise().then(function () {
                                        $(".imgAzione").animate(EndPositionImgAzione, 200).promise().then(function () {
                                            $(".nomeGiocatore").animate(EndPositionNomeGiocatore, 200).promise().then(function () {
                                                $(".imgSponsor").animate({ EndPositionImgSponsor }, 200).promise().then(function () {
                                                    if (codaAnimazione.length == 0) {

                                                        $(".EventiPartita").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                                            $(".EventiPartita").empty();
                                                            StatoAnimazione = "Smontato";
                                                            Anima();
                                                        })
                                                    } else {
                                                        $(".EventiPartita").empty();
                                                        StatoAnimazione = "Smontato";
                                                        Anima();
                                                    }
                                                });
                                            });
                                        });
                                    });
                                });
                            });

                            break;
                        case 1:
                            if (this.Evento.fk_int_Giocatore > 0) {

                                $(".imgGiocatore").animate(EndPositionImgGiocatore, 200).promise().then(function () {
                                    $(".imgSquadra").animate(EndPositionImgSquadra, 200).promise().then(function () {
                                        $(".numeroGiocatore").animate(EndPositionNumeroGiocatore, 200).promise().then(function () {
                                            $(".imgAzione").animate(EndPositionImgAzione, 200).promise().then(function () {
                                                $(".nomeGiocatore").animate(EndPositionNomeGiocatore, 200).promise().then(function () {
                                                    $(".imgSponsor").animate({ EndPositionImgSponsor }, 200).promise().then(function () {
                                                        if (codaAnimazione.length == 0) {
                                                            $(".EventiPartita").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                                                $(".EventiPartita").empty();
                                                                StatoAnimazione = "Smontato";
                                                                Anima();
                                                            })
                                                        } else {
                                                            $(".EventiPartita").empty();
                                                            StatoAnimazione = "Smontato";
                                                            Anima();
                                                        }

                                                    });
                                                });
                                            });
                                        });
                                    });
                                });

                            } else {
                                $(".imgGoal").animate({ EndPositionImgSponsor }, 200).promise().then(function () {
                                    if (codaAnimazione.length == 0) {
                                        $(".EventiPartita").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                            $(".EventiPartita").empty();
                                            StatoAnimazione = "Smontato";
                                            Anima();
                                        })
                                    } else {
                                        $(".EventiPartita").empty();
                                        StatoAnimazione = "Smontato";
                                        Anima();
                                    }
                                });

                            }
                            break;
                    }




                }
            }


            Proporziona(dato) {
                if (altezza == 90) {
                    return dato
                }
            }
        }




        var Animazione = new clsAnimazione();

        function Anima(g) {
            //////console.log("anima")
            //////console.log(g)
            if (g != undefined) {
                codaAnimazione.push(g);
            }


            //////console.log(codaAnimazione.length)
            if (codaAnimazione.length > 0 && StatoAnimazione == 'Smontato') {
                //////console.log()
                Animazione.Monta(codaAnimazione[0]);
                //////console.log(codaAnimazione)
                codaAnimazione.shift();
                //////console.log(codaAnimazione)
            }



        }






    </script>


    <script>

        var IdScenaRiprodotta = 0;

        var ArrParametriGenerali = Array;
        var video_control = ""
        var countPlaylistAct = 0;
        var countCanvasAct = 0;
        var ArrTempi = Array;
        var ArrTempiMatch = Array;
        var ArrTempiIntrattenimento = Array;
        var ArrScenePlaylist = Array;
        var ArrScenePlaylistMatch = [];
        var ArrScenePlaylistIntrattenimento = Array;
        var contatoreScene = 0;
        var contatoreSceneMatch = 0;
        var contatoreSceneIntrattenimento = 0;
        var inc_sommaTempiMatch = 0
        var inc_sommaTempiIntrattenimento = 0
        var fk_int_PeriodoMatch = 0
        var fk_int_PeriodoIntrattenimento = 0

        var intIstanteInizialePlaylist = 0

        //var IpServer = "localhost:3287"
        var IpServer = "localhost:5000"
        //var IpServer = "localhost:800"
        //var IpServer = "5.97.177.35:83"
        //var IpServer = "192.168.50.52"




        $(document).ready(function () {
            $("#Animazione").hide();
            intIstanteInizialePlaylist = 0;
            ArrTempiIntrattenimento[0] = 0;

            $.when(CaricaParametriIniziali()).then(function (x) {

            });

            PulisciERipristinaTimer();
            $("#CanvasVideoMatch").show();
        });








        /*

         ██████╗ █████╗ ██████╗ ██╗ ██████╗ █████╗ ███╗   ███╗███████╗███╗   ██╗████████╗ ██████╗
        ██╔════╝██╔══██╗██╔══██╗██║██╔════╝██╔══██╗████╗ ████║██╔════╝████╗  ██║╚══██╔══╝██╔═══██╗
        ██║     ███████║██████╔╝██║██║     ███████║██╔████╔██║█████╗  ██╔██╗ ██║   ██║   ██║   ██║
        ██║     ██╔══██║██╔══██╗██║██║     ██╔══██║██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║   ██║   ██║
        ╚██████╗██║  ██║██║  ██║██║╚██████╗██║  ██║██║ ╚═╝ ██║███████╗██║ ╚████║   ██║   ╚██████╔╝
         ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝ ╚═════╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝    ╚═════╝

        ██████╗ ██╗      █████╗ ██╗   ██╗██╗     ██╗███████╗████████╗
        ██╔══██╗██║     ██╔══██╗╚██╗ ██╔╝██║     ██║██╔════╝╚══██╔══╝
        ██████╔╝██║     ███████║ ╚████╔╝ ██║     ██║███████╗   ██║
        ██╔═══╝ ██║     ██╔══██║  ╚██╔╝  ██║     ██║╚════██║   ██║
        ██║     ███████╗██║  ██║   ██║   ███████╗██║███████║   ██║
        ╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝╚══════╝   ╚═╝

        */

        //funzione temporanea per il controllo degli array (archiviazione nel db, comprensione problematiche di timing)
        function DebugVariabili(Messaggio, NomeVariabile, Variabile) {
            let ooo = {};
            ooo.nva_Messaggio = Messaggio;
            ooo.nva_NomeArray = NomeVariabile;
            ooo.nva_Contenuto = JSON.stringify(Variabile);
            ooo.nva_NumeroElementi = Variabile.length;


            $.ajax({
                dataType: 'text',
                type: 'POST',
                url: "/Ajax/ArchiviaRecordDebug",
                data: ooo
            }).done(function (data) {
                //////console.log(data);
            })

        }




        function CaricaTimelineMatch(fk_int_Riproduzione) {

            ////console.log("CaricaTimelineMatch");
            ////console.log(" fk_int_Riproduzione:" + fk_int_Riproduzione)
            fk_int_RiproduzioneSelezionata = fk_int_Riproduzione;
            // ArrTempiMatch = [];
            inc_sommaTempiMatch = 0;

            $.ajax({
                url: "/acquisizione_scene/sp_GetTimeLineRiproduzione",
                data: "fk_int_Riproduzione=" + fk_int_RiproduzioneSelezionata
            }).done(function (data) {
                console.log(data);
                ArrScenePlaylistMatch = JSON.parse(data);

                CaricamentoInizialeMatch();
            });


        }








        function SalvaScene(ListaScene) {

            //console.log(g);
            $.ajax({
                dataType: 'text',
                contentType: 'application/json',
                type: 'POST',
                url: "/acquisizione_scene/salvaScene",
                data: JSON.stringify(ListaScene)

            })// .done(function (data) {

            //console.log(data);

            //})

        }




        function SalvaScena(Scena) {
            //console.log("inizio SalvaScena");
            let s = JSON.stringify(Scena);
            $.ajax({
                dataType: 'text',
                contentType: 'application/json',
                type: 'POST',
                url: "/acquisizione_scene/salvaScena",
                data: s
            }); //.done(function (data) {
            // console.log("done SalvaScena");
            //  console.log(data);

            //})
            //console.log("fine SalvaScena");
        }



        //function inserisciScena(Scena) {
        //    console.log("inserisciScena");
        //    let s = JSON.stringify(Scena);
        //   return  $.ajax({
        //        dataType: 'text',
        //        contentType: 'application/json',
        //        type: 'POST',
        //        url: "/acquisizione_scene/inserisciScena",
        //         data: s
        //   }).done(function (idScenaRiprodotta) {
        //       console.log("done inserisciScena");
        //       Scena.id = idScenaRiprodotta
        //         //return idScenaRiprodotta
        //        //ArrScenePlaylistMatch.push(Scena);
        //       return Scena
        //   })
        //}



        function CaricamentoInizialeMatch() {

            CaricaSceneSpecialiMatch()
            intIstanteInizialePlaylist = 0;
            tieniIlTempo();
        }



        function CaricaSceneSpecialiMatch() {
            ////console.log("CaricaSceneSpecialiMatch");

            $.each(ArrScenePlaylistMatch, function (i, g) {
                //////console.log("i:" + i)
                ////console.log("g:" + JSON.stringify(g))
                if (g.tsc > 0) {

                    caricaScenaMatch(g);
                } else {
                    if (g.est == 'p') {

                        caricaScenaMatch(g);

                        let Comando = CostruisciMessaggio("$('.idPeriodo_" + g.iper + "').removeClass('btn-warning').addClass('btn-danger');");
                        SetDatiFromPlayerToUi(Comando);
                    }
                }


            });
        }








        function caricaScenaMatch(objScenaRiproduzione) {
            console.log("inizio caricaScenaMatch");
            if ($("#scenaMatch_" + objScenaRiproduzione.sid).length == 0) {
                console.log("scena in caricamento" + objScenaRiproduzione.id)
                $("#CanvasVideoMatch").append("<div ID='scenaMatch_" + objScenaRiproduzione.sid + "' class='scenaMatch tipoScena_" + objScenaRiproduzione.tsc + " primaScena_" + IsPrimaScena(objScenaRiproduzione) + "'   ></div>");
                $("#scenaMatch_" + objScenaRiproduzione.sid).hide();


                $.ajax({
                    url: "/acquisizione_scene",
                    data: "fk_int_ScenaRiproduzione=" + objScenaRiproduzione.id
                }).done(function (data) {
                    let ListaVideo = JSON.parse(data);
                    caricamentoScaglionatoVideoMatch(ListaVideo, objScenaRiproduzione);
                });
            } else {
                console.log("scena già caricata" + objScenaRiproduzione.id)
            }
            console.log("inizio fine");
        }



        function IsPrimaScena(s) {
            if (s.est = 'p') {
                return 1;
            } else {
                return 0;
            }
        }


        function IsUltimaScena(s) {
            if (s.est = 'u') {
                return 1;
            } else {
                return 0;
            }
        }



        function caricamentoScaglionatoVideoMatch(ListaVideo, objScenaRiproduzione) {
            let g = 0;
            $.each(ListaVideo, function (index, val) {
                g++;
                //  if (g < 14) {

                setTimeout(function () {
                    // if (val.int_W == 1920) {
                    $("#scenaMatch_" + objScenaRiproduzione.sid).append('<video muted width="' + val.int_W + '" height="' + val.int_H + '" style="margin-left:' + val.int_MarginL + 'px; margin-top:' + val.int_MarginT + 'px;" control><source src="' + val.nva_PahtFile + '" /></video>');
                    //}
                }, 500 + (g * 100));
                //}



            });
        }






        function rinfrescaCache(objScenaRiproduzione) {
            if ($(".tipoScena_0.primaScena_0").length < NumeroSceneDaCaricare) {
                console.log("pre-carico: " + objScenaRiproduzione.id)
                caricaScenaMatch(objScenaRiproduzione)
                let next = GetNextScenaMatch(objScenaRiproduzione)
                setTimeout(function () { rinfrescaCache(next) }, 3000);
            }
        }




        function getAllKeyWithProperty(arr, IdDaTrovare) {
            let a = [];
            for (item in arr) {
                if (arr[item].fk_int_TipoScena == IdDaTrovare) {
                    a.push(item);
                }
            }
            return a;
        }

        /*

        ████████╗███████╗███╗   ███╗██████╗  ██████╗ ██████╗ ██╗███████╗███████╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
        ╚══██╔══╝██╔════╝████╗ ████║██╔══██╗██╔═══██╗██╔══██╗██║╚══███╔╝╚══███╔╝██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
           ██║   █████╗  ██╔████╔██║██████╔╝██║   ██║██████╔╝██║  ███╔╝   ███╔╝ ███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
           ██║   ██╔══╝  ██║╚██╔╝██║██╔═══╝ ██║   ██║██╔══██╗██║ ███╔╝   ███╔╝  ██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
           ██║   ███████╗██║ ╚═╝ ██║██║     ╚██████╔╝██║  ██║██║███████╗███████╗██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
           ╚═╝   ╚══════╝╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

        */


        function DebugTemporizzazinoeScene(Titolo, s) {
            console.log(Titolo + " " + JSON.stringify(s))
            return Titolo + " id:" + s.id + " nid:" + s.nid + " scena:" + s.sid + "  p:" + s.iper + " - ts: " + s.tsc
        }



        /**************** temporizzatore generale ************/
        function tieniIlTempo() {
            setInterval(function () {
                if (ScenaRiprodotta.msdf > 0) {
                    //   console.log("timing");
                    var dataTime = new Date();
                    var dataoraact = (dataTime.getTime());


                    $(".deb_4").text(ScenaRiprodotta.msdf - dataoraact)


                    if ((dataoraact > ScenaRiprodotta.msdf)) {

                        $(".deb_2").css("background-color", "transparent")


                        let ScenaOld = ScenaRiprodotta;
                        $(".deb_1").text(DebugTemporizzazinoeScene("old", ScenaOld))



                        ScenaRiprodotta = GetNextScenaMatch(ScenaRiprodotta)
                        ScenaRiprodotta.msdi = ScenaOld.msdf
                        ScenaRiprodotta.msdf = ScenaRiprodotta.msecd + ScenaOld.msdf;


                        $("#scenaMatch_" + ScenaOld.sid).css("zIndex", "1");


                        $(".deb_2").text(DebugTemporizzazinoeScene("act", ScenaRiprodotta))


                        let ScenaSuccessiva = GetScenaById(ScenaRiprodotta.nid);

                        $(".deb_3").text(DebugTemporizzazinoeScene("next", ScenaSuccessiva))





                        riproduciScenaMatch(ScenaRiprodotta);




                        setTimeout(function () {

                            NascondiSceneAdEsclusioneDi(ScenaRiprodotta);

                            if (ScenaOld.id > 0) {
                                SalvaScena(ScenaOld);
                                FermaTuttiIVideoDentroElemento($("#scenaMatch_" + ScenaOld.sid));
                            }

                            //devo generare un loop e accdarlo
                            if (ScenaSuccessiva.nid == -1) {
                                console.log("entro qui")
                                $.ajax({
                                    url: "/acquisizione_scene/sp_GeneraRiproduzionePeriodo",
                                    data: "fk_int_Riproduzione=" + fk_int_RiproduzioneSelezionata + "&fk_int_Periodo=" + ScenaSuccessiva.iper
                                }).done(function (data) {
                                    data = JSON.parse(data);
                                    let ScenaPrima = GetScenaEstremoP(data);
                                    ScenaSuccessiva.nid = ScenaPrima.id;
                                    AggiornaScenaMatch(ScenaSuccessiva);
                                    Array.prototype.push.apply(ArrScenePlaylistMatch, data);
                                    //  ArrScenePlaylistMatch.addRange(data)
                                });
                                console.log("esco qui")

                            }



                        }, 250);
                        //     //console.log(ScenaOld);
                    }
                }
            }, 200); //50);
        }




        /**************** trovo la prossima scena ************/
        function AggiornaScenaMatch(scena) {
            for (i = 0; i < ArrScenePlaylistMatch.length; i++) {
                let l = ArrScenePlaylistMatch[i]
                if (l.id == scena.id) {
                    ArrScenePlaylistMatch[i] = scena;
                }
            }
        }

        function GetNextScenaMatch(scenaAct) {

            for (i = 0; i < ArrScenePlaylistMatch.length; i++) {
                let l = ArrScenePlaylistMatch[i]
                if (l.id == scenaAct.nid) {
                    return ArrScenePlaylistMatch[i]
                }
            }
            return -1
        }

        function GetScenaEstremoP(arr) {
            for (i = 0; i < arr.length; i++) {
                let l = arr[i]
                if (l.est == "p") {
                    return arr[i]
                }
            }
        }

        function GetScenaEstremoU(arr) {
            for (i = 0; i < arr.length; i++) {
                let l = arr[i]
                if (l.est == "u") {
                    return arr[i]
                }
            }
        }



        function NascondiSceneAdEsclusioneDi(Scena) {
            //fermo tutti i video ad eccezione di quello che riproduco
            $(".scenaMatch").not("#scenaMatch_" + Scena.sid).each(function () {
                $(this).hide();
            });

            let rimuovi = $(".tipoScena_0.primaScena_0").not("#scenaMatch_" + Scena.sid).length;
            $(".tipoScena_0.primaScena_0").not("#scenaMatch_" + Scena.sid).each(function () {
                if (rimuovi > 3) {
                    $(this).remove();
                }
                rimuovi--;
            });
        }







        function pausaVideoMatch() {
            $("#CanvasVideoMatch video").each(function () {
                $(this).get(0).pause();
            });
        }




        function FermaTuttiIVideoMatch(objScenaRiproduzione) {
            $("#scenaMatch_" + objScenaRiproduzione.sid).children('video').each(function () {
                $(this).get(0).pause();
                $(this).get(0).currentTime = 0;
            });
        }

        function FermaTuttiIVideoDentroElemento(Elemento) {
            Elemento.children('video').each(function () {
                $(this).get(0).pause();
                $(this).get(0).currentTime = 0;
            });
        }





        /**
        da verificare
         */

        function PulisciERipristinaTimer() {

            $(".Timer").empty();
            $(".Timer").append("<div class='logoOrologio'><img src='/img/logo.png' /></div>")
 
  
        }



        function tickTimer() {
            if (AvanzaOrologio==1) { 
                var d = new Date();
                var secondsSpan = (d.getTime() - TimerStart.getTime()) / 1000;
                var minutes = Math.floor(secondsSpan / 60)
                var seconds = Math.floor(secondsSpan % 60)
                $(".tempoOrologio").html(pad(minutes, 2) + ":" + pad(seconds, 2));
                console.log("tick!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!");
            }
        }




        function AvviaRiproduzionePlaylistDaPeriodo(IDperiodo) {

          PulisciERipristinaTimer()

            switch (IDperiodo) {
                case 3:
                case 6:
                    $(".Timer").append("<div class='tempoOrologio'>00:00</div>")
                    TimerStart = new Date();
                    MinutRecupero = 0;
                    AvanzaOrologio = 1;
                    break;

                case 4:
                case 7:
                    AvanzaOrologio = 0;
                    if (MinutRecupero > 0) { 
                        $(".Timer").append("<div class='tempoOrologio'>45:00+" + MinutRecupero+"</div>")
                    }else{
                        $(".Timer").append("<div class='tempoOrologio'>45:00</div>")

                    }
                break
                default:
                    AvanzaOrologio = 0;
                    $(".Timer").append("<div class='tempoOrologio'>00:00</div>")

               break;
            }


 


            for (i = 0; i < ArrScenePlaylistMatch.length; i++) {
                let g = ArrScenePlaylistMatch[i];

                if (g.iper == IDperiodo && g.est == 'p') {//se è la prima scena del periodo
                    let d = new Date();

                    console.log("imposto l'avvio dal periodo " + g.iper)
                    ScenaRiprodotta = {};
                    ScenaRiprodotta.nid = g.id;
                    ScenaRiprodotta.msdf = d.getTime();
                    FermaTuttiIVideoDentroElemento($("#scenaMatch_" + g.sid));

                    return false;
                }
            };
        }






        function AvviaRiproduzioneScena(IdScena) {
            console.log("**************--------------------**************")
            console.log("AvviaRiproduzioneScena")
            console.log("**************--------------------**************")
            for (i = 0; i < ArrScenePlaylistMatch.length; i++) {
                let g = ArrScenePlaylistMatch[i];
                if (g.sid == IdScena) {
                    let d = new Date();





                    if ((ScenaRiprodotta.msdf - d.getTime()) > 3) {

                        let attualeClonataDaRiAccodare = Object.assign({}, ScenaRiprodotta)
                        attualeClonataDaRiAccodare.msdi = 0;
                        attualeClonataDaRiAccodare.msdf = 0;
                        //    attualeClonataDaRiAccodare.est = ;
                        $(".deb_2").css("background-color", "green")

                        let e = JSON.stringify(attualeClonataDaRiAccodare)
                        $.ajax({
                            dataType: 'text',
                            contentType: 'application/json',
                            type: 'POST',
                            url: "/acquisizione_scene/inserisciScena",
                            data: e
                        }).done(function (idScenaRiprodotta) {
                            // ScenaRiprodotta = {};
                            attualeClonataDaRiAccodare.id = parseInt(idScenaRiprodotta)
                            ArrScenePlaylistMatch.push(attualeClonataDaRiAccodare);
                            ScenaRiprodotta.nid = g.id;
                            g.nid = attualeClonataDaRiAccodare.id;
                            ArrScenePlaylistMatch[i] = g;
                            let msact = d.getTime()
                            ScenaRiprodotta.msecd = ScenaRiprodotta.msecd - (ScenaRiprodotta.msdf - msact); //correggo la durata
                            //  console.log("ScenaRiprodotta.msecd: " + ScenaRiprodotta.msecd)
                            attualeClonataDaRiAccodare.start = ScenaRiprodotta.msecd; //correggo la partenza
                            attualeClonataDaRiAccodare.msecd = attualeClonataDaRiAccodare.msecd - ScenaRiprodotta.msecd //correggo anche il tempo della scena riaccodata
                            ScenaRiprodotta.msdf = msact;

                        })
                    } else {
                        //se mancano meno di 3 secondi si attende invece di ri-accodare
                        $(".deb_2").css("background-color", "red")
                        g.nid = ScenaRiprodotta.nid
                        ArrScenePlaylistMatch[i] = g;
                        ScenaRiprodotta.nid = g.id;

                    }





                    return false;
                }
            };
        }






        function GetScenaById(IdScenaRiproduzione) {
            for (i = 0; i < ArrScenePlaylistMatch.length; i++) {
                let s = ArrScenePlaylistMatch[i];
                if (s.id == IdScenaRiproduzione) {
                    return s;
                }
            }
            return false;
        }


        /*
        function AvviaRiproduzioneScena(IdScena, AttendiFineScenaInCorso = 0) {
            for (i = 0; i < ArrScenePlaylistMatch.length; i++) {
                let g = ArrScenePlaylistMatch[i];
                if (g.sid == IdScena) {
                    let d = new Date();

                    if (ScenaRiprodotta == undefined) {
                        ScenaRiprodotta = g;
                        ScenaRiprodotta.msdi = d.getTime()
                        ScenaRiprodotta.msdf = ScenaRiprodotta.msdi + ScenaRiprodotta.msecd;
                        riproduciScenaMatch(g)

                    } else {

                        ScenaRiprodotta.nid = g.id;
                        console.log("sono qui");
                        if (AttendiFineScenaInCorso == 0) {
                            console.log("AttendiFineScenaInCorso == 0 " + i);
                            ScenaRiprodotta.msdf = d.getTime();
                        }
                    }

                    return false;
                }
            };
        }
        */

        /*
        function AvviaImmediatoRiproduzioneScena(IdScena) {
            for (i = 0; i < ArrScenePlaylistMatch.length; i++) {
                let g = ArrScenePlaylistMatch[i];
                if (g.sid == IdScena) {
                    let d = new Date();

                    if (ScenaRiprodotta == undefined) {
                        ScenaRiprodotta = g;
                        ScenaRiprodotta.msdi = d.getTime()
                        ScenaRiprodotta.msdf = ScenaRiprodotta.msdi + ScenaRiprodotta.msecd;
                        riproduciScenaMatch(g)

                    } else {

                        ScenaRiprodotta.nid = g.id;
                        console.log("sono qui");
                        if (AttendiFineScenaInCorso == 0) {
                            console.log("AttendiFineScenaInCorso == 0 " + i);
                            ScenaRiprodotta.msdf = d.getTime();
                        }
                    }

                    return false;
                }
            };
        }

        */




        function riproduciScenaMatch(objScenaRiproduzione) {
            console.log("inizio riproduciScenaMatch")


            $("#scenaMatch_" + objScenaRiproduzione.sid).children('video').each(function () {

                $(this).get(0).play();

            });

            $("#scenaMatch_" + objScenaRiproduzione.sid).css("zIndex", "10");
            $("#scenaMatch_" + objScenaRiproduzione.sid).show();



            let ns = GetNextScenaMatch(objScenaRiproduzione)


            console.log("--------------------------------")
            console.log("fine riproduciScenaMatch")
            //    console.log(ns)
            caricaScenaMatch(ns)
            //rinfrescaCache(ns)
        }

















        function AvanzaVeloce(fattore) {

            FattoreVelocitaVideo = fattore;
            DebugVariabili("AvanzaVeloce", "FattoreVelocitaVideo", FattoreVelocitaVideo);


        }







        function pad(num, size) {
            var s = num + "";
            while (s.length < size) s = "0" + s;
            return s;
        }









        var tttt = setInterval(GetDatiFromUiToPlayer, 1000);









    </script>

    <script type="text/javascript">
        'use strict';
        /*

         ██╗███╗   ██╗██╗███████╗██╗ █████╗ ██╗     ██╗███████╗███████╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
         ██║████╗  ██║██║╚══███╔╝██║██╔══██╗██║     ██║╚══███╔╝╚══███╔╝██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
         ██║██╔██╗ ██║██║  ███╔╝ ██║███████║██║     ██║  ███╔╝   ███╔╝ ███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
         ██║██║╚██╗██║██║ ███╔╝  ██║██╔══██║██║     ██║ ███╔╝   ███╔╝  ██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
         ██║██║ ╚████║██║███████╗██║██║  ██║███████╗██║███████╗███████╗██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
         ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

         ███╗   ███╗ █████╗ ████████╗ ██████╗██╗  ██╗
         ████╗ ████║██╔══██╗╚══██╔══╝██╔════╝██║  ██║
         ██╔████╔██║███████║   ██║   ██║     ███████║
         ██║╚██╔╝██║██╔══██║   ██║   ██║     ██╔══██║
         ██║ ╚═╝ ██║██║  ██║   ██║   ╚██████╗██║  ██║
         ╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝    ╚═════╝╚═╝  ╚═╝

        Font Name: ANSI Shadow
         */


        function InizializzaMatch() {

            PopolaLoghiSquadre();
            //////console.log("ciao");
            CambiaPunteggio({ "casa": 0, "ospiti": 1 });
        }





    </script>

    <script type="text/javascript">
        'use strict';

        /*
        ██████╗ ██╗   ██╗███╗   ██╗████████╗███████╗ ██████╗  ██████╗ ██╗ ██████╗
        ██╔══██╗██║   ██║████╗  ██║╚══██╔══╝██╔════╝██╔════╝ ██╔════╝ ██║██╔═══██╗
        ██████╔╝██║   ██║██╔██╗ ██║   ██║   █████╗  ██║  ███╗██║  ███╗██║██║   ██║
        ██╔═══╝ ██║   ██║██║╚██╗██║   ██║   ██╔══╝  ██║   ██║██║   ██║██║██║   ██║
        ██║     ╚██████╔╝██║ ╚████║   ██║   ███████╗╚██████╔╝╚██████╔╝██║╚██████╔╝
        ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝ ╚═════╝

         ██████╗ ██████╗  ██████╗ ██╗      ██████╗  ██████╗ ██╗ ██████╗
        ██╔═══██╗██╔══██╗██╔═══██╗██║     ██╔═══██╗██╔════╝ ██║██╔═══██╗
        ██║   ██║██████╔╝██║   ██║██║     ██║   ██║██║  ███╗██║██║   ██║
        ██║   ██║██╔══██╗██║   ██║██║     ██║   ██║██║   ██║██║██║   ██║
        ╚██████╔╝██║  ██║╚██████╔╝███████╗╚██████╔╝╚██████╔╝██║╚██████╔╝
         ╚═════╝ ╚═╝  ╚═╝ ╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝ ╚═════╝

        Font Name: ANSI Shadow
         */
  


        function PopolaLoghiSquadre() {
            if (SettingMatch.fk_int_SquadraCasa != undefined && SettingMatch.fk_int_SquadraOspite != undefined) {
                $(".img_punteggioCasa").attr('src', "/img/squadre/" + SettingMatch.fk_int_SquadraCasa + ".png");
                $(".img_punteggioOspiti").attr('src', "/img/squadre/" + SettingMatch.fk_int_SquadraOspite + ".png");
                $("#CanvasClockScore").css("visibility", "visible");
            } else {
                //////console.log("PopolaLoghiSquadre non fattibile");
            }

        }





        //$(document).ready(function () {

        //   IntervalOrologio = setInterval(function () { tickTimer(); }, 1000);

        //})


        function CambiaPunteggio(objPunteggio) {
            //objPunteggio = JSON.parse(objPunteggio);

            if ((SettingMatch.fk_int_SquadraCasa != undefined && SettingMatch.fk_int_SquadraOspite != undefined)) {

                var StringaPunteggio = objPunteggio["casa"] + "-" + objPunteggio["ospiti"];
                $(".div_testoPunteggio").text(StringaPunteggio);
                if (StringaPunteggio.length > 5) {
                    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "10px" })
                } else if (StringaPunteggio.length > 4) {
                    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "70px" })
                } else if (StringaPunteggio.length > 3) {
                    $(".div_testoPunteggio").css({ "letter-spacing": "2px", "font-size": "80px" })
                } else {
                    $(".div_testoPunteggio").css({ "letter-spacing": "10px", "font-size": "88px" })
                }

            }
        }




    </script>



</body>
</html>