﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>

    <link rel="stylesheet" href="~/css/player.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/css/playerMaxischermo.css" asp-append-version="true" />*@
    @*<link rel="stylesheet" href="~/css/playerLed_90.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/lib/textillate-master/assets/animate.css" asp-append-version="true" />

    <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>

</head>

<body style="background-color:black;overflow-x: hidden !important; overflow-y: hidden !important;padding:0px 0px 0px 0px; ">
    

    <div style="background-color:black; padding:0px 0px 0px 0px;  clip-path: inset(0% 0% 0% 0%); @Html.Raw(ViewBag.DimensioneLedCanvasPerCss)  ">

        <div Id="CanvasLuminosita">
            @Html.Raw(ViewBag.HtmlLuminosità)
        </div>

        <div Id="CanvasEventiPartita">
            @Html.Raw(ViewBag.HtmlEventiPartita)
        </div>

        <div Id="CanvasClockScore">
            @Html.Raw(ViewBag.HtmlClockScore)
        </div>

        <div Id="CanvasResult">
            @Html.Raw(ViewBag.HtmlResult)
        </div>

        <div Id="CanvasPresentazioneGiocatori">
            @Html.Raw(ViewBag.HtmlDiv)
        </div>

        <div Id="CanvasVideoLed"></div>

    </div>

    <div Id="CanvasVideoMaxischermo" style="position:absolute; background-color:black;  @Html.Raw(ViewBag.DimensionePosizioneMaxischermoPerCss) ">
        <div id="TimerPunteggioMaxischermo">
            <div class="testoTempo"><p class="pTestoTempoMaxischermo">00:00</p></div>
            <div class="logoCasa"><img src="" /></div>
            <div class="logoOspite"><img src="" /></div>
            <div class="testoPunteggio"><p class="pTestoPunteggio">9-6</p></div>
            <div class="divEventiCasa">
                <table class="tabellaEventi tabellaEventiCasa" cellpadding="3">
                </table>
            </div>
            <div class="divEventiOspiti">
                <table class="tabellaEventi tabellaEventiOspiti" cellpadding="3">
                </table>
            </div>
        </div>
        <div id="EventiPartitaMaxischermo">

        </div>
        <div id="VideoMaxischermo">

        </div>

    </div>





    @*
        <div Id="CanvasVideoMaxischermo" style="position:absolute; background-color:black;  @Html.Raw(ViewBag.DimensionePosizioneMaxischermoPerCss) ">
        <div class="EventiPartitaMaxischermo" style="width: 1280px; height: 720px; margin-left: 0px; margin-top: 0px; opacity: 1;   ">

        </div>
        </div>
    *@






    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js" asp-append-version="true"></script>
    <script src="~/lib/fitty/fitty.min.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.fittext.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.lettering.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/jquery.textillate.js" asp-append-version="true"></script>
    <script src="~/js/jsComune.js" asp-append-version="true"></script>





    <script>
        'use strict';

        /*
        tag:variabiliglobali
        ██╗   ██╗ █████╗ ██████╗ ██╗ █████╗ ██████╗ ██╗██╗     ██╗
        ██║   ██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║██║     ██║
        ██║   ██║███████║██████╔╝██║███████║██████╔╝██║██║     ██║
        ╚██╗ ██╔╝██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║██║     ██║
         ╚████╔╝ ██║  ██║██║  ██║██║██║  ██║██████╔╝██║███████╗██║
          ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚═╝╚══════╝╚═╝

         ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     ██╗
        ██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     ██║
        ██║  ███╗██║     ██║   ██║██████╔╝███████║██║     ██║
        ██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     ██║
        ╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗██║
         ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝
        */
        var altezza = 0;
        var NumeroSceneDaCaricare = 3;
        var ArraySceneCache = [];
        var ValorePassatoFattoreVelocitaVideo = -1;
        var FattoreVelocitaVideo = 100;
        var contatorePerFattoreVelocitaOrologio = 0;
        var zindex = 0;
        var intIncrementalePeriodo = 0;
        var OffsetTemporaleManualeDiretto = 0;
        var Punteggio = {}
        var OffsetTemporaleManuale = 0;
        var ForzaScenaSpecifica = 0;
        var ScenaRiprodottaMaxischermo = {};
        var ScenaRiprodottaLed = {};
        var IntervalOrologio;
        var AvanzaOrologio = 0;
        var ArrayPeriodi = {}
        var ScenaDaSincronizzare = {}
        var MinutiRecupero = 0;
        var elaboratoMaxischermo = 1;
        var elaboratoLed = 1;
        var IdScenaRiprodottaLed = 0;
        var ArrParametriGenerali = Array;
        var ArrSceneLed = [];
        var ArrSceneMaxischermo = [];
        var ArrSceneLedFuturo = [];
        var ArrSceneMaxischermoFuturo = [];
        var intIstanteInizialePlaylist = 0
        var IpServer = "localhost:5000"
        var jsonConfigPeriodi = {}
        var incrementaleTemporizzazioneCaricamento = 0;
        var ArrSceneCaricate;
        var TempoSpotLega = 0;
        var IstanteInizioAvvioRiproduzione;
        var TimerStart;


    </script>



    @Html.Raw(@ViewBag.HtmlAnimazioniLedMaxischermo);



    <script type="text/javascript">
        var codaAnimazioneLed = [];
        var codaAnimazioneMaxischermo = [];
        var StatoAnimazioneLed = "";
        var StatoAnimazioneMaxischermo = "";
        var Animazione;

        $(document).ready(function () {

            Animazione = new clsAnimazione();
        });


        function Anima(g) {

            console.log("Anima(g)")
            console.log(codaAnimazioneLed)
            console.log(codaAnimazioneMaxischermo)

            if (g != undefined) {
                console.log("(g != undefined)")
                console.log(codaAnimazioneLed)
                codaAnimazioneLed.push(g);
                codaAnimazioneMaxischermo.push(g);
            }

            if (codaAnimazioneLed.length > 0 && StatoAnimazioneLed == 'Smontato') {
                console.log("(codaAnimazione.length > 0 && StatoAnimazione == 'Smontato')")
                Animazione.MontaLed(codaAnimazioneLed[0]);
                codaAnimazioneLed.shift();

            }

            if (codaAnimazioneMaxischermo.length > 0 && StatoAnimazioneMaxischermo == 'Smontato') {
                console.log("(codaAnimazione.length > 0 && StatoAnimazione == 'Smontato')")
                Animazione.MontaMaxischermo(codaAnimazioneMaxischermo[0]);
                codaAnimazioneMaxischermo.shift();

            }



        }





    </script>



    <script>

        $(document).ready(function () {


            GetSelected("tb_Match");
            GetSelected("tb_Playlist");

            if (SettingGlobalVars["tb_Match"] != undefined) {
                PopolaSettingMatch();
                InizializzaMatch();
            }

            // PreloadingScene()
            TieniIlTempo();


            (function repeat() {
                GetDatiToPlayer();
                //console.log("-");
                timerScambioDati = setTimeout(repeat, periodoScambioDati);
            })();












            setInterval(function () { tickTimer(); }, 1000);


            //$(".div_h90").html("<span>a</span>");
            //$(".div_h90 span").css({ "margin-left": "0" ,"color":"red"});

            //setInterval(function () { avanzaLinea(); }, 35);
            // let objG = [{"fk_int_squadra":8,"fk_int_giocatore":101},{"fk_int_squadra":8,"fk_int_giocatore":103},{"fk_int_squadra":8,"fk_int_giocatore":104}];

            // setTimeout(function () {MontaPresentazioneGiocatori(objG)}, 5000);
        });

        //function avanzaLinea() {
        //    let l = parseInt($(".div_h90 span").css("margin-left"), 10);
        //    //console.log(l);
        //    l = l + 50;
        //    $(".div_h90 span").css({"margin-left": l});
        //}


        // var ArrGiocatoriTitolari = [67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78];

        //var ArrGiocatoriRiserve = [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24];





    </script>



    <script type="text/javascript">
        'use strict';
        /*

         ██╗███╗   ██╗██╗███████╗██╗ █████╗ ██╗     ██╗███████╗███████╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
         ██║████╗  ██║██║╚══███╔╝██║██╔══██╗██║     ██║╚══███╔╝╚══███╔╝██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
         ██║██╔██╗ ██║██║  ███╔╝ ██║███████║██║     ██║  ███╔╝   ███╔╝ ███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
         ██║██║╚██╗██║██║ ███╔╝  ██║██╔══██║██║     ██║ ███╔╝   ███╔╝  ██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
         ██║██║ ╚████║██║███████╗██║██║  ██║███████╗██║███████╗███████╗██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
         ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

         ███╗   ███╗ █████╗ ████████╗ ██████╗██╗  ██╗
         ████╗ ████║██╔══██╗╚══██╔══╝██╔════╝██║  ██║
         ██╔████╔██║███████║   ██║   ██║     ███████║
         ██║╚██╔╝██║██╔══██║   ██║   ██║     ██╔══██║
         ██║ ╚═╝ ██║██║  ██║   ██║   ╚██████╗██║  ██║
         ╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝    ╚═════╝╚═╝  ╚═╝

        Font Name: ANSI Shadow
         */

        function InizializzaMatch() {
            //console.log("SettingMatch");
            //console.log(SettingMatch);
            altezza = SettingMatch["int_AltezzaLedPrimaFila"];
            //    caricaStile(altezza);
            $('.logoCasa img').attr("src", "/img/squadre/" + SettingMatch.fk_int_SquadraCasa + ".png");
            $('.logoOspite img').attr("src", "/img/squadre/" + SettingMatch.fk_int_SquadraOspite + ".png");


            PopolaSpotLega();
            PulisciERipristinaTimer();
            //console.log("ciao");
            //   CambiaPunteggio({ "casa": 0, "ospiti": 0 });
        }



    </script>



    <script>
        'use strict';

        /*

         ██████╗ █████╗ ██████╗ ██╗ ██████╗ █████╗ ███╗   ███╗███████╗███╗   ██╗████████╗ ██████╗
        ██╔════╝██╔══██╗██╔══██╗██║██╔════╝██╔══██╗████╗ ████║██╔════╝████╗  ██║╚══██╔══╝██╔═══██╗
        ██║     ███████║██████╔╝██║██║     ███████║██╔████╔██║█████╗  ██╔██╗ ██║   ██║   ██║   ██║
        ██║     ██╔══██║██╔══██╗██║██║     ██╔══██║██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║   ██║   ██║
        ╚██████╗██║  ██║██║  ██║██║╚██████╗██║  ██║██║ ╚═╝ ██║███████╗██║ ╚████║   ██║   ╚██████╔╝
         ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝ ╚═════╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝    ╚═════╝

        ██████╗ ██╗      █████╗ ██╗   ██╗██╗     ██╗███████╗████████╗
        ██╔══██╗██║     ██╔══██╗╚██╗ ██╔╝██║     ██║██╔════╝╚══██╔══╝
        ██████╔╝██║     ███████║ ╚████╔╝ ██║     ██║███████╗   ██║
        ██╔═══╝ ██║     ██╔══██║  ╚██╔╝  ██║     ██║╚════██║   ██║
        ██║     ███████╗██║  ██║   ██║   ███████╗██║███████║   ██║
        ╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝╚══════╝   ╚═╝

        */




        function PreloadPeriodo(fk_int_Periodo) {

            console.log("PreloadPeriodo "+fk_int_Periodo);
            $.ajax({
                url: "/Ajax/sp_GetListaScenePreloadLed?fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"] + "&fk_int_Periodo=" + fk_int_Periodo,
                async: false
            }).done(function (data) {
                PreloadingSceneLed(data)
                SetDatiToUI(CostruisciMessaggio("if(!$('.idPeriodo_" + fk_int_Periodo + "').hasClass('btn-success')){ $('.idPeriodo_" + fk_int_Periodo + "').removeClass('btn-danger').addClass('btn-warning');}"));
                setTimeout(function () {
                    SetDatiToUI(CostruisciMessaggio("if(!$('.idPeriodo_" + fk_int_Periodo + "').hasClass('btn-success')){$('.idPeriodo_" + fk_int_Periodo + "').removeClass('btn-warning').addClass('btn-success');}"));
                }, 3000);
            });

            $.ajax({
                url: "/Ajax/sp_GetListaScenePreloadMaxischermo?fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"] + "&fk_int_Periodo=" + fk_int_Periodo,
                async: false
            }).done(function (data) {
                console.log("sp_GetListaScenePreloadMaxischermo");
                console.log(data);

                PreloadingSceneMaxischermo(data)
            });




        }




        function PreloadTipoPeriodo(fk_int_TipoPeriodo) {
            //console.log("PreloadingSceneSpeciali");
            $.ajax({
                url: "/Ajax/sp_GetListaScenePreloadLed?fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"] + "&fk_int_TipoPeriodo=" + fk_int_TipoPeriodo,
                async: false
            }).done(function (data) {
                PreloadingSceneLed(data)
            });


            $.ajax({
                url: "/Ajax/sp_GetListaScenePreloadMaxischermo?fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"] + "&fk_int_TipoPeriodo=" + fk_int_TipoPeriodo,
                async: false
            }).done(function (data) {
                PreloadingSceneMaxischermo(data)
            });

        }

        function UnloadPeriodo(fk_int_Periodo) {

            UnloadPeriodoLed(fk_int_Periodo)
        }

        function UnloadPeriodoLed(fk_int_Periodo) {
            $(".scenaLedPeriodo_" + fk_int_Periodo).each(function () {

                UnloadScenaLed($(this).data("sid"))

            });

        }


        function SendPeriodiPresenti() {
            let classList = {};
            let stringa = "";
            $(".scenaLed").each(function () {
                //console.log(classList[this.className]);
                //console.log(this.className);
                classList[this.className.replace("scenaLed scenaLedPeriodo_", '')] = ((classList[this.className] === undefined) ? 1 : classList[this.className]) + 1;
            });
            //console.log(JSON.stringify(classList));
            SetDatiToUI(CostruisciMessaggio('GetSceneInPeriodi(' + JSON.stringify(classList) + ');'));
        }



        function UnloadSceneLed(ArrScene) {
            let incr = 1;
            for (var i = 0; i < ArrScene.length; i++) {
                if ($("#scenaLed_" + ArrScene[i]).length) {
                    //console.log("Forzo lo scaricamento di tutti i video della scena: "+ArrScene[i]);
                    setTimeout(function () { UnloadScenaLed(ArrScene[i]) }, incr * 100);
                    incr = incr + 1;
                }
            }
        }



        function UnloadScenaLed(sid) {
            if (sid != undefined) {
                if ($("#scenaLed_" + sid).length > 0) {
                    if ($("#scenaLed_" + sid).css('visibility') == 'hidden') {
                        //console.log("UnloadScenaLed: "+sid);
                        ForzaUnloadTuttiIVideoDentroElementoLed(sid);
                        $("#scenaLed_" + sid).remove();

                    }
                }
            }
        }



        function UnloadSceneMaxischermo(ArrScene) {
            for (var i = 0; i < ArrScene.length; i++) {
                UnloadScenaMaxischermo(ArrScene[i])
            }
        }


        function UnloadScenaMaxischermo(sid) {
            if (sid != undefined) {
                //console.log("sid != undefined");
                if ($("#scenaMaxischermo_" + sid).length) {
                    ForzaUnloadTuttiIVideoDentroElementoMaxischermo(sid);
                    $("#scenaMaxischermo_" + sid).remove();

                }
            }
        }



        function PreloadingSceneLed(ArrScene) {
            //console.log("+++++++++++++++++++++++++++++++++++++")
            //console.log(ArrScene)
            //console.log("-------------------------------------------")
            let as = JSON.parse(ArrScene)
            $.each(as, function (i, g) {
                SetDatiToUI(CostruisciMessaggio("$('.sid_" + g.sid + "').removeClass('btn-danger').addClass('btn-warning');"));
                //console.log("chiamo da 1679")
                caricaScenaLed(g.sid);
                SetDatiToUI(CostruisciMessaggio("$('.sid_" + g.sid + "').removeClass('btn-warning').addClass('btn-success');"));
            });
        }


        function PreloadingSceneMaxischermo(ArrScene) {
            console.log("+++++++++++++++++++++++++++++++++++++")
            console.log(ArrScene)
            console.log("-------------------------------------------")
            let as = JSON.parse(ArrScene)
            $.each(as, function (i, g) {
                //  SetDatiToUI(CostruisciMessaggio("$('.sid_" + g.sid + "').removeClass('btn-danger').addClass('btn-warning');"));
                if (g.home == 0) {
                    caricaScenaMaxischermo(g.sid);
                   // console.log("");
                }    
              
                //  SetDatiToUI(CostruisciMessaggio("$('.sid_" + g.sid + "').removeClass('btn-warning').addClass('btn-success');"));
            });
        }



        function caricaScenaLed(idScena) {
            //console.log("caricaScenaLed " + idScena);
            if (idScena > 0) {
                //console.log("idScena >0");
                //console.log(idScena);
                if (!$("#scenaLed_" + idScena).length) {

                    $("#CanvasVideoLed").append("<div data-sid='" + idScena + "' ID='scenaLed_" + idScena + "' class='scenaLed'  style='zIndex:1;visibility:hidden;'><video muted  style='margin-left:0px; margin-top:0px;  ' control><source src='\\video\\" + SettingMatch.nva_NomeDirectoryStadio + "\\scene\\" + idScena + ".mp4' /></video></div>");

                } else {
                    //console.log("Scena " + idScena + " già carica!");
                }
            } else {
                //console.log("objScena = undefined");
            }
        }



        function caricaScenaMaxischermo(idScena) {
            console.log("caricaScenaMaxischermo " + idScena);
            if (idScena > 0) {

                //console.log(idScena);
                if (!$("#scenaMaxischermo_" + idScena).length) {

                    $.ajax({
                        url: "/AcquisizioneSceneMaxischermo/GetContenutiSceneMaxischermo",
                        data: "fk_int_Scena=" + idScena
                    }).done(function (data) {

                        console.log("nel maxischermo ho ")
                        console.log(data);
                        $("#VideoMaxischermo").append("<div data-sid='" + idScena + "' ID='scenaMaxischermo_" + idScena + "' class='scenaMaxischermo'  style='zIndex:1;visibility:hidden;'><video muted  style='margin-left:0px; margin-top:0px;' control><source src='" + data + "' /></video></div>");
                    });

                } else {
                    //console.log("Scena " + idScena + " carica!");
                }

            } else {
                //console.log("objScena = undefined");
            }
        }




        function caricamentoScaglionatoVideoLed(ListaVideo, idScena) {
            incrementaleTemporizzazioneCaricamento = 0;
            //console.log("caricamentoScaglionatoVideoLed " + idScena);
            $.each(ListaVideo, function (index, val) {
                incrementaleTemporizzazioneCaricamento = incrementaleTemporizzazioneCaricamento + 1;
                //if (incrementaleTemporizzazioneCaricamento < 5) {
                setTimeout(function () {
                    $("#scenaLed_" + idScena).append('<video muted  width="' + val.int_W + '" height="' + val.int_H + '" style="margin-left:' + val.int_MarginL + 'px; margin-top:' + val.int_MarginT + 'px;" control><source src="' + val.nva_PahtFile + '" /></video>');
                }, 100 + (incrementaleTemporizzazioneCaricamento * 30));
                //}
            });
        }







        /*
        ████████╗███████╗███╗   ███╗██████╗  ██████╗ ██████╗ ██╗███████╗███████╗ █████╗ ███████╗██╗ ██████╗ ███╗   ██╗███████╗
        ╚══██╔══╝██╔════╝████╗ ████║██╔══██╗██╔═══██╗██╔══██╗██║╚══███╔╝╚══███╔╝██╔══██╗╚══███╔╝██║██╔═══██╗████╗  ██║██╔════╝
           ██║   █████╗  ██╔████╔██║██████╔╝██║   ██║██████╔╝██║  ███╔╝   ███╔╝ ███████║  ███╔╝ ██║██║   ██║██╔██╗ ██║█████╗
           ██║   ██╔══╝  ██║╚██╔╝██║██╔═══╝ ██║   ██║██╔══██╗██║ ███╔╝   ███╔╝  ██╔══██║ ███╔╝  ██║██║   ██║██║╚██╗██║██╔══╝
           ██║   ███████╗██║ ╚═╝ ██║██║     ╚██████╔╝██║  ██║██║███████╗███████╗██║  ██║███████╗██║╚██████╔╝██║ ╚████║███████╗
           ╚═╝   ╚══════╝╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
        */


        var attendi = 0;
        /**************** temporizzatore generale ************/
        //var UnloadScenaLed = true;
        var ScenaSuccessivaLed = {};
        var ScenaSuccessivaMaxischermo = {};
        function TieniIlTempo() {

            setInterval(function () {

                var dataTime = new Date();
                var dataoraact = dataTime.getTime();


                /*controllo cambiamento ArrSceneLed*/
                if (ArrSceneLedFuturo != ArrSceneLed) {
                    ArrSceneLed = ArrSceneLedFuturo;
                    let ArrFiltroSuccessivoNuoveLed = ArrSceneLed.filter(element => element.start >= dataoraact).slice(0);
                    let ssLed = ArrFiltroSuccessivoNuoveLed[0];
                    if (ssLed != undefined) {
                        //console.log("chiamo da 1801")
                        caricaScenaLed(ssLed.sid);
                        if (ArrFiltroSuccessivoNuoveLed.length > 1) {
                            // //console.log("chiamo da 1804")
                            caricaScenaLed(ArrFiltroSuccessivoNuoveLed[1].sid);
                        }
                    }
                }

                /*controllo cambiamento ArrSceneMaxischermo*/
                if (ArrSceneMaxischermoFuturo != ArrSceneMaxischermo) {
                    ArrSceneMaxischermo = ArrSceneMaxischermoFuturo;
                    let ArrFiltroSuccessivoNuoveMaxischermo = ArrSceneMaxischermo.filter(element => element.start >= dataoraact).slice(0);
                    let ssMaxischermo = ArrFiltroSuccessivoNuoveMaxischermo[0];
                    if (ssMaxischermo != undefined) {
                        caricaScenaMaxischermo(ssMaxischermo.sid);
                        if (ArrFiltroSuccessivoNuoveMaxischermo.length > 1) {
                            caricaScenaMaxischermo(ArrFiltroSuccessivoNuoveMaxischermo[1].sid);
                        }
                    }
                }








                //filtro gli elementi controllando se esiste un elemento la cui data di inizio assoluta è minore di adesso e la data di fine è maggiore.
                //let ArrFiltro = ArrSceneMaxischermo.filter(element => element.start <= dataoraact && element.stop > dataoraact && element.sid != ScenaRiprodottaMaxischermo.sid);
                let ArrFiltroMaxischermo = ArrSceneMaxischermo.filter(element => element.start <= dataoraact && element.stop > dataoraact && element.sid != ScenaRiprodottaMaxischermo.sid);
                if (ArrFiltroMaxischermo.length > 0) {

                    //console.log("int_IsScenaInterrotta");
                    // //console.log(int_IsScenaInterrotta);
                    let StrigaQueryMaxischermo = "";
                    let ScenaOldMaxischermo = ScenaRiprodottaMaxischermo;
                    ScenaRiprodottaMaxischermo = ArrFiltroMaxischermo[0];
                    //filtro gli elementi controllando se esiste un elemento la cui data di inizio assoluta è minore o uguale alla ScenaRiprodottaMaxischermo.stop  .

                    let ArrFiltroSuccessivoMaxischermo = ArrSceneMaxischermo.filter(element => element.start >= ScenaRiprodottaMaxischermo.stop).slice(0);



                    if (ScenaOldMaxischermo.sid > 0) {

                        $("#scenaMaxischermo_" + ScenaOldMaxischermo.sid).css({ "zIndex": "9", "visibility": "visible" });
                        console.log("ScenaOldMaxischermo.sid > 0");
                        StrigaQueryMaxischermo = StrigaQueryMaxischermo + "&id_int_SceneRiproduzioniMaxischermo_fine=" + ScenaOldMaxischermo.id;
                    }


                     console.log("ScenaOldMaxischermo")
                    console.log(ScenaOldMaxischermo.home)
                    console.log(ScenaRiprodottaMaxischermo.home)


                    if((ScenaRiprodottaMaxischermo.home != ScenaOldMaxischermo.home)&&(ScenaRiprodottaMaxischermo.home == 1)){
                        MostraHomeMaxischermo();
                        $("#VideoMaxischermo").hide();
                    }
                    if((ScenaRiprodottaMaxischermo.home != ScenaOldMaxischermo.home)&&(ScenaRiprodottaMaxischermo.home == 0)){
                        SmontaHomeMaxischermo();
                        $("#VideoMaxischermo").show();
                    }

                    
                    if (ScenaRiprodottaMaxischermo.home == 0) {
                        $("#scenaMaxischermo_" + ScenaRiprodottaMaxischermo.sid).css({ "zIndex": "10", "visibility": "visible" });
                        riproduciScenaMaxischermo(ScenaRiprodottaMaxischermo);
                        $("#TimerPunteggioMaxischermo").hide();
                    } else {
                        $("#TimerPunteggioMaxischermo").show();
                    }




                    console.log("faccio partire la scena " + ScenaRiprodottaMaxischermo.sid + " da qui");
                    
                    StrigaQueryMaxischermo = StrigaQueryMaxischermo + "&id_int_SceneRiproduzioniMaxischermo_inizio=" + ScenaRiprodottaMaxischermo.id;


                    if (ArrFiltroSuccessivoMaxischermo.length > 0) {
                        //console.log("ArrFiltroSuccessivo:");
                        //console.log(ArrFiltroSuccessivoMaxischermo);
                        ScenaSuccessivaMaxischermo = ArrFiltroSuccessivoMaxischermo[0];
                        //console.log("ArrFiltroSuccessivo.length > 0");
                    }


                    setTimeout(function () {
                        if (ScenaOldMaxischermo.sid > 0) {
                            FermaTuttiIVideoDentroElementoMaxischermo(ScenaOldMaxischermo.sid);
                            $("#scenaMaxischermo_" + ScenaOldMaxischermo.sid).css({ "visibility": "hidden" });

                            UnloadScenaMaxischermo(ScenaOldMaxischermo.sid);

                            //console.log("Rimuovo la ScenaOldMaxischermo in quanto non mi serve più");
                        }


                        if(ArrFiltroSuccessivoMaxischermo.length > 0){
                            caricaScenaMaxischermo(ScenaSuccessivaMaxischermo.sid);
                            //console.log("carico la scena successiva");
                            if (ArrFiltroSuccessivoMaxischermo.length > 1){
                                if (ArrFiltroSuccessivoMaxischermo[1].home == 0){
                                    caricaScenaMaxischermo(ArrFiltroSuccessivoMaxischermo[1].sid);
                                }
                            }
                        }else{
                            //console.log("carico provvedo ad inviare un segnale al server chiedendo istruzioni su cosa riprodurre nella scena successiva");
                        }

                        //console.log("riga 1949 - "+StrigaQueryMaxischermo)
                        $.ajax({
                            url: "/Ajax/sp_GestisciRiproduzioneMaxischermo",
                            data: "int_IsFromPlayer=1&int_DataOraJavascript=" + dataoraact + "" + StrigaQueryMaxischermo
                        }).done(function (data) {
                            //console.log(data);
                        });




                    }, 50);

                }










                //filtro gli elementi controllando se esiste un elemento la cui data di inizio assoluta è minore di adesso e la data di fine è maggiore.
                //let ArrFiltro = ArrSceneLed.filter(element => element.start <= dataoraact && element.stop > dataoraact && element.sid != ScenaRiprodottaLed.sid);
                let ArrFiltroLed = ArrSceneLed.filter(element => element.start <= dataoraact && element.stop > dataoraact && element.sid != ScenaRiprodottaLed.sid);
                if (ArrFiltroLed.length > 0) {

                    //console.log("int_IsScenaInterrotta");
                    // //console.log(int_IsScenaInterrotta);
                    let StrigaQueryLed = "";
                    let ScenaOldLed = ScenaRiprodottaLed;
                    ScenaRiprodottaLed = ArrFiltroLed[0];
                    //filtro gli elementi controllando se esiste un elemento la cui data di inizio assoluta è minore o uguale alla ScenaRiprodottaLed.stop  .

                    let ArrFiltroSuccessivoLed = ArrSceneLed.filter(element => element.start >= ScenaRiprodottaLed.stop).slice(0);



                    if (ScenaOldLed.sid > 0) {
                        $("#scenaLed_" + ScenaOldLed.sid).css({ "zIndex": "9", "visibility": "visible" });
                        //console.log("ScenaOldLed.sid > 0");
                        StrigaQueryLed = StrigaQueryLed + "&id_int_SceneRiproduzioniLed_fine=" + ScenaOldLed.id;
                    }




                    $("#scenaLed_" + ScenaRiprodottaLed.sid).css({ "zIndex": "10", "visibility": "visible" });
                    //console.log("faccio partire la scena " + ScenaRiprodottaLed.sid + " da qui");
                    riproduciScenaLed(ScenaRiprodottaLed);
                    StrigaQueryLed = StrigaQueryLed + "&id_int_SceneRiproduzioniLed_inizio=" + ScenaRiprodottaLed.id;

                    if (ArrFiltroSuccessivoLed.length > 0) {
                        //console.log("ArrFiltroSuccessivo:");
                        //console.log(ArrFiltroSuccessivoLed);
                        ScenaSuccessivaLed = ArrFiltroSuccessivoLed[0];

                        //console.log("ArrFiltroSuccessivo.length > 0");

                    }


                    setTimeout(function () {
                        if (ScenaOldLed.sid > 0) {
                            FermaTuttiIVideoDentroElementoLed(ScenaOldLed.sid);
                            $("#scenaLed_" + ScenaOldLed.sid).css({ "visibility": "hidden" });

                            UnloadScenaLed(ScenaOldLed.sid);

                            //console.log("Rimuovo la ScenaOldLed in quanto non mi serve più");
                        }


                        if (ArrFiltroSuccessivoLed.length > 0) {
                            //console.log("chiamo da 2035")
                            caricaScenaLed(ScenaSuccessivaLed.sid);
                            //console.log("carico la scena successiva");
                            if (ArrFiltroSuccessivoLed.length > 1) {
                                //console.log("chiamo da 2039")
                                caricaScenaLed(ArrFiltroSuccessivoLed[1].sid);
                            }
                        } else {
                            //console.log("carico provvedo ad inviare un segnale al server chiedendo istruzioni su cosa riprodurre nella scena successiva");
                        }

                        //console.log("riga 2104 - "+StrigaQueryLed)
                        $.ajax({
                            url: "/Ajax/sp_GestisciRiproduzioneLed",
                            data: "int_IsFromPlayer=1&int_DataOraJavascript=" + dataoraact + "" + StrigaQueryLed
                        }).done(function (data) {
                            //console.log(data);
                        });




                    }, 50);

                }

            }, 50);

        }




        /*
        INIZIO Aggiornamento Timeline
        */



        function AggiornaTimelineLed(Stringa, IstanteRichiestaEvento, SkipTo, fk_int_Periodo) {

            //console.log('AggiornaTimelineLed fk_int_Periodo:'+fk_int_Periodo);

            //PulisciERipristinaTimer();
            ArrSceneLedFuturo = JSON.parse(Stringa);



        }


        function AggiornaTimelineMaxischermo(Stringa) {

            //console.log('sono qui--------------------------------------------------------------')
            ArrSceneMaxischermoFuturo = JSON.parse(Stringa);
        }



        function riproduciScenaLed(objScena) {
            $("#scenaLed_" + objScena.sid).children('video').each(function () {
                if (objScena.skipto > 0) {
                    //console.log(objScena.skipto);
                    this.currentTime = (objScena.skipto / 1000);
                }
                this.play();
            });
        }

        function riproduciScenaMaxischermo(objScena) {
            $("#scenaMaxischermo_" + objScena.sid).children('video').each(function () {
                if (objScena.skipto > 0) {
                    //console.log(objScena.skipto);
                    this.currentTime = (objScena.skipto / 1000);
                }
                this.play();
            });
        }


        function FermaTuttiIVideoDentroElementoLed(ID) {

            try {
                $("#scenaLed_" + ID).children('video').each(function () {
                    this.pause();
                    this.currentTime = 0;
                });
            }
            catch (err) {
            }
        }


        function ForzaUnloadTuttiIVideoDentroElementoLed(ID) {

            try {
                $("#scenaLed_" + ID).children('video').each(function () {
                    // setTimeout(function () {
                    this.pause();
                    this.removeAttribute('src'); // empty source
                    this.load();
                    //  },(q*100))

                });
            }
            catch (err) {
            }


        }

        function FermaTuttiIVideoDentroElementoMaxischermo(ID) {

            try {
                $("#scenaMaxischermo_" + ID).children('video').each(function () {
                    this.pause();
                    this.currentTime = 0;
                });
            }
            catch (err) {
            }
        }


        function ForzaUnloadTuttiIVideoDentroElementoMaxischermo(ID) {

            try {
                $("#scenaMaxischermo_" + ID).children('video').each(function () {
                    this.pause();
                    this.removeAttribute('src'); // empty source
                    this.load();
                });
            }
            catch (err) {
            }
        }



        /*
        //console.log('PulisciERipristinaTimer IDperiodo:'+fk_int_PeriodoAttivo);

        switch (fk_int_PeriodoAttivo) {
            case 10:
            case 20:
                $(".TimerLed").append("<div class='TempoOrologioLed'>00:00</div>")
                TimerStart = new Date();
                MinutiRecupero = 0;
                AvanzaOrologio = 1;
                break;

            case 11:
            case 21:
                AvanzaOrologio = 0;
                if (MinutiRecupero > 0) {
                    $(".TimerLed").append("<div class='TempoOrologioLed'>45:00+" + MinutiRecupero + "</div>")
                } else {
                    $(".TimerLed").append("<div class='TempoOrologioLed'>45:00</div>")

                }
            break

            default:
                AvanzaOrologio = 0;
                $(".TimerLed").append("<div class='TempoOrologioLed'>00:00</div>")

                break;
        }
        */




        //function CambiaPunteggio(objPunteggio) {
        //    //objPunteggio = JSON.parse(objPunteggio);
        //    if ((SettingMatch.fk_int_SquadraCasa != undefined && SettingMatch.fk_int_SquadraOspite != undefined)) {
        //        var StringaPunteggio = objPunteggio["casa"] + "-" + objPunteggio["ospiti"];
        //        $(".TxtPunteggio").text(StringaPunteggio);
        //        //if (StringaPunteggio.length > 5) {
        //        //    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "10px" })
        //        //} else if (StringaPunteggio.length > 4) {
        //        //    $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "70px" })
        //        //} else if (StringaPunteggio.length > 3) {
        //        //    $(".div_testoPunteggio").css({ "letter-spacing": "2px", "font-size": "80px" })
        //        //} else {
        //        //    $(".div_testoPunteggio").css({ "letter-spacing": "10px", "font-size": "88px" })
        //        //}

        //    }
        //}



        function ApplicaRecupero(minuti) {
            MinutiRecupero = minuti
            //console.log("applico "+MinutiRecupero+" di recupero")
            //if (MinutiRecupero != minuti) {
            //    MinutiRecupero = minuti
            //switch (fk_int_PeriodoAttivo) {
            //    case 11:
            //        case 21:
            //        if (MinutiRecupero > 0) {
            //            $(".tempoOrologioLed").html("45:00+" + MinutiRecupero)
            //        } else {
            //            $(".tempoOrologioLed").html("45:00")
            //        }
            //    //    break
            //    //case 21:
            //    //    if (MinutiRecupero > 0) {
            //    //        $(".tempoOrologioLed").html("90:00+" + MinutiRecupero)
            //    //    } else {
            //    //        $(".tempoOrologioLed").html("90:00")
            //    //    }
            //        break
            // }
            //}
        }






    </script>

    <script type="text/javascript">
        /*
        'use strict';


        function caricaStile(altezza) {
            removejscssfile("/css/playerLed_48.css?", "css");
            removejscssfile("/css/playerLed_72.css", "css");
            removejscssfile("/css/playerLed_90.css", "css");





            removejscssfile("/css/playerMaxischermo_48.css", "css");
            removejscssfile("/css/playerMaxischermo_72.css", "css");
            removejscssfile("/css/playerMaxischermo_90.css", "css");

            var d = new Date();
            var t = d.getTime();


            loadjscssfile("/css/playerLed_" + altezza + ".css?" + t, "css");

            loadjscssfile("/css/playerMaxischermo_" + altezza + ".css?" + t, "css");


        }

        */


        /*
        function loadjscssfile(filename, filetype) {

            if (filetype == "js") { //if filename is a external JavaScript file
                var fileref = document.createElement('script')
                fileref.setAttribute("type", "text/javascript")
                fileref.setAttribute("src", filename)
            }
            else if (filetype == "css") { //if filename is an external CSS file
                var fileref = document.createElement("link")
                fileref.setAttribute("rel", "stylesheet")
                fileref.setAttribute("type", "text/css")
                fileref.setAttribute("href", filename)
            }
            if (typeof fileref != "undefined")
                document.getElementsByTagName("head")[0].appendChild(fileref)
        }
        */


        /*
        function removejscssfile(filename, filetype) {
            var targetelement = (filetype == "js") ? "script" : (filetype == "css") ? "link" : "none" //determine element type to create nodelist from
            var targetattr = (filetype == "js") ? "src" : (filetype == "css") ? "href" : "none" //determine corresponding attribute to test for
            var allsuspects = document.getElementsByTagName(targetelement)
            for (var i = allsuspects.length; i >= 0; i--) { //search backwards within nodelist for matching elements to remove
                if (allsuspects[i] && allsuspects[i].getAttribute(targetattr) != null && allsuspects[i].getAttribute(targetattr).indexOf(filename) != -1)
                    allsuspects[i].parentNode.removeChild(allsuspects[i]) //remove element by calling parentNode.removeChild()
            }
        }
        */


    </script>

</body>
</html>