﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>

    <link rel="stylesheet" href="~/css/playerMaxischermo.css" asp-append-version="true" />

</head>
<body style="background-color:seagreen;  ">


    <style>
        #TimerPunteggioMaxischermo {
            position: relative;
            z-index: 120;
            width: 1920px;
            height: 1080px;
            background-color: black;
            font-family: 'arial';
            /*border:1px solid #ffd800;*/
            text-align: center;
            color: white;
        }


            #TimerPunteggioMaxischermo .logoCasa {
                position: absolute;
                left: 70px;
                top: 50px;
                width: 600px;
                height: 600px;
                text-align: center;
                line-height: 400px;
                opacity: 0;
            }

            #TimerPunteggioMaxischermo .logoOspite {
                position: absolute;
                right: 70px;
                top: 50px;
                width: 600px;
                height: 600px;
                text-align: center;
                line-height: 400px;
                opacity: 0;
            }

            #TimerPunteggioMaxischermo img {
                max-width: 100%;
                max-height: 100%;
                vertical-align: middle;
            }

        .testoTempo {
            position: absolute;
            right: 700px;
            left: 700px;
            top: 200px;
            /*border:1px solid #dff800;*/
            vertical-align: text-top;
            opacity: 0;
        }

        .pTestoTempo {
            margin: 0px;
        }


        .testoPunteggio {
            position: absolute;
            right: 650px;
            left: 650px;
            top: 600px;
            /*border:1px solid #dff800;*/
            vertical-align: text-top;
            opacity: 0;
        }

        .pTestoPunteggio {
            margin: 0px;
        }

        .divEventiCasa {
            position: absolute;
            left: 130px;
            width: 480px;
            top: 660px;
            bottom: 5px;
            /*border:1px solid #dff800;*/
            vertical-align: text-top;
        }

        .divEventiOspiti {
            position: absolute;
            right: 130px;
            width: 480px;
            top: 660px;
            bottom: 5px;
            /*border:1px solid #dff800;*/
            vertical-align: text-top;
        }

        .tabellaEventi {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
            text-align: left; /*border:1px solid #dff800;*/
        }

            .tabellaEventi tr {
                opacity: 0
            }

                .tabellaEventi tr td {
                    margin: 0px;
                    padding: 0px 0px 0px 10px;
                    text-align: left; /*border:1px solid #dff800;*/
                }

                    .tabellaEventi tr td p {
                        margin: 0px;
                        padding: 0px;
                        text-align: left;
                        line-height: 20px; /*border:1px solid #dff800;*/
                    }

        .minuto {
            text-align: right;
            width: 100px;
            font-size: 50px;
            margin-right: 5px; /*border:1px solid #dff800;*/
        }
    </style>


    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/fitty/fitty.min.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.fittext.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.lettering.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/jquery.textillate.js" asp-append-version="true"></script>

    <script>
        $(function () {
            fitty('.nomeGiocatore p', { maxSize: 50, multiLine: false });
            fitty('.pTestoPunteggio', { maxSize: 600, multiLine: false });
            fitty('.pTestoTempo', { maxSize: 600, multiLine: false });


            setTimeout(function () {
                Mostra()
            }, 1000);

        });


        function Mostra() {

            StartPositionLogoCasa = { opacity: "0", left: '-70px' }
            ViewPositionLogoCasa = { opacity: "1", left: '70px' }
            StartPositionLogoOspite = { opacity: "0", right: '-70px' }
            ViewPositionOspite = { opacity: "1", right: '70px' }
            StartPositionTestoTempo = { opacity: "0" }
            ViewPositionTestoTempo = { opacity: "1" }
            StartPositionTestoPunteggio = { opacity: "0" }
            ViewPositionTestoPunteggio = { opacity: "1" }

            $(".logoCasa").css(StartPositionLogoCasa).animate(ViewPositionLogoCasa, 200).promise().then(function () {

                $(".logoOspite").css(StartPositionLogoOspite).animate(ViewPositionOspite, 200).promise().then(function () {
                    $(".testoTempo").css(StartPositionTestoTempo).animate(ViewPositionTestoTempo, 100).promise().then(function () {
                        $(".testoPunteggio").css(StartPositionTestoPunteggio).animate(ViewPositionTestoPunteggio, 100).promise().then(function () {



                        })
                    })
                })
            })

            var AttesaIniziale = 600;
            var Attesa = 0

            $('.divEventiCasa > .tabellaEventi > tbody  > tr').each(function (i, tr) {
                setTimeout(function () {
                    $(tr).animate({ opacity: "1" }, 100)
                }, (100 * i) + AttesaIniziale);
                Attesa = (100 * i) + AttesaIniziale;
            });

            $('.divEventiOspiti > .tabellaEventi > tbody  > tr').each(function (i, tr) {
                setTimeout(function () {
                    $(tr).animate({ opacity: "1" }, 100)
                }, (100 * i) + Attesa);
            });

        }


    </script>


    <div id="CanvasMaxischermo">
        <div id="TimerPunteggioMaxischermo">
            <div class="testoTempo"><p class="pTestoTempo">45:00</p></div>
            <div class="logoCasa"><img src="~/img/squadre/10.png" /></div>
            <div class="logoOspite"><img src="~/img/squadre/20.png" /></div>
            <div class="testoPunteggio"><p class="pTestoPunteggio">9-6</p></div>
            <div class="divEventiCasa">
                <table class="tabellaEventi tabellaEventiCasa" cellpadding="3">
                    <tr><td class="minuto"><p>10"</p></td><td class="nomeGiocatore"><p>56 - Totti</p></td></tr>
                    <tr><td class="minuto"><p>23"</p></td><td class="nomeGiocatore"><p>12 - De Rossi</p></td></tr>
                    <tr><td class="minuto"><p>41"</p></td><td class="nomeGiocatore"><p>5 - Gilardino</p></td></tr>
                    <tr><td class="minuto"><p>53"</p></td><td class="nomeGiocatore"><p>2 - Del Piero</p></td></tr>
                    <tr><td class="minuto"><p>60"</p></td><td class="nomeGiocatore"><p>4 - Bonucci</p></td></tr>
                    <tr><td class="minuto"><p>65"</p></td><td class="nomeGiocatore"><p>3 - Marchisio</p></td></tr>
                    <tr><td class="minuto"><p>73"</p></td><td class="nomeGiocatore"><p>6 - Tardelli</p></td></tr>
                    <tr><td class="minuto"><p>78"</p></td><td class="nomeGiocatore"><p>8 - Cannavaro</p></td></tr>
                    <tr><td class="minuto"><p>85"</p></td><td class="nomeGiocatore"><p>13 - Nesta</p></td></tr>
                </table>
            </div>
            <div class="divEventiOspiti">
                <table class="tabellaEventi tabellaEventiOspiti" cellpadding="3">
                    <tr><td class="minuto"><p>4"</p></td><td class="nomeGiocatore"><p>10 - Totti</p></td></tr>
                    <tr><td class="minuto"><p>9"</p></td><td class="nomeGiocatore"><p>12 - De Rossi</p></td></tr>
                    <tr><td class="minuto"><p>16"</p></td><td class="nomeGiocatore"><p>5 - Gilardino</p></td></tr>
                    <tr><td class="minuto"><p>22"</p></td><td class="nomeGiocatore"><p>2 - Del Piero</p></td></tr>
                    <tr><td class="minuto"><p>27"</p></td><td class="nomeGiocatore"><p>4 - Bonucci</p></td></tr>
                    <tr><td class="minuto"><p>32"</p></td><td class="nomeGiocatore"><p>3 - Marchisio</p></td></tr>
                </table>
            </div>
        </div>
    </div>




    <style>
    </style>


</body>
</html>