﻿<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>

    <link rel="stylesheet" href="~/css/player.css" asp-append-version="true" />

</head>
<body style="background-color:black;  ">
    <!--
    overflow-x: hidden !important; overflow-y: hidden !important; padding:0px 0px 0px 0px;
        clip-path: inset(0% 0% 0% 0%); width:1920px;height:1080px;
        -->
    <style>
        #CanvasMaxischermo {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            width: 1280px;
            height: 720px;
        }
    </style>


    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/fitty/fitty.min.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.fittext.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.lettering.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/jquery.textillate.js" asp-append-version="true"></script>
    <script src="~/js/jsComune.js" asp-append-version="true"></script>

    <button class="btnAvvia">avvia</button>

    <div id="CanvasMaxischermo">
        <div class="PunteggioMaxischermo">





        </div>
        <div class="InfoMaxischermo"></div>
        <div class="video"></div>
    </div>

    <style>

        .EventiPartitaMaxischermo {
            /* border: 1px solid black;*/
            position: absolute;
            background-color: white;
            color: black;
            clip-path: inset(0% 0% 0% 0%);
            z-index: 100;
            opacity: 0;
        }

            .EventiPartitaMaxischermo img {
                position: absolute;
                opacity: 0;
            }

        .imgSquadraMaxischermo {
            height: 88px;
        }

        .imgSponsorMaxischermo {
            height: 88px;
        }

        .imgGiocatoreMaxischermo {
            /*height: 88px;*/
            z-index: 11;
        }

        .imgGiocatoreSecondarioMaxischermo {
            /*height: 88px;*/
            z-index: 11;
        }

        .imgAzioneMaxischermo {
            /*height: 88px;*/
            z-index: 10;
        }

        .imgAzioneEntraMaxischermo {
            /*height: 88px;*/
            z-index: 10;
        }

        .imgAzioneEsceMaxischermo {
            /*height: 88px;*/
            z-index: 10;
        }

        .numeroGiocatoreMaxischermo {
            position: absolute;
            width: 100px;
            height: 90px;
            z-index: 140;
            line-height: 90px;
            text-align: center;
            /*border: 1px solid black;*/
            opacity: 0;
        }

            .numeroGiocatoreMaxischermo span {
                font-family: Helvetica;
                visibility: visible;
                color: black;
                font-size: 100px;
                font-weight: bold;
            }

        .numeroGiocatoreSecondarioMaxischermo {
            position: absolute;
            width: 100px;
            height: 90px;
            z-index: 140;
            line-height: 90px;
            text-align: center;
            /*border: 1px solid black;*/
            opacity: 0;
        }

            .numeroGiocatoreSecondarioMaxischermo span {
                font-family: Helvetica;
                visibility: visible;
                color: black;
                font-size: 100px;
                font-weight: bold;
            }

        .nomeGiocatoreMaxischermo {
            position: absolute;
            margin-top: -5px;
            padding: 0px 0px 0px 0px;
            width: 700px;
            height: 90px;
            z-index: 140;
            text-align: center;
            opacity: 0;
        }

        .nomeGiocatoreSecondarioMaxischermo {
            position: absolute;
            margin-top: -5px;
            padding: 0px 0px 0px 0px;
            width: 700px;
            height: 90px;
            z-index: 140;
            text-align: center;
            opacity: 0;
        }

        .nomeGiocatoreMaxischermo span {
            font-family: Helvetica;
            color: black;
            display: inline-block;
            line-height: 90px;
            font-weight: bold;
        }

        .nomeGiocatoreSecondarioMaxischermo span {
            font-family: Helvetica;
            color: black;
            display: inline-block;
            line-height: 90px;
            font-weight: bold;
        }
    </style>

    <script>


        var StartPositionNumeroGiocatoreMaxischermo = { top: "-90px", left: "210px", opacity: "0" };
        var StartPositionNomeGiocatoreMaxischermo = { top: "0px", left: "300px", opacity: "0" };
        var StartPositionImgAzioneMaxischermo = { top: "90px", left: "180px", opacity: "0", height: "200px" };
        var StartPositionImgAzioneEntraMaxischermo = { top: "90px", left: "180px", opacity: "0", height: "200px" };
        var StartPositionImgAzioneEsceMaxischermo = { top: "-90px", left: "180px", opacity: "0", height: "200px" };
        var StartPositionImgGiocatoreMaxischermo = { top: "100px", opacity: "1", height: "150px", left: "105px" };
        var StartPositionImgSponsorMaxischermo = { top: "1px", left: "400px", opacity: "0", height: "88px" };
        var StartPositionImgSquadraMaxischermo = { top: "-90px", left: "8px", opacity: "0" };

        var ViewPositionNumeroGiocatoreMaxischermo = { top: "0px", opacity: "1" };
        var ViewPositionNomeGiocatoreMaxischermo = { top: "0px", left: "330px", opacity: "1" };
        var ViewPositionImgAzioneMaxischermo = { top: "-10px", opacity: "1" };
        var ViewPositionImgAzioneEntraMaxischermo = { top: "-40px", opacity: "1" };
        var ViewPositionImgAzioneEsceMaxischermo = { top: "-70px", opacity: "1" };
        var ViewPositionImgGiocatoreMaxischermo = { top: "0px", opacity: "1" };
        var ViewPositionImgSponsorMaxischermo = { top: "1px", left: "1050px", opacity: "1" };
        var ViewPositionImgSquadraMaxischermo = { top: "1px", opacity: "1" };

        var EndPositionNumeroGiocatoreMaxischermo = { top: "-90px", left: "210px", opacity: "0" };
        var EndPositionNomeGiocatoreMaxischermo = { top: "0px", left: "360px", opacity: "0" };
        var EndPositionImgAzioneMaxischermo = { top: "90px", left: "180px", opacity: "0", height: "200px" };
        var EndPositionImgAzioneEntraMaxischermo = { top: "-90px", left: "180px", opacity: "0", height: "200px" };
        var EndPositionImgAzioneEsceMaxischermo = { top: "90px", left: "180px", opacity: "0", height: "200px" };

        var EndPositionImgGiocatoreMaxischermo = { top: "100px", opacity: "1", height: "150px", left: "105px" };
        var EndPositionImgSponsorMaxischermo = { top: "1px", left: "1050px", opacity: "0" };
        var EndPositionImgSquadraMaxischermo = { top: "-90px", left: "8px", opacity: "0" };



        var codaAnimazioneMaxischermo = [];

        var StatoAnimazioneMaxischermo = "";


        class clsAnimazioneMaxischermo {
            constructor() {
                StatoAnimazioneMaxischermo = "Smontato";
                this.Evento = null
                this.Giocatore = null;
                this.Squadra = null;

            }


            Monta(Evento) {

                console.log(JSON.stringify(Evento))
                console.log(JSON.stringify(RosaSquadra))
                this.Evento = Evento;

                if (this.Evento.fk_int_Giocatore > 0) {
                    this.Giocatore = RosaSquadra[this.Evento.fk_int_Squadra][this.Evento.fk_int_Giocatore];
                }
                if (this.Evento.fk_int_GiocatoreSecondario > 0) {
                    this.GiocatoreSecondario = RosaSquadra[this.Evento.fk_int_Squadra][this.Evento.fk_int_GiocatoreSecondario];
                }

                this.Squadra = SettingSquadra[this.Evento.fk_int_Squadra];

                console.log(StatoAnimazioneMaxischermo);
                if (StatoAnimazioneMaxischermo == "Smontato") {



                    StatoAnimazioneMaxischermo = "Montaggio";



                    switch (this.Evento.fk_int_TipoEventoMatch) {
                        case 4: //caso della sostituzione


                            $(".InfoMaxischermo").append("<img  class='imgSquadraMaxischermo' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                            $(".InfoMaxischermo").append("<img  class='imgSponsorMaxischermo' src='/img/sponsor/1.png' />");

                            $(".InfoMaxischermo").append("<img  class='imgGiocatoreMaxischermo' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                            $(".InfoMaxischermo").append("<img  class='imgGiocatoreSecondarioMaxischermo' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.GiocatoreSecondario.nva_Numero + ".png' />");

                            $(".InfoMaxischermo").append("<img  class='imgAzioneEntraMaxischermo' src='/img/azione/entra.png' />");
                            $(".InfoMaxischermo").append("<img  class='imgAzioneEsceMaxischermo' src='/img/azione/esce.png' />");

                            $(".InfoMaxischermo").append("<div class='numeroGiocatoreMaxischermo'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                            $(".InfoMaxischermo").append("<div class='numeroGiocatoreSecondarioMaxischermo'><span>" + this.GiocatoreSecondario.nva_Numero + "</span></div>");
                            $(".InfoMaxischermo").append("<div class='nomeGiocatoreMaxischermo'><span class='spannomeGiocatoreMaxischermo'>" + this.Giocatore.nva_Nome + ' ' + this.Giocatore.nva_Cognome + "</span></div>");
                            $(".InfoMaxischermo").append("<div class='nomeGiocatoreSecondarioMaxischermo'><span class='spannomeGiocatoreSecondarioMaxischermo'>" + this.GiocatoreSecondario.nva_Nome + ' ' + this.GiocatoreSecondario.nva_Cognome + "</span></div>");


                            fitty('.spannomeGiocatoreMaxischermo', { maxSize: 90, multiLine: false });
                            fitty('.spannomeGiocatoreSecondarioMaxischermo', { maxSize: 90, multiLine: false });



                            $(".InfoMaxischermo").animate({ 'opacity': '1' }, 100)
                            $(".imgSquadraMaxischermo").css(StartPositionimgSquadraMaxischermo).animate(ViewPositionimgSquadraMaxischermo, 200).promise().then(function () {
                                $(".imgSponsorMaxischermo").css(StartPositionimgSponsorMaxischermo).animate(ViewPositionimgSponsorMaxischermo, 200).promise().then(function () {
                                    $(".numeroGiocatoreMaxischermo").css(StartPositionnumeroGiocatoreMaxischermo).animate(ViewPositionnumeroGiocatoreMaxischermo, 200).promise().then(function () {
                                        $(".imgGiocatoreMaxischermo").css(StartPositionimgGiocatoreMaxischermo).animate(ViewPositionimgGiocatoreMaxischermo, 200).promise().then(function () {
                                            $(".imgAzioneEsceMaxischermo").css(StartPositionimgAzioneEsceMaxischermo).animate(ViewPositionimgAzioneEsceMaxischermo, 200).promise().then(function () {
                                                $(".nomeGiocatoreMaxischermo").css(StartPositionnomeGiocatoreMaxischermo).animate(ViewPositionnomeGiocatoreMaxischermo, 200).promise().then(function () {
                                                    setTimeout(function () {
                                                        $(".numeroGiocatoreMaxischermo").animate(EndPositionnumeroGiocatoreMaxischermo, 200).promise().then(function () {
                                                            $(".imgGiocatoreMaxischermo").animate(EndPositionimgGiocatoreMaxischermo, 200).promise().then(function () {
                                                                $(".imgAzioneEsceMaxischermo").animate(EndPositionimgAzioneEsceMaxischermo, 200).promise().then(function () {
                                                                    $(".nomeGiocatoreMaxischermo").animate(EndPositionnomeGiocatoreMaxischermo, 200).promise().then(function () {
                                                                        $(".numeroGiocatoreSecondarioMaxischermo").css(StartPositionnumeroGiocatoreMaxischermo).animate(ViewPositionnumeroGiocatoreMaxischermo, 200).promise().then(function () {
                                                                            $(".imgGiocatoreSecondarioMaxischermo").css(StartPositionimgGiocatoreMaxischermo).animate(ViewPositionimgGiocatoreMaxischermo, 200).promise().then(function () {
                                                                                $(".imgAzioneEntraMaxischermo").css(StartPositionimgAzioneEntraMaxischermo).animate(ViewPositionimgAzioneEntraMaxischermo, 200).promise().then(function () {
                                                                                    $(".nomeGiocatoreSecondarioMaxischermo").css(StartPositionnomeGiocatoreMaxischermo).animate(ViewPositionnomeGiocatoreMaxischermo, 200).promise().then(function () {
                                                                                        StatoAnimazioneMaxischermo = "Montato";
                                                                                        setTimeout(function () {
                                                                                            Animazione.Smonta();

                                                                                        }, 3000);

                                                                                    });
                                                                                });
                                                                            });
                                                                        });
                                                                    });
                                                                });
                                                            });
                                                        });
                                                    }, 3000);
                                                });
                                            });
                                        });
                                    });
                                });

                            });

                            break;
                        case 2:
                        case 3:
                            //se devo animare una ammonizione oppure una espulsione


                            $(".InfoMaxischermo").append("<img  class='imgSquadraMaxischermo' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                            $(".InfoMaxischermo").append("<img  class='imgSponsorMaxischermo' src='/img/sponsor/1.png' />");
                            $(".InfoMaxischermo").append("<img  class='imgGiocatoreMaxischermo' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                            $(".InfoMaxischermo").append("<img  class='imgAzioneMaxischermo' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");
                            $(".InfoMaxischermo").append("<div class='numeroGiocatoreMaxischermo'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                            $(".InfoMaxischermo").append("<div class='nomeGiocatoreMaxischermo'><span class='spannomeGiocatoreMaxischermo'>" + this.Giocatore.nva_Nome + ' ' + this.Giocatore.nva_Cognome + "</span></div>");


                            fitty('.spannomeGiocatoreMaxischermo', { maxSize: 90, multiLine: false });

                            $(".InfoMaxischermo").animate({ 'opacity': '1' }, 100)
                            $(".imgSquadraMaxischermo").css(StartPositionimgSquadraMaxischermo).animate(ViewPositionimgSquadraMaxischermo, 200).promise().then(function () {
                                $(".numeroGiocatoreMaxischermo").css(StartPositionnumeroGiocatoreMaxischermo).animate(ViewPositionnumeroGiocatoreMaxischermo, 200).promise().then(function () {
                                    $(".imgGiocatoreMaxischermo").css(StartPositionimgGiocatoreMaxischermo).animate(ViewPositionimgGiocatoreMaxischermo, 200).promise().then(function () {
                                        $(".imgAzioneMaxischermo").css(StartPositionimgAzioneMaxischermo).animate(ViewPositionimgAzioneMaxischermo, 200).promise().then(function () {
                                            $(".imgSponsorMaxischermo").css(StartPositionimgSponsorMaxischermo).animate(ViewPositionimgSponsorMaxischermo, 200).promise().then(function () {
                                                $(".nomeGiocatoreMaxischermo").css(StartPositionnomeGiocatoreMaxischermo).animate(ViewPositionnomeGiocatoreMaxischermo, 200).promise().then(function () {
                                                    StatoAnimazioneMaxischermo = "Montato";
                                                    setTimeout(function () {
                                                        Animazione.Smonta();

                                                    }, 4000);

                                                });
                                            });
                                        });
                                    });
                                });

                            });

                            break;
                        case 1:

                            if (this.Evento.fk_int_Giocatore > 0) {

                                $(".InfoMaxischermo").append("<img  class='imgSquadraMaxischermo' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");
                                $(".InfoMaxischermo").append("<img  class='imgSponsorMaxischermo' src='/img/sponsor/1.png' />");
                                $(".InfoMaxischermo").append("<img  class='imgGiocatoreMaxischermo' src='/img/players/" + this.Squadra.nva_PathAnimazione + "/" + this.Giocatore.nva_Numero + ".png' />");
                                $(".InfoMaxischermo").append("<img  class='imgAzioneMaxischermo' src='/img/azione/" + this.Evento.fk_int_TipoEventoMatch + ".png' />");
                                $(".InfoMaxischermo").append("<div class='numeroGiocatoreMaxischermo'><span>" + this.Giocatore.nva_Numero + "</span></div>");
                                $(".InfoMaxischermo").append("<div class='nomeGiocatoreMaxischermo'><span class='spannomeGiocatoreMaxischermo'>" + this.Giocatore.nva_Nome + ' ' + this.Giocatore.nva_Cognome + "</span></div>");


                                fitty('.spannomeGiocatoreMaxischermo', { maxSize: 90, multiLine: false });

                                $(".InfoMaxischermo").animate({ 'opacity': '1' }, 100)
                                $(".imgSquadraMaxischermo").css(StartPositionimgSquadraMaxischermo).animate(ViewPositionimgSquadraMaxischermo, 200).promise().then(function () {
                                    $(".numeroGiocatoreMaxischermo").css(StartPositionnumeroGiocatoreMaxischermo).animate(ViewPositionnumeroGiocatoreMaxischermo, 200).promise().then(function () {
                                        $(".imgGiocatoreMaxischermo").css(StartPositionimgGiocatoreMaxischermo).animate(ViewPositionimgGiocatoreMaxischermo, 200).promise().then(function () {
                                            $(".imgAzioneMaxischermo").css(StartPositionimgAzioneMaxischermo).animate(ViewPositionimgAzioneMaxischermo, 200).promise().then(function () {
                                                $(".imgSponsorMaxischermo").css(StartPositionimgSponsorMaxischermo).animate(ViewPositionimgSponsorMaxischermo, 200).promise().then(function () {
                                                    $(".nomeGiocatoreMaxischermo").css(StartPositionnomeGiocatoreMaxischermo).animate(ViewPositionnomeGiocatoreMaxischermo, 200).promise().then(function () {
                                                        StatoAnimazioneMaxischermo = "Montato";
                                                        setTimeout(function () {
                                                            Animazione.Smonta();

                                                        }, 4000);

                                                    });
                                                });
                                            });
                                        });
                                    });

                                });

                            } else {
                                $(".InfoMaxischermo").append("<img  class='imgSquadraMaxischermo' src='/img/squadre/" + this.Evento.fk_int_Squadra + ".png' />");

                                $(".InfoMaxischermo").append("<img  class='imgGoalMaxischermo' src='/img/azione/goal.png' />");

                                $(".InfoMaxischermo").animate({ 'opacity': '1' }, 100)
                                $(".imgSquadraMaxischermo").css(StartPositionimgSquadraMaxischermo).animate(ViewPositionimgSquadraMaxischermo, 200).promise().then(function () {
                                    $(".imgGoalMaxischermo").css({ top: "-100px", left: "100px", opacity: "1" }).animate({ top: "-100px", left: "1000px", opacity: "1" }, 2000).promise().then(function () {
                                        $(".imgGoalMaxischermo").animate({ top: "-100px", left: "100px", opacity: "1" }, 2000).promise().then(function () {
                                            $(".imgGoalMaxischermo").animate({ top: "-100px", left: "1000px", opacity: "1" }, 2000).promise().then(function () {
                                                $(".imgGoalMaxischermo").animate({ top: "-100px", left: "100px", opacity: "0" }, 2000).promise().then(function () {
                                                    StatoAnimazioneMaxischermo = "Montato";
                                                    Animazione.Smonta();
                                                });
                                            });
                                        });
                                    });
                                });




                            }
                            break;
                    }


                } else {
                    //////////console.log("attendi la coda caro!");
                }
            }

            Smonta() {
                //////////console.log("smonto!");
                if (StatoAnimazioneMaxischermo == "Montato") {
                    StatoAnimazioneMaxischermo = "Smontaggio";


                    //ammonizione ed espulsione
                    switch (this.Evento.fk_int_TipoEventoMatch) {
                        case 4: //caso della sostituzione
                            $(".imgGiocatoreSecondarioMaxischermo").animate(EndPositionimgGiocatoreMaxischermo, 200).promise().then(function () {
                                $(".imgSquadraMaxischermo").animate(EndPositionimgSquadraMaxischermo, 200).promise().then(function () {
                                    $(".numeroGiocatoreSecondarioMaxischermo").animate(EndPositionnumeroGiocatoreMaxischermo, 200).promise().then(function () {
                                        $(".imgAzioneEntraMaxischermo").animate(EndPositionimgAzioneEntraMaxischermo, 200).promise().then(function () {
                                            $(".nomeGiocatoreSecondarioMaxischermo").animate(EndPositionnomeGiocatoreMaxischermo, 200).promise().then(function () {
                                                $(".imgSponsorMaxischermo").animate({ EndPositionimgSponsorMaxischermo }, 200).promise().then(function () {
                                                    if (codaAnimazione.length == 0) {

                                                        $(".InfoMaxischermo").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                                            $(".InfoMaxischermo").empty();
                                                            StatoAnimazioneMaxischermo = "Smontato";
                                                            Anima();
                                                        })
                                                    } else {
                                                        $(".InfoMaxischermo").empty();
                                                        StatoAnimazioneMaxischermo = "Smontato";
                                                        Anima();
                                                    }
                                                });
                                            });
                                        });
                                    });
                                });
                            });

                            break;
                        case 2:
                        case 3:

                            $(".imgGiocatoreMaxischermo").animate(EndPositionimgGiocatoreMaxischermo, 200).promise().then(function () {
                                $(".imgSquadraMaxischermo").animate(EndPositionimgSquadraMaxischermo, 200).promise().then(function () {
                                    $(".numeroGiocatoreMaxischermo").animate(EndPositionnumeroGiocatoreMaxischermo, 200).promise().then(function () {
                                        $(".imgAzioneMaxischermo").animate(EndPositionimgAzioneMaxischermo, 200).promise().then(function () {
                                            $(".nomeGiocatoreMaxischermo").animate(EndPositionnomeGiocatoreMaxischermo, 200).promise().then(function () {
                                                $(".imgSponsorMaxischermo").animate({ EndPositionimgSponsorMaxischermo }, 200).promise().then(function () {
                                                    if (codaAnimazione.length == 0) {

                                                        $(".InfoMaxischermo").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                                            $(".InfoMaxischermo").empty();
                                                            StatoAnimazioneMaxischermo = "Smontato";
                                                            Anima();
                                                        })
                                                    } else {
                                                        $(".InfoMaxischermo").empty();
                                                        StatoAnimazioneMaxischermo = "Smontato";
                                                        Anima();
                                                    }
                                                });
                                            });
                                        });
                                    });
                                });
                            });

                            break;
                        case 1:
                            if (this.Evento.fk_int_Giocatore > 0) {

                                $(".imgGiocatoreMaxischermo").animate(EndPositionimgGiocatoreMaxischermo, 200).promise().then(function () {
                                    $(".imgSquadraMaxischermo").animate(EndPositionimgSquadraMaxischermo, 200).promise().then(function () {
                                        $(".numeroGiocatoreMaxischermo").animate(EndPositionnumeroGiocatoreMaxischermo, 200).promise().then(function () {
                                            $(".imgAzioneMaxischermo").animate(EndPositionimgAzioneMaxischermo, 200).promise().then(function () {
                                                $(".nomeGiocatoreMaxischermo").animate(EndPositionnomeGiocatoreMaxischermo, 200).promise().then(function () {
                                                    $(".imgSponsorMaxischermo").animate({ EndPositionimgSponsorMaxischermo }, 200).promise().then(function () {
                                                        if (codaAnimazione.length == 0) {
                                                            $(".InfoMaxischermo").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                                                $(".InfoMaxischermo").empty();
                                                                StatoAnimazioneMaxischermo = "Smontato";
                                                                Anima();
                                                            })
                                                        } else {
                                                            $(".InfoMaxischermo").empty();
                                                            StatoAnimazioneMaxischermo = "Smontato";
                                                            Anima();
                                                        }

                                                    });
                                                });
                                            });
                                        });
                                    });
                                });

                            } else {
                                $(".imgGoalMaxischermo").animate({ EndPositionimgSponsorMaxischermo }, 200).promise().then(function () {
                                    if (codaAnimazione.length == 0) {
                                        $(".InfoMaxischermo").animate({ 'opacity': '0' }, 200).promise().then(function () {
                                            $(".InfoMaxischermo").empty();
                                            StatoAnimazioneMaxischermo = "Smontato";
                                            Anima();
                                        })
                                    } else {
                                        $(".InfoMaxischermo").empty();
                                        StatoAnimazioneMaxischermo = "Smontato";
                                        Anima();
                                    }
                                });

                            }
                            break;
                    }




                }
            }


            Proporziona(dato) {
                if (altezza == 90) {
                    return dato
                }
            }
        }






        //


    </script>










    <script>

        /*
        tag:variabiliglobali

        ██╗   ██╗ █████╗ ██████╗ ██╗ █████╗ ██████╗ ██╗██╗     ██╗
        ██║   ██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║██║     ██║
        ██║   ██║███████║██████╔╝██║███████║██████╔╝██║██║     ██║
        ╚██╗ ██╔╝██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║██║     ██║
         ╚████╔╝ ██║  ██║██║  ██║██║██║  ██║██████╔╝██║███████╗██║
          ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚═╝╚══════╝╚═╝

         ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     ██╗
        ██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     ██║
        ██║  ███╗██║     ██║   ██║██████╔╝███████║██║     ██║
        ██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     ██║
        ╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗██║
         ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝
        */
        var NumeroSceneDaCaricare = 3;
        var ArraySceneCache = [];
        var ValorePassatoFattoreVelocitaVideo = -1;
        var FattoreVelocitaVideo = 100;
        var contatorePerFattoreVelocitaOrologio = 0;
        var zindex = 0;
        var intIncrementalePeriodo = 0;
        var OffsetTemporaleManualeDiretto = 0;
        var Punteggio = {}
        var OffsetTemporaleManuale = 0;
        var ForzaScenaSpecifica = 0;
        var ScenaRiprodotta = {};
        var IntervalOrologio;
        var AvanzaOrologio = 0;
        var ArrayPeriodi = {}
        var ScenaDaSincronizzare = {}
        var MinutiRecupero = 0;
        var elaborato = 1;


        $(document).ready(function () {
            GetSelected("tb_Match");
            GetSelected("tb_Playlist");
            //   getPeriodi();

            PopolaSettingMatch();
            //$("#Animazione").hide();
            intIstanteInizialePlaylist = 0;


            //  ScriviLog("Carico parametri iniziali")

            $.when(CaricaParametriIniziali()).then(function (x) {
                AnimaMaxischermo({ "fk_int_Giocatore": 90, "fk_int_GiocatoreSecondario": 0, "fk_int_Squadra": 8, "fk_int_TipoEventoMatch": 2, "int_MinutoPartita": 1 });

            });


            var AnimazioneMaxischermo = new clsAnimazioneMaxischermo();

            function AnimaMaxischermo(g) {
                if (g != undefined) {
                    codaAnimazioneMaxischermo.push(g);
                }

                if (codaAnimazioneMaxischermo.length > 0 && StatoAnimazioneMaxischermo == 'Smontato') {

                    AnimazioneMaxischermo.Monta(codaAnimazioneMaxischermo[0]);

                    codaAnimazioneMaxischermo.shift();

                }



            }







        });








    </script>

</body>
</html>