﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>

    <link rel="stylesheet" href="~/css/player.css" asp-append-version="true" />

</head>
<body style="background-color:black;  ">
    <!--
    overflow-x: hidden !important; overflow-y: hidden !important; padding:0px 0px 0px 0px;
        clip-path: inset(0% 0% 0% 0%); width:1920px;height:1080px;
        -->
    <style>
        #CanvasVideoMatch {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
        }
    </style>


    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>


    <button class="btnCarica">carica prova</button>
    <button class="btnRimuovi">rimuovi</button>


    <div id="CanvasVideoMatch">



    </div>

    <script>
        $(document).ready(function () {

            var ArrSceneLed = JSON.parse('[{"id":53257,"sid":1999,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":1,"nid":53258,"est":"p","tsc":0,"vel":100},{"id":53258,"sid":2000,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":1,"nid":53259,"est":"c","tsc":0,"vel":100},{"id":53259,"sid":2001,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":1,"nid":53260,"est":"c","tsc":0,"vel":100},{"id":53260,"sid":2002,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":1,"nid":53261,"est":"c","tsc":0,"vel":100},{"id":53261,"sid":2003,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":1,"nid":53262,"est":"c","tsc":0,"vel":100},{"id":53262,"sid":2004,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":1,"nid":53263,"est":"c","tsc":0,"vel":100},{"id":53263,"sid":2005,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":1,"nid":53264,"est":"c","tsc":0,"vel":100},{"id":53264,"sid":2006,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":1,"nid":53265,"est":"c","tsc":0,"vel":100},{"id":53265,"sid":2007,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":1,"nid":53266,"est":"c","tsc":0,"vel":100},{"id":53266,"sid":2008,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":1,"nid":53267,"est":"c","tsc":0,"vel":100},{"id":53267,"sid":2009,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":1,"nid":-1,"est":"u","tsc":0,"vel":100},{"id":53268,"sid":2059,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":2,"nid":53269,"est":"p","tsc":0,"vel":100},{"id":53269,"sid":2060,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":2,"nid":53270,"est":"c","tsc":0,"vel":100},{"id":53270,"sid":2061,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":2,"nid":53271,"est":"c","tsc":0,"vel":100},{"id":53271,"sid":2062,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":2,"nid":53272,"est":"c","tsc":0,"vel":100},{"id":53272,"sid":2063,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":2,"nid":53273,"est":"c","tsc":0,"vel":100},{"id":53273,"sid":2064,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":2,"nid":53274,"est":"c","tsc":0,"vel":100},{"id":53274,"sid":2065,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":2,"nid":53275,"est":"c","tsc":0,"vel":100},{"id":53275,"sid":2066,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":2,"nid":53276,"est":"c","tsc":0,"vel":100},{"id":53276,"sid":2067,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":2,"nid":53277,"est":"c","tsc":0,"vel":100},{"id":53277,"sid":2068,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":2,"nid":53278,"est":"c","tsc":0,"vel":100},{"id":53278,"sid":2069,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":2,"nid":-1,"est":"u","tsc":0,"vel":100},{"id":53279,"sid":2099,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":3,"nid":53280,"est":"p","tsc":0,"vel":100},{"id":53280,"sid":2100,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":3,"nid":53281,"est":"c","tsc":0,"vel":100},{"id":53281,"sid":2101,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":3,"nid":53282,"est":"c","tsc":0,"vel":100},{"id":53282,"sid":2102,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":3,"nid":53283,"est":"c","tsc":0,"vel":100},{"id":53283,"sid":2103,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":3,"nid":53284,"est":"c","tsc":0,"vel":100},{"id":53284,"sid":2104,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":3,"nid":53285,"est":"c","tsc":0,"vel":100},{"id":53285,"sid":2105,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":3,"nid":53286,"est":"c","tsc":0,"vel":100},{"id":53286,"sid":2106,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":3,"nid":53287,"est":"c","tsc":0,"vel":100},{"id":53287,"sid":2107,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":3,"nid":53288,"est":"c","tsc":0,"vel":100},{"id":53288,"sid":2108,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":3,"nid":53289,"est":"c","tsc":0,"vel":100},{"id":53289,"sid":2109,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":3,"nid":-1,"est":"u","tsc":0,"vel":100},{"id":53290,"sid":2282,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":4,"nid":53291,"est":"p","tsc":0,"vel":100},{"id":53291,"sid":2283,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":4,"nid":53292,"est":"c","tsc":0,"vel":100},{"id":53292,"sid":2284,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":4,"nid":53293,"est":"c","tsc":0,"vel":100},{"id":53293,"sid":2285,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":4,"nid":53294,"est":"c","tsc":0,"vel":100},{"id":53294,"sid":2286,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":4,"nid":53295,"est":"c","tsc":0,"vel":100},{"id":53295,"sid":2287,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":4,"nid":53296,"est":"c","tsc":0,"vel":100},{"id":53296,"sid":2288,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":4,"nid":53297,"est":"c","tsc":0,"vel":100},{"id":53297,"sid":2289,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":4,"nid":53298,"est":"c","tsc":0,"vel":100},{"id":53298,"sid":2290,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":4,"nid":53299,"est":"c","tsc":0,"vel":100},{"id":53299,"sid":2291,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":4,"nid":53300,"est":"c","tsc":0,"vel":100},{"id":53300,"sid":2292,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":4,"nid":-1,"est":"u","tsc":0,"vel":100},{"id":53301,"sid":2322,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":5,"nid":53302,"est":"p","tsc":0,"vel":100},{"id":53302,"sid":2323,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":5,"nid":53303,"est":"c","tsc":0,"vel":100},{"id":53303,"sid":2324,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":5,"nid":53304,"est":"c","tsc":0,"vel":100},{"id":53304,"sid":2325,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":5,"nid":53305,"est":"c","tsc":0,"vel":100},{"id":53305,"sid":2326,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":5,"nid":53306,"est":"c","tsc":0,"vel":100},{"id":53306,"sid":2327,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":5,"nid":53307,"est":"c","tsc":0,"vel":100},{"id":53307,"sid":2328,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":5,"nid":53308,"est":"c","tsc":0,"vel":100},{"id":53308,"sid":2329,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":5,"nid":-1,"est":"u","tsc":0,"vel":100},{"id":53309,"sid":2382,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":6,"nid":53310,"est":"p","tsc":0,"vel":100},{"id":53310,"sid":2383,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":6,"nid":53311,"est":"c","tsc":0,"vel":100},{"id":53311,"sid":2384,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":6,"nid":53312,"est":"c","tsc":0,"vel":100},{"id":53312,"sid":2385,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":6,"nid":53313,"est":"c","tsc":0,"vel":100},{"id":53313,"sid":2386,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":6,"nid":53314,"est":"c","tsc":0,"vel":100},{"id":53314,"sid":2387,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":6,"nid":-1,"est":"u","tsc":0,"vel":100},{"id":53315,"sid":2565,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":7,"nid":53316,"est":"p","tsc":0,"vel":100},{"id":53316,"sid":2566,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":7,"nid":53317,"est":"c","tsc":0,"vel":100},{"id":53317,"sid":2567,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":7,"nid":53318,"est":"c","tsc":0,"vel":100},{"id":53318,"sid":2568,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":7,"nid":53319,"est":"c","tsc":0,"vel":100},{"id":53319,"sid":2569,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":7,"nid":53320,"est":"c","tsc":0,"vel":100},{"id":53320,"sid":2570,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":7,"nid":53321,"est":"c","tsc":0,"vel":100},{"id":53321,"sid":2571,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":7,"nid":53322,"est":"c","tsc":0,"vel":100},{"id":53322,"sid":2572,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":7,"nid":53323,"est":"c","tsc":0,"vel":100},{"id":53323,"sid":2573,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":7,"nid":53324,"est":"c","tsc":0,"vel":100},{"id":53324,"sid":2574,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":7,"nid":53325,"est":"u","tsc":0,"vel":100},{"id":53325,"sid":2575,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":7,"nid":-1,"est":"c","tsc":1,"vel":100},{"id":53326,"sid":2605,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":8,"nid":53327,"est":"p","tsc":0,"vel":100},{"id":53327,"sid":2606,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":8,"nid":53328,"est":"c","tsc":0,"vel":100},{"id":53328,"sid":2607,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":8,"nid":53329,"est":"c","tsc":0,"vel":100},{"id":53329,"sid":2608,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":8,"nid":53330,"est":"c","tsc":0,"vel":100},{"id":53330,"sid":2609,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":8,"nid":53331,"est":"c","tsc":0,"vel":100},{"id":53331,"sid":2610,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":8,"nid":53332,"est":"c","tsc":0,"vel":100},{"id":53332,"sid":2611,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":8,"nid":53333,"est":"c","tsc":0,"vel":100},{"id":53333,"sid":2612,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":8,"nid":53334,"est":"c","tsc":0,"vel":100},{"id":53334,"sid":2613,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":8,"nid":53335,"est":"c","tsc":0,"vel":100},{"id":53335,"sid":2614,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":8,"nid":53336,"est":"c","tsc":0,"vel":100},{"id":53336,"sid":2615,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":8,"nid":53337,"est":"c","tsc":0,"vel":100},{"id":53337,"sid":2616,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":8,"nid":53338,"est":"c","tsc":0,"vel":100},{"id":53338,"sid":2617,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":8,"nid":53339,"est":"c","tsc":0,"vel":100},{"id":53339,"sid":2618,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":8,"nid":53340,"est":"c","tsc":0,"vel":100},{"id":53340,"sid":2619,"rid":526,"msecd":10000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":8,"nid":-1,"est":"u","tsc":0,"vel":100},{"id":53341,"sid":2620,"rid":526,"msecd":13000,"msdi":0,"msdf":0,"start":0,"stop":0,"iper":15,"nid":-1,"est":"c","tsc":2,"vel":100}]');
            var s = 0;

            var v = 0;

            function IsPrimaScena(s) {
                if (s.est == 'p') {
                    return 1;
                } else {
                    return 0;
                }
            }

            $(".btnCarica").click(function () {
                s = 0;
                v = 0;  
                for (i = 0; i < ArrSceneLed.length; i++) {
                let l = ArrSceneLed[i];
                    
                    caricaScenaLed(l);

                    $("#scenaLed_" + l.sid).css("zIndex",i)
                }
            });


            $(".btnRimuovi").click(function () {
 
                for (i = 0; i < ArrSceneLed.length; i++) {
                    let l = ArrSceneLed[i];
                    SafetyUnloadLed(l.sid)
                }
            });


            function SafetyUnloadLed(sid) {
                $("#scenaLed_" + sid).find("video").attr("src", "");
             //   $("#scenaLed_" + sid).html("");
                $("#scenaLed_" + sid).remove();
            }



           

            
        function riproduciScenaLed(objScenaRiproduzione) {
 

            $("#scenaLed_" + objScenaRiproduzione.sid).children('video').each(function () {


                this.play();

            });

       
        }



            function caricaScenaLed(objScenaRiproduzione) {

                $("#CanvasVideoMatch").append("<div data-sid='" + objScenaRiproduzione.sid + "' ID='scenaLed_" + objScenaRiproduzione.sid + "' class='scenaLed tipoScena_" + objScenaRiproduzione.tsc + " primaScena_" + IsPrimaScena(objScenaRiproduzione) + "'   ></div>");

                $.ajax({
                    url: "/AcquisizioneSceneLed",
                    data: "fk_int_ScenaRiproduzione=" + objScenaRiproduzione.id
                }).done(function (data) {
              
                      caricamentoScaglionatoVideoLed(JSON.parse(data), objScenaRiproduzione);
                   
                });

            }



            function caricamentoScaglionatoVideoLed(ListaVideo, objScenaRiproduzione) {
                v = 0
   
                $.each(ListaVideo, function (index, val) {
                   v = v +10
    
                    setTimeout(function () {
                        $("#scenaLed_" + objScenaRiproduzione.sid).append('<video muted width="' + val.int_W + '" height="' + val.int_H + '" style="margin-left:' + val.int_MarginL + 'px; margin-top:' + val.int_MarginT + 'px;" control><source src="' + val.nva_PahtFile + '" /></video>');
                   }, v );

                });

                setTimeout(function () {
                    riproduciScenaLed(objScenaRiproduzione)
                } , v );

            }


        });



    </script>

</body>
</html>