﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>


    <link rel="stylesheet" href="~/lib/textillate-master/assets/animate.css" />
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>


    </environment>



    <script src="~/lib/textillate-master/assets/jquery.fittext.js"></script>
    <script src="~/lib/textillate-master/assets/jquery.lettering.js"></script>
   
    <script src="~/lib/textillate-master/jquery.textillate.js"></script>

    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
</head>
<body style="background-color:black;">
    <button class="btnMoltiplica">moltiplica</button>
    <button class="btnAvvia">avvia</button>

    <div class="contenitoreVideo">
        <video muted control class="provaClonazione"><source src='\video\Cremonese\PARDGROUP_1920.mp4' /></video>



    </div>

    <script>
        $(document).ready(function () {

            //$(".btnMoltiplica").click(function () {

            //    for (i = 0; i < 100; i++) {

            //        console.log(i);

            //        $(".provaClonazione").first().clone().appendTo(".contenitoreVideo");

            //    }


            //});


            //$(".btnAvvia").click(function () {

            //   // $(".provaClonazione").get(0).play()

            //    //$(".provaClonazione").play()
            //    $(".contenitoreVideo").children('video').each(function () {
            //        $(this).get(0).play();
            //    });
            //});


            $(".btnAvvia").click(function () {
                $(".provaClonazione").get(0).play()
              
                //// $(".provaClonazione").get(0).play()

                ////$(".provaClonazione").play()
                //$(".contenitoreVideo").children('video').each(function () {
                //    $(this).get(0).play();
                //});
            });

            $(".btnMoltiplica").click(function () {
          
                $(".provaClonazione").get(0).playbackRate = 1.02;
                //// $(".provaClonazione").get(0).play()

                ////$(".provaClonazione").play()
                //$(".contenitoreVideo").children('video').each(function () {
                //    $(this).get(0).play();
                //});
            });


        });



    </script>


</body>
</html>