﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>

    <link rel="stylesheet" href="~/css/player.css" asp-append-version="true" />

</head>
<body style="background-color:black;  ">
<!--
overflow-x: hidden !important; overflow-y: hidden !important; padding:0px 0px 0px 0px; 
    clip-path: inset(0% 0% 0% 0%); width:1920px;height:1080px;
    -->
    <style>
        #CanvasVideoMatch {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;

        }
    </style>


    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>


    <button class="btnAvvia">avvia</button>

    <div id="CanvasVideoMatch">
        <div id="scenaMatch_1999" class="scenaMatch tipoScena_0 primaScena_1"><video muted width="1760" height="90" style="margin-left:-820px; margin-top:810px;" ><source src="/video/Cremonese/zucchi_1760.mp4" type="video/mp4"></video><video muted width="1760" height="90" style="margin-left:1100px; margin-top:720px;" ><source src="/video/Cremonese/zucchi_1760.mp4" type="video/mp4"></video><video muted width="1760" height="90" style="margin-left:-980px; margin-top:900px;" ><source src="/video/Cremonese/zucchi_1760.mp4" type="video/mp4"></video><video muted width="1760" height="90" style="margin-left:940px; margin-top:810px;" ><source src="/video/Cremonese/zucchi_1760.mp4" type="video/mp4"></video><video muted width="1760" height="90" style="margin-left:-1260px; margin-top:90px;" ><source src="/video/Cremonese/zucchi_1760.mp4" type="video/mp4"></video><video muted width="1760" height="90" style="margin-left:660px; margin-top:0px;" ><source src="/video/Cremonese/zucchi_1760.mp4" type="video/mp4"></video><video muted width="1760" height="90" style="margin-left:-1420px; margin-top:180px;" ><source src="/video/Cremonese/zucchi_1760.mp4" type="video/mp4"></video><video muted width="1760" height="90" style="margin-left:500px; margin-top:90px;" ><source src="/video/Cremonese/zucchi_1760.mp4" type="video/mp4"></video><video muted width="960" height="90" style="margin-left:420px; margin-top:450px;" ><source src="/video/Cremonese/CENTRALE960_960.mp4" type="video/mp4"></video><video muted width="480" height="90" style="margin-left:960px; margin-top:900px;" ><source src="/video/Cremonese/LEGA_480.mp4" type="video/mp4"></video><video muted width="480" height="90" style="margin-left:0px; margin-top:0px;" ><source src="/video/Cremonese/LEGA_480.mp4" type="video/mp4"></video><video muted width="1920" height="90" style="margin-left:-1740px; margin-top:360px;" ><source src="/video/Cremonese/INT_1920.mp4" type="video/mp4"></video><video muted width="1920" height="90" style="margin-left:180px; margin-top:270px;" ><source src="/video/Cremonese/INT_1920.mp4" type="video/mp4"></video><video muted width="1800" height="90" style="margin-left:-1740px; margin-top:450px;" ><source src="/video/Cremonese/zucchi_1800.mp4" type="video/mp4"></video><video muted width="1800" height="90" style="margin-left:180px; margin-top:360px;" ><source src="/video/Cremonese/zucchi_1800.mp4" type="video/mp4"></video><video muted width="1800" height="90" style="margin-left:-540px; margin-top:540px;" ><source src="/video/Cremonese/zucchi_1800.mp4" type="video/mp4"></video><video muted width="1800" height="90" style="margin-left:1380px; margin-top:450px;" ><source src="/video/Cremonese/zucchi_1800.mp4" type="video/mp4"></video><video muted width="1920" height="90" style="margin-left:-660px; margin-top:630px;" ><source src="/video/Cremonese/INT_1920.mp4" type="video/mp4"></video><video muted width="1920" height="90" style="margin-left:1260px; margin-top:540px;" ><source src="/video/Cremonese/INT_1920.mp4" type="video/mp4"></video><video muted width="1760" height="90" style="margin-left:-660px; margin-top:720px;" ><source src="/video/Cremonese/BKT_INTERVALLO_1760.mp4" type="video/mp4"></video><video muted width="1760" height="90" style="margin-left:1260px; margin-top:630px;" ><source src="/video/Cremonese/BKT_INTERVALLO_1760.mp4" type="video/mp4"></video><video muted width="1760" height="90" style="margin-left:-1580px; margin-top:270px;" ><source src="/video/Cremonese/BKT_INTERVALLO_1760.mp4" type="video/mp4"></video><video muted width="1760" height="90" style="margin-left:340px; margin-top:180px;" ><source src="/video/Cremonese/BKT_INTERVALLO_1760.mp4" type="video/mp4"></video></div>
    </div>

    <script>
        $(document).ready(function () {




            $(".btnAvvia").click(function () {
                var a = 0;
                $("#scenaMatch_1999").children('video').each(function () {
                    if (a < 40) {
                        this.play();
                    }
                    a = a + 1;
                });
            });




        });



    </script>

</body>
</html>