﻿@{
    Layout = null;
    ViewData["Title"] = "visualizzo filmati";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player</title>

    <link rel="stylesheet" href="~/css/player.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/textillate-master/assets/animate.css" asp-append-version="true" />

    <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>

</head>
<body style="background-color:black;overflow-x: hidden !important; overflow-y: hidden !important; padding:0px 0px 0px 0px;  clip-path: inset(0% 0% 0% 0%); width:1920px;height:1080px;  ">


    @Html.Raw(ViewBag.HtmlEventiPartita)



    <div Id="CanvasLuminosita">
        @Html.Raw(ViewBag.HtmlLuminosità)
    </div>
    <!--
        <div Id="CanvasGrafica">
            @Html.Raw(ViewBag.HtmlGrafica)
        </div>
    -->
    <div Id="CanvasClockScore" style="visibility:hidden ">
        <div class='Timer' style='position: absolute; border:none; width:180px; height:90px; margin-left:1680px; margin-top:0px;'></div>
        <div class='Punteggio' style='position: absolute; border:none; width:360px; height:90px; margin-left:1260px; margin-top:450px;'>

    <div class='div_logoPunteggio '><img class='img_punteggioCasa' /></div><div class='div_testoPunteggio'></div><div class='div_logoPunteggio'><img class='img_punteggioOspiti' /></div>


        </div>
        <div class='Timer' style='position: absolute; border:none; width:180px; height:90px; margin-left:60px; margin-top:990px;'></div>
    </div>


    <div Id="CanvasResult" style="visibility:hidden ">
        @Html.Raw(ViewBag.HtmlResult)
    </div>

    <div Id="CanvasVideoMatch"></div>
    <div Id="CanvasVideoIntrattenimento"></div>



    <style>
        #CanvasVideoMatch {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 5;
        }

        #CanvasVideoIntrattenimento {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 5;
        }

        #CanvasLuminosita {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 50;
        }

        #CanvasClockScore {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 7;
        }

        #CanvasResult {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 6;
            clip-path: inset(0% 0% 0% 0%);
        }

        #CanvasGrafica {
            position: absolute;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 8;
            clip-path: inset(0% 0% 0% 0%);
        }
    </style>


    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>

    <script src="~/lib/fitty/fitty.min.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.fittext.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/assets/jquery.lettering.js" asp-append-version="true"></script>
    <script src="~/lib/textillate-master/jquery.textillate.js" asp-append-version="true"></script>



    @*<script src="assets/jquery.fittext.js"></script>
        <script src="assets/jquery.lettering.js"></script>
        <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
        <script src="jquery.textillate.js"></script>



        <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>

    *@


    <style>

        .EventiPartita {
            /* border: 1px solid black;*/
            position: absolute;
            background-color: white;
            color: black;
            clip-path: inset(0% 0% 0% 0%);
            z-index: 100;
            opacity: 0;
        }

            .EventiPartita img {
                position: absolute;
                opacity: 0;
            }

        .imgSquadra {
            height: 88px;
        }

        .imgSponsor {
            height: 88px;
        }

        .imgGiocatore {
            /*height: 88px;*/
            z-index: 11;
        }

        .imgAzione {
            /*height: 88px;*/
            z-index: 10;
        }

        .numeroGiocatore {
            position: absolute;
            width: 100px;
            height: 90px;
            z-index: 140;
            line-height: 90px;
            text-align: center;
            /*border: 1px solid black;*/
            opacity: 0;
        }

            .numeroGiocatore span {
                font-family: Helvetica;
                visibility: visible;
                color: black;
                font-size: 100px;
                font-weight: bold;
            }

        .nomeGiocatore {
            position: absolute;
            margin-top: -5px;
            padding: 0px 0px 0px 0px;
            width: 700px;
            height: 90px;
            z-index: 140;
            text-align: center;
            opacity: 0;
        }

            .nomeGiocatore span {
                font-family: Helvetica;
                color: black;
                display: inline-block;
                line-height: 90px;
                font-weight: bold;
            }
    </style>




    <style>
    .Punteggio {
        border: 1px solid #ff0000 !important;
        display: table;
        table-layout: fixed;
    }
    .Punteggio > div {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .div_logoPunteggio img {
     height: 80px
    }

    .div_testoPunteggio {
        width: 180px;
        height: 90px;
        font-family: Arial;
        font-weight:bold;
        line-height: 88px;
        color: white;
    }
    .div_logoPunteggio {
     width: 90px
    }
    </style>






    <script type="text/javascript">
        'use strict';


        var SettingMatch = {}
        var SettingSquadra = {}
        var Punteggio = {}


    
        $(document).ready(function () {



            SettingMatch = JSON.parse('{"nva_Titolo":"25/05/2019 Stadio: Giovanni Zini Cremonese (Cremonese VS Empoli)","ID":8,"IsSelected":1,"fk_int_SquadraCasa":7,"fk_int_SquadraOspite":18,"nva_NomeSquadraCasa":"Cremonese","nva_NomeSquadraOspite":"Empoli","nva_DataOra":"25/05/2019","fk_int_Stadio":26}');
            SettingSquadra = JSON.parse('{ "7": [{ "ID": 7, "nva_PathAnimazione": "Cremonese", "nva_Nome": "Cremonese", "fk_int_StadioDefault": 26, "nva_UserId": null, "dtt_Modifica": null, "dtt_Cancellazione": null }], "18": [{ "ID": 18, "nva_PathAnimazione": "Empoli", "nva_Nome": "Empoli", "fk_int_StadioDefault": 1, "nva_UserId": null, "dtt_Modifica": null, "dtt_Cancellazione": null }] }');

            var pp = '{ "7": 8 , "18": 8 }';
            Punteggio = JSON.parse(pp);


            $(".img_punteggioCasa").attr('src', "/img/squadre/" + SettingMatch.fk_int_SquadraCasa + ".png");
            $(".img_punteggioOspiti").attr('src', "/img/squadre/" + SettingMatch.fk_int_SquadraOspite + ".png");
            $("#CanvasClockScore").css("visibility", "visible");


            function CambiaPunteggio(newPunteggio) {
                console.log(newPunteggio);
                newPunteggio = JSON.parse(newPunteggio);
                if (Punteggio != newPunteggio) {
                    Punteggio = newPunteggio;
                    var StringaPunteggio = Punteggio[SettingMatch.fk_int_SquadraCasa] + "-" + Punteggio[SettingMatch.fk_int_SquadraOspite];
                    $(".div_testoPunteggio").text(StringaPunteggio);
                    if (StringaPunteggio.length > 5) {
                        $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "10px" })
                    } else if (StringaPunteggio.length > 4) {
                        $(".div_testoPunteggio").css({ "letter-spacing": "0px", "font-size": "70px" })
                    } else if (StringaPunteggio.length > 3) {
                        $(".div_testoPunteggio").css({ "letter-spacing": "2px", "font-size": "80px"})
                    }else{
                        $(".div_testoPunteggio").css({ "letter-spacing": "10px", "font-size": "88px" })
                    }
                }
            }


            var myVar = setInterval(function () {
                pp = JSON.parse(pp)
                pp[SettingMatch.fk_int_SquadraCasa] = pp[SettingMatch.fk_int_SquadraCasa] + 1
                pp[SettingMatch.fk_int_SquadraOspite] = pp[SettingMatch.fk_int_SquadraOspite] + 2
                pp = JSON.stringify(pp)
                CambiaPunteggio(pp);
            }, 1000);
            
       

        })






    </script>




</body>
</html>