﻿
.closeSpan {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
    background: #64dbff;
    height: 100%;
    display: inline-block;
    margin-right: 6px;
    border-radius: 6px;
    padding:4px;
    pointer-events:none;
}

.w-70 {
    width: 70% !important;
}

.w-20 {
    width: 20% !important;
}

.btn-smallfont{
    font-size: 0.75rem;
}