﻿


.Punteggio {
    /* border: 1px solid #ff0000 !important; */
    display: table;
    table-layout: fixed;
}

.Punteggio > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.div_logoPunteggio img {
    height: 80px;
}

.div_testoPunteggio {
    width: 180px;
    height: 90px;
    font-family: Arial;
    font-weight: bold;
    line-height: 88px;
    color: white;
}

.div_logoPunteggio {
    width: 90px
}



#CanvasClockScore > .Timer {
    font-family: Arial;
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
}

.LogoTimerLed {
    text-align: center;
}

.TempoOrologioLed {

    position: absolute;
    color:white;
}



.EventiPartitaCentrale {
    /* border: 1px solid black;*/
    position: absolute;
    background-color: white;
    color: black;
    clip-path: inset(0% 0% 0% 0%);
    z-index: 100;
    opacity: 0;
}

    .EventiPartitaCentrale img {
        position: absolute;
        opacity: 0;
    }

.imgSquadraLed {
    height: 88px;
}

.imgSponsorLed {
    height: 88px;
}

.imgGiocatoreLed {
    /*height: 88px;*/
    z-index: 11;
}

.imgGiocatoreSecondarioLed {
    /*height: 88px;*/
    z-index: 11;
}

.imgAzioneLed {
    /*height: 88px;*/
    z-index: 10;
}

.imgAzioneEntraLed {
    /*height: 88px;*/
    z-index: 10;
}

.imgAzioneEsceLed {
    /*height: 88px;*/
    z-index: 10;
}

.numeroGiocatoreLed {
    position: absolute;
    width: 100px;
    height: 90px;
    z-index: 140;
    line-height: 90px;
    text-align: center;
    /*border: 1px solid black;*/
    opacity: 0;
}

    .numeroGiocatoreLed span {
        font-family: Helvetica;
        visibility: visible;
        color: black;
        font-size: 100px;
        font-weight: bold;
    }

.numeroGiocatoreSecondarioLed {
    position: absolute;
    width: 100px;
    height: 90px;
    z-index: 140;
    line-height: 90px;
    text-align: center;
    /*border: 1px solid black;*/
    opacity: 0;
}

    .numeroGiocatoreSecondarioLed span {
        font-family: Helvetica;
        visibility: visible;
        color: black;
        font-size: 100px;
        font-weight: bold;
    }

.nomeGiocatoreLed {
    position: absolute;
    margin-top: -5px;
    padding: 0px 0px 0px 0px;
    width: 700px;
    height: 90px;
    z-index: 140;
    text-align: center;
    opacity: 0;
}

.nomeGiocatoreSecondario {
    position: absolute;
    margin-top: -5px;
    padding: 0px 0px 0px 0px;
    width: 700px;
    height: 90px;
    z-index: 140;
    text-align: center;
    opacity: 0;
}

.nomeGiocatoreLed span {
    font-family: Helvetica;
    color: black;
    display: inline-block;
    line-height: 90px;
    font-weight: bold;
}

.nomeGiocatoreSecondario span {
    font-family: Helvetica;
    color: black;
    display: inline-block;
    line-height: 90px;
    font-weight: bold;
}