﻿#TimerPunteggioMaxischermo {
    z-index:120;
    background-color:black;
    font-family: 'Lucida Sans';
}

.immagineLogoSquadraMaxischermo {
    width: 350px;
    height: 350px;
    position: absolute;
    text-align: center;
}

    .immagineLogoSquadraMaxischermo.casa {
        left: 200px;
        top: 200px;
    }

    .immagineLogoSquadraMaxischermo.ospite {
        right: 200px;
        top: 200px;
    }

.testoPunteggioMaxischermo {
    line-height:0;
    /*border: 1px solid #b6ff00;*/

    position: absolute;
    text-align: center;
    top: 350px;

    left: 500px;
    right: 500px;
    color: white;
}

.timerMaxischermo {
    line-height:0;
    position: absolute;
    text-align: center;
    top: 70px;
    left: 800px;
    right: 800px;
    padding:0px 0px 0px 0px;
    /*border: 1px solid #b6ff00;*/
}

.timerMaxischermo p {
    color: white
}

.testoPunteggioMaxischermo p {
    color: white
}



.minutoMaxischermo {
    font-size: 60px;
    width: 90px;
}

.tabellaEventiMaxischermo {
    width: 700px;
   
    /*border:1px solid #b6ff00;*/
}

.divEventiMaxischermo {
    width: 700px;

    position: absolute;
   
    color: white;
    text-align: left;
}

    .divEventiMaxischermo p {
        font-size: 60px;
    }


    .divEventiMaxischermo.casa {
        left: 100px;
        top: 560px;
    }

    .divEventiMaxischermo.ospite {
        right: 10px;
        top: 560px;
    }

.immagineLogoSquadraMaxischermo img {
    max-width: 350px;
    max-height: 350px;
}

.nomeGiocatoreMaxischermo {
    max-width: 500px;
    padding-left: 6px;
}
