﻿.TileClockScore {
    position: absolute;
    /*border: 1px solid #ff0000;*/
}

.TileEventiPartita {
    position: absolute;
    /*border: 1px solid #00ff00;*/
}


.TileLuminosita {
    position: absolute;
    /*border:1px solid #ffd800;*/
    background-color:black;
    z-index:1000 !important;
    opacity:0.5;
}


.SerieBKTLedCentrale img{
    width:720px;
    height:90px;

}

.DivImgSquadraCasaLedCentrale {

    /*border: 1px solid #00ffff;*/
    text-align: center;
    position: absolute;
    height: 90px;
    width: 90px;
    left: 10px;
    top: 0px;
    line-height:85px;
}

.DivImgSquadraOspiteLedCentrale {

    /*border: 1px solid #00ff00;*/
    text-align: center;
    position: absolute;
    height: 90px;
    width: 90px;
    right: 0px;
    top: 0px;
    line-height: 85px;
}

.ImgSquadraCasaLedCentrale {
    vertical-align: middle;
    max-width: 95%;
    max-height: 95%;
}

.ImgSquadraOspiteLedCentrale {
    vertical-align: middle;
    max-width: 95%;
    max-height: 95%;
}

.DivTxtPunteggioCentrale {
    /*  border: 1px solid #00ff00;*/
    right: 90px;
    left: 100px;
    height: 90px;
    position: absolute;
}

.TxtPunteggioCentrale {
    /*  border: 1px solid #00ff00;*/
    letter-spacing: -2px;
    font-size: 90px;
    text-align: center;
    color: #fff;
    font-family: Montserrat;
    font-weight: bold;
    line-height: 80px;

}




/* laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale */
/* laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale */
/* laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale */
/* laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale */
/* laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale */
/* laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale */
/* laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale */
/* laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale */
/* laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale */
/* laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale  laterale */

.DivImgSquadraCasaLedLaterale {
    /*border: 1px solid #00ffff;*/
    text-align: center;
    position: absolute;
    height: 90px;
    width: 90px;
    left: 0px;
    top: 0px;
    line-height: 85px;
}

.DivImgSquadraOspiteLedLaterale {
    /*border: 1px solid #00ff00;*/
    text-align: center;
    position: absolute;
    height: 90px;
    width: 90px;
    right: 0px;
    top: 0px;
    line-height: 85px;
}

.ImgSquadraCasaLedLaterale {
    vertical-align: middle;
    max-width: 95%;
    max-height: 95%;
}

.ImgSquadraOspiteLedLaterale {
    vertical-align: middle;
    max-width: 95%;
    max-height: 95%;
}

.DivTxtPunteggioLaterale {
    /*  border: 1px solid #00ff00;*/
    right: 90px;
    left: 90px;
    height: 90px;
    position: absolute;
}

.TxtPunteggioLaterale {
    /*  border: 1px solid #00ff00;*/
    letter-spacing: -2px;
    font-size: 100px;
    text-align: center;
    color: #fff;
    font-family: Montserrat;
    font-weight: bold;
    line-height: 80px;
}

.DivPunteggioLedLaterale{
    background-color:black;


}

.DivRispettoLedLaterale video{
    width:480px;
    height:90px;

}
/* fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - */
/* fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - */
/* fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - */
/* fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - */
/* fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - */
/* fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - */
/* fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - */
/* fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - fine laterale - */
#CanvasClockScore > .TimerLed {
    font-family: Arial;
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
}

.LogoTimerLed {
    text-align: center;
}

.TempoOrologioLed {
    width: 180px;
    top: 39px;
    height: 48px;
    margin-top: 0px;
    line-height  : 48px;
    font-size: 48px;
    position: absolute;
    color: white;

}

#CanvasEventiPartita{

    z-index:20;
}

.EventiPartitaCentrale {
    /* border: 1px solid black;*/
    position: absolute;
    background-color: black;
    color: black;
    clip-path: inset(0% 0% 0% 0%);
    z-index: 100;
    opacity: 0;
    background-color: #003524;
}




.EventiPartitaCentrale img {
    position: absolute;
    opacity: 0;
}

.imgSquadraLedCentrale {
    height: 86px;
}

.imgSponsorLedCentrale {
    height: 86px;
}

.imgGiocatoreLedCentrale {
    /*height: 88px;*/
    z-index: 0;
}

.imgGiocatoreSecondarioLedCentrale {
    /*height: 88px;*/
    z-index: 0;
}

.imgAzioneLedCentrale {
    /*height: 88px;*/
    z-index: 10;
}

.imgAzioneEntraLedCentrale {
    /*height: 88px;*/
    z-index: 10;
}

.imgAzioneEsceLedCentrale {
    /*height: 88px;*/
    z-index: 10;
}

.numeroGiocatoreLedCentrale {
    position: absolute;
    width: 120px;
    height:90px;
    z-index: 140;
    line-height: 80px;
    text-align: center;
    /*border: 1px solid black;*/
    opacity: 0;
}

.numeroGiocatoreLedCentrale span {
    -webkit-text-stroke: 1px black;
    font-family: Montserrat;
    visibility: visible;
    color: white;
    font-size: 80px;
    font-weight: bold;
}










.numeroGiocatoreSecondarioLedCentrale {
    position: absolute;
    width: 120px;
    height: 90px;
    z-index: 140;
    line-height: 80px;
    text-align: center;
    /*border: 1px solid black;*/
    opacity: 0;
}

    .numeroGiocatoreSecondarioLedCentrale span {
        -webkit-text-stroke: 1px black;
        font-family: Montserrat;
        visibility: visible;
        color: white;
        font-size: 80px;
        font-weight: bold;
    }

.nomeGiocatoreLedCentrale {
    position: absolute;
    /*margin-top: -5px;*/
    /*border:1px solid #ffd800;*/
    padding: 0px 0px 0px 0px;
    width: 430px;
    height: 90px;
    z-index: 140;
    text-align: center;
    opacity: 0;

}

.nomeGiocatoreSecondarioLedCentrale {
    position: absolute;
    /*margin-top: -5px;*/
    /*border:1px solid #ffd800;*/
    padding: 0px 0px 0px 0px;
    width: 430px;
    height: 90px;
    z-index: 140;
    text-align: center;
    opacity: 0;
}

.nomeGiocatoreLedCentrale span {
    font-family: Montserrat;
    color: white;
    display: inline-block;
    line-height: 80px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

.nomeGiocatoreSecondarioLedCentrale span {
    font-family: Montserrat;
    color: white;
    display: inline-block;
    line-height: 80px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 1px black;
}










.EventiPartitaLaterale {
    /* border: 1px solid black;*/
    position: absolute;
   /* background-color: black;*/
    color: black;
    clip-path: inset(0% 0% 0% 0%);
    z-index: 100;
    opacity: 0;
    background-color:#003524;
}





.EventiPartitaLaterale img {
    position: absolute;
    opacity: 0;
}

.imgSquadraLedLaterale {
    height: 88px;
}

.imgSponsorLedLaterale {
    height: 88px;
}

.imgGiocatoreLedLaterale {
    /*height: 88px;*/
    z-index: 0;
}

.imgGiocatoreSecondarioLedLaterale {
    /*height: 88px;*/
    z-index: 0;
}

.imgAzioneLedLaterale {
    /*height: 88px;*/
    z-index: 10;
}

.imgAzioneEntraLedLaterale {
    /*height: 88px;*/
    z-index: 10;
}

.imgAzioneEsceLedLaterale {
    /*height: 88px;*/
    z-index: 10;
}

.numeroGiocatoreLedLaterale {
    position: absolute;
    width: 100px;
    height: 90px;
    z-index: 140;
    line-height: 80px;
    text-align: center;
    /*border: 1px solid black;*/
    opacity: 0;
}

    .numeroGiocatoreLedLaterale span {
        -webkit-text-stroke: 1px black;
        font-family: Montserrat;
        visibility: visible;
        color: white;
        font-size: 80px;
     font-weight:bold;
    }

.numeroGiocatoreSecondarioLedLaterale {
    position: absolute;
    width: 100px;
    height: 90px;
    z-index: 140;
    line-height:80px;
    text-align: center;
    /*border: 1px solid black;*/
    opacity: 0;
}

.numeroGiocatoreSecondarioLedLaterale span {
    -webkit-text-stroke: 1px black;
    font-family: Montserrat;
    visibility: visible;
    color: white;
    font-size: 80px;
    font-weight: bold;
}

.nomeGiocatoreLedLaterale {
    position: absolute;
    /*margin-top: -5px;*/
    line-height:80px;
    padding: 0px 0px 0px 0px;
    width: 700px;
    height: 90px;
    z-index: 140;
    text-align: left;
    opacity: 0;
}

.nomeGiocatoreSecondarioLedLaterale {
    position: absolute;
    /*margin-top: -5px;*/
    padding: 0px 0px 0px 0px;
    width: 700px;
    height: 90px;
    z-index: 140;
    text-align: left;
    opacity: 0;
}

.nomeGiocatoreLedLaterale span {
    font-family: Montserrat;
    color: white;
    display: inline-block;
    line-height: 90px;
    font-weight: bold;
    text-align: left;
}

.nomeGiocatoreSecondarioLedLaterale span {
    font-family: Montserrat;
    color: white;
    display: inline-block;
    line-height: 90px;
    font-weight: bold;
    text-align: left;
}





























































































































.PresentazioneGiocatoriDinamica {
    height: 90px;
    position: absolute;
    top: 0px;
    text-align: center;
    color: white;
    /*border: 1px solid #440000;*/
    clip-path: inset(0% 0% 0% 0%);
    z-index: 100;

   
}


.ImgPresentazioneGiocatore {
   vertical-align:text-top;
}

.PresentazioneGiocatoriDinamica_w1200 {
    width: 1200px;

}
.PresentazioneGiocatoriDinamica_w1400 {
    width: 1400px;
  
}

.SpanNomePresentazioneGiocatore {
    height: 90px;
    position: relative;
    font-family: Montserrat;
    font-weight: bold;
    /* border: 1px solid #004400;*/
    color: white;
    font-size: 70px;
    -webkit-text-stroke: 1px black;
}
.SpanNumeroPresentazioneGiocatore {
    height: 90px;
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    font-size: 70px;
    -webkit-text-stroke: 1px black;
}

.SpanCognomePresentazioneGiocatore {
    height: 90px;
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    font-size: 70px;
    -webkit-text-stroke: 1px black;
}
































































/*



.EventiPartitaMaxischermo {
   
    position: absolute;
    background-color: black;
    color: black;
    clip-path: inset(0% 0% 0% 0%);
    z-index: 100;
    opacity: 0;
    background-color: #003524;
}




    .EventiPartitaMaxischermo img {
        position: absolute;
        opacity: 0;
    }

.imgSquadraMaxischermo {
    height: 86px;
}

.imgSponsorMaxischermo {
    height: 86px;
}

.imgGiocatoreMaxischermo {

    z-index: 0;
}

.imgGiocatoreSecondarioMaxischermo {
   
    z-index: 0;
}

.imgAzioneMaxischermo {

    z-index: 10;
}

.imgAzioneEntraMaxischermo {

    z-index: 10;
}

.imgAzioneEsceMaxischermo {
   
    z-index: 10;
}

.numeroGiocatoreMaxischermo {
    position: absolute;
    width: 120px;
    height: 90px;
    z-index: 140;
    line-height: 80px;
    text-align: center;
 
    opacity: 0;
}

    .numeroGiocatoreMaxischermo span {
        -webkit-text-stroke: 1px black;
        font-family: Montserrat;
        visibility: visible;
        color: white;
        font-size: 80px;
        font-weight: bold;
    }










.numeroGiocatoreSecondarioMaxischermo {
    position: absolute;
    width: 120px;
    height: 90px;
    z-index: 140;
    line-height: 80px;
    text-align: center;

    opacity: 0;
}

    .numeroGiocatoreSecondarioMaxischermo span {
        -webkit-text-stroke: 1px black;
        font-family: Montserrat;
        visibility: visible;
        color: white;
        font-size: 80px;
        font-weight: bold;
    }

.nomeGiocatoreMaxischermo {
    position: absolute;
 
    padding: 0px 0px 0px 0px;
    width: 430px;
    height: 90px;
    z-index: 140;
    text-align: center;
    opacity: 0;
}

.nomeGiocatoreSecondarioMaxischermo {
    position: absolute;

    padding: 0px 0px 0px 0px;
    width: 430px;
    height: 90px;
    z-index: 140;
    text-align: center;
    opacity: 0;
}

.nomeGiocatoreMaxischermo span {
    font-family: Montserrat;
    color: white;
    display: inline-block;
    line-height: 80px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

.nomeGiocatoreSecondarioMaxischermo span {
    font-family: Montserrat;
    color: white;
    display: inline-block;
    line-height: 80px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 1px black;
}

*/














/*



.imgGiocatoreLedCentrale {
    z-index: 10;
}

.imgSquadraLedCentrale {
    z-index: 10;
}

.imgSponsorLedCentrale {
    z-index: 10;
}

.imgAzioneLedCentrale {
    z-index: 10;
}

.numeroGiocatoreLedCentrale {
    z-index: 10;
}

.nomeGiocatoreLedCentrale {
    z-index: 10;
}

.EventiPartitaCentrale {
    z-index: 10;
}*/