﻿
.DivPunteggioLedCentrale {
    position: absolute;
    border: none;
    width: 576px;
    height: 48px;
    top: 0px;
    left: 0px;
}

.DivRispettoLedCentrale {
    position: absolute;
    visibility: hidden;
    border: none;
    width: 576px;
    height: 48px;
    top: 0px;
    left: 0px;
}

.DivSerieBKTLedCentrale {
    position: absolute;
    visibility: hidden;
    border: none;
    width: 576px;
    height: 48px;
    top: 0px;
    left: 0px;
}


.TxtPunteggioCentrale {
    text-align: center;
    color: #fff;
    width: 192px;
    height: 48px;
    font-family: Montserrat;
    font-weight: bold;
    left: 380px;
    top: 0px;
    position: absolute;
    font-size: 40px;
}

 .TxtPunteggioLaterale {
    text-align: center;
    color: #fff;
    width: 256px;
    height: 48px;
    font-family: Montserrat;
    font-weight: bold;
    left: 0px;
    top: 0px;
    position: absolute;
    font-size: 40px;
}

.DivPunteggioLedLaterale {
    position: absolute;
    border: none;
    width: 256px;
    height: 48px;
    top: 0px;
    left: 0px;
}

.DivRispettoLedLaterale {
    position: absolute;
    border: none;
    width: 256px;
    height: 48px;
    top: 0px;
    left: 0px;
}

.DivSerieBKTLedLaterale {
    position: absolute;
    border: none;
    width: 256px;
    height: 48px;
    top: 0px;
    left: 0px;
}


.ImgSerieBKTLedCentrale {
    left: 0px;
    height: 46px;
    position: absolute;
}





.ImgSquadraCasaLedCentrale {
    left: 380px;
    height: 46px;
    position: absolute
}

.ImgSquadraOspiteLedCentrale {
    right: 1px;
    height: 46px;
    position: absolute
}


.ImgSquadraCasaLedLaterale {
    left: 1px;
    height: 46px;
    position: absolute;
}


.ImgSquadraOspiteLedLaterale {
    right: 1px;
    height: 46px;
    position: absolute;
}






.PunteggioLedLaterale{ border:1px solid #fff}

.PunteggioLedCentrale {
    border: 1px solid #fff
}


.div_logoPunteggio img {
    height: 80px;
}

.div_testoPunteggio {
    width: 96px;
    height: 48px;
    font-family: Montserrat;
    font-weight: bold;
    line-height: 22px;
    color: white;
}

.div_logoPunteggio {
    width: 48px
}



#CanvasClockScore > .TimerLed {
    font-family: Arial;
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
}

.LogoTimerLed {
    text-align: center;
}

.TempoOrologioLed {
    width: 96px;
    top: 22px;
    height: 26px;
    margin-top: 0px;
    line-height  : 27px;
    font-size: 23px;
    position: absolute;
    color: white;
}



.EventiPartitaCentrale {
    /* border: 1px solid black;*/
    position: absolute;
    background-color: black;
    color: black;
    clip-path: inset(0% 0% 0% 0%);
    z-index: 100;
    opacity: 0;
    background-color: #003524;
}




.EventiPartitaCentrale img {
    position: absolute;
    opacity: 0;
}

.imgSquadraLedCentrale {
    height: 46px;
}

.imgSponsorLedCentrale {
    height: 46px;
}

.imgGiocatoreLedCentrale {
    /*height: 88px;*/
    z-index: 0;
}

.imgGiocatoreSecondarioLedCentrale {
    /*height: 88px;*/
    z-index: 0;
}

.imgAzioneLedCentrale {
    /*height: 88px;*/
    z-index: 10;
}

.imgAzioneEntraLedCentrale {
    /*height: 88px;*/
    z-index: 10;
}

.imgAzioneEsceLedCentrale {
    /*height: 88px;*/
    z-index: 10;
}

.numeroGiocatoreLedCentrale {
    position: absolute;
    width: 65px;
    height: 48px;
    z-index: 140;
    line-height: 48px;
    text-align: center;
    /*border: 1px solid black;*/
    opacity: 0;
}

.numeroGiocatoreLedCentrale span {
    -webkit-text-stroke: 1px black;
    font-family: Montserrat;
    visibility: visible;
    color: white;
    font-size: 53px;
    font-weight: bold;
}

.numeroGiocatoreSecondarioLedCentrale {
    position: absolute;
    width: 53px;
    height: 48px;
    z-index: 140;
    line-height: 48px;
    text-align: center;
    /*border: 1px solid black;*/
    opacity: 0;
}

.numeroGiocatoreSecondarioLedCentrale span {
    -webkit-text-stroke: 1px black;
    font-family: Montserrat;
    visibility: visible;
    color: white;
    font-size: 53px;
    font-weight: bold;
}

.nomeGiocatoreLedCentrale {
    position: absolute;
    /*margin-top: -5px;*/
    padding: 0px 0px 0px 0px;
    width: 373px;
    height: 48px;
    z-index: 140;
    text-align: left;
    opacity: 0;

}

.nomeGiocatoreSecondarioLedCentrale {
    position: absolute;
    /*margin-top: -5px;*/
    padding: 0px 0px 0px 0px;
    width: 373px;
    height: 48px;
    z-index: 140;
    text-align: left;
    opacity: 0;

}

.nomeGiocatoreLedCentrale span {
    font-family: Montserrat;
    color: white;
    display: inline-block;
    line-height: 48px;
    font-weight: bold;
    text-align: left;
    -webkit-text-stroke: 1px black;
}

.nomeGiocatoreSecondarioLedCentrale span {
    font-family: Montserrat;
    color: white;
    display: inline-block;
    line-height: 48px;
    font-weight: bold;
    text-align: left;
    -webkit-text-stroke: 1px black;
}










.EventiPartitaLaterale {
    /* border: 1px solid black;*/
    position: absolute;
    background-color: black;
    color: black;
    clip-path: inset(0% 0% 0% 0%);
    z-index: 100;
    opacity: 0;
    background-color:#003524;
}





.EventiPartitaLaterale img {
    position: absolute;
    opacity: 0;
}

.imgSquadraLedLaterale {
    height: 46px;
}

.imgSponsorLedLaterale {
    height: 46px;
}

.imgGiocatoreLedLaterale {
    /*height: 88px;*/
    z-index: 0;
}

.imgGiocatoreSecondarioLedLaterale {
    /*height: 88px;*/
    z-index: 0;
}

.imgAzioneLedLaterale {
    /*height: 88px;*/
    z-index: 10;
}

.imgAzioneEntraLedLaterale {
    /*height: 88px;*/
    z-index: 10;
}

.imgAzioneEsceLedLaterale {
    /*height: 88px;*/
    z-index: 10;
}

.numeroGiocatoreLedLaterale {
    position: absolute;
    width: 53px;
    height: 48px;
    z-index: 140;
    line-height: 48px;
    text-align: center;
    /*border: 1px solid black;*/
    opacity: 0;
}

    .numeroGiocatoreLedLaterale span {
        -webkit-text-stroke: 1px black;
        font-family: Montserrat;
        visibility: visible;
        color: white;
        font-size: 53px;
        font-weight: bold;
    }

.numeroGiocatoreSecondarioLedLaterale {
    position: absolute;
    width: 53px;
    height: 48px;
    z-index: 140;
    line-height: 48px;
    text-align: center;
    /*border: 1px solid black;*/
    opacity: 0;
}

.numeroGiocatoreSecondarioLedLaterale span {
    -webkit-text-stroke: 1px black;
    font-family: Montserrat;
    visibility: visible;
    color: white;
    font-size: 53px;
    font-weight: bold;
}

.nomeGiocatoreLedLaterale {
    position: absolute;
    /*margin-top: -5px;*/
    padding: 0px 0px 0px 0px;
    width: 373px;
    height: 48px;
    z-index: 140;
    text-align: left;
    opacity: 0;
}

.nomeGiocatoreSecondarioLedLaterale {
    position: absolute;
    /*margin-top: -5px;*/
    padding: 0px 0px 0px 0px;
    width: 373px;
    height: 48px;
    z-index: 140;
    text-align: left;
    opacity: 0;
}

.nomeGiocatoreLedLaterale span {
    font-family: Montserrat;
    color: white;
    display: inline-block;
    line-height: 48px;
    font-weight: bold;
    text-align: left;
}

.nomeGiocatoreSecondarioLedLaterale span {
    font-family: Montserrat;
    color: white;
    display: inline-block;
    line-height: 48px;
    font-weight: bold;
    text-align: left;
}



