﻿/*INIZIO RESET CSS*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    /*cursor: none;*/
}






/**/
/* HTML5 display-role reset for older browsers */

/*
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
*/

/*Fine reset CSS*/
















/*
#CanvasClock div {
    position: absolute;
}

.timer {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-family:Arial ;
    font-size: 35px;
}

*/





video {
    position: absolute;
}




/*
.scenaMaxischermo{
    position:absolute;
    top:0px;


}
*/






#CanvasVideoLed {
    position: absolute;
    /*margin-left: 0px;
    margin-top: 0px;*/
    z-index: 0;
    /*width: 1920px;
    height: 2160px;
    clip-path: inset(0% 0% 0% 0%);*/
}

/*
#CanvasVideoMaxischermo {
    position: absolute;
    width: 1920px;
    height: 1080px;
    margin-left: 0px;
    margin-top: 2160px;

    clip-path: inset(0% 0% 0% 0%);
}
*/


#CanvasLuminosita {
    position: absolute;
    /*margin-left: 0px;
    margin-top: 0px;*/
    z-index: 1000;
}

#CanvasClockScore {
    position: absolute;
    /*margin-left: 0px;
    margin-top: 0px;*/
    z-index: 7;
}


/*
#CanvasResult {
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 6;
    clip-path: inset(0% 0% 0% 0%);
}

#CanvasGrafica {
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 8;
    clip-path: inset(0% 0% 0% 0%);
}

*/




