﻿
@{
    
    ViewData["Title"] = "Playlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <nav class="navbar navbar-dark bg-dark mt-1">
        <a class="navbar-brand" href="#"><img src="img/ngm_adv.png" height="40" /></a>  <b id="navbar-titolo"> Importazione playlist da excell</b>


        <a asp-action="index" asp-controller="Home">Consolle controllo</a>


    </nav>



        <table class=" table">
            <thead>
                <tr><td>Citta</td><td>Nome</td><td>Squadra</td><td>Configurazioni</td><td>Azioni</td></tr>
            </thead>
            <tbody></tbody>
        </table>





<div class="modal  fade" id="DettagliConfigCampo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalMd" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Importazione playlist</h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">



            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>







<div class="modal  fade" id="ModalConfigCampo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalMd" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Playlist</h5>
                <div class="loadingRoll spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">


                <form style="margin:10px;" method="POST" enctype="multipart/form-data" id="FormPlaylistXlsx">
                    <div class="form-group row text-center">
                        <div class="col-sm-12">
                            <h5>Importa una nuova playlist</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="FileDaCaricare" class="col-sm-4 col-form-label text-right ">File xlsx</label>
                        <div class="col-sm-7 ">
                            <input type="file" name="FileDaCaricare" data-id="" class="form-control" id="FileDaCaricare">
                        </div>
                        <div class="col-sm-1">  </div>

                    </div>
                    <div class="form-group row  text-center">
                        <div class="col-sm-12">
                          
                            <button type="button" class="btn btn-primary btn-Importa">Importa</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>






<style>
    .modalXl {
        max-width: 80% !important;
    }

    .modalMd {
        max-width: 50% !important;
    }

    .img_ConfigurazioneOk{
        width:30px;
    }

    .loadingRoll{
        margin-left:10px;

    }
</style>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            GetStadi()

            $('body').on('click', '.btn-CaricaConfig', function () {
                $('.Conferma').alert('close');
                $('#ModalConfigCampo').find(".loadingRoll").hide();
                var id = $(this).closest("tr").data("id");
                var NomeSquadra = $(this).closest("tr").find(".NomeSquadra").html();
                var CittaSquadra = $(this).closest("tr").find(".CittaSquadra").html();
                $("#ModalConfigCampo").find(".modal-title").html("File configurazione " + NomeSquadra + " " + CittaSquadra)
                $("#ModalConfigCampo").find("#FileDaCaricare").data("id", id);
                $("#ModalConfigCampo").modal("show");


            });



            $('body').on('click', '.btn-DettagliConfig', function () {
                var id = $(this).closest("tr").data("id");
                var NomeSquadra = $(this).closest("tr").find(".NomeSquadra").html();
                var CittaSquadra = $(this).closest("tr").find(".CittaSquadra").html();


            });




            $('body').on('click', '.btn-Importa', function () {
                $('#ModalConfigCampo').find(".loadingRoll").show();
                var formData = new FormData();
                formData.append('FileDaCaricare', $('#FileDaCaricare')[0].files[0]);
                formData.append('ID', $('#FileDaCaricare').data("id"));


                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "Configurazioni/RicevoFormConfig",
                    data: formData,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function (data) {


                        console.log("SUCCESS : ", data);

                        $('#ModalConfigCampo').find(".loadingRoll").hide();
                        GetStadi()
                            $('#FileDaCaricare').val("")

                            $('#ModalConfigCampo').modal('hide')

                       
                 
                        //alert(data);
                    },
                    error: function (e) {

                        console.log("ERROR : ", e);


                    }
                    });

            });


        });










        function GetStadi() {
            var tbody = $("#tab-stadi").find("tbody");
           return $.ajax({
                url: "Configurazioni/GetStadi"
            }).done(function (data) {
                data = JSON.parse(data);
                tbody.empty();
                $.each(data, function (k, item) {
                    tbody.append('<tr class="stadio" data-id="' + item.ID + '"><td class="CittaSquadra">' + item.nva_Città + '</td><td><b>' + item.nva_Nome + '</b></td><td class="NomeSquadra">' + item.nva_Squadra + '</td><td><img class="img_ConfigurazioneOk" src="' + item.img_ConfigurazioneOk + '" /> </td><td><button type="button" class="btn btn-primary btn-CaricaConfig">Carica disposizione</button>&nbsp;<button type="button" class="btn btn-primary btn-DettagliConfig">Mostra disposizione</button></td></tr>');
                });
            });

        }

    </script>
}




</div>

