﻿
@{
    ViewData["Title"] = "Scene";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-12" style="text-align:center; padding:0;">
        <h1>1° Tempo</h1>
    </div>
</div>

<div class="row">
    <div class="col-12" style="text-align:center; padding:0;">
        <h2>Inserzionisti</h2>
    </div>
</div>

<div class="row">
    <div class="col-6" style="text-align:center; padding:0;">
        <h3>Led</h3>
        <ul id="ListaInserzionistiLed1T"></ul>
    </div>

    <div class="col-6" style="text-align:center; padding:0;">
        <h3>Maxischermo</h3>
        <ul id="ListaInserzionistiMaxischermo1T"></ul>
    </div>
</div>

<div class="row">
    <div class="col-12" style="text-align:center; padding:0;">
        <h2>Scaletta</h2>
    </div>
</div>

<div class="row">
    <div class="col-6" style="text-align:center; padding:0;">
        <h3>Led</h3>
        <ul id="ListaSceneLed1T"></ul>
    </div>

    <div class="col-6" style="text-align:center; padding:0;">
        <h3>Maxischermo</h3>
        <ul id="ListaSceneMaxischermo1T"></ul>
    </div>
</div>

<div class="row">
    <div class="col-12" style="text-align:center; padding:0;">
        <h1>2° Tempo</h1>
    </div>
</div>

<div class="row">
    <div class="col-12" style="text-align:center; padding:0;">
        <h2>Inserzionisti</h2>
    </div>
</div>

<div class="row">
    <div class="col-6" style="text-align:center; padding:0;">
        <h3>Led</h3>
        <ul id="ListaInserzionistiLed2T"></ul>
    </div>

    <div class="col-6" style="text-align:center; padding:0;">
        <h3>Maxischermo</h3>
        <ul id="ListaInserzionistiMaxischermo2T"></ul>
    </div>
</div>

<div class="row">
    <div class="col-12" style="text-align:center; padding:0;">
        <h2>Scaletta</h2>
    </div>
</div>

<div class="row">
    <div class="col-6" style="text-align:center; padding:0;">
        <h3>Led</h3>
        <ul id="ListaSceneLed2T"></ul>
    </div>

    <div class="col-6" style="text-align:center; padding:0;">
        <h3>Maxischermo</h3>
        <ul id="ListaSceneMaxischermo2T"></ul>
    </div>
</div>


<div class="modal fade bd-example-modal-xl" id="finestramodale" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body text-center sourcevideo">



            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>*@
        </div>
    </div>
</div>

<style>
    html {
        overflow-x: hidden;
    }

    body {
        overflow-y: scroll;
    }

    #ListaSceneLed1T {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /*width: 1915px;*/
        position: relative;
    }

        #ListaSceneLed1T li {
            border: 1px solid #555;
            margin: 3px 3px 3px 30px;
            font-size: 15px;
            text-align: left;
            height: 22px;
        }

    #ListaSceneLed2T {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /*width: 1915px;*/
        position: relative;
    }

        #ListaSceneLed2T li {
            border: 1px solid #555;
            margin: 3px 3px 3px 30px;
            font-size: 15px;
            text-align: left;
            height: 22px;
        }


    .bloccata_1 {
        color: #ff0000;
    }


    #ListaSceneMaxischermo1T {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /*width: 1915px;*/
    }

        #ListaSceneMaxischermo1T li {
            border: 1px solid #555;
            margin: 3px 3px 3px 3px;
            padding: 0px;
            font-size: 15px;
            text-align: left;
            height: 22px;
        }

    #ListaSceneMaxischermo2T {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /*width: 1915px;*/
    }

        #ListaSceneMaxischermo2T li {
            border: 1px solid #555;
            margin: 3px 3px 3px 3px;
            padding: 0px;
            font-size: 15px;
            text-align: left;
            height: 22px;
        }


    #ListaInserzionistiLed1T {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /*width: 1915px;*/
        position: relative;
    }

        #ListaInserzionistiLed1T li {
            border: 0px;
            margin: 3px 3px 3px 30px;
            padding: 0px;
            font-size: 15px;
            text-align: left;
            height: 22px;
            cursor:pointer;
        }

    #ListaInserzionistiLed2T {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /*width: 1915px;*/
        position: relative;
    }

        #ListaInserzionistiLed2T li {
            border: 0px;
            margin: 3px 3px 3px 30px;
            padding: 0px;
            font-size: 15px;
            text-align: left;
            height: 22px;
            cursor:pointer;
        }





    #ListaInserzionistiMaxischermo1T {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /*width: 1915px;*/
    }

        #ListaInserzionistiMaxischermo1T li {
            border: 0px;
            margin: 3px 3px 3px 3px;
            padding: 0px;
            font-size: 15px;
            text-align: left;
            height: 22px;
            cursor:pointer;
        }

    #ListaInserzionistiMaxischermo2T {
        list-style-type: none;
        margin: 0;
        padding: 0;
        /*width: 1915px;*/
    }

        #ListaInserzionistiMaxischermo2T li {
            border: 0px;
            margin: 3px 3px 3px 3px;
            padding: 0px;
            font-size: 15px;
            text-align: left;
            height: 22px;
            cursor:pointer;
        }

    /*
            .bloccata_1{
                color: #ff0000;
            }
            */
</style>





@section scripts {
    <script type="text/javascript">
        var fk_int_periodo2stadio = 0
        var TreSecondi = 3

        $(document).ready(function () {

            PopolaListaSceneLed("ListaSceneLed1T", 10, "ListaInserzionistiLed1T","inserzionistaL1T");
            PopolaListaSceneLed("ListaSceneLed2T", 20, "ListaInserzionistiLed2T","inserzionistaL2T");

            PopolaListaSceneMaxischermo("ListaSceneMaxischermo1T", 10, "ListaInserzionistiMaxischermo1T","inserzionistaM1T");
            PopolaListaSceneMaxischermo("ListaSceneMaxischermo2T", 20, "ListaInserzionistiMaxischermo2T","inserzionistaM2T");

            console.log("sono qui");

            $.prototype.loaded = function () {
                this.removeClass("loading")
                this.addClass("loaded")
            };

            $.prototype.loading = function () {

                this.addClass("loading")
            };



            $.prototype.playing = function () {
                this.removeClass("loaded")
                this.addClass("playing")
            };

            $.prototype.played = function () {
                this.removeClass("playing")
                this.addClass("played")
            };



            $('body').on('dblclick', '.scena', function () {
                $('.sourcevideo').empty();
                $('.modal-title').html('ID: ' + $(this).data("id") + ' - Durata: ' + $(this).data("durata") + 'ms - Start: ' + $(this).find(".esecuzione").html())
                $('.sourcevideo').html('<video width="1000" controls ><source src="/video/Empoli/scene/' + $(this).data("id") + '.mp4" type="video/mp4"></source></video>');
                $('.sourcevideo video').get(0).play();
                $('#finestramodale').modal('show');
            });


            $('body').on('click', '.btn_tempo', function () {

                $(".nav-link").removeClass('active');
                $(this).addClass('active');
                fk_int_periodo = $(this).data("fk_int_periodo");
                //console.log($(this).data("fk_int_periodo2stadio"));
                $(".card-title").html($(this).text());
                PopolaListaSceneLed("ListaSceneLed1T", $(this).data("fk_int_periodo"));
                $(".card-title").prepend('<div class="spinner-border" role="status"></div>');
            });





            $("#ListaSceneLed1T").sortable({
                axis: 'y',
                placeholder: "ui-state-highlight",
                start: function (event, ui) {
                    ui.item.removeClass("table-warning");
                    ui.item.addClass("table-danger");
                },


                update: function () {

                    var dataList = $("#ListaSceneLed1T > li.bloccata_0").map(function () {
                        return $(this).data("id");
                    }).get();

                    $.ajax({
                        url: "/Ajax/sp_AggiornaOrdinamentoLed"
                        , data: { 'ordine': dataList.join("|"), 'fk_int_Periodo': 10 }
                        , type: "POST",
                    }).done(function (v) {
                        console.log(v);
                        if (v == "ok") {

                            PopolaListaSceneLed("ListaSceneLed1T", 10, "ListaInserzionistiLed1T","inserzionistaL1T");

                            $("#ListaSceneLed1T > li").removeClass("table-danger");
                        }
                    })

                }
            });




            $("#ListaSceneMaxischermo1T").sortable({
                axis: 'y',
                placeholder: "ui-state-highlight",
                start: function (event, ui) {
                    ui.item.removeClass("table-warning");
                    ui.item.addClass("table-danger");
                },


                update: function () {

                    var dataList = $("#ListaSceneMaxischermo1T > li.bloccata_0").map(function () {
                        return $(this).data("id");
                    }).get();

                    $.ajax({
                        url: "/Ajax/sp_AggiornaOrdinamentoMaxischermo"
                        , data: { 'ordine': dataList.join("|"), 'fk_int_Periodo': 10 }
                        , type: "POST",
                    }).done(function (v) {
                        console.log(v);
                        if (v == "ok") {

                            PopolaListaSceneMaxischermo("ListaSceneMaxischermo1T", 10, "ListaInserzionistiMaxischermo1T","inserzionistaM1T");

                            $("#ListaSceneMaxischermo1T > li").removeClass("table-danger");
                        }
                    })

                }
            });


            $("#ListaSceneLed2T").sortable({
                axis: 'y',
                placeholder: "ui-state-highlight",
                start: function (event, ui) {
                    ui.item.removeClass("table-warning");
                    ui.item.addClass("table-danger");
                },


                update: function () {

                    var dataList = $("#ListaSceneLed2T > li.bloccata_0").map(function () {
                        return $(this).data("id");
                    }).get();

                    $.ajax({
                        url: "/Ajax/sp_AggiornaOrdinamentoLed"
                        , data: { 'ordine': dataList.join("|"), 'fk_int_Periodo': 20 }
                        , type: "POST",
                    }).done(function (v) {
                        console.log(v);
                        if (v == "ok") {

                            PopolaListaSceneLed("ListaSceneLed2T", 20, "ListaInserzionistiLed2T","inserzionistaL2T");

                            $("#ListaSceneLed2T > li").removeClass("table-danger");
                        }
                    })

                }
            });




            $("#ListaSceneMaxischermo2T").sortable({
                axis: 'y',
                placeholder: "ui-state-highlight",
                start: function (event, ui) {
                    ui.item.removeClass("table-warning");
                    ui.item.addClass("table-danger");
                },


                update: function () {

                    var dataList = $("#ListaSceneMaxischermo2T > li.bloccata_0").map(function () {
                        return $(this).data("id");
                    }).get();

                    $.ajax({
                        url: "/Ajax/sp_AggiornaOrdinamentoMaxischermo"
                        , data: { 'ordine': dataList.join("|"), 'fk_int_Periodo': 20 }
                        , type: "POST",
                    }).done(function (v) {
                        console.log(v);
                        if (v == "ok") {

                            PopolaListaSceneMaxischermo("ListaSceneMaxischermo2T", 20, "ListaInserzionistiMaxischermo2T","inserzionistaM2T");

                            $("#ListaSceneMaxischermo2T > li").removeClass("table-danger");
                        }
                    })

                }
            });




            $("#ListaSceneMaxischermo1T").disableSelection();
            $("#ListaSceneLed1T").disableSelection();
            $("#ListaSceneMaxischermo2T").disableSelection();
            $("#ListaSceneLed2T").disableSelection();
            $("#ListaInserzionistiMaxischermo1T").disableSelection();
            $("#ListaInserzionistiLed1T").disableSelection();
            $("#ListaInserzionistiMaxischermo2T").disableSelection();
            $("#ListaInserzionistiLed2T").disableSelection();

            var tttt = setInterval(OgniSecondo_Scaletta, 1000);


            //$.ajax({
            //    url: "/Ajax/GetTuttiIPeriodi?fk_int_stadio=2"
            //}).done(function (data) {
            //    var liHtml = "";
            //    data = JSON.parse(data);
            //    $.each(data, function (i, item) {
            //        $("#Periodi").append('<tr><td>' + item.nva_NomePeriodo + '</td><td>325</td><td>45:00:00</td><td>19/02/2019 20:15:10</td> <td><button type="button" class="btn btn-sm"><i class="fa fa-play"></i></button></td> <td><button type="button" class="btn btn-primary btn-sm">Prepara al play</button> </td></tr>');
            //    });
            //});
            function UrlExists(url) {
                var http = new XMLHttpRequest();
                http.open('HEAD', url, false);
                http.send();
                return http.status != 404;
            }


            function PopolaListaSceneMaxischermo(lista, fk_int_Periodo, listaInserzionisti, idElementoListaInserzionisti) {
                $.ajax({
                    type: 'POST',
                    data: { fk_int_Periodo: fk_int_Periodo },
                    url: "/Ajax/sp_GetListaSceneMaxischermoPerOrdinamento"
                }).done(function (data) {
                    data = JSON.parse(data);
                    // console.log(data);
                    console.log($("#" + lista + " li").length);
                    if ($("#" + lista + " li").length > 0) {



                        $.each(data, function (i, scena) {
                            $('#ui_scenaMaxischermo_' + scena.ID + ' .esecuzione').text(scena.int_StartAssoluto)
                            $('#ui_scenaMaxischermo_' + scena.ID).data("startassoluto", scena.int_StartAssoluto)
                        })

                        $("#" + lista + " li").sort(sort_li).appendTo("#" + lista);



                    } else {

                        var elencoInserzionisti = {};

                        $.each(data, function (i, scena) {
                            $("#" + lista).append('<li class="scena bloccata_' + scena.tin_bloccata + '"  data-id="' + scena.ID + '"  data-startassoluto="' + scena.int_StartAssoluto + '" data-dataorainizio="' + scena.int_DataOraInizio + '"  data-durata="' + scena.int_Durata + '"   id="ui_scenaMaxischermo_' + scena.ID + '"    ><strong class="esecuzione">' + scena.int_StartAssoluto + '</strong> <i>' + scena.nva_NomeFileDescrittivo + '</i><!--<br><img width="235"   src="/video/Empoli/gif250/' + scena.ID + '_250.gif"  />--></li>');
                            //AggiornaInizioEsecuzione();
                            $(".card-title").find(".spinner-border").remove();

                            var nomeInserzionista = scena.nva_NomeFileDescrittivo.split(' ')[0];
                            var nuovaDurata = scena.int_Durata;
                            var durataCorrente = elencoInserzionisti[nomeInserzionista];
                            if (durataCorrente && durataCorrente > 0)
                                nuovaDurata = nuovaDurata + durataCorrente;
                            elencoInserzionisti[nomeInserzionista] = nuovaDurata;
                        });

                        var chiaviordinate = Object.keys(elencoInserzionisti).sort(function (a, b) {
                            if (a > b) {
                                return 1;
                            }
                            if (b > a) {
                                return -1;
                            }
                            return 0;
                        });

                        for (const [chiave, inserzionista] of Object.entries(chiaviordinate)) {
                            var valore = elencoInserzionisti[inserzionista];
                            //var minuti = Math.floor((valore / 1000) / 60);
                            //var secondi = (valore / 1000) % 60;
                            var secondiString = formattaOrario(valore);
                            $("#" + listaInserzionisti).append('<li class="scena bloccata_0 '+idElementoListaInserzionisti+'"  data-id=' + inserzionista + '  data-tempoTotale="' + valore + '"   id="ui_'+idElementoListaInserzionisti + inserzionista + '"><span style="color:lightgreen">' + inserzionista + '</span> ' + secondiString+'</li>');
                        }
                    }

                })
            }



            function PopolaListaSceneLed(lista, fk_int_Periodo, listaInserzionisti, idElementoListaInserzionisti) {
                //$("#ListaSceneLed1T").empty();
                $.ajax({
                    type: 'POST',
                    data: { 'fk_int_Periodo': fk_int_Periodo },
                    url: "/Ajax/sp_GetListaSceneLedPerOrdinamento"
                }).done(function (data) {
                    data = JSON.parse(data);
                    // console.log(data);
                    console.log($("#" + lista + " li").length);
                    if ($("#" + lista + " li").length > 0) {

                        $.each(data, function (i, scena) {
                            $('#ui_scenaLed_' + scena.ID + ' .esecuzione').text(scena.int_StartAssoluto)
                            $('#ui_scenaLed_' + scena.ID).data("startassoluto", scena.int_StartAssoluto)
                        })

                        $("#" + lista + " li").sort(sort_li).appendTo(lista);

                    } else {
                        var elencoInserzionisti = {};

                        $.each(data, function (i, scena) {
                            $("#" + lista).append('<li class="scena bloccata_' + scena.tin_bloccata + '"  data-id="' + scena.ID + '"  data-startassoluto="' + scena.int_StartAssoluto + '" data-dataorainizio="' + scena.int_DataOraInizio + '"   data-durata="' + scena.int_Durata + '"   id="ui_scenaLed_' + scena.ID + '"    ><i>' + scena.nva_ListaFile + ' ' + scena.int_Durata + '</i> <strong class="esecuzione">' + scena.int_StartAssoluto + '</strong><!--<br><img width="235"   src="/video/Empoli/gif250/' + scena.ID + '_250.gif"  />--></li>');
                            //AggiornaInizioEsecuzione();
                            $(".card-title").find(".spinner-border").remove();

                            let nomiInserzionisti = scena.nva_ListaFile.split(',');
                            nomiInserzionisti.forEach(function (valCorrente,indice,array) {
                                let nuovaDurata = scena.int_Durata;
                                let durataCorrente = elencoInserzionisti[valCorrente];
                                if (durataCorrente && durataCorrente > 0)
                                    nuovaDurata = nuovaDurata + durataCorrente;
                                elencoInserzionisti[valCorrente] = nuovaDurata;
                            });
                        });

                        var chiaviordinate = Object.keys(elencoInserzionisti).sort(function (a, b) {
                            if (a > b) {
                                return 1;
                            }
                            if (b > a) {
                                return -1;
                            }
                            return 0;
                        });

                        for (const [chiave, inserzionista] of Object.entries(chiaviordinate)) {
                            var valore = elencoInserzionisti[inserzionista];
                            var secondiString = formattaOrario(valore);
                            $("#" + listaInserzionisti).append('<li class="scena bloccata_0 '+idElementoListaInserzionisti+'"  data-id=' + inserzionista + '  data-tempoTotale="' + valore + '"   id="ui_'+idElementoListaInserzionisti + inserzionista + '"><span style="color:lightgreen">' + inserzionista + '</span> ' + secondiString+'</li>');
                        }
                    }

                })
            }


            function sort_li(a, b) {
                return ($(b).data('startassoluto')) < ($(a).data('startassoluto')) ? 1 : -1;
            }

            function formattaOrario(time) {
                time = Math.round(time / 1000);
                // Hours, minutes and seconds
                var hrs = ~~(time / 3600);
                var mins = ~~((time % 3600) / 60);
                var secs = ~~time % 60;

                // Output like "1:01" or "4:03:59" or "123:03:59"
                var ret = "";

                if (hrs > 0) {
                    ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
                }

                ret += "" + mins + ":" + (secs < 10 ? "0" : "");
                ret += "" + secs;
                return ret;
            }


            /*
            function AggiornaInizioEsecuzione() {
                var c = 0;
                $("#ListaSceneLed1T > li").each(function () {
                    $(this).find(".esecuzione").text(formattaOrario(c))
                    c = c + $(this).data("durata");
                });

            }
            */

            //function Rilascia() {
            //    var c = 0;
            //   $("#ListaSceneLed1T > tr").map(function () {
            //       c=c+ $(this).data("durata");
            //       $(this).find(".esecuzione") = c;
            //    }).get();
            //}



            function AssociaPeriodiAPulsanti() {
                if (SettingGlobalVars["tb_Playlist"]) {
                    $.ajax({
                        url: "/Ajax/GetPeriodiPresentiNellaPlaylist",
                        data: "fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"]
                    }).done(function (data) {
                        console.log(data)

                        data = JSON.parse(data);
                        $.each(data, function (index, value) {

                            console.log(value);
                            $(".ListaPeriodi").append('<li class="nav-item"><a class="nav-link  btn_tempo" data-fk_int_periodo="' + value.ID + '" role="tab" aria-selected="false">' + value.nva_Nome + '</a></li>')


                        });
                    });

                } else {
                    alert("seleziona una playlist");
                }
            }


        });

        $('body').on('click', '.inserzionistaM1T', function () {

            let inserzionista = $(this).closest("li").data("id");
            let scrollato = 0;
            $("#ListaSceneMaxischermo1T li").each(function (index, item) {
                $(this).removeClass("table-warning");
                if ($(this).html().indexOf(inserzionista) > 0) {
                    $(this).addClass("table-warning");
                    if (scrollato == 0) {
                        document.getElementById(item.id).scrollIntoView({ behavior: "smooth" });
                        scrollato = 1;
                    }
                }
            });
        })

        $('body').on('click', '.inserzionistaM2T', function () {

            let inserzionista = $(this).closest("li").data("id");
            let scrollato = 0;
            $("#ListaSceneMaxischermo2T li").each(function (index, item) {
                $(this).removeClass("table-warning");
                if ($(this).html().indexOf(inserzionista) > 0) {
                    $(this).addClass("table-warning");
                    if (scrollato == 0) {
                        document.getElementById(item.id).scrollIntoView({ behavior: "smooth" });
                        scrollato = 1;
                    }
                }
            });
        })

        $('body').on('click', '.inserzionistaL1T', function () {

            let inserzionista = $(this).closest("li").data("id");
            let scrollato = 0;
            $("#ListaSceneLed1T li").each(function (index, item) {
                $(this).removeClass("table-warning");
                if ($(this).html().indexOf(inserzionista) > 0) {
                    $(this).addClass("table-warning");
                    if (scrollato == 0) {
                        document.getElementById(item.id).scrollIntoView({ behavior: "smooth" });
                        scrollato = 1;
                    }
                }
            });
        })

        $('body').on('click', '.inserzionistaL2T', function () {

            let inserzionista = $(this).closest("li").data("id");
            let scrollato = 0;
            $("#ListaSceneLed2T li").each(function (index, item) {
                $(this).removeClass("table-warning");
                if ($(this).html().indexOf(inserzionista) > 0) {
                    $(this).addClass("table-warning");
                    if (scrollato == 0) {
                        document.getElementById(item.id).scrollIntoView({ behavior: "smooth" });
                        scrollato = 1;
                    }
                }
            });
        })


    </script>

    <script src="~/js/ui/funzioniTempo.js" asp-append-version="true"></script>
}
