﻿
@{
    ViewData["Title"] = "Scene";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




                <ul id="ListaScene"></ul>



                <div class="modal fade bd-example-modal-xl" id="finestramodale" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
            
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center sourcevideo">
                                        
                                           
                                       
                                    </div>
                                    @*<div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                                    </div>*@
                                </div>
                            </div>
                        </div>

                        <style>
                            html {
                                overflow-x: hidden;
                            }

                            #ListaScene {
                                list-style-type: none;
                                margin: 0;
                                padding: 0;
                                width: 1915px;
                            }

                                #ListaScene li {
                                    border: 1px solid #555;
                                    margin: 0px;
                                    padding: 0px;
                                  /*  float: left;*/ 
                                    width: 237px;
                                    height: 238px;
                                    font-size: 15px;
                                    text-align: center;
                                }


                                .bloccata_1{
                                    color: #ff0000;

                                }
                        </style>





                        @section scripts {
                            <script type="text/javascript">
                                var fk_int_periodo2stadio = 0

                                $(document).ready(function () {

                                    PopolaListaScene(10);





                                    console.log("sono qui");

                                    $.prototype.loaded = function () {
                                        this.removeClass("loading")
                                        this.addClass("loaded")
                                    };

                                    $.prototype.loading = function () {

                                        this.addClass("loading")
                                    };



                                    $.prototype.playing = function () {
                                        this.removeClass("loaded")
                                        this.addClass("playing")
                                    };

                                    $.prototype.played = function () {
                                        this.removeClass("playing")
                                        this.addClass("played")
                                    };



                                    $('body').on('dblclick', '.scena', function () {
                                        $('.sourcevideo').empty();
                                          $('.modal-title').html('ID: '+$(this).data("id")+' - Durata: '+$(this).data("durata")+'ms - Start: '+$(this).find(".esecuzione").html())
                                        $('.sourcevideo').html('<video width="1000" controls ><source src="/video/Empoli/scene/' + $(this).data("id") + '.mp4" type="video/mp4"></source></video>' );
                                       $('.sourcevideo video').get(0).play();
                                        $('#finestramodale').modal('show');
                                    });


                                    $('body').on('click', '.btn_tempo', function () {

                                        $(".nav-link").removeClass('active');
                                        $(this).addClass('active');
                                        fk_int_periodo = $(this).data("fk_int_periodo");
                                        //console.log($(this).data("fk_int_periodo2stadio"));
                                        $(".card-title").html($(this).text());
                                        PopolaListaScene($(this).data("fk_int_periodo"));
                                        $(".card-title").prepend('<div class="spinner-border" role="status"></div>');
                                    });





                                    $("#ListaScene").sortable({
                                        placeholder: "ui-state-highlight",
                                        start: function (event, ui) {
                                            ui.item.addClass("table-danger");
                                        },
                                        update: function () {


                                            var dataList = $("#ListaScene > li.bloccata_0").map(function () {
                                                return $(this).data("id");
                                            }).get();

                                            console.log(dataList.join("|"));
                                            
                                            $.ajax({
                                                url: "/Ajax/sp_AggiornaOrdinamento"
                                                , data: { 'ordine': dataList.join("|"), 'fk_int_Periodo': 10 }
                                                , type: "POST",
                                            }).done(function (v) {
                                                console.log(v);
                                                if (v == "ok") {

                                                    PopolaListaScene(10);
                                                    //AggiornaInizioEsecuzione();

                                                    //da inviare -> AggiornaTimelineMatch(fk_int_Periodi2Stadi, fk_int_Playlist);
                                                    //console.log("fk_int_periodo2stadio:"+fk_int_periodo2stadio);
                                                    // CostruisciMessaggio("AggiornaTimelineMatch()")
                                                    // SetDatiToPlayer();

                                                    //console.log("ci passo");
                                                    $("#ListaScene > li").removeClass("table-danger");
                                                }
                                            })


                                            
                                        }
                                    });











                                    $("#ListaScene").disableSelection();


                                    //$.ajax({
                                    //    url: "/Ajax/GetTuttiIPeriodi?fk_int_stadio=2"
                                    //}).done(function (data) {
                                    //    var liHtml = "";
                                    //    data = JSON.parse(data);
                                    //    $.each(data, function (i, item) {
                                    //        $("#Periodi").append('<tr><td>' + item.nva_NomePeriodo + '</td><td>325</td><td>45:00:00</td><td>19/02/2019 20:15:10</td> <td><button type="button" class="btn btn-sm"><i class="fa fa-play"></i></button></td> <td><button type="button" class="btn btn-primary btn-sm">Prepara al play</button> </td></tr>');
                                    //    });
                                    //});
                                    function UrlExists(url) {
                                        var http = new XMLHttpRequest();
                                        http.open('HEAD', url, false);
                                        http.send();
                                        return http.status != 404;
                                    }



                                    //function PopolaListaSceneOLD(FK_int_Periodo) {
                                    //    $("#ListaScene").empty();
                                    //        $.ajax({
                                    //        url: "/Ajax/tb_scene?FK_int_Periodo=" + FK_int_Periodo + "&fk_int_playlist=" + SettingGlobalVars["tb_Playlist"]
                                    //    }).done(function (data) {
                                    //        data = JSON.parse(data);
                                    //        $.each(data, function (i, scena) {
                                    //            $.ajax({
                                    //                url: "/Ajax/SuntoContenutiScena?FK_int_Scena=" + scena.ID
                                    //                ,async:false
                                    //            }).done(function (data_contenuti) {
                                    //                $("#ListaScene").append('<tr data-id="' + scena.ID + '"  data-durata="' + scena.int_Durata  + '"   id="ui_scena_' + scena.ID + '"    ><td>' + scena.ID + '</td><td>' + scena.int_Durata + '</td><td class="esecuzione"></td><td id="td_scena_' + scena.ID + '"></td></tr>');
                                    //                data_contenuti = JSON.parse(data_contenuti);
                                    //                $.each(data_contenuti, function (ii, contenuto) {
                                    //                     $("#td_scena_" + scena.ID).append("<img src='/video/" + contenuto.nva_NomeFile + ".jpg'  />")
                                    //                })
                                    //                AggiornaInizioEsecuzione();
                                    //                $(".card-title").find(".spinner-border").remove();
                                    //            });
                                    //       });

                                    //}



                                    function PopolaListaScene(fk_int_Periodo) {
                                        //$("#ListaScene").empty();
                                        $.ajax({
                                            type: 'POST',
                                            data: { fk_int_Periodo: fk_int_Periodo } ,
                                            url: "/Ajax/sp_GetListaScenePerOrdinamentoLed"
                                        }).done(function (data) {
                                            data = JSON.parse(data);
                                           // console.log(data);
                                            console.log($("#ListaScene li").length);
                                            if ($("#ListaScene li").length > 0) {

                                       

                                               $.each(data, function (i, scena) {
                                                   $('#ui_scena_' + scena.ID + ' .esecuzione').text(scena.int_StartAssoluto)
                                                   $('#ui_scena_' + scena.ID).data("startassoluto",scena.int_StartAssoluto)
                                               })

                                                 $("#ListaScene li").sort(sort_li).appendTo('#ListaScene');

        

                                            } else {
                                                $.each(data, function (i, scena) {
                                                    $("#ListaScene").append('<li class="scena bloccata_'+scena.tin_bloccata+'"  data-id="' + scena.ID + '"  data-startassoluto="' + scena.int_StartAssoluto + '"   data-durata="' + scena.int_Durata + '"   id="ui_scena_' + scena.ID + '"    ><strong class="esecuzione">' + scena.int_StartAssoluto + '</strong><br><img width="235"   src="/video/Empoli/gif250/' + scena.ID + '_250.gif"  /></li>');
                                                    //AggiornaInizioEsecuzione();
                                                    $(".card-title").find(".spinner-border").remove();
                                                })
                                            }

                                        })
                                    }


                                    function sort_li(a, b) {
                                       return ($(b).data('startassoluto')) < ($(a).data('startassoluto')) ? 1 : -1;
                                     }

                                    function formattaOrario(time) {
                                        time = Math.round(time / 1000);
                                        // Hours, minutes and seconds
                                        var hrs = ~~(time / 3600);
                                        var mins = ~~((time % 3600) / 60);
                                        var secs = ~~time % 60;

                                        // Output like "1:01" or "4:03:59" or "123:03:59"
                                        var ret = "";

                                        if (hrs > 0) {
                                            ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
                                        }

                                        ret += "" + mins + ":" + (secs < 10 ? "0" : "");
                                        ret += "" + secs;
                                        return ret;
                                    }


                                    /*
                                    function AggiornaInizioEsecuzione() {
                                        var c = 0;
                                        $("#ListaScene > li").each(function () {
                                            $(this).find(".esecuzione").text(formattaOrario(c))
                                            c = c + $(this).data("durata");
                                        });

                                    }
                                    */

                                    //function Rilascia() {
                                    //    var c = 0;
                                    //   $("#ListaScene > tr").map(function () {
                                    //       c=c+ $(this).data("durata");
                                    //       $(this).find(".esecuzione") = c;
                                    //    }).get();
                                    //}



                                    function AssociaPeriodiAPulsanti() {
                                        if (SettingGlobalVars["tb_Playlist"]) {
                                            $.ajax({
                                                url: "/Ajax/GetPeriodiPresentiNellaPlaylist",
                                                data: "fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"]
                                            }).done(function (data) {
                                                console.log(data)

                                                data = JSON.parse(data);
                                                $.each(data, function (index, value) {

                                                    console.log(value);
                                                    $(".ListaPeriodi").append('<li class="nav-item"><a class="nav-link  btn_tempo" data-fk_int_periodo="' + value.ID + '" role="tab" aria-selected="false">' + value.nva_Nome + '</a></li>')


                                                });
                                            });

                                        } else {
                                            alert("seleziona una playlist");
                                        }
                                    }


                                });







                            </script>
                        }
















                        <style>
                        </style>
















