﻿
@{
    ViewData["Title"] = "Scene";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="navbar navbar-dark bg-dark mt-1">
    <a class="navbar-brand" href="#"><img src="/img/ngm_adv.png" height="40" /></a>  <b id="navbar-titolo"> Scene</b>


    <a asp-action="index" asp-controller="Home">Consolle controllo</a>



</nav>

<ul class="nav nav-pills mb-3 mt-3 ListaPeriodi" id="pills-tab" role="tablist">
</ul>


<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane active">
        <div class="card">
            

            <div class="card-body" style="max-height:1000px; overflow-y:scroll">
                <h5 class="card-title"> </h5>
                <table class="table  table-sm table-bordered">
                    <thead>
                        <tr>

                            <th scope="col" style="width:60px">#</th>
                            <th scope="col" style="width:60px">Durata</th>
                            <th scope="col" style="width:60px">Esecuzione</th>
                            <th scope="col">Sponsor</th>

                        </tr>
                    </thead>
                    <tbody id="ListaScene"></tbody>
                </table>
            </div>
            </div>
        </div>
</div>








@section scripts {
    <script type="text/javascript">
        var fk_int_periodo2stadio =0

        $(document).ready(function () {

            GetSelected("tb_Match");
            GetSelected("tb_Playlist");



            console.log("sono qui");

            $.prototype.loaded = function () {
                this.removeClass("loading")
                this.addClass("loaded")
            };

            $.prototype.loading = function () {

                this.addClass("loading")
            };


            $.prototype.playing = function () {
                this.removeClass("loaded")
                this.addClass("playing")
            };

            $.prototype.played = function () {
                this.removeClass("playing")
                this.addClass("played")
            };



            /*


            $.prototype.loaded = function () {
                this.find(".spinner-border").remove()
            }; 

            $.prototype.loading = function () {
                this.prepend('<div class="spinner-border" role="status"></div>')
            };


  */


            AssociaPeriodiAPulsanti();



            if (SettingGlobalVars["tb_Match"] > 0 && SettingGlobalVars["tb_Playlist"] > 0) {

                //console.log(SettingGlobalVars["tb_Match"]);
                //console.log(SettingGlobalVars["tb_Playlist"]);

            }





            $('body').on('click', '.btn_tempo', function () {

                $(".nav-link").removeClass('active');
                $(this).addClass('active');
                fk_int_periodo = $(this).data("fk_int_periodo");
                //console.log($(this).data("fk_int_periodo2stadio"));
                $(".card-title").html($(this).text());
                PopolaListaScene($(this).data("fk_int_periodo"));
                $(".card-title").prepend('<div class="spinner-border" role="status"></div>');
            });





            $("#ListaScene").sortable({
                placeholder: "ui-state-highlight",
                start: function (event, ui) {
                    ui.item.addClass("table-danger");
                },
                update: function () {
                  

                    var dataList = $("#ListaScene > tr").map(function () {
                        return $(this).data("id");
                    }).get();
    
                    //console.log(dataList.join("|"));

                    $.ajax({
                        url: "/AcquisizioneSceneLed/OrdinaScene"
                        , data: { 'ordine': dataList.join("|") }
                         ,type: "POST",
                    }).done(function(v) {
                        //console.log(v);
                        if (v == "ok") {
                            AggiornaInizioEsecuzione();

                           //da inviare -> AggiornaTimelineMatch(fk_int_Periodi2Stadi, fk_int_Playlist);
                            //console.log("fk_int_periodo2stadio:"+fk_int_periodo2stadio);
                            CostruisciMessaggio("AggiornaTimelineMatch()")
                            SetDatiToPlayer();

                            //console.log("ci passo");
                            $("#ListaScene > tr").removeClass("table-danger");
                        }
                    })

                }
            }  );



            $("#ListaScene").disableSelection();


            //$.ajax({
            //    url: "/Ajax/GetTuttiIPeriodi?fk_int_stadio=2"
            //}).done(function (data) {
            //    var liHtml = "";
            //    data = JSON.parse(data);
            //    $.each(data, function (i, item) {
            //        $("#Periodi").append('<tr><td>' + item.nva_NomePeriodo + '</td><td>325</td><td>45:00:00</td><td>19/02/2019 20:15:10</td> <td><button type="button" class="btn btn-sm"><i class="fa fa-play"></i></button></td> <td><button type="button" class="btn btn-primary btn-sm">Prepara al play</button> </td></tr>');
            //    });
            //});
            function UrlExists(url) {
                var http = new XMLHttpRequest();
                http.open('HEAD', url, false);
                http.send();
                return http.status != 404;
            }



            function PopolaListaScene(FK_int_Periodo) {
                $("#ListaScene").empty();
                    $.ajax({
                    url: "/Ajax/tb_scene?FK_int_Periodo=" + FK_int_Periodo + "&fk_int_playlist=" + SettingGlobalVars["tb_Playlist"]
                }).done(function (data) {
                    data = JSON.parse(data);
                    $.each(data, function (i, scena) {
                        $.ajax({
                            url: "/Ajax/SuntoContenutiScena?FK_int_Scena=" + scena.ID
                            ,async:false
                        }).done(function (data_contenuti) {
                            $("#ListaScene").append('<tr data-id="' + scena.ID + '"  data-durata="' + scena.int_Durata  + '"   id="ui_scena_' + scena.ID + '"    ><td>' + scena.ID + '</td><td>' + scena.int_Durata + '</td><td class="esecuzione"></td><td id="td_scena_' + scena.ID + '"></td></tr>');
                            data_contenuti = JSON.parse(data_contenuti);
                            $.each(data_contenuti, function (ii, contenuto) {
                                 $("#td_scena_" + scena.ID).append("<img src='/video/" + contenuto.nva_NomeFile + ".jpg'  />")
                            })
                            AggiornaInizioEsecuzione();
                            $(".card-title").find(".spinner-border").remove();
                        });
                    });
                    })
            }



            function formattaOrario(time) {
                time = Math.round(time / 1000);
                // Hours, minutes and seconds
                var hrs = ~~(time / 3600);
                var mins = ~~((time % 3600) / 60);
                var secs = ~~time % 60;

                // Output like "1:01" or "4:03:59" or "123:03:59"
                var ret = "";

                if (hrs > 0) {
                    ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
                }

                ret += "" + mins + ":" + (secs < 10 ? "0" : "");
                ret += "" + secs;
                return ret;
            }



            function AggiornaInizioEsecuzione() {
                var c = 0;
                $("#ListaScene > tr").each(function () {
                    $(this).find(".esecuzione").text(formattaOrario(c))
                    c = c + $(this).data("durata");
                });

            }
   

            //function Rilascia() {
            //    var c = 0;
            //   $("#ListaScene > tr").map(function () {
            //       c=c+ $(this).data("durata");
            //       $(this).find(".esecuzione") = c;
            //    }).get();
            //}
       


                function AssociaPeriodiAPulsanti() {
                    if (SettingGlobalVars["tb_Playlist"]) {
                        $.ajax({
                            url: "/Ajax/GetPeriodiPresentiNellaPlaylist",
                            data: "fk_int_Playlist=" + SettingGlobalVars["tb_Playlist"]
                        }).done(function (data) {
                            console.log(data)

                            data = JSON.parse(data);
                            $.each(data, function (index, value) {

                                console.log(value);
                                $(".ListaPeriodi").append('<li class="nav-item"><a class="nav-link  btn_tempo" data-fk_int_periodo="' + value.ID+'" role="tab" aria-selected="false">'+value.nva_Nome+'</a></li>')


                            });
                        });

                    } else {
                        alert("seleziona una playlist");
                    }
                }


            });







    </script>
}
















<style>




</style>
















