﻿
@{
    ViewData["Title"] = "Playlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="navbar navbar-dark bg-dark mt-1">
    <a class="navbar-brand" href="#"><img src="img/ngm_adv.png" height="40" /></a>  <b id="navbar-titolo"> <button type="button" class="btn btn-primary btn-squadre">Squadre</button> <button type="button" class="btn btn-primary btn-giocatori">Giocatori</button> <button type="button" class="btn btn-primary btn-match">Match</button></b>

    <a asp-action="index" asp-controller="Home">Consolle controllo</a>
</nav>




<div class="row">
    <div class="col-12" id="Lista">

    </div>
</div>






<div class="modal fade" id="ModalGiocatore"  tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog modalXl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Giocatore</h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <form style="margin:10px;" method="POST" enctype="multipart/form-data" id="form_giocatori" data-id="">
                        <div class="row ">
                            <div class="col-sm-3  text-center" >
                                <img width="100%" id="PreviewImmagineGiocatore" src="" />
                                <button type="button" class="btn btn-primary btn-eliminaImmagine text-center">Elimina immagine</button>
                            </div>
                                <div class="col-sm-9">

                                    <div class="form-group row text-center">
                                        <div class="col-sm-12">
                                            <h5>Modifica/Inserisci giocatore</h5>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="form_giocatori_nva_Nome" class="col-sm-3 col-form-label text-right ">Nome</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="form_giocatori_nva_Nome" class="form-control" id="form_giocatori_nva_Nome" placeholder="">
                                        </div>
                                        <div class="col-sm-1">  </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="form_giocatori_nva_Cognome" class="col-sm-3 col-form-label text-right ">Nome</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="form_giocatori_nva_Cognome" class="form-control" id="form_giocatori_nva_Cognome" placeholder="">
                                        </div>
                                        <div class="col-sm-1">  </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="form_giocatori_nva_Numero" class="col-sm-3 col-form-label text-right ">Numero maglia</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="form_giocatori_nva_Numero" class="form-control" id="form_giocatori_nva_Numero" placeholder="">
                                        </div>
                                        <div class="col-sm-1">  </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="form_giocatori_fk_int_Squadra" class="col-sm-3 col-form-label text-right ">Squadra</label>
                                        <div class="col-sm-8">
                                            <select class="custom-select form-control" id="form_giocatori_fk_int_Squadra" name="form_giocatori_fk_int_Squadra">
                                                <option value="1">Fiorentina</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">  </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="form_giocatori_ImmagineGiocatore" class="col-sm-3 col-form-label text-right ">Immagine</label>
                                        <div class="col-sm-8 ">
                                            <input type="file" name="form_giocatori_ImmagineGiocatore" class="form-control" id="form_giocatori_ImmagineGiocatore">
                                        </div>
                                        <div class="col-sm-1">  </div>
                                        
                                    </div>
                                    <div class="form-group row  text-center">
                                        <div class="col-sm-12">
                                            <button type="button" class="btn btn-primary btn-salvaGiocatore">Salva</button>
                                        </div>
                                    </div>

                                </div>
                            </div>



</form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>




<style>
    .modalXl {
        max-width: 80% !important;
    }

    .modalMd {
        max-width: 50% !important;
    }

    .img_ConfigurazioneOk {
        width: 30px;
    }

    .loadingRoll {
        margin-left: 10px;
    }
</style>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            var fancyTableA = $("#tabellaCrud").fancyTable({
                sortColumn: 1,
                pagination: true,
                perPage: 5,
                globalSearch: false
            });

             $.ajax({
                 url: "Crud/PopolaListaSquadre",
                success: function (data) {
                    console.log(data)
                    $("#form_giocatori_fk_int_Squadra").html(data)
                }
             });


            /*

            $('body').on('click', '.btn-Importa', function () {
                $('#ModalConfigCampo').find(".loadingRoll").show();
                var formData = new FormData();
                formData.append('FileDaCaricare', $('#FileDaCaricare')[0].files[0]);
                formData.append('ID', $('#FileDaCaricare').data("id"));


                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "Configurazioni/RicevoFormConfig",
                    data: formData,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function (data) {


                        console.log("SUCCESS : ", data);

                        $('#ModalConfigCampo').find(".loadingRoll").hide();
                        GetStadi()
                        $('#FileDaCaricare').val("")

                        $('#ModalConfigCampo').modal('hide')



                        //alert(data);
                    },
                    error: function (e) {

                        console.log("ERROR : ", e);


                    }
                });

            });
        
        */
});








        $('body').on('click', '.btn-modifica', function () {

            let id = $(this).closest('tr').data("id")
            let argomento = $(this).closest('table').data("argomento")

            console.log("argomento:"+argomento)
            console.log("id:" + id)

            $("#Modal" + argomento).find("form").attr("id", id)
            $("#Modal" + argomento).modal('show');

            if (argomento == "Giocatori") { PopolaFormCrudGiocatore(id); };

        })



        function PopolaFormCrudGiocatore(id) {
             $.ajax({
                 url: "Crud/GetGiocatore",
                 type: "get",
                 data: {'id':id},
                success: function (data) {
                    data = JSON.parse(data)[0];
                    Object.keys(data).forEach(function(k){
                        console.log(k + ' - ' + data[k]);
                        $("#form_giocatori_" + k).val(data[k]);
                    });
                    let date = new Date();
                    let adesso = date.getTime();
                   // $("#form_giocatori_fk_int_Squadra").val(25)
                    $("#PreviewImmagineGiocatore").attr("src","\assetsSquadre\\" + data["nva_Directory"] + "\\Players\\" + data["nva_Numero"] + ".png?"+adesso);
                }
             });
        }







        $('body').on('click', '.btn-salvaGiocatore', function () {

            let argomento  = $(this).closest('table').data("argomento")

            var formData = new FormData();
            formData.append('ImmagineGiocatore', $('#form_giocatori_ImmagineGiocatore')[0].files[0]);
            formData.append('id', "50");
            formData.append('nva_Nome', $('#form_giocatori_nva_Nome').val());
            formData.append('nva_Cognome', $('#form_giocatori_nva_Cognome').val());
            formData.append('fk_int_Squadra', $('#form_giocatori_fk_int_Squadra').val());
            formData.append('nva_Numero', $('#form_giocatori_nva_Numero').val());

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "crud/SalvaGiocatore",
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    console.log(data);
                    data = JSON.parse(data)
                    PopolaFormCrudGiocatore(data.id)
                },
                error: function (e) {
                    console.log("ERROR : ", e);



                }
            });

        })


        $('body').on('click', '.btn-giocatori', function () {
            //var fancyTableA =
            $.ajax({
                url: "Crud/GetTabellaListaGiocatori",
                success: function (data) {
                    console.log(data)
                    $("#Lista").html(data)
                    $("#tabellaCrud").fancyTable({
                        sortColumn: 2,
                        pagination: true,
                        perPage: 10,
                        globalSearch: false
                    });
                }
            });
        });




        $('body').on('click', '.btn-squadre', function () {
            //var fancyTableA =

            $.ajax({
                url: "Crud/GetTabellaListaSquadre",
                success: function (data) {
                    console.log(data)
                    $("#Lista").html(data)
                    $("#tabellaCrud").fancyTable({
                        sortColumn: 1,
                        pagination: true,
                        perPage: 10,
                        globalSearch: false
                    });
                }
            });
        });

        $('body').on('click', '.btn-match', function () {
            //var fancyTableA =

            $.ajax({
                url: "Crud/GetTabellaListaMatch",
                success: function (data) {
                    console.log(data)
                    $("#Lista").html(data)
                    $("#tabellaCrud").fancyTable({
                        sortColumn: 1,
                        pagination: true,
                        perPage: 10,
                        globalSearch: false
                    });
                }
            });
        });





        (function ($) {
            $.fn.fancyTable = function (options) {
                var settings = $.extend({
                    inputStyle: "",
                    inputPlaceholder: "Cerca...",
                    pagination: false,
                    paginationClass: "btn btn-success",
                    paginationClassActive: "btn-warning",
                    pagClosest: 3,
                    perPage: 10,
                    sortable: true,
                    searchable: true,
                    onInit: function () { },
                    onUpdate: function () { },
                    testing: false
                }, options);
                var instance = this;
                this.settings = settings;
                this.tableUpdate = function (elm) {
                    elm.fancyTable.matches = 0;
                    $(elm).find("tbody tr").each(function () {
                        var n = 0;
                        var match = true;
                        var globalMatch = false;
                        $(this).find("td").each(function () {
                            if (!settings.globalSearch && elm.fancyTable.searchArr[n] && !(new RegExp(elm.fancyTable.searchArr[n], "i").test($(this).html()))) {
                                match = false;
                            } else if (settings.globalSearch && (!elm.fancyTable.search || (new RegExp(elm.fancyTable.search, "i").test($(this).html())))) {
                                if (!Array.isArray(settings.globalSearchExcludeColumns) || !settings.globalSearchExcludeColumns.includes(n + 1)) {
                                    globalMatch = true;
                                }
                            }
                            n++;
                        });
                        if ((settings.globalSearch && globalMatch) || (!settings.globalSearch && match)) {
                            elm.fancyTable.matches++
                            if (!settings.pagination || (elm.fancyTable.matches > (elm.fancyTable.perPage * (elm.fancyTable.page - 1)) && elm.fancyTable.matches <= (elm.fancyTable.perPage * elm.fancyTable.page))) {
                                $(this).show();
                            } else {
                                $(this).hide();
                            }
                        } else {
                            $(this).hide();
                        }
                    });
                    elm.fancyTable.pages = Math.ceil(elm.fancyTable.matches / elm.fancyTable.perPage);
                    if (settings.pagination) {
                        var paginationElement = (elm.fancyTable.paginationElement) ? $(elm.fancyTable.paginationElement) : $(elm).find(".pag");
                        paginationElement.empty();
                        for (var n = 1; n <= elm.fancyTable.pages; n++) {
                            if (n == 1 || (n > (elm.fancyTable.page - (settings.pagClosest + 1)) && n < (elm.fancyTable.page + (settings.pagClosest + 1))) || n == elm.fancyTable.pages) {
                                var a = $("<a>", {
                                    html: n,
                                    "data-n": n,
                                    style: "margin:0.2em",
                                    class: settings.paginationClass + " " + ((n == elm.fancyTable.page) ? settings.paginationClassActive : "")
                                }).css("cursor", "pointer").bind("click", function () {
                                    elm.fancyTable.page = $(this).data("n");
                                    instance.tableUpdate(elm);
                                });
                                if (n == elm.fancyTable.pages && elm.fancyTable.page < (elm.fancyTable.pages - settings.pagClosest - 1)) {
                                    paginationElement.append($("<span>...</span>"));
                                }
                                paginationElement.append(a);
                                if (n == 1 && elm.fancyTable.page > settings.pagClosest + 2) {
                                    paginationElement.append($("<span>...</span>"));
                                }
                            }
                        }
                    }
                    settings.onUpdate.call(this, elm);
                };
                this.reinit = function (elm) {
                    $(this).each(function () {
                        $(this).find("th a").contents().unwrap();
                        $(this).find("tr.fancySearchRow").remove();
                    });
                    $(this).fancyTable(this.settings);
                };
                this.tableSort = function (elm) {
                    if (typeof elm.fancyTable.sortColumn !== "undefined" && elm.fancyTable.sortColumn < elm.fancyTable.nColumns) {
                        $(elm).find("thead th div.sortArrow").each(function () {
                            $(this).remove();
                        });
                        var sortArrow = $("<div>", { "class": "sortArrow" }).css({ "margin": "0.1em", "display": "inline-block", "width": 0, "height": 0, "border-left": "0.4em solid transparent", "border-right": "0.4em solid transparent" });
                        sortArrow.css(
                            (elm.fancyTable.sortOrder > 0) ?
                                { "border-top": "0.4em solid #000" } :
                                { "border-bottom": "0.4em solid #000" }
                        );
                        $(elm).find("thead th a").eq(elm.fancyTable.sortColumn).append(sortArrow);
                        var rows = $(elm).find("tbody tr").toArray().sort(
                            function (a, b) {
                                var stra = $(a).find("td").eq(elm.fancyTable.sortColumn).html();
                                var strb = $(b).find("td").eq(elm.fancyTable.sortColumn).html();
                                if (elm.fancyTable.sortAs[elm.fancyTable.sortColumn] == 'numeric') {
                                    return ((elm.fancyTable.sortOrder > 0) ? parseFloat(stra) - parseFloat(strb) : parseFloat(strb) - parseFloat(stra));
                                } else {
                                    return ((stra < strb) ? -elm.fancyTable.sortOrder : (stra > strb) ? elm.fancyTable.sortOrder : 0);
                                }
                            }
                        );
                        $(elm).find("tbody").empty().append(rows);
                    }
                };
                this.each(function () {
                    if ($(this).prop("tagName") !== "TABLE") {
                        console.warn("fancyTable: Element is not a table.");
                        return true;
                    }
                    var elm = this;
                    elm.fancyTable = {
                        nColumns: $(elm).find("td").first().parent().find("td").length,
                        nRows: $(this).find("tbody tr").length,
                        perPage: settings.perPage,
                        page: 1,
                        pages: 0,
                        matches: 0,
                        searchArr: [],
                        search: "",
                        sortColumn: settings.sortColumn,
                        sortOrder: (typeof settings.sortOrder === "undefined") ? 1 : (new RegExp("desc", "i").test(settings.sortOrder) || settings.sortOrder == -1) ? -1 : 1,
                        sortAs: [], // undefined or numeric
                        paginationElement: settings.paginationElement
                    };
                    if ($(elm).find("tbody").length == 0) {
                        var content = $(elm).html();
                        $(elm).empty();
                        $(elm).append("<tbody>").append($(content));
                    }
                    if ($(elm).find("thead").length == 0) {
                        $(elm).prepend($("<thead>"));
                        // Maybe add generated headers at some point
                        //var c=$(elm).find("tr").first().find("td").length;
                        //for(var n=0; n<c; n++){
                        //	$(elm).find("thead").append($("<th></th>"));
                        //}
                    }
                    if (settings.sortable) {
                        var n = 0;
                        $(elm).find("thead th").each(function () {
                            elm.fancyTable.sortAs.push(($(this).data('sortas') == 'numeric') ? 'numeric' : '');
                            var content = $(this).html();
                            var a = $("<a>", {
                                html: content,
                                "data-n": n,
                                class: ""
                            }).css("cursor", "pointer").bind("click", function () {
                                if (elm.fancyTable.sortColumn == $(this).data("n")) {
                                    elm.fancyTable.sortOrder = -elm.fancyTable.sortOrder;
                                } else {
                                    elm.fancyTable.sortOrder = 1;
                                }
                                elm.fancyTable.sortColumn = $(this).data("n");
                                instance.tableSort(elm);
                                instance.tableUpdate(elm);
                            });
                            $(this).empty();
                            $(this).append(a);
                            n++;
                        });
                    }
                    if (settings.searchable) {
                        var searchHeader = $("<tr>").addClass("fancySearchRow");
                        if (settings.globalSearch) {
                            var searchField = $("<input>", {
                                "placeholder": settings.inputPlaceholder,
                                style: "width:100%;" + settings.inputStyle
                            }).bind("change paste keyup", function () {
                                elm.fancyTable.search = $(this).val();
                                elm.fancyTable.page = 1;
                                instance.tableUpdate(elm);
                            });
                            var th = $("<th>", { style: "padding:2px;" }).attr("colspan", elm.fancyTable.nColumns);
                            $(searchField).appendTo($(th));
                            $(th).appendTo($(searchHeader));
                        } else {
                            var n = 0;
                            $(elm).find("td").first().parent().find("td").each(function () {

                                elm.fancyTable.searchArr.push("");
                                var searchField = $("<input>", {
                                    "data-n": n,
                                    "placeholder": settings.inputPlaceholder,
                                    style: "width:100%;" + settings.inputStyle
                                }).bind("change paste keyup", function () {
                                    elm.fancyTable.searchArr[$(this).data("n")] = $(this).val();
                                    elm.fancyTable.page = 1;
                                    instance.tableUpdate(elm);
                                });


                                if ((n < ($(elm).find("td").first().parent().find("td").length - 1)) && (n > 0)) {
                                    var th = $("<th>", { style: "padding:2px;" });

                                    $(searchField).appendTo($(th));
                                    $(th).appendTo($(searchHeader));
                                } else {
                                    var th = $("<th>", { style: "padding:2px;" });

                                    $("").appendTo($(th));
                                    $(th).appendTo($(searchHeader));
                                }

                                n++;
                            });
                        }
                        searchHeader.appendTo($(elm).find("thead"));
                    }
                    // Sort
                    instance.tableSort(elm);
                    if (settings.pagination && !settings.paginationElement) {
                        $(elm).find("tfoot").remove();
                        $(elm).append($("<tfoot><tr></tr></tfoot>"));
                        $(elm).find("tfoot tr").append($("<td class='pag'></td>", {}).attr("colspan", elm.fancyTable.nColumns));
                    }
                    instance.tableUpdate(elm);
                    settings.onInit.call(this, elm);
                });
                return this;
            };
        }(jQuery));
    </script>
}



