﻿
@{
    ViewData["Title"] = "Configurazioni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav class="navbar navbar-dark bg-dark mt-1">
    <a class="navbar-brand" href="#"><img src="img/ngm_adv.png" height="40" /></a>  <b id="navbar-titolo"> Parametri e settaggi</b>


    <a asp-action="index" asp-controller="Home">Consolle controllo</a>



</nav>

<ul class="nav nav-pills mb-3 mt-3 " id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-tab-stadi" data-toggle="pill" href="#tab-stadi" role="tab" aria-controls="tab-stadi" aria-selected="true">Stadi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-tab-match" data-toggle="pill" href="#tab-match" role="tab" aria-controls="tab-match" aria-selected="false">Match</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-tab-scene" data-toggle="pill" href="#tab-match" role="tab" aria-controls="tab-match" aria-selected="false">Scene</a>
    </li>
</ul>


<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="tab-stadi" role="tabpanel" aria-labelledby="pills-home-tab">
        <table class=" table">
            <thead>
                <tr><td>Citta</td><td>Nome</td><td>Squadra</td><td>Configurazioni</td><td>Azioni</td></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="tab-match" role="tabpanel" aria-labelledby="pills-profile-tab"></div>

</div>



<div class="modal  fade" id="DettagliConfigCampo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalMd" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configurazione campo</h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">



            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>







<div class="modal  fade" id="ModalCampo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalMd" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configurazione campo</h5>
                <div class="loadingRoll spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">


                <form style="margin:10px;" method="POST" enctype="multipart/form-data" id="FormPlaylistXlsx">
                    <div class="form-group row text-center">
                        <div class="col-sm-12">
                            <h5>importazione</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="FileDaCaricare" class="col-sm-4 col-form-label text-right ">File</label>
                        <div class="col-sm-7 ">
                            <input type="file" name="FileDaCaricare" data-id="" class="form-control" id="FileDaCaricare">
                        </div>
                        <div class="col-sm-1">  </div>

                    </div>
                    <div class="form-group row  text-center">
                        <div class="col-sm-12">

                            <button type="button" class="btn btn-primary btn-Importa">Importa</button>
                         
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>






<style>
    .modalXl {
        max-width: 80% !important;
    }

    .modalMd {
        max-width: 50% !important;
    }

    .img_ConfigurazioneOk{
        width:30px;
    }

    .loadingRoll{
        margin-left:10px;

    }
</style>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            GetStadi()

            $('body').on('click', '.btn-CaricaConfiguration', function () {
                $('.Conferma').alert('close');
                $('#ModalCampo').find(".loadingRoll").hide();
                $('#ModalCampo').removeClass("playlist").addClass("configuration");
                var id = $(this).closest("tr").data("id");
                var NomeSquadra = $(this).closest("tr").find(".NomeSquadra").html();
                var CittaSquadra = $(this).closest("tr").find(".CittaSquadra").html();
                $("#ModalCampo").find(".modal-title").html("File configurazione " + NomeSquadra )
                $("#ModalCampo").find("#FileDaCaricare").data("id", id);
                $("#ModalCampo").modal("show");


            });


            $('body').on('click', '.btn-CaricaPlaylist', function () {
                $('.Conferma').alert('close');
                $('#ModalCampo').find(".loadingRoll").hide();
                $('#ModalCampo').removeClass("configuration").addClass("playlist");
                var id = $(this).closest("tr").data("id");
                var NomeSquadra = $(this).closest("tr").find(".NomeSquadra").html();
                var CittaSquadra = $(this).closest("tr").find(".CittaSquadra").html();
                $("#ModalCampo").find(".modal-title").html("Playlist " + NomeSquadra )
                $("#ModalCampo").find("#FileDaCaricare").data("id", id);
                $("#ModalCampo").modal("show");


            });





            $('body').on('click', '.btn-DettagliConfig', function () {
                var id = $(this).closest("tr").data("id");
                var NomeSquadra = $(this).closest("tr").find(".NomeSquadra").html();
                var CittaSquadra = $(this).closest("tr").find(".CittaSquadra").html();


            });




            $('body').on('click', '.btn-Importa', function () {
                $('#ModalCampo').find(".loadingRoll").show();


                var formData = new FormData();
                formData.append('FileDaCaricare', $('#FileDaCaricare')[0].files[0]);
                formData.append('ID', $('#FileDaCaricare').data("id"));

                if ($('#ModalCampo').hasClass("playlist")) {

                     $.ajax({
                        type: "POST",
                        enctype: 'multipart/form-data',
                        url: "Configurazioni/RicevoFormPlaylist",
                        data: formData,
                        processData: false,
                        contentType: false,
                        cache: false,
                        timeout: 600000,
                        success: function (data) {


                            console.log("SUCCESS : ", data);

                            $('#ModalCampo').find(".loadingRoll").hide();
                            GetStadi()
                            $('#FileDaCaricare').val("")

                            $('#ModalCampo').modal('hide')



                            //alert(data);
                        },
                        error: function (e) {

                            console.log("ERROR : ", e);


                        }
                    });

                } else {




                    $.ajax({
                        type: "POST",
                        enctype: 'multipart/form-data',
                        url: "Configurazioni/RicevoFormConfig",
                        data: formData,
                        processData: false,
                        contentType: false,
                        cache: false,
                        timeout: 600000,
                        success: function (data) {


                            console.log("SUCCESS : ", data);

                            $('#ModalCampo').find(".loadingRoll").hide();
                            GetStadi()
                            $('#FileDaCaricare').val("")

                            $('#ModalCampo').modal('hide')



                            //alert(data);
                        },
                        error: function (e) {

                            console.log("ERROR : ", e);


                        }
                    });
                }

            });


        });










        function GetStadi() {
            var tbody = $("#tab-stadi").find("tbody");
           return $.ajax({
                url: "Configurazioni/GetStadi"
            }).done(function (data) {
                data = JSON.parse(data);
                tbody.empty();
                $.each(data, function (k, item) {
                    tbody.append('<tr class="stadio" data-id="' + item.ID + '"><td class="CittaSquadra">' + item.nva_Città + '</td><td><b>' + item.nva_Nome + '</b></td><td class="NomeSquadra">' + item.nva_Squadra + '</td><td><img class="img_ConfigurazioneOk" src="' + item.img_ConfigurazioneOk + '" /> </td><td><button type="button" class="btn btn-primary btn-CaricaConfiguration">Carica configuration file</button>&nbsp;<button type="button" class="btn btn-primary btn-CaricaPlaylist">Carica playlist</button></td></tr>');
                });
            });

        }

    </script>
}




</div>

