﻿@{
    //ViewData["Title"] = ViewBag.Titolo;
}

<link rel="stylesheet" href="~/css/animate.css" />
<style>
    .SuntoCaricamentoScene {
        float: left;
        border: 1px solid #0c0d16;
        padding: 6px;
    }

    .SuntoCaricamentoSceneCarica {
        background-color: red
    }

    .SuntoCaricamentoSceneScarica {
        background-color: cornflowerblue
    }


    .noFormTextBox {
        text-align: center;
        border: none;
        background-color: #0c0d16;
        color: #e4e2ff
    }

    html, body {
        /*height: 100%;
        overflow-y: hidden;*/
        overflow-x: hidden;
    }

    .inCorso {
        background-color: #d1972d;
    }



    .h-03 {
        height: 3% !important;
    }

    .h-04 {
        height: 4% !important;
    }

    .h-05 {
        height: 5% !important;
    }

    .h-06 {
        height: 6% !important;
    }

    .h-07 {
        height: 7% !important;
    }

    .h-08 {
        height: 8% !important;
    }

    .h-10 {
        height: 10% !important;
    }

    .h-12 {
        height: 12% !important;
    }

    .h-15 {
        height: 15% !important;
    }

    .h-20 {
        height: 20% !important;
    }

    .h-30 {
        height: 30% !important;
    }

    .h-35 {
        height: 35% !important;
    }

    .h-40 {
        height: 40% !important;
    }

    .h-45 {
        height: 45% !important;
    }

    .h-55 {
        height: 55% !important;
    }

    .h-60 {
        height: 60% !important;
    }

    #SchermataImpostazioni {
        /*width: 95%;*/
        /*height: 1080px;*/
        /*position: absolute;*/
        top: 60px;
    }

    #SchermataControlloRiproduzione {
        /*width: 95%;*/
        /*height: 1080px;*/
        /*position: absolute;*/
        top: 60px;
    }


    .td_TipoEventoMatchSelezionato {
        border-radius: 5px;
        background: red;
        padding: 10px;
    }

    .td_PeriodoSelezionato {
        border-radius: 5px;
        background: red;
        padding: 10px;
    }

    #trTipoEvento .scelte td {
        padding: 30px;
    }
    /*    .btn_EventoMatch{padding:10px} */

    .GiocatoreEventoMatchSelezionato {
    }

    .GiocatoreEventoMatchNonSelezionato {
        display: none;
    }

    .bottoneGiocatoreModificaEvento {
        text-align: center;
        font-size: 30px;
    }

    #ModalEditaEventiMatch .modal-body {
        font-size: 30px;
    }


    .btn_SelezionePCSelezionato {
        font-weight: bold;
        background-color: black;
        /*   box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05) inset, 10px 10px 10px 10px rgba(82, 168, 236, 0.6); */
    }

    .tableLuminosita {
        font-size: 25px;
    }


    .valoreLuminosita {
        font-size: 25px;
    }

    .valoreOffsetLuminosita {
        font-size: 25px;
    }

    .slider.luminosita.tuttisettori {
    }

    .checkbox-1p5x {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }

    .checkbox-2x {
        transform: scale(2);
        -webkit-transform: scale(2);
    }

    .modalXl {
        max-width: 80% !important;
    }

    .modalMd {
        max-width: 50% !important;
    }

    .img_ConfigurazioneOk {
        width: 30px;
    }

    .loadingRoll {
        margin-left: 10px;
    }

    .btn-PresentazioneCompatta {
    }
</style>
<script>
var ParametriPC_fk_int_Stadio = @ViewBag.fk_int_Stadio
</script>

<div id="NavBarAlta" class="row navbar navbar-dark bg-dark  align-middle" style="height:40px; margin-bottom:0px; margin-top:0px; padding-top:0px; padding-bottom:0px; ">
    <a class="navbar-brand" href="#"><img src="img/ngm_adv.png" style="height:30px;" />  </a>  <b id="navbar-titolo"></b>
    @ViewBag.InfoStadio


    @*<a asp-action="index" asp-controller="Configurazioni">Setting</a>
        <a asp-action="index" asp-controller="Player" target="_blank">Apri player</a>*@

    @*<a href="#" class="zMeno">-</a> <a href="#"  class="zPiu">+</a>*@

</div>


<div id="SchermataImpostazioni">
    <div class="row mt-5 h-10 align-middle">
        <div class="col-2"></div>
        <div class="col-4">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-SchermataControlloRiproduzione">RIPRODUZIONE</button>
        </div>
        <div class="col-4">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block " id="btn-SceltaMatch">MATCH</button>
        </div>

        <div class="col-2"></div>
    </div>
    <div class="row mt-5 h-10 align-middle">
        <div class="col-2"></div>
        <div class="col-4">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn_ApriModalPlaylist">PLAYLIST</button>
        </div>
        <div class="col-4">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn_Parametri">PARAMETRI</button>
        </div>

        <div class="col-2"></div>
    </div>

    <div class="row mt-5 h-10 align-middle">
        <div class="col-2"></div>
        <div class="col-4">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn_NuovaRiproduzione">NUOVA RIPRODUZIONE</button>
        </div>

        <div class="col-4">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn_ApriModalSelezionePC">SELEZIONE PC</button>
        </div>

        <div class="col-2"></div>

    </div>




    <div class="row mt-5 h-10 align-middle">
        <div class="col-2"></div>
        <div class="col-4 ">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-FormazioneCasa btn-evento" data-azione="formazione_iniziale">FORMAZIONE INIZIALE</button>
        </div>
        <div class="col-4">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-Scaletta">VISUALIZZA SCALETTA</button>
        </div>
        <div class="col-2"></div>
    </div>


    <div class="row mt-5 h-10 align-middle">
        <div class="col-2"></div>
        <div class="col-2">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-SincronizzaDati">SINCRONIZZA ONLINE</button>
        </div>
        <div class="col-2">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn_ApriModalImportAssets">SINCRONIZZA DA FILE</button>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" style="visibility:hidden;" name="FileAssetsDaCaricare" id="FileAssetsDaCaricare">
            </form>
        </div>
        <div class="col-4">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-GenerazioneEventi">GENERAZIONE EVENTI</button>
        </div>
        <div class="col-2"></div>
    </div>





    @*
        <div class="row mt-5 h-10 align-middle">
        <div class="col-2"></div>
        <div class="col-4">

        </div>
        <div class="col-4">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-GenerazioneEventi">GENERAZIONE EVENTI</button>
        </div>
        <div class="col-2"></div>
        </div>
    *@



    @*
        <div class="row mt-5 h-15 align-middle">
        <div class="col-2"></div>
        <div class="col-4">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn_lista_scene">LISTA SCENE</button>
        </div>
            <div class="col-4">
            </div>
        <div class="col-2"></div>
        </div>
    *@






</div>

<div id="SchermataControlloRiproduzione" style="display:none">


    <div id="BottoniPeriodi_prima_Riga" class="row mt-4  h-06 align-middle">
        <div class="col-2">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_1" data-fk_int_periodo="1" disabled>INTRATT.</button>
        </div>
        <div class="col-2">
            <button type="button" class="h-100 w-75 btn btn-dark  btn-lg flash-button btn-periodi idPeriodo_2" data-fk_int_periodo="2" disabled>PREPARTITA</button>
            <button type="button" class="h-100 w-20 btn btn-dark btn-smallfont btn-lg flash-button btn-temporizzaPrepartita">AVVIO AUT.</button>
        </div>
        <div class="col-2">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_3" data-fk_int_periodo="3" disabled>RISCALDAMENTO</button>
        </div>
        <div class="col-2">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-PresentazioneFormazione">FORMAZIONE</button>
        </div>
        <div class="col-2">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_4" data-fk_int_periodo="4" disabled>CERIMONIALE</button>
        </div>
        <div class="col-2">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_5" data-fk_int_periodo="5" disabled>MATCH SPONSOR</button>
        </div>
    </div>
    <div id="BottoniPeriodi_seconda_Riga" class="row mt-4  h-06 align-middle periodi-regolari">

        <div class="col-4">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_10" data-fk_int_periodo="10" disabled>1° TEMPO</button>
        </div>
        @*<div class="col-1">
                <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_7" data-fk_int_periodo="7">RECUPERO</button>
            </div>*@
        <div class="col-2">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_12" data-fk_int_periodo="12" disabled>INTERVALLO</button>
        </div>
        <div class="col-4">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_20" data-fk_int_periodo="20" disabled>2° TEMPO</button>
        </div>
        @*<div class="col-2">
                <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_10" data-fk_int_periodo="10">RECUPERO</button>
            </div>*@
        <div class="col-2">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_22" data-fk_int_periodo="22" disabled>FINE PARTITA</button>
        </div>
    </div>
    <div id="BottoniPeriodi_terza_Riga" class="row mt-3 h-05 align-middle periodi-supplementari">

        <div class="col-2">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_30" data-fk_int_periodo="30" disabled>1° TEMPO SUPPL.</button>
        </div>
        @*<div class="col-1">
                <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_13" data-fk_int_periodo="13">RECUPERO</button>
            </div>*@
        <div class="col-2">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_32" data-fk_int_periodo="32" disabled>INTERVALLO</button>
        </div>
        <div class="col-2">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_40" data-fk_int_periodo="40" disabled>2° TEMPO SUPPL.</button>
        </div>
        @*<div class="col-2">
                <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_16" data-fk_int_periodo="16">RECUPERO</button>
            </div>*@
        <div class="col-2">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_42" data-fk_int_periodo="42" disabled>FINE SUPPL.</button>
        </div>
        <div class="col-2">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_50" data-fk_int_periodo="50" disabled>RIGORI</button>
        </div>
        <div class="col-2">
            <button type="button" class="h-100 btn  btn-dark  btn-lg flash-button btn-block btn-periodi idPeriodo_51" data-fk_int_periodo="51" disabled>FINE RIGORI</button>
        </div>
    </div>

    <div id="BottoniPeriodi_quarta_Riga" class="row mt-3 h-05 align-middle funzioni-speciali">

        <div class="col-2">
            <button type="button" class="h-100 btn btn-dark btn-lg flash-button btn-block btn-evento" data-azione="rosa">PRES. ROSA</button>
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
        </div>
    </div>



    <div id="MacroZoneCentrali" class="row  mt-3 h-50">
        <div class="col-4 h-100">
            <div class="card border-primary mb-3 text-center" style=" overflow:auto; overflow-y:scroll; display:block; height:400px; ">
                <div class="h-100 card-body">
                    <table class="h-100  table EventiMatch">
                        <thead style="visibility:hidden">
                            <tr><th class="colonnaSquadra"></th><th class="colonnaMinuto"></th><th class="colonnaLogoEvento"></th><th class="colonnaDescrizione"></th><th class="colonnaPulsanti"></th></tr>
                        <thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">

            <table class="table">
                <tr>
                    <td><span class="badge StatoAct"></span></td>
                </tr>
            </table>

            <table class="table">
                <tr>
                    <td><img src="" class="LogoSquadraCasa" width="60" /></td>

                    <td><input type="text" id="TempoTrascorso" value="0" size="5" style="font-size:50px; text-align:center" class="noFormTextBox" /></td>

                    <td><img src="" class="LogoSquadraOspite" width="60" /></td>
                </tr>
            </table>

            <table class="table">
                <tr>
                    <td>Segnala extra time</td>
                    <td><img src="img/icon/meno.png" class="btn-meno-recupero" width="30" /></td>
                    <td><input type="text" class="valore recupero noFormTextBox" value="0" maxlength="2" size="2" /></td>
                    <td><img src="img/icon/piu.png" class="btn-piu-recupero" width="30" /></td>
                    <td>
                        <button type="button" class="btn btn-primary btn-block btn-applicaRecupero ">Applica</button>
                    </td>
                </tr>
            </table>
            <!--
            <table class="table">

                <tr>
                    <td>Offset orologio (secondi)</td>
                    <td><button type="button" class="btn btn-primary btn-block btn-offsetTempo " data-tempo="30">-30</button></td>
                    <td><button type="button" class="btn btn-primary btn-block btn-offsetTempo " data-tempo="10">-10</button></td>
                    <td><button type="button" class="btn btn-primary btn-block btn-offsetTempo " data-tempo="2">-2</button></td>
                    <td><button type="button" class="btn btn-primary btn-block btn-offsetTempo " data-tempo="-2">+2</button></td>
                    <td><button type="button" class="btn btn-primary btn-block btn-offsetTempo " data-tempo="-10">+10</button></td>
                    <td><button type="button" class="btn btn-primary btn-block btn-offsetTempo " data-tempo="-30">+30</button></td>
                </tr>
            </table>
             -->
            <hr />
            <table class="table">
                <tr>
                    <td>Sincronizza all'istante: </td>

                    <td><img src="img/icon/meno.png" class="btn-meno-minuti" width="30" /></td>
                    <td><input type="text" class="valore SetMinuti noFormTextBox" value="0" maxlength="2" size="2" /> minuti</td>
                    <td><img src="img/icon/piu.png" class="btn-piu-minuti" width="30" /> </td>
                    <td><img src="img/icon/meno.png" class="btn-meno-secondi" width="30" /></td>
                    <td><input type="text" class="valore SetSecondi noFormTextBox" value="0" maxlength="2" size="2" /> secondi</td>
                    <td><img src="img/icon/piu.png" class="btn-piu-secondi" width="30" /></td>
                    <td>
                        <button type="button" class="btn btn-primary btn-block btn-preloadSceneSync">Preload</button>
                        <button type="button" class="btn btn-primary btn-block btn-sync hide">Sincronizza</button>
                    </td>
                </tr>
            </table>



            @*


                    <!--
                <hr />

                <table class="table">
                    <tr><td colspan="5" align="center">Guadagno velocità %</td></tr>
                    <tr class="trSliderGuadagnoVelocità">

                        <td style="width:65%"><input type="range" min="0" max="200" value="100" class="slider sliderGuadagnoVelocita" style="width:100%"></td>

                        <td><img src="img/icon/meno.png" class="btn-meno guadagnoVelocita" width="30" /></td>
                        <td><input type="text" class="valore guadagnoVelocita noFormTextBox" value="100" maxlength="3" size="3" /></td>
                        <td><img src="img/icon/piu.png" class="btn-piu guadagnoVelocita" width="30" /></td>

                    </tr>
                    <tr>
                        <td colspan="4" align="center">
                            <button type="button" class="btn btn-primary btn-block btn-applicaGuadagnoVelocita ">Applica</button>

                        </td>

                    </tr>
                </table>
                    -->
                    <!--



                <hr />


                <table>
                    <tr>
                        <td>
                            <table class="table">

                                <tr>
                                    <td>Segnala extra time</td>
                                    <td><img src="img/icon/meno.png" class="btn-meno-recupero" width="30" /></td>
                                    <td><input type="text" class="valore recupero noFormTextBox" value="0" maxlength="2" size="2" /></td>
                                    <td><img src="img/icon/piu.png" class="btn-piu-recupero" width="30" /></td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-block btn-applicaRecupero ">Applica</button>
                                    </td>
                                </tr>
                            </table>

                        </td>

                    </tr>
                    <tr>
                        <td>
                            <!--
                        <table class="table">

                            <tr>
                                <td>0ffset</td>
                                <td><img src="img/icon/meno.png" class="btn-meno-offset" width="30" /></td>
                                <td><input type="text" class="valore offset noFormTextBox" value="0" maxlength="2" size="2" /></td>
                                <td><img src="img/icon/piu.png" class="btn-piu-offset" width="30" /></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-block btn-applicaOffset ">Applica</button>
                                </td>
                            </tr>
                        </table>

                            -->
                    </td>
                    </tr>
                    </table>
                    -->


                    <!--
                <table class="table">

                    <tr><td colspan="3">OROLOGIO PARTITA</td></tr>
                    <tr><td style="width:33%"></td><td style="width:33%"></td><td style="width:33%"></td></tr>
                    <tr><td>Istante inizio primo tempo</td><td class="TempoIniziale"></td><td class="TempoInizialeFormattato"></td></tr>
                    <tr><td>Ora attuale</td><td class="TempoAttuale"></td><td class="TempoAttualeFormattato"></td></tr>
                    <tr><td>Minutaggio Attuale</td><td class="MinutaggioAttuale"></td><td class="MinutaggioAttualeFormattato"></td></tr>
                    <tr><td>Tempo fine partita</td><td class="TempoFine"></td><td class="TempoFineFormattato"></td></tr>

                    <tr>
                        <td colspan="3">



                            <div class="form-row align-items-center">

                                <div class="col-4 text-right">
                                    <button type="submit" class="btn btn-primary mb-2 btn-riavvolgi">riavvolgi</button>
                                </div>
                                <div class="col-4">
                                    <label class="sr-only" for="it_secondi">secondi</label>
                                    <div class="input-group mb-2">
                                        <input type="text" class="form-control text-center" id="it_secondi" value="5" placeholder="secondi">
                                    </div>
                                </div>

                                <div class="col-4 text-left">
                                    <button type="submit" class="btn btn-primary mb-2 btn-avanza">avanza</button>
                                </div>


                            </div>





                        </td>
                    </tr>
                </table>
                -->
                    <table>

                        <tr><td colspan="3">ANDAMENTO SPOT</td></tr>
                        <tr><td>Istante inizio primo tempo</td><td class="TempoIniziale"></td><td class="TempoInizialeFormattato"></td></tr>
                        <tr><td>Ora attuale</td><td class="TempoAttuale"></td><td class="TempoAttualeSpotFormattato"></td></tr>

                        <tr><td>Tempo fine partita</td><td class="TempoFine"></td><td class="TempoFineSpotFormattato"></td></tr>
                        <tr></td></tr>

                    </table>*@



        </div>
        <div class="col-4 PulsantiSceneSpeciali">


            @*<button type="button" class="h-100 btn btn-primary btn-lg  btn-block" id="btn-play">PLAY</button>
                <button type="button" class="h-100 btn btn-primary btn-lg  btn-block" id="btn-stop">STOP</button>*@

        </div>
    </div>

    <div id="BottoniFormazione" class="row mt-3 align-middle">
        <div class="col-2">
            <button type="button" class="btn btn-primary btn-lg btn-block btn-ApriModalEventi">EVENTI</button>
        </div>
        <div class="col-2">
            <!--<button type="button" class=" btn btn-warning btn-lg  btn-block btn-LanciaEvento" data-evento="13">VIS. RECUPERO</button>-->
        </div>
        <div class="col-2">
            <button type="button" class=" btn btn-success btn-lg flash-button btn-block btn-evento  boxRigore" data-fk_int_scenaLed="0" data-fk_int_scenaMaxischermo="0" data-azione="rigore">RIGORE</button>
        </div>
        <div class="col-2">
            <button type="button" class=" btn btn-dark btn-lg  btn-block btn-SwitchPeriodi ">SUPPLEMENTARI</button>
        </div>
        <div class="col-2">
            <button type="button" class=" btn btn-primary  btn-lg  btn-block btn_Luminosita">LUMINOSITA'</button>
        </div>
        <div class="col-2">
            <button type="button" class=" btn btn-dark btn-lg  btn-block btn-SchermataImpostazioni">MENU PRINCIPALE</button>
        </div>
    </div>


    <div id="BottoniEventi" class="row mt-3  align-middle">

        <div class="col-2">
            <button type="button" class=" btn btn-success btn-lg flash-button btn-block btn-evento" data-azione="goal">GOAL</button>
        </div>
        <div class="col-2">
            <button type="button" class=" btn btn-success btn-lg flash-button btn-block btn-evento" data-azione="sostituzione">SOSTITUZIONE</button>
        </div>
        <div class="col-2">
            <button type="button" class=" btn btn-success btn-lg flash-button btn-block btn-evento" data-azione="ammonizione">AMMONIZIONE</button>
        </div>
        <div class="col-2">
            <button type="button" class=" btn btn-success btn-lg flash-button btn-block btn-evento" data-azione="espulsione">ESPULSIONE</button>
        </div>
        <div class="col-2">
            <button type="button" class=" btn btn-danger btn-lg  btn-block btn-LanciaEvento" data-evento="12">SEGNALA VAR</button>
        </div>
        <div class="col-2">
            <button type="button" class=" btn btn-dark btn-lg  btn-block btn-SwitchPeriodi_FunzioniSpeciali ">FUNZIONI SPECIALI</button>
        </div>


    </div>

    @*<div id="BottoniPrimaRiga" class="row mt-3 h-06 align-middle">
            <div class="col-2">
                <button type="button" class="h-100 btn btn-success btn-lg  btn-block">RISULTATI ALTRI CAMPI</button>
            </div>
            <div class="col-2">
                <button type="button" class="h-100 btn btn-success btn-lg  btn-block">CLASSIFICA</button>
            </div>
            <div class="col-2">
                <button type="button" class="h-100 btn btn-success btn-lg  btn-block btnCaricaMaxischermo">carica maxi</button>
            </div>
            <div class="col-2">
                <button type="button" class="h-100 btn btn-success btn-lg  btn-block btnPlayMaxischermo">play maxi</button>
            </div>
            <div class="col-2">
                <button type="button" class="h-100 btn btn-success btn-lg btn-block btnStopMaxischermo">stop maxi</button>
            </div>
        </div>*@

    <div id="BottoniRegia" class="row mt-3  align-middle">
        <div class="col-2">
            <button type="button" class=" btn btn-primary btn-lg  btn-block  btn-Maxischermo" data-oggetto="home">HOME</button>
        </div>
        <div class="col-2">
            <button type="button" class=" btn btn-primary btn-lg btn-block btn-Maxischermo" data-oggetto="ext1_home">HOME+EXT</button>
        </div>
        <div class="col-2">
            <button type="button" class=" btn btn-primary btn-lg  btn-block btn-Maxischermo" data-oggetto="playlist">PLAYLIST</button>
        </div>
        <div class="col-2">
            @*<button type="button" class=" btn btn-danger btn-lg  btn-block btn-LanciaEvento" data-evento="15" data-filename="scorta1">Scorta 1</button>*@
            <button type="button" class="btn btn-danger btn-lg  btn-block  btn-periodi " data-fk_int_periodo="61">Scorta 1</button>
        </div>
        <div class="col-2">
            @*<button type="button" class=" btn btn-danger btn-lg  btn-block btn-LanciaEvento" data-evento="16" data-filename="scorta2">Scorta 2</button>*@
            <button type="button" class="btn btn-danger btn-lg  btn-block  btn-periodi " data-fk_int_periodo="60">Periodo 60</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-danger btn-lg  btn-block  btn-periodi " data-fk_int_periodo="63">Periodo 63</button>
        </div>
        @*
            <div class="col-2">
                <button type="button" class=" btn btn-primary btn-lg  btn-block btn-Maxischermo" data-oggetto="events">EVENTI</button>
            </div>
        *@
    </div>
</div>



<!--INIZIO MODAL-->
<div class="modal fade" id="ModalCrudGiocatore" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalXl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Giocatore</h5>
                <button type="button" class="close btn-ChiudiModalCrudGiocatore" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <form style="margin:10px;" method="POST" enctype="multipart/form-data" id="form_giocatori" data-id="">
                        <div class="row ">
                            <div class="col-sm-3  text-center">
                                <img style="width:100%" id="PreviewImmagineGiocatore" src="" />

                                <button type="button" class="btn btn-primary btn-rimuoviImmagineGiocatore text-center">Elimina immagine</button>
                            </div>
                            <div class="col-sm-9">

                                <div class="form-group row text-center">
                                    <div class="col-sm-12">
                                        <h5>Modifica/Inserisci giocatore   <input type="hidden" name="form_giocatori_id" id="form_giocatori_id"></h5>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form_giocatori_nva_Nome" class="col-sm-3 col-form-label text-right ">Nome</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="form_giocatori_nva_Nome" class="form-control" id="form_giocatori_nva_Nome" placeholder="">
                                    </div>
                                    <div class="col-sm-1">  </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form_giocatori_nva_Cognome" class="col-sm-3 col-form-label text-right ">Cognome</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="form_giocatori_nva_Cognome" class="form-control" id="form_giocatori_nva_Cognome" placeholder="">
                                    </div>
                                    <div class="col-sm-1">  </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form_giocatori_nva_Numero" class="col-sm-3 col-form-label text-right ">Numero maglia</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="form_giocatori_nva_Numero" class="form-control" id="form_giocatori_nva_Numero" placeholder="">
                                    </div>
                                    <div class="col-sm-1">  </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form_giocatori_fk_int_Squadra" class="col-sm-3 col-form-label text-right ">Squadra</label>
                                    <div class="col-sm-8">
                                        <select class="custom-select form-control" id="form_giocatori_fk_int_Squadra" name="form_giocatori_fk_int_Squadra">
                                            <option value="1">Fiorentina</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">  </div>
                                </div>


                                <div class="form-group row">
                                    <label for="form_giocatori_ImmagineGiocatore" class="col-sm-3 col-form-label text-right ">Immagine</label>
                                    <div class="col-sm-8 ">
                                        <input type="file" name="form_giocatori_ImmagineGiocatore" class="form-control" id="form_giocatori_ImmagineGiocatore">
                                    </div>
                                    <div class="col-sm-1">  </div>

                                </div>
                                <div class="form-group row  text-center">

                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-primary btn-salvaGiocatore">Salva</button>
                                    </div>
                                </div>

                            </div>
                        </div>



                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-eliminaGiocatore btn-lg " style="position:absolute; left:1%;">Elimina giocatore</button>
                <button type="button" class="btn btn-secondary flash-button  btn-lg btn-ChiudiModalCrudGiocatore">Chiudi</button>
            </div>
        </div>
    </div>
</div>




<div class="modal  fade" id="ModalFormazione" tabindex="-1" data-fk_int_squadra="" data-fk_int_squadra_giocatore_esecutore="" data-fk_int_match="" data-azione="" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalXXl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                &nbsp;
                <button type="button" class="btn btn-primary hide btn-Autogoal align-middle">Auto-Goal</button>

                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                    <!--<span class="closeSpan">Chiudi</span>-->
                    <!--Chiudi-->
                </button>
            </div>
            <div class="modal-body text-center">

                <div class="hide pannelloRegiaPresentazioneFormazioni row mt-3 mb-3">
                    <div class="col-lg-2">
                        <button type="button" class="h-100 btn  btn-dark btn-lg btn-periodi idPeriodo_60   " data-fk_int_periodo="60">SPONSOR</button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="h-100 btn  btn-dark  btn-lg  btn-periodi idPeriodo_61  " data-fk_int_periodo="61">TITOLARI OSPITI</button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="h-100 btn  btn-dark  btn-lg btn-periodi idPeriodo_62  " data-fk_int_periodo="62">RISERVE OSPITI</button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="h-100 btn  btn-dark  btn-lg  btn-periodi idPeriodo_63  " data-fk_int_periodo="63">INTRO CASA</button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="h-100 btn  btn-dark  btn-lg  btn-periodi idPeriodo_66  " data-fk_int_periodo="66">TITOLARI CASA</button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="h-100 btn  btn-dark  btn-lg  btn-periodi idPeriodo_65  " data-fk_int_periodo="65">RISERVE CASA</button>
                    </div>
                </div>
                @*<div class="hide pannelloRegiaPresentazioneFormazioni row mt-3 mb-3">
                        <div class="col-lg-2">
                            <button type="button" class="h-100 btn  btn-dark btn-lg btn-periodi idPeriodo_67   " data-fk_int_periodo="67">ARBITRI</button>
                        </div>

                    </div>*@

                <ul class="UlFormazione"></ul>




                <button type="button" class="btn btn-primary btn-lg  btn-block   btn-pallaSuDischetto hide">PALLA SU DISCHETTO</button>

                <button type="button" class="btn btn-success btn-lg  btn-block   btn-rigoreTrasformato hide">GOAL</button>

                <button type="button" class="btn btn-warning  btn-lg  btn-block    btn-rigoreNonTrasformato hide">RIGORE ERRATO</button>

            </div>
            <div class="modal-footer mt-5  h-08">


                <div class=" custom-control checkbox-2x custom-switch DivVisualizzaAnimazioneGiocatore" style="position:absolute; left:8%;">
                    <input type="checkbox" checked="checked" class="custom-control-input" id="VisualizzaAnimazioneGiocatore">
                    <label class="custom-control-label" for="VisualizzaAnimazioneGiocatore">Visualizza animazione</label>
                </div>



                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <button type="button" class="h-100 btn flash-button   btn-secondary  btn-lg btn-InserisciGiocatore">Inserisci giocatore</button>
                <button type="button" class="h-100 btn flash-button   btn-secondary  btn-lg btn-Maxischermo" data-oggetto="home">Mostra Home</button>
                <button type="button" class="h-100 btn flash-button   btn-secondary  btn-lg" data-dismiss="modal">Chiudi</button>
                <button type="button" class="h-100 btn flash-button  btn-primary  btn-lg btn-SalvaFormazione hide ">Salva formazione</button>
                <button type="button" class="h-100 btn flash-button  btn-primary  btn-lg btn-RiproduciGoal hide">Assegna goal</button>
                <button type="button" class="h-100 btn flash-button  btn-primary  btn-lg btn-RiproduciAmmonizione hide">Riproduci ammonizione</button>
                <button type="button" class="h-100 btn flash-button  btn-primary  btn-lg btn-RiproduciEspulsione hide">Riproduci espulsione</button>
                <button type="button" class="h-100 btn flash-button  btn-primary btn-lg btn-RiproduciSostituzione hide">Riproduci sostituzione</button>
                @*<button type="button" class="btn btn-primary btn-RiproduciPrecedente hide">Precedente</button>*@
                <button type="button" style="width:600px" class="h-100 btn flash-button  btn-primary  btn-lg btn-RiproduciSuccessivo hide">Successivo&nbsp;</button>
            </div>
        </div>
    </div>
</div>



<div class="modal  fade" id="ModalDownloadAssets" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalXXl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aggiornamento</h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body ">
                <ul class="Esito"></ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>




<div class="modal  fade" id="ModalPresentazioneFormazione" tabindex="-1" data-fk_int_squadra="" data-fk_int_squadra_giocatore_esecutore="" data-fk_int_match="" data-azione="" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalXXl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Presentazione formazione</h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body text-center">

                <table class="tbPresentazioneFormazione" style="width:100%">
                    <tr class="trPresentazioneFormazione">
                    </tr>
                </table>

                @*
                    <div class="row" style="border:1px solid #fff; text-align:center">
                    <div class="custom-control checkbox-1p5x custom-switch" style="text-align:center">
                        <input type="checkbox" checked="checked" class="custom-control-input" id="VisualizzaAnimazioneModalCasaOspiti">
                        <label class="custom-control-label" for="VisualizzaAnimazioneModalCasaOspiti">Scorri singoli giocatori</label>
                    </div>
                    </div>
                *@
            </div>


            <div class="row h-100 " style="padding:10px;">
                <div class="col-lg-2 h-100">
                    <button type="button" class="h-100 btn flash-button   btn-secondary  btn-lg btn-Maxischermo btn-PresentazioneEstesaCompatta" data-tipoact="estesa">Pres. compatta</button>
                </div>
                <div class="col-lg-1 h-100"><button type="button" class="h-100 btn flash-button   btn-secondary  btn-lg btn-ResetPresentazione" data-oggetto="home">Partenza</button></div>
                <div class="col-lg-2 h-100"><button type="button" class="h-100 btn flash-button   btn-secondary  btn-lg btn-Maxischermo" data-oggetto="home">Mostra Home</button></div>
                <div class="col-lg-1 h-100"></div>
                <div class="col-lg-3 h-100">

                    <button type="button" class="h-100 btn flash-button  btn-primary  btn-lg btn-RiproduciPrecedente w-100">Precedente</button>

                </div>
                <div class="col-lg-3 h-100">

                    <button type="button" class="h-100 btn flash-button  btn-primary  btn-lg btn-RiproduciSuccessivo w-100">Successivo</button>

                </div>
            </div>

            <div class="modal-body text-center">
                <span class="Speaker"></span>
            </div>


            <div class="row h-100 " style="padding:10px;">
                <hr />
            </div>


        </div>

    </div>

</div>




<div class="modal  fade" id="ModalGestisciPeriodiPreload" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalXXl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Periodi</h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                @Html.Raw(@ViewBag.ModalGestisciPeriodiPreload)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-AggiornaStatoPeriodi">Aggiorna</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal  fade" id="ModalLuminosita" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalXXl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Luminosità</h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        @Html.Raw(@ViewBag.ModalRegolazioneLuminosita)
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalOrarioPrepartita" tabindex="-1" role="dialog" aria-hidden="true" style="margin-top:300px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Imposta ora avvio prepartita</h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        @Html.Raw(@ViewBag.ModalOrarioPrepartita)
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="modal  fade" id="ModalParametri" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalXXl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Impostazioni</h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                @Html.Raw(@ViewBag.ModalParametri);
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="modal  fade" id="ModalEventi" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalXXl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eventi</h5>

                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                @*<div class="card">
                    <div class="card-body">*@
                @*<table class="table table-bordered">
                        <thead><tr><th width="25%">Comportamento fine video</th><th width="25%">Bordocampo</th><th width="25%">Maxischermo</th><th width="25%">Sincrono</th></tr></thead>
                        <tbody class="tbodyEventi">
                        </tbody>
                    </table>*@



                @Html.Raw(@ViewBag.ModalEventi)
                @*</div>
                    </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalOrarioEvento" tabindex="-1" role="dialog" aria-hidden="true" style="margin-top:300px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Imposta ora avvio evento</h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        @Html.Raw(@ViewBag.ModalOrarioEvento)
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalOrarioEventoInContenitore" tabindex="-1" role="dialog" aria-hidden="true" style="margin-top:300px">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Imposta ora avvio evento</h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        @Html.Raw(@ViewBag.ModalOrarioEventoInContenitore)
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>



<div class="modal  fade" id="ModalImportPlaylist" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalXl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Playlist del match   <button type="button" class="btn btn-primary btn-ControllaAggiornamenti btn-Salva">Controlla presenza playlist aggiornata su server </button></h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered tabellaPlaylist">
                    <thead><tr><th>Descrizione</th><th>Tipo caricamento</th><th>Data</th><th>Generate/Totali</th><th>Consistenza</th><th>Azioni</th></tr></thead>
                    <tbody></tbody>
                </table>
                <div class="card">
                    <div class="row">
                        <div class="col-sm-7 ">
                            <form style="margin:10px;" method="POST" enctype="multipart/form-data" id="FormPlaylistXlsx">
                                <div class="form-group row text-center">
                                    <div class="col-sm-12">
                                        <h5>Importa una nuova playlist</h5>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="DescrizioneFile" class="col-sm-4 col-form-label text-right ">Descrizione della playlist importata</label>
                                    <div class="col-sm-7">
                                        <input type="text" name="DescrizioneFile" class="form-control" id="DescrizioneFile" placeholder="">
                                    </div>
                                    <div class="col-sm-1">  </div>
                                </div>
                                <div class="form-group row">
                                    <label for="FileDaCaricare" class="col-sm-4 col-form-label text-right ">File</label>
                                    <div class="col-sm-7 ">
                                        <input type="file" name="FileDaCaricare" class="form-control" id="FileDaCaricare">
                                    </div>
                                    <div class="col-sm-1">  </div>

                                </div>
                                <div class="form-group row  text-center">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-7">
                                        <button type="button" class="btn btn-primary btn-Importa btn-block">Importa</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="col-sm-5 ">
                            <table style="width:100%" class="logImportazione">
                                <tr>
                                    <td style="width:30%">Download</td>
                                    <td style="width:70%">
                                        <div class="progress">
                                            <div class="progress-bar progressDownload" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Elab. playlist</td>
                                    <td>
                                        <div class="LogElaborazionePlaylist"><ul></ul></div>
                                    </td>
                                </tr>

                            </table>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal  fade" id="ModalListascene" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalXl " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lista scene</h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <ul id="ListaScene"></ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="modal  fade" id="ModalSceltaMatch" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalXl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Seleziona o crea match</h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead><tr><th width="25%">Casa</th><th width="25%">Ospiti</th><th width="20%">Data</th><th width="10%">Ora</th><th width="20%"></th></tr></thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<div class="modal  fade" id="ModalSceltaMatch_old" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalXl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Scegli il match</h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <select class="form-control" id="SelectMatch">
                            <option></option>
                        </select>
                    </div>


                    <div class="form-row mt-5">
                        <div class="col-1 text-right">
                            Casa:
                        </div>
                        <div class="col-2">
                            <select class="form-control" id="SelectMatchSquadraCasa">
                                <option></option>
                            </select>
                        </div>
                        <div class="col-1 text-right">
                            Ospiti:
                        </div>
                        <div class="col-2">
                            <select class="form-control" id="SelectMatchSquadraOspite">
                                <option></option>
                            </select>
                        </div>
                        <div class="col-1 text-right">
                            Data:
                        </div>
                        <div class="col-1">
                            <input type="text" class="form-control" id="DataMatch" />
                        </div>
                        <div class="col-1 text-right">
                            Ora:
                        </div>
                        <div class="col-1">
                            <input type="text" class="form-control" id="OraMatch" />
                        </div>
                        <div class="col-2">
                            <a href="#" class="btn btn-block btn-primary">Inserisci</a>
                        </div>

                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                <button type="button" class="btn btn-primary btn-Salva">Salva</button>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="ModalCasaOspiti" tabindex="-1" data-azione="" role="dialog" aria-hidden="true" style="margin-top:300px">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button class="btn btn-dark btn-CasaOspiti btn-Casa" data-fk_int_squadra="">
                            <h1>CASA</h1>
                            <img src="" alt="casa" style="max-width:200px; max-height:200px;" class=" LogoSquadraCasa" />
                        </button>
                    </div>
                    <div class="col-md-6 text-center">
                        <button class="btn  btn-dark btn-CasaOspiti btn-Ospiti" data-fk_int_squadra="">
                            <h1>OSPITI</h1>
                            <img src="" alt="ospiti" style="max-width:200px; max-height:200px;" class="   LogoSquadraOspite" />
                        </button>
                    </div>
                </div>
                <div class="row mt-5 mb-5 CheckboxAnimazioneModalCasaOspiti">
                    <div class="col-md-12 text-center">
                        <div class="custom-control checkbox-2x custom-switch">
                            <input type="checkbox" checked="checked" class="custom-control-input" id="VisualizzaAnimazioneModalCasaOspiti">
                            <label class="custom-control-label" for="VisualizzaAnimazioneModalCasaOspiti">Visualizza festeggiamento</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-wide btn-lg" data-dismiss="modal">Annulla</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalSelezionePC" tabindex="-1" data-azione="" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Selezione PC</h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                <div class="row mt-3">
                    <div class="col-md-6 text-center">

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Prima fila canale A</h5>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn_SelezionePC btn-secondary" id="p1cAz1">PC1</button>
                                    <button type="button" class="btn btn_SelezionePC btn-danger" id="p0cAz1">OFF</button>
                                    <button type="button" class="btn btn_SelezionePC btn-success" id="p2cAz1">PC2</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 text-center">

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Prima fila canale B</h5>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn_SelezionePC btn-secondary" id="p1cBz1">PC1</button>
                                    <button type="button" class="btn btn_SelezionePC btn-danger" id="p0cBz1">OFF</button>
                                    <button type="button" class="btn btn_SelezionePC btn-success" id="p2cBz1">PC2</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-md-6 text-center">

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Seconda fila canale A</h5>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn_SelezionePC btn-secondary" id="p1cAz2">PC1</button>
                                    <button type="button" class="btn btn_SelezionePC btn-danger" id="p0cAz2">OFF</button>
                                    <button type="button" class="btn btn_SelezionePC btn-success" id="p2cAz2">PC2</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 text-center">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Seconda fila canale B</h5>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn_SelezionePC btn-secondary" id="p1cBz2">PC1</button>
                                    <button type="button" class="btn btn_SelezionePC btn-danger" id="p0cBz2">OFF</button>
                                    <button type="button" class="btn btn_SelezionePC btn-success" id="p2cBz2">PC2</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row mt-3">
                    <div class="col-md-6 text-center">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Maxischermo canale A</h5>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn_SelezionePC btn-secondary" id="p1cAz3">PC1</button>
                                    <button type="button" class="btn btn_SelezionePC btn-danger" id="p0cAz3">OFF</button>
                                    <button type="button" class="btn btn_SelezionePC btn-success" id="p2cAz3">PC2</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Maxischermo canale B</h5>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn_SelezionePC btn-secondary" id="p1cBz3">PC1</button>
                                    <button type="button" class="btn btn_SelezionePC btn-danger" id="p0cBz3">OFF</button>
                                    <button type="button" class="btn btn_SelezionePC btn-success" id="p2cBz3">PC2</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-md-6 text-center">

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Backup canale A</h5>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn_SelezionePC btn-secondary" id="p1cAz4">PC1</button>
                                    <button type="button" class="btn btn_SelezionePC btn-danger" id="p0cAz4">OFF</button>
                                    <button type="button" class="btn btn_SelezionePC btn-success" id="p2cAz4">PC2</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 text-center">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Backup canale B</h5>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn_SelezionePC btn-secondary" id="p1cBz4">PC1</button>
                                    <button type="button" class="btn btn_SelezionePC btn-danger" id="p0cBz4">OFF</button>
                                    <button type="button" class="btn btn_SelezionePC btn-success" id="p2cBz4">PC2</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="row mt-3">
                    <div class="col-md-3 text-center">

                    </div>
                    <div class="col-md-6 text-center">

                        <div class="card">
                            <div class="card-body">
                                <!--p1Audio","p2Audio-->
                                <h5 class="card-title">Audio</h5>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn_SelezionePC btn-secondary" id="p1Audio">PC1</button>

                                    <button type="button" class="btn btn_SelezionePC btn-danger" id="p0Audio">OFF</button>

                                    <button type="button" class="btn btn_SelezionePC btn-success" id="p2Audio">PC2</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 text-center">

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-wide btn-lg" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>







<div class="modal  fade" id="ModalEditaEventiMatch" tabindex="-1" data-fk_int_eventoMatch="" role="dialog" aria-hidden="true">
    <div class="modal-dialog modalXl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="h-100 btn flash-button btn-secondary btn-lg" data-dismiss="modal" aria-label="Close">
                    Chiudi
                </button>
            </div>
            <div class="modal-body">
                <table width="100%">
                    <tr id="trSquadraEventoMatch" data-id=""><td colspan="2" align="center"><img height="90" src="" /></td></tr>



                    <tr id="trTipoEvento" data-id="0">

                        <td class="scelte" colspan="2">
                            <table width="100%" height="80">
                                <tr>
                                    <td align="center" width="20%" class="tdTipoEvento" data-ideventomatch="1"><img height="60" src="img/icon/tabella_eventi_1.png" /><br />Goal</td>
                                    <td align="center" width="20%" class="tdTipoEvento" data-ideventomatch="2"><img height="60" src="img/icon/tabella_eventi_2.png" /><br />Ammonizione</td>
                                    <td align="center" width="20%" class="tdTipoEvento" data-ideventomatch="3"><img height="60" src="img/icon/tabella_eventi_3.png" /><br />Espulsione</td>
                                    <td align="center" width="20%" class="tdTipoEvento" data-ideventomatch="4"><img height="60" src="img/icon/tabella_eventi_4.png" /><br />Sostituzione</td>
                                    <td align="center" width="20%" class="tdTipoEvento" data-ideventomatch="5"><img height="60" src="img/icon/tabella_eventi_1.png" /><br />Auto Goal</td>

                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr id="trPeriodo" data-id="0">

                        <td class="scelte" colspan="2">
                            <table width="100%" height="80">
                                <tr>
                                    <td align="center" width="25%" class="tdPeriodo" data-idperiodo="10">Primo tempo regolamentare</td>
                                    <td align="center" width="25%" class="tdPeriodo" data-idperiodo="11">Recupero primo tempo regolamentare</td>
                                    <td align="center" width="25%" class="tdPeriodo" data-idperiodo="20">Secondo tempo regolamentare</td>
                                    <td align="center" width="25%" class="tdPeriodo" data-idperiodo="21">Recupero secondo tempo regolamentare</td>
                                </tr>
                            </table>
                        </td>
                    </tr>


                    <tr>
                        <td width="50%" height="250">

                            <table width="100%">
                                <tr id="trGiocatorePrincipale" data-id="0">
                                    <td class="legendaGiocatorePrincipale" width="30%" align="center">Giocatore</td>
                                    <td class="scelte" width="70%"></td>
                                </tr>
                            </table>

                        </td>
                        <td width="50%" height="400">

                            <table width="100%">
                                <tr id="trGiocatoreSecondario" data-id="0">
                                    <td class="legendaGiocatoreSecondario" width="30%" align="center">Esce:</td>
                                    <td class="scelte" width="70%"></td>
                                </tr>
                            </table>

                        </td>
                    </tr>



                    <tr id="trMinutoEvento">

                        <td class="scelte" colspan="2" align="center">
                            <table width="50%" height="80">
                                <tr>
                                    <td align="center" width="20%"><button type="button" class="btn btn-lg  btn-secondary btn-m10">&nbsp;&nbsp;&nbsp;-10&nbsp;&nbsp;&nbsp;</button></td>
                                    <td align="center" width="20%"><button type="button" class="btn btn-lg  btn-primary btn-m1">&nbsp;&nbsp;&nbsp;-1&nbsp;&nbsp;&nbsp;</button></td>
                                    <td align="center" width="20%"><span id="int_MinutoEventoMatch"></span></td>
                                    <td align="center" width="20%"><button type="button" class="btn btn-lg btn-primary btn-p1">&nbsp;&nbsp;&nbsp;+1&nbsp;&nbsp;&nbsp;</button></td>
                                    <td align="center" width="20%"><button type="button" class="btn btn-lg  btn-secondary btn-p10">&nbsp;&nbsp;&nbsp;+10&nbsp;&nbsp;&nbsp;</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>



                </table>
            </div>
            <div class="modal-footer">
                <div style="width:30%; text-align:center;">
                    <button type="button" class="btn btn-danger btn-wide btn-lg  btn-eliminaEventoMatch ">Elimina</button>

                </div>
                <div style="width:40%;  text-align:center;">
                    <button type="button" class="btn btn-primary btn-wide btn-lg btn-salvaEventoMatch">Salva</button>
                </div>

                <div style="width:30%; text-align:center;">

                    <button type="button" class="btn btn-secondary btn-wide btn-lg" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- prova-->



@section scripts {


    <script type="text/javascript">

                var ArrSelezionePC = ["pXcAz1", "pXcBz1", "pXcAz2", "pXcBz2", "pXcAz3", "pXcBz3", "pXcAz4", "pXcBz4", "pXAudio"];

            var ArrAssociazioneGiocatorePeriodo = {};

            var ArrFormazioneCliccata = {};
            var GiocatorePresentato;
            var giocatorePresentazione;
            var ArrayRiproduzione;
            var IdPeriodoInCorso = 0;
            var TempoTrascorsoPeriodoInCorso = 0;
            var IstanteInizioAvvioRiproduzione = 0
            var fk_int_Riproduzione = 0
            var TreSecondi = 3
            var ricordaModalAperta = 0;
            var elem = document.documentElement;

            //let date = new Date();
            //let adesso = date.getTime();

            window.addEventListener("load", function (event) {
                //$(document).load(function () {

                SettaRitardoClient();


                $(".btn-sync").hide();

                feather.replace()

                $(".periodi-regolari").show();
                $(".periodi-supplementari").hide();
                $(".funzioni-speciali").hide();

                GiocatorePresentato = 0;

                GetSelected("tb_Match");
                GetSelected("tb_Playlist");


                sp_GetParametriIniziali();
                sp_GetTipoEventiMatch();

                try {

                    if (SettingGlobalVars["tb_Match"] > 0) {

                        PopolaSettingMatch();

                        $("#navbar-titolo").html(SettingMatch.nva_Titolo);
                        let Comando = CostruisciMessaggio("PopolaSettingMatch();");
                        Comando = CostruisciMessaggio("InizializzaMatch();", Comando);
                        SetDatiToPlayer(Comando);

                        if (SettingGlobalVars["tb_Playlist"] > 0) {

                            PopolaObjPlaylist();
                            CostruisciGraficaDipendenteDaMatch();
                            GetUltimaRiproduzione();

                        }

                    } else {
                        $("#ModalSceltaMatch").modal("show");
                        //$("#SelectMatch").find("option").last().attr("selected", "selected");
                    }

                }
                catch{

                }


                PopolaMatch();
                PopolaEventiMatch();

                (function repeat() {
                    GetDatiToUi();

                    timerScambioDati = setTimeout(repeat, periodoScambioDati);
                })();

                $.ajax({
                    url: "Crud/PopolaListaSquadre",
                    success: function (data) {
                        $("#form_giocatori_fk_int_Squadra").html(data)
                    }
                });

                var tttt = setInterval(OgniSecondo, 1000);




                //setInterval(SettaRitardoClient, 100000);


                if (@ViewBag.FormazioniOK)
                    $(".btn-PresentazioneFormazione").removeAttr('disabled');
                else
                    $(".btn-PresentazioneFormazione").attr('disabled', 'disabled');

                if ("@ViewBag.AvvioAutomaticoPrepartita"!="")
                {
                    $(".btn-temporizzaPrepartita").html("@ViewBag.AvvioAutomaticoPrepartita");
                }

            });


            //var c = getCookie("persistence-setting")
            //if (c != null) {
            //    try {
            //        settings = JSON.parse(c);
            //    } catch (err) { }
            //}
            //$.each(settings, function (index, value) {
            //    if (index.includes('luminosita')) try { eval("$('" + index + "').val(" + value + ")") } catch (err) { }
            //});

            $.prototype.loaded = function () {
                this.removeClass("loading")
                this.addClass("loaded")
            };

            $.prototype.loading = function () {
                this.addClass("loading")
            };

            $.prototype.playing = function () {
                this.removeClass("loaded")
                this.addClass("playing")
            };

            $.prototype.played = function () {
                this.removeClass("playing")
                this.addClass("played")
            };

    </script>
    <script src="~/js/ui/funzioniUI.js" asp-append-version="true"></script>
    <script src="~/js/ui/funzioniTempo.js" asp-append-version="true"></script>
    <script src="~/js/ui/funzioniTasti.js" asp-append-version="true"></script>

}

<style>

    .EventiMatch .colonnaSquadra {
        width: 8%
    }

    .EventiMatch .colonnaMinuto {
        width: 8%
    }

    .EventiMatch .colonnaLogoEvento {
        width: 8%
    }

    .EventiMatch .colonnaDescrizione {
        width: 61%
    }

    .EventiMatch .colonnaPulsanti {
        width: 25%
    }

    .EventiMatch .txtDescrizione {
        font-size: 18px;
    }

    .EventiMatch .txtMinuto {
        font-size: 26px;
    }

    .EventiMatch td {
        margin: 2px 2px 2px 2px;
        /* padding: 2px 2px 2px 2px; */
    }
</style>

<style>

    .modalXXl {
        max-width: 95% !important;
    }

    .modalXl {
        max-width: 80% !important;
    }

    .primaColonna {
        width: 15%
    }

    .secondaColonna {
        width: 70%
    }

    .terzaColonna {
        width: 15%
    }



    #ListaScene {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

        #ListaScene li {
            margin: 0 3px 3px 3px;
            padding: 0.4em;
            padding-left: 1.5em;
            font-size: 1.4em;
            height: 100px;
        }

            #ListaScene li span {
                position: absolute;
                margin-left: -1.3em;
            }



    .loaded {
        background-color: orange;
    }

    .loading {
        background-color: red;
    }

    .playing {
        background-color: yellow;
    }

    .played {
        background-color: green;
    }


    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .miniatura-tasti {
        max-height: 40px
    }


    .table > tbody > tr > td {
        text-align: center;
    }

    .nomegiocatore {
        text-align: left;
    }


    .UlFormazione {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

        .UlFormazione li {
            margin: 4px 4px 4px 0;
            padding: 1px;
            float: left;
            width: 100px;
            height: 150px;
            font-size: 14px;
            text-align: center;
        }



    .UlPresentazioneFormazione {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

        .UlPresentazioneFormazione li {
            margin: 3px 3px 3px 0;
            padding: 1px;
            float: left;
            width: 100px;
            height: 180px;
            font-size: 14px;
            text-align: center;
        }

    /*


                    */
    .wrapperimage {
        padding: 10% 0;
    }

    .img {
        position: relative;
    }

        .img span {
            width: 100%;
            top: 30%;
            left: 0;
            color: black;
            position: absolute;
            text-align: center;
            text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
            font-size: 50px;
            font-weight: bold;
        }


    .img_small {
        position: relative;
    }

        .img_small span {
            width: 100%;
            top: 18%;
            left: 0;
            color: black;
            position: absolute;
            text-align: center;
            text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
            font-size: 50px;
            font-weight: bold;
        }




    .nomeGiocatore {
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
    }

    .giocatorePresentazione {
        max-height: 70px;
        max-width: 70px;
        /*height: 80px;*/
    }


    .giocatore {
        /* max-width: 100px; */

        max-height: 100px;
        max-width: 100px;
    }

    .icon-espulsione {
        color: red;
    }

    .icon-ammonizione {
        color: yellow;
    }

    .caption span {
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }


    .bordoSelezione {
        border: 4px solid #ffffff;
    }

    .sign_assist {
    }

    .sign_goal {
    }

    .eventoGiocatore {
        position: absolute;
        width: 60px;
        margin-top: -20px;
        margin-left: 20px;
    }
</style>



